<template>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <breadcrumb></breadcrumb>
    <router-view></router-view>
  </div>
</template>

<script>
  import TheBreadcrumb from '$vuePartialPath/global/TheBreadcrumb'

  export default {
    name: 'user-app',
    components: {
      'breadcrumb': TheBreadcrumb,
    },
    data() {
      return {}
    },
    computed: {},
    created() {
    },
    methods: {},
  }
</script>

