<template>
  <div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
      <div class="kt-subheader__main">
        <span class="kt-subheader__separator kt-hidden"></span>
        <div
            class="kt-subheader__breadcrumbs"
            v-html="content"
        >
          {{content}}
        </div>
      </div>
      <div class="kt-subheader__toolbar"></div>
      <div class="kt-header__topbar">
        <!-- pagination -->
        <div class="kt-pagination kt-pagination--brand">
          <div class="kt-pagination__toolbar _m-r-10">
            <span class="pagination__desc">
                {{((pagingState.page - 1) * pagingState.limit) + ' - ' + ( (pagingState.page * pagingState.limit) < pagingState.totalRecord ? (pagingState.page * pagingState.limit) : pagingState.totalRecord )}} trong số {{pagingState.totalRecord}}
            </span>
          </div>
          <ul class="kt-pagination__links">
            <li class="kt-pagination__link--first">
              <a
                  href="#"
                  :class="{'is-disabled': pagingState.page == 1}"
                  @click.prevent="changePage(1)"
              ><i class="fa fa-angle-double-left kt-font-brand"></i></a>
            </li>
            <li class="kt-pagination__link--prev">
              <a
                  href="#"
                  :class="{'is-disabled': pagingState.page == 1}"
                  @click.prevent="changePage(pagingState.page - 1)"
              ><i class="fa fa-angle-left kt-font-brand"></i></a>
            </li>
            <li class="kt-pagination__link--next">
              <a
                  href="#"
                  :class="{'is-disabled': pagingState.totalRecord < pagingState.limit || pagingState.page == pagingState.totalPage}"
                  @click.prevent="changePage(pagingState.page + 1)"
              ><i class="fa fa-angle-right kt-font-brand"></i></a>
            </li>
            <li class="kt-pagination__link--last">
              <a
                  href="#"
                  :class="{'is-disabled': pagingState.totalRecord < pagingState.limit || pagingState.page == pagingState.totalPage}"
                  @click.prevent="changePage(pagingState.totalPage)"
              ><i class="fa fa-angle-double-right kt-font-brand"></i></a>
            </li>
          </ul>
        </div>
        <!-- pagination end -->
        <div class="kt-header__topbar-item kt-header__topbar-item--user">
          <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
            <div class="kt-header__topbar-user">
              <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
              <span
                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold"
                  style="width: 100%; padding: 10px;"
              >{{CDATA.login.fullName}}</span>
            </div>
          </div>

          <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
            <!--begin: Navigation -->
            <div class="kt-notification">
              <div class="kt-notification__custom kt-space-between">
                <a :href="CDATA.url.logoutURL" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
              </div>
            </div>
            <!--end: Navigation -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { EVENT_BUS_KEY } from '$jsBasePath/define'
  import EventBus from '$jsBasePath/EventBus'

  export default {
    name: 'the-bread-crumb',
    components: {},
    data() {
      return {
        CDATA,
        content: ``,
        pagingState: {
          page: 1,
          limit: 20,
          totalRecord: 0,
          totalPage: 1,
        }
      }
    },
    computed: {},
    watch: {
      $route(to, from) {
        let pathFrom = from.path;
        let routeName = to.name;

        this.getBreadcrumbContent(routeName, pathFrom);
      }
    },
    beforeCreate() {
      EventBus.on(EVENT_BUS_KEY.PAGING.GET_TOTAL_RECORD, payload => {
        let { page, totalRecord } = { ...payload };

        this.pagingState.page = page;
        this.pagingState.totalRecord = totalRecord;

        let tempNotRound = totalRecord / this.pagingState.limit;
        let temp = Math.round(tempNotRound);

        this.pagingState.totalPage = tempNotRound > temp ? temp + 1 : temp;
      })
    },
    created() {
      let path = window.location.href.replace(CDATA.url.baseURL, '');
      let resolve = this.$router.resolve(path);

      this.getBreadcrumbContent(resolve.resolved.name);
    },
    methods: {
      getBreadcrumbContent(routeName, pathFrom) {
        this.content = `
          <a href="/backend" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
          <span class="kt-subheader__breadcrumbs-separator"></span>
        `;

        switch (routeName) {
          case 'user:index':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">
                Người dùng </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Danh sách</span>
            `;
            break;
          case 'user:add':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Người dùng </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a
                  href="#"
                  class="kt-subheader__breadcrumbs-link"
                  @click.prevent="goRead"
              >
                Danh sách
              </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Tạo người dùng</span>
            `;
            break;
          case 'user:edit':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Người dùng </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a
                  href="#"
                  class="kt-subheader__breadcrumbs-link"
                  @click.prevent="goRead"
              >
                Danh sách
              </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Cập nhật người dùng</span>
            `;
            break;
          case 'role:index':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Nhóm </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Danh sách</span>
            `;
            break;
          case 'role:add':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Nhóm </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a
                  href="#"
                  class="kt-subheader__breadcrumbs-link"
                  @click.prevent="goRead"
              >
                Danh sách
              </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Tạo nhóm</span>
            `;
            break;
          case 'role:edit':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Nhóm </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a
                  href="#"
                  class="kt-subheader__breadcrumbs-link"
                  @click.prevent="goRead"
              >
                Danh sách
              </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Cập nhật nhóm</span>
            `;
            break;
          case 'role:grant':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Nhóm </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a
                  href="#"
                  class="kt-subheader__breadcrumbs-link"
                  @click.prevent="goRead"
              >
                Danh sách
              </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Phân quyền</span>
            `;
            break;
          case 'item:index':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Sản phẩm </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Danh sách</span>
            `;
            break;
          case 'item:add':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Sản phẩm </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a
                  href="#"
                  class="kt-subheader__breadcrumbs-link"
                  @click.prevent="goRead"
              >
                Danh sách
              </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Đăng sản phẩm</span>
            `;
            break;
          case 'item:edit':
            this.content += `
              <span class="kt-subheader__breadcrumbs-link">Sản phẩm </span>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a
                  href="#"
                  class="kt-subheader__breadcrumbs-link"
                  @click.prevent="goRead"
              >
                Danh sách
              </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Cập nhật sản phẩm</span>
            `;
            break;
          default:
            this.content += `
              <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Dashboard</span>
            `
            break;
        }
      },
      changePage(page) {
        page = page >= 1 ? page : 1;

        EventBus.emit(EVENT_BUS_KEY.PAGING.CHANGE_PAGE, { page: page });
      }
    }
  }
</script>

