<template>
  <div class="modal fade modal-fs" id="modal-fs">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container text-center">
            <div class="row full-height align-items-center">
              <div class="col-md-5 m-h-auto">
                <div class="p-h-30 p-b-50">
                  <div class="text-center font-size-70">
                    <i class="mdi mdi-checkbox-marked-circle-outline icon-gradient-success"></i>
                  </div>
                  <h1 class="text-thin m-v-15">{{title}}</h1>
                  <p class="m-b-25 lead">{{content}}</p>
                  <div class="text-center">
                    <button
                        class="btn btn-default btn-lg"
                        @click.prevent="confirm"
                    >Confirm
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
              class="modal-close"
              href="#"
              data-dismiss="modal"
              @click.prevent="confirm"
          >
            <i class="ti-close"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { EVENT_BUS_KEY } from '$jsBasePath/define';
  import EventBus from '$jsBasePath/EventBus';

  export default {
    name: 'modal',
    components: {},
    data() {
      return {
        title: 'THÔNG BÁO !',
        content: 'We are lucky to live in a glorious age that gives us everything as a human race.'
      }
    },
    computed: {},
    created() {
      let self = this
      EventBus.on(EVENT_BUS_KEY.UPDATE_CONTENT_MODAL, (content) => {
        self.content = content
      })

      $(document).on('keyup', (e) => {
        let keyCode = e.which

        if (keyCode != 13 && keyCode != 27)
          return

        let _option = $('#modal-fs').hasClass('show')
        if (!_option)
          return

        $('#modal-fs-btn').trigger('click')
        EventBus.emit(EVENT_BUS_KEY.CONFIRM_MODAL, true)
      })
    },
    methods: {
      confirm() {
        $('#modal-fs-btn').trigger('click')
        EventBus.emit(EVENT_BUS_KEY.CONFIRM_MODAL, true)
      }
    }
  }
</script>

