<template>
  <validation-observer
      ref="observer"
      v-slot="{ invalid }"
      tag="form"
      class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid"
      style="display: none"
  >
    <div class="row">
      <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">Tạo người dùng
                <small>User</small>
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <a
                  href="#"
                  class="btn btn-clean kt-margin-r-10"
                  @click.prevent="back"
              >
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
              </a>
              <div class="btn-group">
                <button
                    type="button"
                    class="btn btn-brand"
                    :disabled="locOption.isUpdating"
                    @click.prevent="update(invalid)"
                >
                  <i class="la la-check"></i>
                  <span class="kt-hidden-mobile">Save</span>
                </button>
              </div>
            </div>
          </div>
          <div class="kt-portlet__body">
            <form class="kt-form" id="kt_form">
              <div class="kt-section kt-section--first">
                <div class="kt-section__body">
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="row">
                        <div class="col-lg-5 _m-lg-down-20">
                          <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_user_avatar_3">
                            <div
                                class="kt-avatar__holder img-200"
                                :style="'background-image: url(' + frmData.profile_image + ');'"
                            >
                            </div>
                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                              <i class="fa fa-pen"></i>
                              <input
                                  type="file"
                                  name="profile_avatar"
                                  accept=".png, .jpg, .jpeg"
                                  @change="upload"
                              >
                            </label>
                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                            <i class="fa fa-times"></i>
                        </span>
                          </div>
                        </div>
                        <div class="col-lg-7">
                          <!-- fullname -->
                          <validation-provider
                              name="Tên người dùng"
                              rules="required"
                              v-slot="{ errors, valid }"
                              tag="div"
                              class="form-group validated"
                          >
                            <label>Tên người dùng</label>
                            <div class="kt-input-icon kt-input-icon--left">
                              <input
                                  v-model="frmData.fullname"
                                  type="text"
                                  class="form-control"
                                  :class="isInvalid(valid) ? 'is-invalid' : ''"
                                  placeholder="Tên người dùng..."
                              >
                              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span>
                                  <i class="fa fa-list-alt"></i>
                                </span>
                              </span>
                            </div>
                            <div
                                v-show="isInvalid(valid)"
                                :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                            >{{errors[0]}}
                            </div>
                          </validation-provider>
                          <!-- fullname end -->

                          <!-- phone -->
                          <validation-provider
                              v-model="frmData.phone"
                              name="SĐT"
                              rules="required"
                              v-slot="{ errors, valid }"
                              tag="div"
                              class="form-group validated"
                          >
                            <label>Phone</label>
                            <div class="kt-input-icon kt-input-icon--left">
                              <input
                                  v-model="frmData.phone"
                                  type="text"
                                  class="form-control"
                                  :class="isInvalid(valid) ? 'is-invalid' : ''"
                                  placeholder="SĐT..."
                              >
                              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span>
                                  <i class="fa fa-phone"></i>
                                </span>
                              </span>
                            </div>
                            <div
                                v-show="isInvalid(valid)"
                                :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                            >{{errors[0]}}
                            </div>
                          </validation-provider>
                          <!-- phone end -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <!-- email -->
                      <validation-provider
                          name="Email"
                          rules="required|email"
                          v-slot="{ errors, valid }"
                          tag="div"
                          class="form-group validated"
                      >
                        <label>Email</label>
                        <div
                            class="kt-input-icon kt-input-icon--left"
                        >
                          <input
                              v-model="frmData.email"
                              type="text"
                              class="form-control"
                              :class="isInvalid(valid) ? 'is-invalid' : ''"
                              placeholder="Email..."
                          >
                          <div class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span>
                              <i class="fa fa-envelope-open"></i>
                            </span>
                          </div>
                        </div>
                        <div
                            v-show="isInvalid(valid)"
                            :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                        >{{errors[0]}}
                        </div>
                      </validation-provider>
                      <!-- email end -->

                      <!-- address -->
                      <validation-provider
                          name="Địa chỉ"
                          rules="required"
                          v-slot="{ errors, valid }"
                          tag="div"
                          class="form-group validated"
                      >
                        <label>Địa chỉ</label>
                        <div
                            class="kt-input-icon kt-input-icon--left"
                        >
                          <input
                              v-model="frmData.address"
                              type="text"
                              class="form-control"
                              :class="isInvalid(valid) ? 'is-invalid' : ''"
                              placeholder="Địa chỉ người dùng..."
                          >
                          <div class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span>
                              <i class="fa fa-address-book"></i>
                            </span>
                          </div>
                        </div>
                        <div
                            v-show="isInvalid(valid)"
                            :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                        >{{errors[0]}}
                        </div>
                      </validation-provider>
                      <!-- address end -->

                      <!-- password -->
                      <div class="form-group validated">
                        <label for="icon-input">Password:</label>
                        <div class="kt-input-icon kt-input-icon--left">
                          <input
                              v-model="frmData.password"
                              type="password"
                              class="form-control"
                              placeholder="Password..."
                          >
                          <div class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span>
                              <i class="fa fa-key"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- password end -->

                      <!-- role_id -->
                      <div class="form-group validated">
                        <label for="icon-input">Nhóm:</label>
                        <div class="">
                          <select
                              v-model="frmData.role_id"
                              name="role_id"
                              id=""
                              class="form-control"
                          >
                            <option
                                v-for="objRole in roleState.arrRoleList"
                                :value="objRole.role_id"
                            >{{objRole.role_name}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <!-- role_id end -->

                      <!-- is_actived -->
                      <label class="kt-checkbox kt-checkbox--success">
                        <input
                            v-model="frmData.is_actived"
                            id="checkbox9"
                            type="checkbox"
                            true-value="1"
                            false-value="0"
                        > Kích hoạt
                        <span></span>
                      </label>
                      <!-- is_actived -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </validation-observer>
</template>

<script>
  import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';

  import { isEmpty as _isEmpty } from 'lodash'
  import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
  import { required, email, min, max, integer } from 'vee-validate/dist/rules'

  import { EVENT_BUS_KEY } from '$jsBasePath/define';
  import EventBus from '$jsBasePath/EventBus';

  import VeeValidateMessage from '$jsCommonPath/util/VeeValidateMessage'
  import { _showContainer } from "$jsCommonPath/util/GeneralUtil"
  import { _isEmptyString } from "$jsCommonPath/util/SafeUtil"


  let objMessage = VeeValidateMessage.messages

  extend('required', { ...required, message: objMessage.required })
  extend('email', { ...email, message: objMessage.email })
  extend('min', { ...min, message: objMessage.min })
  extend('max', { ...max, message: objMessage.max })
  extend('integer', { ...integer, message: objMessage.integer })

  export default {
    name: 'user-add-section',
    components: {
      'validation-observer': ValidationObserver,
      'validation-provider': ValidationProvider
    },
    data() {
      return {
        CDATA,
        url: {
          resourceURL: CDATA.url.resourceURL
        },
        locOption: {
          isValidating: false,
          isUpdating: false
        },
        frmData: {}
      }
    },
    computed: {
      ...mapState([ 'roleState' ]),
      profileImage() {
        if (_isEmpty(this.frmData.profile_image))
          return ''

        return this.frmData.profile_image
      },
      objEntitySelect() {
        return this.$store.state.entity.objEntitySelect
      }
    },
    created() {
      let self = this

      this.$store.commit('resetEntity')
      this.frmData = { ...this.objEntitySelect }

      if (!this.roleState.isReady) {
        this.readRoleAct().then(res => {
          this.updateRoleState({ field: 'isReady', value: true })
        });
      }
    },
    mounted() {
      _showContainer();
    },
    methods: {
      ...mapMutations([ 'updateRoleState' ]),
      ...mapActions([ 'readRoleAct' ]),
      isInvalid(valid) {
        return this.locOption.isValidating && !valid ? true : false
      },
      goRead() {
        this.$router.push({ name: 'user:index' })
      },
      goCreate() {
        this.$router.push({ name: 'user:add', params: { page: 1 } })
      },
      back() {
        return this.$router.back()
      },
      reset() {
        this.$store.commit('resetEntity')

        this.locOption.isValidating = false
        this.locOption.isUpdating = false

        this.frmData = { ...this.objEntitySelect }
      },
      update(invalid) {
        this.locOption.isValidating = true

        if (invalid) {
          this.$refs.observer.validate()
          return
        }

        this.locOption.isUpdating = true
        this.$store.dispatch('createEntityAct', this.frmData).then(res => {
          this.reset();

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'success'
          });
        }, res => {
          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'warning'
          });
        })
      },
      upload(e) {
        const file = e.target.files[ 0 ]

        this.$store.dispatch('uploadFileAct', {
          controller: CDATA.common.controller,
          file: file
        }).then(res => {
          let payload = res.payload
          let objImage = payload.arrImage[ 0 ]
          if (_isEmpty(objImage)) {
            return
          }

          this.frmData.profile_image = objImage.image
        })
      }
    }
  }
</script>

