<template>
  <tr>
    <!-- profile_image -->
    <td>
      <div class="kt-user-card-v2">
        <div class="kt-user-card-v2__pic">
          <img
              alt=""
              :src="profileImage"
              width="80"
          >
        </div>
        <div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">{{objEntity.fullname}}</a>
          <span class="kt-user-card-v2__email"> ID: {{objEntity.user_id}}</span></div>
      </div>
    </td>
    <!-- profile_image end -->

    <!-- email -->
    <td>
      {{objEntity.email}}
    </td>
    <!-- email end -->

    <!-- phone -->
    <td>
      {{objEntity.phone}}
    </td>
    <!-- phone end -->

    <!-- is_actived -->
    <td>
      <template v-if="objEntity.is_actived == 1">
        <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill kt-badge--rounded">Đã kích hoạt</span>
      </template>
      <template v-else>
        <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">Chưa kích hoạt</span>
      </template>
    </td>
    <!-- is_actived end -->

    <!-- # -->
    <td>
      <div class="kt-nav__link-group">
        <a
            class="kt-nav__link text-info"
            href="#"
            data-toggle="kt-tooltip"
            data-html="true"
            data-original-title="Cập nhật <code>Người dùng</code>"
            @click.prevent="goUpdate()"
        >
          <i class="flaticon-edit-1"></i>
        </a>
        <a
            class="kt-nav__link text-danger"
            href="#"
            data-toggle="kt-tooltip"
            data-html="true"
            data-original-title="Xóa <code>Người dùng</code>"
            @click.prevent="goDelete()"
        > <i class="flaticon2-trash"></i>
        </a>
      </div>
    </td>
    <!-- # -->
  </tr>
</template>

<script>
  import { _isEmptyString } from "$jsCommonPath/util/SafeUtil"

  export default {
    name: 'user-table-row',
    props: {
      index: {
        default: {},
        type: Number
      },
      objEntity: {
        default: {},
        type: Object
      },
    },
    components: {},
    data() {
      return {
        url: {
          resourceURL: CDATA.url.resourceURL
        },
        locOption: {
          isDeleting: false
        }
      }
    },
    computed: {
      profileImage() {
        if (_isEmptyString(this.objEntity.profile_image))
          return this.url.resourceURL + '/global/image/notFound.png'

        return this.objEntity.profile_image
      },
    },
    created() {
    },
    methods: {
      goUpdate() {
        setTimeout(() => {
          this.$store.dispatch('setEntityAct', { index: this.index })

          this.$router.push({ name: 'user:edit', params: { id: this.objEntity.user_id, page: 1 } })
        }, 100)
      },
      goDelete() {
        this.locOption.isDeleting = true
        this.$store.dispatch('deleteEntityAct', { id: this.objEntity.user_id }).then(res => {
          this.locOption.isDeleting = false

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'success'
          });
        }, res => {
          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'error'
          });
        })
      }
    }
  }
</script>

