<template>
  <table class="table">
    <thead>
      <tr>
        <th>Người dùng</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Trạng thái</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <user-table-row
          v-for="(objEntity, index) in arrEntityList"
          :key="objEntity.user_id"
          :index="index"
          :obj-entity="objEntity"
      ></user-table-row>
    </tbody>
  </table>
</template>

<script>
  import UserTableRow from '$vuePartialPath/user/UserTableRow'

  export default {
    name: 'user-table',
    components: {
      'user-table-row': UserTableRow
    },
    data() {
      return {}
    },
    computed: {
      arrEntityList() {
        return this.$store.state.entity.arrEntityList
      }
    },
    created() {

    },
    mounted() {

    },
    methods: {}
  }
</script>

