<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="<?php echo $this->config->site->name ?>">
    <meta name="google-signin-scope" content="profile email">
    <title><?php echo $this->config->site->name ?></title>
    <?php echo $this->assets->outputCss(); ?>

    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed">

      <!-- begin:: Page -->
      <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v3 kt-login--signin" id="kt_login">
          <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(<?php echo RESOURCE_URL . '/global/image' ?>/bg-1.jpg?v=1);">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
              <div class="kt-login__container">
                <div class="kt-login__logo">
                  <a href="#">
                    <img src="<?php echo RESOURCE_URL . '/global/image' ?>/logo-mini-2-md.png?v=1">
                  </a>
                </div>
                <?php echo $this->getContent() ?>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end:: Page -->


      <!-- begin::Global Config(global config for global JS sciprts) -->
      <script>
        var KTAppOptions = {
          "colors": {
            "state": {
              "brand": "#5d78ff",
              "dark": "#282a3c",
              "light": "#ffffff",
              "primary": "#5867dd",
              "success": "#34bfa3",
              "info": "#36a3f7",
              "warning": "#ffb822",
              "danger": "#fd3995"
            },
            "base": {
              "label": [
                "#c5cbe3",
                "#a1a8c3",
                "#3d4465",
                "#3e4466"
              ],
              "shape": [
                "#f0f3ff",
                "#d9dffa",
                "#afb4d4",
                "#646c9a"
              ]
            }
          }
        };
      </script>
      <!-- end::Global Config -->
      
      <?php echo $this->assets->outputJs(); ?>
    </body>
</html>

