<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="<?php echo $this->config->site->name ?>">
    <meta name="google-signin-scope" content="profile email">
    <?php echo $this->seo->getTitle(); ?>
    <?php echo $this->seo->getMeta(); ?>
    <?php echo $this->seo->getCanonical(); ?>
    <link rel="preload" href="<?php echo RESOURCE_URL ?>/global/font/neurial-grotesk/NeurialGrotesk-Regular.otf" as="font" crossorigin/>
    <!-- Favicon-->
    <link rel="icon" href="<?php echo STATIC_URL ?>/images/favicon.png" type="image/x-icon"/>
    <style type="text/css">
      @font-face {
        font-family: 'NeurialGrotesk';
        font-style: normal;
        font-weight: 400;
        src: local('NeurialGrotesk-Regular'),
        url('<?php echo RESOURCE_URL ?>/global/font/neurial-grotesk/NeurialGrotesk-Regular.otf');
      }

      @font-face {
        font-family: 'NeurialGrotesk';
        font-style: italic;
        font-weight: normal;
        src: local('NeurialGrotesk-Italic'),
        url('<?php echo RESOURCE_URL ?>/global/font/neurial-grotesk/NeurialGrotesk-Italic.otf');
      }

      @font-face {
        font-family: 'NeurialGrotesk';
        font-style: normal;
        font-weight: 700;
        src: local('NeurialGrotesk-Bold'),
        url('<?php echo RESOURCE_URL ?>/global/font/neurial-grotesk/NeurialGrotesk-Bold.otf');
      }

      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: local('Roboto'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Regular.woff2') format('woff'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Regular.ttf');
      }

      @font-face {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: normal;
        src: local('Roboto Italic'),
        local('Roboto-Italic'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Italic.woff2'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Italic.woff'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Italic.ttf');;
      }

      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: local('Roboto Medium'),
        local('Roboto-Medium'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Medium.woff2'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Medium.woff'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Medium.ttf');
      }

      @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: local('Roboto Bold'),
        local('Roboto-Bold'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Bold.woff2'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Bold.woff'),
        url('<?php echo RESOURCE_URL ?>/global/font/Roboto/Roboto-Bold.ttf');
      }
    </style>
    <?php echo $this->assets->outputCss(); ?>
  </head>
  <body class="kt-quick-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed">
    <div class="preloader-backdrop" style="display: block;">
      <div class="page-preloader">Đang tải...</div>
    </div>

    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
      <div class="kt-header-mobile__logo">
        <a href="/backend">
          <img alt="Logo" src="<?php echo RESOURCE_URL ?>/global/image/logo-light.png">
        </a>
      </div>
      <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler">
          <span></span></button>

        <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>

        <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler">
          <i class="flaticon-more"></i></button>
      </div>
    </div>
    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <!-- begin:: Aside -->
        <?php echo $this->partial('global/_side_nav') ?>
        <!-- end:: Aside -->

        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
          <!-- begin:: Header -->
          <?php echo $this->partial('global/_header') ?>
          <!-- end:: Header -->

          <!-- begin:: Content -->
          <?php echo $this->getContent(); ?>
          <!-- end:: Content -->
        </div>
      </div>

      <!-- end:: Page -->

      <!-- begin::Scrolltop -->
      <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
      </div>
      <!-- end::Scrolltop -->

      <!-- begin::Global Config(global config for global JS sciprts) -->
      <script>
        var KTAppOptions = {
          "colors": {
            "state": {
              "brand": "#5d78ff",
              "dark": "#282a3c",
              "light": "#ffffff",
              "primary": "#5867dd",
              "success": "#34bfa3",
              "info": "#36a3f7",
              "warning": "#ffb822",
              "danger": "#fd3995"
            },
            "base": {
              "label": [
                "#c5cbe3",
                "#a1a8c3",
                "#3d4465",
                "#3e4466"
              ],
              "shape": [
                "#f0f3ff",
                "#d9dffa",
                "#afb4d4",
                "#646c9a"
              ]
            }
          }
        };
      </script>
      <!-- end::Global Config -->
      <!-- end::Body -->
      <script>
        var PAGE_DATA = <?php echo json_encode($PAGE_DATA) ?>;
        var CDATA = <?php echo json_encode($CDATA) ?>;
      </script>
      
      <?php echo $this->assets->outputJs(); ?>

      <script>

      </script>
  </body>
</html>

