<!-- #breadcrumbs -->
<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="body block-header">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>Tạo bài viết mới</h2>
            <ul class="breadcrumb p-l-0 p-b-0 ">
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:home']) ?>"><i class="icon-home"></i></a></li>
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:home']) ?>">Dashboard</a></li>
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:post:index']) ?>">Bài viết</a></li>
              <li class="breadcrumb-item active">Tạo bài viết</li
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END #breadcrumbs -->

<!-- ##frm -->
<form id="frm" method="POST">
  <div class="row clearfix">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
      <div class="card">
        <!-- #flashSession -->
        <?php if ($this->flashSession->has('success') || $this->flashSession->has('error')): ?>
          <div class="header">
            <?php if ($this->flashSession->has('success')): ?>
              <div class="alert alert-success">
                <i class="material-icons">error_outline</i>&nbsp; <?php echo current($this->flashSession->getMessages('success')) ?>
              </div>
            <?php endif; ?>
            <?php if ($this->flashSession->has('error')): ?>
              <div class="alert alert-error">
                <i class="material-icons">error_outline</i>&nbsp; <?php echo current($this->flashSession->getMessages('error')) ?>
              </div>
            <?php endif; ?>
          </div>
        <?php endif; ?>
        <!-- END #flashSession -->
        <div class="body">
          <!-- #.row -->
          <div class="row clearfix">
            <!-- #post_title -->
            <div class="col-lg-5 col-md-5">
              <b>Title : <span class="kc__color-danger">*</span></b>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                <input class="form-control" placeholder="Enter Title here..." type="text" name="post_title"
                    value="<?php echo !empty($arrPostDetail['post_title']) ? $arrPostDetail['post_title'] : $params['post_title'] ?>">
              </div>
            </div>

            <div class="col-lg-1 col-md-1"></div>

            <!-- #meta_description -->
            <div class="col-lg-5 col-md-5">
              <b>Meta Description: <span class="kc__color-danger">*</span></b>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                <input class="form-control" placeholder="Meta description..." type="text"
                    name="meta_description"
                    value="<?php echo !empty($arrPostDetail['meta_description']) ? $arrPostDetail['meta_description'] : $params['meta_description'] ?>">
              </div>
            </div>
          </div>
          <!-- END #.row -->

          <!-- #.row -->
          <div class="row clearfix">
            <!-- #meta_title -->
            <div class="col-lg-5 col-md-5">
              <b>Meta Title: <span class="kc__color-danger">*</span></b>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                <input class="form-control" placeholder="Meta title..." type="text" name="meta_title"
                    value="<?php echo !empty($arrPostDetail['meta_title']) ? $arrPostDetail['meta_title'] : $params['meta_title'] ?>">
              </div>
            </div>

            <div class="col-lg-1 col-md-1"></div>

            <!-- #meta_keyword -->
            <div class="col-lg-5 col-md-5">
              <b>Meta Keyword: <span class="kc__color-danger">*</span></b>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                <input class="form-control" placeholder="Meta keyword..." type="text" name="meta_keyword"
                    value="<?php echo !empty($arrPostDetail['meta_keyword']) ? $arrPostDetail['meta_keyword'] : $params['meta_keyword'] ?>">
              </div>
            </div>
          </div>
          <!-- END #.row -->

          <!-- #.row -->
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12"><b>Image: <span class="kc__color-danger">*</span></b>
              <div class="form-group">
                <input class="js__upload__prod-image" type="file" name="post_image" id="post_image"/>
                <div id="progress"></div>
                <ul class="mainPhotoImageList" style="">
                  <?php
                    $arrImage = !empty($arrPostDetail['post_image']) ? json_decode($arrPostDetail['post_image'], true) : [];
                    if (!empty($arrImage)) {
                      $imageHtml = '';
                      foreach ($arrImage as $image) {
                        $imageHtml .= '<li class="newImage" style="background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DDDDDD;border-radius: 2px 2px 2px 2px;box-shadow: 1px 1px 2px #EEEEEE;float: left;margin: 0 5px 5px 0;padding: 5px;list-style:none outside none;margin-bottom:10px;display:inline;">'
                          . '<img class="image" src="' . $image . '" alt="" style="display: block;margin-bottom: 10px;width:100px;height:70px">'
                          . '<span style="display: block;text-align: right;">'
                          . '<a title="Xem" class="view" href="' . $image . '" target="_blank" style="vertical-align: middle;cursor: pointer;display: inline-block;height: 16px;margin-left: 5px;opacity: 0.5;vertical-align: middle;width: 16px;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWJJREFUeNqk00soRFEcx/Ez4yIhWSClWNiR0mQjeawssJGVLJTMBnksJNnZeWTDRnntZGdhoWxsJERK2UgTK5mFYrzSXN9TPzVzulPkX5/unXPv/M45/3tvKBqNGpWHRkygFUW4xR5WcWUCKqxjDsZxiA684w55GMIpBhEKCrCD7ZjDK5ZQi0pUYwofWkVXUICdZRI+VnQe13UbOI9p/R5DuRuQiybEMGuCa03ba0OpG+Dp3C7zOUOAvfaY0uy0ANuwN60kx2SuYm3pxQ34xC4qMJzhzz1owQbu3QC7vGVkYwYjms2owb1YRBKbWoUxzn5ONLu9cQF9eECJHmmBVtqJayR+ArIikYhR+gWO1eV61Gl8y96n96IZ+ThSYFpHv3CAc5SpqU96I6uwDTvbKAp1THhOs5J6ieLO+I0auYMGDOhb6Q+b31dMIWcpT6bGM38ru51urGMflyHf981/6luAAQBAI081YdVfOQAAAABJRU5ErkJggg==);"></a>'
                          . '<a title="Xóa" data-name="image" class="delete" style="vertical-align: middle;cursor: pointer;display: inline-block;height: 16px;margin-left: 5px;opacity: 0.5;vertical-align: middle;width: 16px;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK1JREFUeNpi/P//PwMySE9PPwmkzBgwwZqZM2eGogsyYVGITTMIhGATZMGhWA9o22UkV9kAqcPYFDKmpaU9AdLSDKSDrUBLfEBeeM1AAWCEBSLQmR+AFD8Q+wDxFphXgPgSlA0TfwS0WR5fIB6BMZDDAVmcUCyQBKhqACelBrANuBdgQAgpBcohiYsSMuARlL6HJPYQiX0bSn/EZUAukiG4wH0gLsOaEskFAAEGAE+1LkibLuYpAAAAAElFTkSuQmCC);"></a>'
                          . '<div id="jsonDataAjax"><input name="post_image[]" value="' . $image . '" type="hidden" class="imageTracking" ></div>'
                          . '</span>'
                          . '</li>';
                      }
                    }
                    
                    echo $imageHtml;
                  ?>
                </ul>
              </div>
            </div>
          </div>
          <!-- END #.row -->
        </div>
      </div>
      <div class="card">
        <div class="body">
          <!-- #.row -->
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12"><b>Short Description: </b>
              <div class="form-group">
                <div class="form-line">
                            <textarea rows="5" class="form-control no-resize"
                                placeholder="Short Description..." name="post_description"><?php echo $arrPostDetail['post_description'] ?></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- END #.row -->

          <!-- #.row -->
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12"><b>Content: </b>
              <div class="form-group">
                <div class="form-line">
                            <textarea rows="20" class="js-tinymce form-control no-resize"
                                placeholder="Content..." name="post_content"><?php echo $arrPostDetail['post_content'] ?></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- END #.row -->
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <div class="header pd-bt-0">
          <h2>
            <strong>Settings</strong>
            <p class="mg-10-0">
              <!-- #created_at -->
              <?php if (!empty($arrPostDetail['created_at'])): ?>
                <small>Created at: <b><?php echo date('d/m/Y H:i:s', $arrPostDetail['created_at']) ?></b></small>
              <?php endif; ?>
              <!-- #updated_at -->
              <?php if (!empty($arrPostDetail['updated_at'])): ?>
                <small>Updated at: <b><?php echo date('d/m/Y H:i:s', $arrPostDetail['updated_at']) ?></b></small>
              <?php endif; ?>
            </p>
          </h2>
          <ul class="header-dropdown"></ul>
        </div>
        <div class="body pd-0-20-20">
          <!-- #.row -->
          <div class="row float-right clearfix mg-10-0">
            <a
                href="<?php echo $this->url->get(['for' => 'backend:post:index', 'page' => $intPage]) ?>"
                class="btn btn-raised btn-danger btn-round waves-effect pull-right mg-r-5">
              <i class="material-icons">arrow_back</i> Quay lại
            </a>
            <button class="js-post__submit btn btn-raised btn-primary btn-round waves-effect pull-right">Lưu thay đổi</button>
          </div>
          <!-- END #.row -->
        </div>
      </div>
      <div class="card">
        <div class="body">
          <div class="clearfix">
            <div class="checkbox inlineblock">
              <input
                  type="checkbox" class="" id="status" name="status" value="0"/>
              <label for="status">
                <span class="badge badge-primary">
                  Ẩn / Hiện
                </span>
              </label>
            </div>
          </div>
          <div class="clearfix">
            <div class="checkbox inlineblock">
              <input <?php echo !empty($arrPostDetail['is_home_page']) ? 'checked="checked"' : '' ?>
                  type="checkbox" class="" id="is_home_page" name="is_home_page" value="1"/>
              <label for="is_home_page">
                <span class="badge badge-primary">
                  Hiển thị ngoài trang chủ
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- END ##frm -->


<script>
  var uploadImagesURL = '<?php echo $this->url->get(['for' => 'backend', 'controller' => 'general', 'action' => 'xhrUploadImages', 'params' => 'post']) ?>';
</script>