<!-- #breadcrumbs -->
<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="body block-header">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>Danh sách Bài viết</h2>
            <ul class="breadcrumb p-l-0 p-b-0 ">
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:home']) ?>"><i class="icon-home"></i></a></li>
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:home']) ?>">Dashboard</a></li>
              <li class="breadcrumb-item active">Bài viết</li
            </ul>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-12 align-right">
            <div class="sub_menu show" style="position: relative">
              <a href="<?php echo $this->url->get(['for' => 'backend:post:add']) ?>" class="btn btn-default btn-primary btn-round"><i class="zmdi zmdi-plus-circle"></i>Tạo bài viết mới</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #END# #breadcrumbs -->


<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <?php if ($this->flashSession->has('success') || $this->flashSession->has('error')): ?>
        <div class="header">
          <?php if ($this->flashSession->has('success')): ?>
            <div class="alert alert-success">
              <i class="material-icons">error_outline</i>&nbsp;
              <i class="material-icons">error_outline</i>&nbsp; <?php echo current($this->flashSession->getMessages('success')) ?>
            </div>
          <?php endif; ?>
          <?php if ($this->flashSession->has('error')): ?>
            <div class="alert alert-error">
              <i class="material-icons">error_outline</i>&nbsp;
              <i class="material-icons">error_outline</i>&nbsp; <?php echo current($this->flashSession->getMessages('error')) ?>
            </div>
          <?php endif; ?>
        </div>
      <?php endif; ?>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-filter table-hover m-b-0">
            <thead>
              <tr>
                <th width="15%" class="text-center">IMAGE</th>
                <th width="30%" class="text-center">TITLE</th>
                <th width="15%" class="text-center">CREATED AT</th>
                <th width="15%" class="text-center">STATUS</th>
                <th width="25%" class="text-center">#</th>
              </tr>
            </thead>
            <tbody>
              <?php
                if ($arrPostList):
                  foreach ($arrPostList as $k => $post):
                    ?>
                    <tr>
                      <td class="text-center">
                        <div class="media-object ">
                          <img src="<?php echo current(json_decode($post['post_image'], true)) ?>" alt="" width="60" class="rounded-circle">
                        </div>
                      </td>
                      <td class="text-center kc__color-indigo"><?php echo $post['post_title'] ?></td>
                      <td class="text-center"><?php echo date('d-m-Y H:i:s', $post['created_at']) ?></td>
                      <td class="text-center">
                        <?php
                          switch ($post['status']) {
                            case 0:
                              echo '<span class="badge badge-danger">Ẩn</span>';
                              break;
                            case 1:
                              echo '<span class="badge badge-success">Hiện</span>';
                              break;
                          }
                        ?>
                      </td>
                      <td class="text-center">
                        <div class="kc__icon-block">
                          <?php
                            $postLink = $this->url->get(['for' => 'frontend:post:view', 'slug' => $post['post_slug'], 'id' => $post['post_id']]);
                          ?>
                          <a href="<?php echo $postLink ?>" target="_blank"><i class="material-icons">remove_red_eye</i></a>
                        </div>
                        <div class="kc__icon-block">
                          <a href="<?php echo $this->url->get(['for' => 'backend:post:edit', 'id' => $post['post_id'], 'page' => $intPage]) ?>"><i class="material-icons">edit</i></a>
                        </div>
                        <div class="kc__icon-block">
                          <a class="kc__color-danger" href="<?php echo $this->url->get(['for' => 'backend:post:delete', 'id' => $post['post_id'], 'page' => $intPage]) ?>">
                            <i class="material-icons">close</i></a>
                        </div>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                <?php else: ?>
                  <tr>
                    <td colspan="5" class="text-center"><?php echo $this->translate->_('No Data') ?></td>
                  </tr>
                <?php endif; ?>
            </tbody>
          </table>

          <!-- #PAGINATION -->
          <?php if (!empty($paginationHTML)): ?>
            <div class="align-right">
              <hr/>
              <ul class="pagination pagination-primary m-b-0 displayinlineblock">
                <?php echo $paginationHTML ?>
              </ul>
            </div>
          <?php endif; ?>
          <!-- END #PAGINATION -->
        </div>
      </div>
    </div>
  </div>
</div>