.pro_post_left{
   width: 320px;
   float: left;
}
.pro_post_left .title {
   width: 100%;
   float: left;
   color: #666666;
   font-size: 13px;
   font-weight: bold;
}
.pro_post_left .title .icon_number {
    color: #fff;
    background: #0070b7;
    border-radius: 50%;
    padding: 7px 10px 7px 10px;
}
.pro_post_left .list{
   margin: 15px 0px 15px 0px;
   width: 100%;
   float: left;
   list-style: none;
   padding-left: 10px;
}
.pro_post_left .list .item{
   background: none;
   padding: 0px;
   width: 100%;
   float: left;
   font-size: 13px;
   border-bottom: 1px solid #ccc;
}
.pro_post_left .list .class_active_post{
   background: #feffe6;
}
.pro_post_left .list .item:first-child{
   border-top: 1px solid #ccc;
}
.pro_post_left .list .item a{
   width: 100%;
   display: block;
   font-size: 14px;
   padding: 8px 6px;
   cursor: pointer;
}
.pro_post_left .list .class_active_post a{
   color: red;
   font-weight: bold;
}
/********************************************/
.pro_post_top{
   width: 100%;
   float: left;
}
.pro_post_top .title_top{
   width: 100%;
   text-align: center;
   float: left;
   overflow: hidden;
   margin-bottom: 10px;
   line-height: 26px;
}
.post_title_next{
   width: 100%;
   text-align: center;
   font-size: 16px;
}
.post_title_next a{
   font-weight: bold;
   color: #0054a0;
}
.post_title_next  span{
   padding-left: 46px;
   background: url(../../images/icon_news_1.gif) 0px 0px no-repeat;
}
.pro_post_top .intro_top{
   width: 100%;
   text-align: center;
   float: left;
   overflow: hidden;
   margin-bottom: 10px;
   line-height: 26px;
}
.pro_post_top .step{
   padding: 0;
   margin: 0;
   text-align: center;
   position: relative;
   width: 100%;
   float: left;
   margin-bottom: 80px;
}
.pro_post_top .step .item{
   float: left;
   text-align: center;
   position: relative;
   border-bottom: 4px solid #e2e2e2;
   width: 33.3333333333333333%!important;
}
.pro_post_top .step .item .title {
    color: #000;
    top: 38px;
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 14px;
}
.pro_post_top .step .item .icon {
    background: #ccc;
    text-align: center;
    position: relative;
    color: #141415;
    font-weight: bold;
    top: 10px;
    border-radius: 50%;
    padding: 8px 11px 8px 11px;
}
.pro_post_top  .step .step_active .icon{
   background: #f57301;
   color: #fff;
}
.pro_post_top  .step .step_active .lin1{
    width: 50%;
    border-bottom: 4px solid #f57301;
    position: absolute;
    left: 0;
    height: 22px;
}
.pro_post_top  .step .step_active2{
   border-bottom: 4px solid #f57301;
}
/**********************************************/
.form_message{
   color: red;
   margin-top: 10px;
}
.user_form_pro {
   width: 100%;
   float: left;
}
.user_form_pro h1 {
    width: 100%;
    float: left;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    background-color: #4db748;
    text-transform: uppercase;
}
.item_input_image{
   width: 100%;
   float: left;
   padding: 10px;
   border: 1px solid #ccc;
   background: #f9f9f9;
}
.user_form_pro .tit2{
   width: 100%;
   float: left;
   line-height: 20px;
   margin-bottom: 10px;
}

.user_form_pro .form_name {
   font-size: 12px;
   color: #004000;
   float: left;
   width: 130px;
}
.user_form_pro .form_text{
   padding-left: 150px;
}
.user_form_pro .form_text .form_input_full{
   width: 100%;
   border: 1px solid #e8e8e8;
   height: 28px;
   padding: 0px 5px;
}
.form_asterisk {
    font-size: 12px;
    color: #FF0000;
}
.form_content {
   width: 100%;
    float: left;
}
.form_item {
    width: 100%;
    float: left;
    padding: 5px 0px;
}
.form_element_1{
   width: 40%;
   float: left;
   padding-right: 25px;
}
.form_element_2{
   width: 60%;
   float: left;
}
.user_form_pro .form_text .form_input_sub {
    width: 100%;
    border: 1px solid #e8e8e8;
    height: 28px;
    padding: 0px 5px;
}
.user_form_pro .form_text  .form_textarea{
   width: 100%;
   border: 1px solid #e8e8e8;
   height: 60px;
   padding: 0px 5px;
}
.form_element_23{
   font-size: 12px;
   color: #004000;
   float: left;
   width: 130px;
   text-align: right;
}
.form_element_22{
   padding-left: 150px;
}
.pru_price_same{
   font-weight: bold;
   margin-top: 5px;
   color: red;
}
.btn_pro_post_user_info{
   cursor: pointer;
}
.pro_post_update_user_info{
   float: right;
   color: #1260ab;
   text-decoration: underline;
}
#submit{
    background: #f37021;
   display: block;
   width: auto;
   color: #FFF;
   height: 40px;
   float: left;
   padding: 0px 15px;
   font-weight: bold;
   line-height: 40px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-top: 5px;
   border: none;
   cursor: pointer;
   margin-right: 10px;
}
#reset{
   background: #CCC;
   display: block;
   width: auto;
   color: #333;
   height: 40px;
   float: left;
   padding: 0px 15px;
   font-weight: bold;
   line-height: 40px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-top: 5px;
   border: none;
   cursor: pointer;
}
/*************************************************************************/
#preview{
   color:#cc0000;
   font-size:12px;
}
#preview .img_avatar{
   border: 2px solid #FF7519;
}
.imgList {
   height: 90px;
   margin-right: 5px;
   border: 2px solid #dedede;
   float: left;
   width: 130px;
   overflow: hidden;
   cursor: pointer;
   margin-bottom: 10px;
   position: relative;
}
.imgList img{
   min-height:90px;
   width: 100%;
}
#imageloadbutton{
   width: 126px;
   height: 92px;
   background: url('../image/bg_upload_1.png') 0px 0px no-repeat;
   overflow: hidden;
   cursor: pointer;
}
#imageloadbutton #photoimg {
    display: block !important;
    width: 126px !important;
    height: 90px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}
.btn_del_img {
    background: #f57301!important;
    color: #fff!important;
    padding: 0px 6px;
    display: block;
    float: right;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 23px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}
/***************************user form********************************/
.form_post_messaage{
   color: #a94442;
   background-color: #f2dede;
   border-color: #ebccd1;
   padding: 25px 20px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;
   font-size: 16px;
   line-height: 26px;
}
.form_post_messaage a{
   color: #0054a0;
   text-decoration: underline;
}
.user_post_form {
    width: 100%;
    margin: 20px 0px;
    font-family: tahoma;
}
.user_post_form .user_post_form_content {
    width: 100%;
    padding: 0px 0px 30px 0px;
    background: #fff;
}
.user_post_form_content .item {
   padding: 10px 0;
   width: 100%;
   float: left;
   padding-right: 20px;
   line-height: 36px;
}
.user_post_form_content .item .item_sub_first{
   padding-right: 2%;
}
.user_post_form_content .item .item_sub_last{
   padding-left: 2%;
}
.user_post_form_content .item .item_sub{
   width: 50%;
   float: left;
}
.user_post_form_content .item_message {
   width: 100%;
   float: left;
   color: red;
}
.user_post_form_content div label {
   float: left;
   width: 166px;
   text-align: right;
   padding-right: 15px;
   line-height: 36px;
}
.user_post_form_content .item_input{
   padding-left: 166px;
}
.user_post_form_content div input[type=text], .user_post_form_content div input[type=password] {
   border: 1px solid #dfdfdf;
   padding: 5px;
   width: 100%;
   height: 33px;
}
.user_post_form_content .input_select{
   width: 100%;
   height: 33px;
   line-height: 33px;
   border: 1px solid #dfdfdf;
}
.user_post_form_content .input_texta{
   border: 1px solid #dfdfdf;
   padding: 5px;
   width: 100%;
   height: 68px;
}
.user_post_form_content .input_des{
   border: 1px solid #dfdfdf;
   padding: 5px;
   width: 100%;
   height: 68px;
}
.user_post_form_content .dangky {
    width: 100%;
    text-align: center;
}
/***************************user form pro********************************/
.user_form_pro {
    width: 100%;
    font-family: tahoma;
}
.user_form_pro .user_form_pro_content {
    width: 100%;
    padding: 0px 0px 30px 0px;
    background: #fff;
}
.user_form_pro_content .item {
   padding: 8px 0;
   width: 100%;
   float: left;
   line-height: 36px;
}
.user_form_pro_content .item .item_sub_first{
   padding-right: 2%;
}
.user_form_pro_content .item .item_sub_last{
   padding-left: 2%;
}
.user_form_pro_content .item .item_sub{
   width: 50%;
   float: left;
}
.user_form_pro_content .item_message {
   width: 100%;
   float: left;
   color: red;
}
.user_form_pro_content div label {
   float: left;
   width: 100px;
   line-height: 36px;
   min-height: 10px;
}
.user_form_pro_content .item_input{
   padding-left: 100px;
}
.user_form_pro_content div input[type=text], .user_form_pro_content div input[type=password] {
   border: 1px solid #dfdfdf;
   padding: 5px;
   width: 100%;
   height: 33px;
}
.user_form_pro_content .input_select{
   width: 100%;
   height: 33px;
   line-height: 33px;
   border: 1px solid #dfdfdf;
}
.user_form_pro_content .input_texta{
   border: 1px solid #dfdfdf;
   padding: 5px;
   width: 100%;
   height: 68px;
}
.user_form_pro_content .input_des{
   border: 1px solid #dfdfdf;
   padding: 5px;
   width: 100%;
   height: 120px;
   float: left;
}
.user_form_pro_content .dangky {
    width: 100%;
    text-align: center;
}
.usi_description{
   font-size: 14px;
   line-height: 26px;
   margin-bottom: 20px;
}
.user_info_text .item{
   width: 100%;
   padding: 5px 0px;
}
.user_info_text .item label{
   width: 100px;
   display: block;
   float: left;
}
/***************************************/
.pro_post_right{
    padding-left: 340px;
}
.pro_post_form_top{
   width: 100%;
   float: left;
   margin-bottom: 20px;
}
.pro_post_form_top .title {
   width: 100%;
   float: left;
   color: #666666;
   font-size: 13px;
   font-weight: bold;
}
.pro_post_form_top .title .icon_number {
    color: #fff;
    background: #0070b7;
    border-radius: 50%;
    padding: 7px 10px 7px 10px;
}
.pro_post_form_top a{
   color: #0054a0;
}
/*****************************************************/
.pro_post_form_left{
   width: 350px;
   float: left;
   padding: 0px 15px;
}
.pro_post_form_right{
   width: 100%;
   padding-right: 15px;
   padding-left: 365px;
}
.pro_post_form_help {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #cecece;
}
.pro_post_form_help .content{
   padding: 10px;
   margin:10px 0px 10px 0px; min-height:100px
}
.pro_post_form_help .title {
   width: 100%;
    float: left;
    background: #f9f9f9;
    padding: 7px 10px 7px 10px;
    font-weight: bold;
    border-bottom: 1px solid #cecece;
}
.pro_post_form_mau {
    width: 100%;
    float: left;
    border: 1px solid #cecece;
}
.pro_post_form_mau .title {
   width: 100%;
    float: left;
    background: #f9f9f9;
    padding: 7px 10px 7px 10px;
    font-weight: bold;
    border-bottom: 1px solid #cecece;
}
.pro_post_form_mau .examples {
   width: 100%;
    float: left;
    list-style: none;
    padding: 10px 10px 0 10px;
}
.pro_post_form_mau .examples>li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.pro_post_form_mau .examples>li .ex_title {
    color: #b0b0b0;
}
.pro_post_form_mau .examples li .title_content {
    color: #5586bb;
    font-weight: bold;
}
.pro_post_form_mau .examples .ex_content {
    margin-top: 5px;
    color: #585858;
}
#pro_description{
   height: 160px;
}
.pro_post_form_right .btnSubmit {
   background: #f57301!important;
   color: #fff!important;
   padding: 15px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 15px;
   border: none;
   float: left;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   cursor: pointer;
   width: 200px;
   text-align: center;
}
.item_input .pro_du_an_id{
   padding: 0;
   height: 20px;
   border: none;
   width: 100%;
}





