<div class="container">
  <div class="group2">
    <div class="list">
      <div class="item city_sub">
        <h2><a href="cho-thue-chung-cu-nha-tro.html">Cho thuê nhà đất</a></h2>
        <div class="content"><a href="cho-thue-phong-tro-pc10.html">Cho thuê phòng trọ</a>
          <a href="cho-thue-chung-cu-pc1.html">Cho thuê chung cư</a>
          <a href="cho-thue-chung-cu-mini-pc13.html">Cho thuê chung cư mini</a>
          <a href="cho-thue-van-phong-pc11.html">Cho thuê văn phòng</a>
          <a href="cho-thue-nha-nguyen-can-pc2.html">Cho thuê nhà nguyên căn</a>
          <a href="cho-thue-cua-hang-pc12.html">Cho thuê cửa hàng</a></div>
        <br/>
        <h2><a href="index.html">Đi thuê nhà</a></h2>
        <div class="content">
          <a rel="nofollow" href="dieu-khoan-dang-ky-su-dung-dich-vu-sta1.html">Điều khoản sử dụng</a>
          <a rel="nofollow" href="chinh-sach-quyen-rieng-tu-sta2.html">Chính sách quyền riêng tư</a>
          <a rel="nofollow" href="dang-tin-cho-thue.html">Đăng tin cho thuê</a>
          <a rel="nofollow" href="lien-he.html">Liên hệ với chúng tôi</a></div>
      </div>
      <div class="item city_sub">
        <h2><a href="cho-thue-phong-tro-ha-noi-pcc10-3.html">Hà Nội</a></h2>
        <div class="content"><a href="cho-thue-phong-tro-ha-noi-pcc10-3.html">Tìm phòng trọ hà nội</a>
          <a href="cho-thue-chung-cu-ha-noi-pcc1-3.html">Cho thuê chung cư hà nội</a>
          <a href="cho-thue-nha-nguyen-can-ha-noi-pcc2-3.html">Cho thuê nhà nguyên căn hà nội</a>
          <a href="cho-thue-van-phong-ha-noi-pcc11-3.html">Cho thuê văn phòng hà nội</a>
          <a href="cho-thue-cua-hang-ha-noi-pcc12-3.html">Cho thuê cửa hàng hà nội</a></div>
        <h2><a href="cho-thue-phong-tro-da-nang-pcc10-10.html">Đà Nẵng</a></h2>
        <div class="content"><a href="cho-thue-phong-tro-da-nang-pcc10-10.html">Phòng trọ Đà Nẵng</a>
          <a href="cho-thue-nha-mat-pho-da-nang-pcc4-10.html">Cho thuê nhà đà nẵng</a>
          <a href="cho-thue-nha-nguyen-can-da-nang-pcc2-10.html">Thuê nhà nguyên căn Đà Nẵng</a>
          <a href="cho-thue-phong-tro-quan-hai-chau-pcc10-211.html">Phòng trọ đà nẵng quận hải châu</a>
          <a href="cho-thue-phong-tro-quan-thanh-khe-pcc10-216.html">Phòng trọ quận thanh khê đà nẵng</a>
          <a href="cho-thue-phong-tro-quan-son-tra-pcc10-217.html">Phòng trọ quận sơn trà đà nẵng</a>
          <a href="cho-thue-phong-tro-quan-ngu-hanh-son-pcc10-214.html">Phòng trọ quận ngũ hành sơn đà nẵng</a>
        </div>
      </div>
      <div class="item city_sub">
        <h2><a href="cho-thue-phong-tro-tp-ho-chi-minh-pcc10-4.html">Hồ Chí Minh</a>
        </h2>
        <div class="content"><a href="cho-thue-phong-tro-quan-1-pcc10-123.html">Phòng trọ quận 1</a>
          <a href="cho-thue-phong-tro-quan-2-pcc10-127.html">Phòng trọ quận 2</a>
          <a href="cho-thue-phong-tro-quan-3-pcc10-128.html">Phòng trọ quận 3</a>
          <a href="cho-thue-phong-tro-quan-4-pcc10-129.html">Phòng trọ quận 4</a>
          <a href="cho-thue-phong-tro-quan-5-pcc10-130.html">Phòng trọ quận 5</a>
          <a href="cho-thue-phong-tro-quan-6-pcc10-131.html">Phòng trọ quận 6</a>
          <a href="cho-thue-phong-tro-quan-7-pcc10-132.html">Phòng trọ quận 7</a>
          <a href="cho-thue-phong-tro-quan-8-pcc10-133.html">Phòng trọ quận 8</a>
          <a href="cho-thue-phong-tro-quan-9-pcc10-134.html">Phòng trọ quận 9</a>
          <a href="cho-thue-phong-tro-quan-10-pcc10-124.html">Phòng trọ quận 10</a>
          <a href="cho-thue-phong-tro-quan-11-pcc10-125.html">Phòng trọ quận 11</a>
          <a href="cho-thue-phong-tro-quan-12-pcc10-126.html">Phòng trọ quận 12</a>
          <a href="cho-thue-phong-tro-quan-binh-thanh-pcc10-138.html">Phòng trọ quận Bình Thạnh</a>
          <a href="cho-thue-phong-tro-quan-tan-binh-pcc10-139.html">Phòng trọ quận Tân Bình</a></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="group1">
    <div class="footer_logo">
      <a href="index.html"> </a>
    </div>
    <p> Dithuenha.com là website đăng tin cho thuê hàng đầu, cho phép người cho thuê dễ dàng đăng tin cho thuê nhà, nhà trọ, phòng trọ, căn hộ chung cư. Người thuê nhà có thể tìm kiếm nhà trọ, nhà cho thuê,... dễ dàng tiện lợi. </p>
    <p> Dithuenha.com có trách nhiệm chuyển tải thông tin. Chúng tôi không chịu bất kỳ trách nhiệm nào từ các tin này. </p>
  </div>
</div>
