<div class="container header_content">
  <ul class="header_menu_ul">
    <li class="header_menu_li active"><a class="header_menu_a" href="/">Trang chủ</a></li>
    <?php $arrCategories = $CDATA['common']['categories'] ?>
    <?php foreach ($arrCategories as $id => $category): ?>
      <li class="header_menu_li header_menu_cat header_menu_li_1 ">
        <a class="header_menu_a header_menu_a_cat" href="<?php echo $this->url->get(['for' => 'frontend:item:index', 'slug' => \Util\GeneralUtil::getSlug($category), 'id' => $id]); ?>"><?php echo $category ?></a>
        <div class="header_menu_sub_city">
          <div class="item item_hn">
            <h2>
              <a title="Cho thuê Phòng trọ Hà Nội mới nhất 2020" href="/cho-thue-phong-tro-ha-noi-pcc10-3.htm">Hà Nội</a>
            </h2>
            <div class="content">
              <a title="Cho thuê Phòng trọ Quận Ba Đình mới nhất 2020" href="/cho-thue-phong-tro-quan-ba-dinh-pcc10-93.htm">Quận Ba Đình</a>
              <a title="Cho thuê Phòng trọ Quận Bắc Từ Liêm mới nhất 2020" href="/cho-thue-phong-tro-quan-bac-tu-liem-pcc10-96.htm">Quận Bắc Từ Liêm</a>
              <a title="Cho thuê Phòng trọ Quận Cầu Giấy mới nhất 2020" href="/cho-thue-phong-tro-quan-cau-giay-pcc10-98.htm">Quận Cầu Giấy</a>
              <a title="Cho thuê Phòng trọ Quận Hà Đông mới nhất 2020" href="/cho-thue-phong-tro-quan-ha-dong-pcc10-102.htm">Quận Hà Đông</a>
              <a title="Cho thuê Phòng trọ Quận Hai Bà Trưng mới nhất 2020" href="/cho-thue-phong-tro-quan-hai-ba-trung-pcc10-94.htm">Quận Hai Bà Trưng</a>
              <a title="Cho thuê Phòng trọ Quận Hoàn Kiếm mới nhất 2020" href="/cho-thue-phong-tro-quan-hoan-kiem-pcc10-108.htm">Quận Hoàn Kiếm</a>
              <a title="Cho thuê Phòng trọ Quận Hoàng Mai mới nhất 2020" href="/cho-thue-phong-tro-quan-hoang-mai-pcc10-109.htm">Quận Hoàng Mai</a>
              <a title="Cho thuê Phòng trọ Quận Long Biên mới nhất 2020" href="/cho-thue-phong-tro-quan-long-bien-pcc10-97.htm">Quận Long Biên</a>
              <a title="Cho thuê Phòng trọ Quận Nam Từ Liêm mới nhất 2020" href="/cho-thue-phong-tro-quan-nam-tu-liem-pcc10-120.htm">Quận Nam Từ Liêm</a>
              <a title="Cho thuê Phòng trọ Quận Tây Hồ mới nhất 2020" href="/cho-thue-phong-tro-quan-tay-ho-pcc10-106.htm">Quận Tây Hồ</a>
              <a title="Cho thuê Phòng trọ Quận Thanh Xuân mới nhất 2020" href="/cho-thue-phong-tro-quan-thanh-xuan-pcc10-121.htm">Quận Thanh Xuân</a>
              <a title="Cho thuê Phòng trọ Quận Đống Đa mới nhất 2020" href="/cho-thue-phong-tro-quan-dong-da-pcc10-100.htm">Quận Đống Đa</a>
              <a title="Cho thuê Phòng trọ Huyện Gia Lâm mới nhất 2020" href="/cho-thue-phong-tro-huyen-gia-lam-pcc10-105.htm">Huyện Gia Lâm</a>
              <a title="Cho thuê Phòng trọ Huyện Thanh Trì mới nhất 2020" href="/cho-thue-phong-tro-huyen-thanh-tri-pcc10-110.htm">Huyện Thanh Trì</a>
            </div>
          </div>
          <div class="item item_dn">
            <h2>
              <a title="Cho thuê Phòng trọ Đà Nẵng mới nhất 2020" href="/cho-thue-phong-tro-da-nang-pcc10-10.htm">Đà Nẵng</a>
            </h2>
            <div class="content">
              <a title="Cho thuê Phòng trọ Quận Cẩm Lệ mới nhất 2020" href="/cho-thue-phong-tro-quan-cam-le-pcc10-210.htm">Quận Cẩm Lệ</a>
              <a title="Cho thuê Phòng trọ Quận Hải Châu mới nhất 2020" href="/cho-thue-phong-tro-quan-hai-chau-pcc10-211.htm">Quận Hải Châu</a>
              <a title="Cho thuê Phòng trọ Quận Liên Chiểu mới nhất 2020" href="/cho-thue-phong-tro-quan-lien-chieu-pcc10-212.htm">Quận Liên Chiểu</a>
              <a title="Cho thuê Phòng trọ Quận Ngũ Hành Sơn mới nhất 2020" href="/cho-thue-phong-tro-quan-ngu-hanh-son-pcc10-214.htm">Quận Ngũ Hành Sơn</a>
              <a title="Cho thuê Phòng trọ Quận Sơn Trà mới nhất 2020" href="/cho-thue-phong-tro-quan-son-tra-pcc10-217.htm">Quận Sơn Trà</a>
              <a title="Cho thuê Phòng trọ Quận Thanh Khê mới nhất 2020" href="/cho-thue-phong-tro-quan-thanh-khe-pcc10-216.htm">Quận Thanh Khê</a>
              <a title="Cho thuê Phòng trọ Thành Phố Đà Nẵng mới nhất 2020" href="/cho-thue-phong-tro-thanh-pho-da-nang-pcc10-213.htm">Thành Phố Đà Nẵng</a>
            </div>
          </div>
          <div class="item item_hcm">
            <h2>
              <a title="Cho thuê Phòng trọ Hồ Chí Minh mới nhất 2020" href="/cho-thue-phong-tro-ho-chi-minh-pcc10-4.htm">Hồ Chí Minh</a>
            </h2>
            <div class="content">
              <a title="Cho thuê Phòng trọ Quận 1 mới nhất 2020" href="/cho-thue-phong-tro-quan-1-pcc10-123.htm">Quận 1</a>
              <a title="Cho thuê Phòng trọ Quận 10 mới nhất 2020" href="/cho-thue-phong-tro-quan-10-pcc10-124.htm">Quận 10</a>
              <a title="Cho thuê Phòng trọ Quận 11 mới nhất 2020" href="/cho-thue-phong-tro-quan-11-pcc10-125.htm">Quận 11</a>
              <a title="Cho thuê Phòng trọ Quận 12 mới nhất 2020" href="/cho-thue-phong-tro-quan-12-pcc10-126.htm">Quận 12</a>
              <a title="Cho thuê Phòng trọ Quận 2 mới nhất 2020" href="/cho-thue-phong-tro-quan-2-pcc10-127.htm">Quận 2</a>
              <a title="Cho thuê Phòng trọ Quận 3 mới nhất 2020" href="/cho-thue-phong-tro-quan-3-pcc10-128.htm">Quận 3</a>
              <a title="Cho thuê Phòng trọ Quận 4 mới nhất 2020" href="/cho-thue-phong-tro-quan-4-pcc10-129.htm">Quận 4</a>
              <a title="Cho thuê Phòng trọ Quận 5 mới nhất 2020" href="/cho-thue-phong-tro-quan-5-pcc10-130.htm">Quận 5</a>
              <a title="Cho thuê Phòng trọ Quận 6 mới nhất 2020" href="/cho-thue-phong-tro-quan-6-pcc10-131.htm">Quận 6</a>
              <a title="Cho thuê Phòng trọ Quận 7 mới nhất 2020" href="/cho-thue-phong-tro-quan-7-pcc10-132.htm">Quận 7</a>
              <a title="Cho thuê Phòng trọ Quận 8 mới nhất 2020" href="/cho-thue-phong-tro-quan-8-pcc10-133.htm">Quận 8</a>
              <a title="Cho thuê Phòng trọ Quận 9 mới nhất 2020" href="/cho-thue-phong-tro-quan-9-pcc10-134.htm">Quận 9</a>
              <a title="Cho thuê Phòng trọ Quận Bình Tân mới nhất 2020" href="/cho-thue-phong-tro-quan-binh-tan-pcc10-136.htm">Quận Bình Tân</a>
              <a title="Cho thuê Phòng trọ Quận Bình Thạnh mới nhất 2020" href="/cho-thue-phong-tro-quan-binh-thanh-pcc10-138.htm">Quận Bình Thạnh</a>
              <a title="Cho thuê Phòng trọ Quận Gò Vấp mới nhất 2020" href="/cho-thue-phong-tro-quan-go-vap-pcc10-144.htm">Quận Gò Vấp</a>
              <a title="Cho thuê Phòng trọ Quận Phú Nhuận mới nhất 2020" href="/cho-thue-phong-tro-quan-phu-nhuan-pcc10-146.htm">Quận Phú Nhuận</a>
              <a title="Cho thuê Phòng trọ Quận Tân Bình mới nhất 2020" href="/cho-thue-phong-tro-quan-tan-binh-pcc10-139.htm">Quận Tân Bình</a>
              <a title="Cho thuê Phòng trọ Quận Tân Phú mới nhất 2020" href="/cho-thue-phong-tro-quan-tan-phu-pcc10-147.htm">Quận Tân Phú</a>
              <a title="Cho thuê Phòng trọ Quận Thủ Đức mới nhất 2020" href="/cho-thue-phong-tro-quan-thu-duc-pcc10-143.htm">Quận Thủ Đức</a>
              <a title="Cho thuê Phòng trọ Huyện Bình Chánh mới nhất 2020" href="/cho-thue-phong-tro-huyen-binh-chanh-pcc10-137.htm">Huyện Bình Chánh</a>
            </div>
          </div>
        </div>
      </li>
    <?php endforeach; ?>
    <div class="clear"></div>
  </ul>
  <div class="clear"></div>
</div>
