<div class="container">
  <div class="itop_search">
    <div class="search_form">
      <div class="search_form_title">
        <h2>Tìm nhà cho thuê</h2>
        <h3>với hơn 5.000 tin đăng cho thuê mỗi ngày tại Dithuenha.com</h3></div>
      <div class="search_form_wrap">
        <div class="search_form_key">
          <div class="itop_search_txt">
            <h5 class="search_title_sub">Tìm nhanh theo từ khóa</h5>
            <div class="itop_search_content">
              <form method="get" action="<?php echo $this->url->get(['for' => 'frontend:item:search']); ?>">
                <div class="itop_search_key">
                  <input class="its_key" id="textSearch" name="k" placeholder="Nhập tin, khu vực, địa điểm, dụ án bạn muốn thuê" type="text"
                      autocomplete="off" value="<?php echo isset($params['k']) ? $params['k'] : '' ?>">
                </div>
                <button type="submit" class="its_submit">
                  <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm
                </button>
              </form>
            </div>
            <div class="search_auto_ct content_hide_out"></div>
          </div>
          <div class="search_key_hot"><span>Tìm kiếm nhiều:</span>
            <a href="cho-thue-phong-tro-ha-noi-pcc10-3.html" target="_blank">Nhà trọ Hà Nội</a>
            <a href="cho-thue-phong-tro-da-nang-pcc10-10.html" target="_blank">Phòng trọ Đà Nẵng</a>
            <a href="cho-thue-phong-tro-quan-binh-thanh-pcc10-138.html" target="_blank">Phòng trọ Bình Thạnh</a>
            <a href="cho-thue-phong-tro-quan-9-pcc10-134.html" target="_blank">Phòng trọ Quận 9</a></div>
        </div>
        <div class="search_form_filter search_form_content">
          <h5 class="search_title_sub">Hoặc lọc nhanh theo nhu cầu của bạn</h5>
          <form method="get" action="<?php echo $this->url->get(['for' => 'frontend:item:search']); ?>">
            <div class="search_form_item search_form_item_1" style="display: none;">
              <input class="item_text" type="text" name="k" value="" placeholder="Nhập từ khóa địa chỉ bạn muốn tìm"/>
            </div>
            <div class="search_form_item search_form_item_2"><span class="search_form_name">Loại nhà đất</span>
              <div class="search_form_popup">
                <ul class="search_form_popup_ul">
                  <?php foreach ($arrCategories as $id => $category): ?>
                    <li class="item_li item_li_cat js-filter__category-sel" data-id="<?php echo $id ?>">
                      <span><?php echo $category ?></span>
                    </li>
                  <?php endforeach; ?>
                </ul>
              </div>
              <input type="hidden" class="js-filter__category-id" value="0" name="category_id"/>
            </div>
            <div class="search_form_item search_form_item_3"><span class="search_form_name">Địa điểm</span>
              <div class="search_form_popup">
                <ul class="search_form_popup_ul">
                  <?php foreach ($arrCities as $arrCity): ?>
                    <li class="item_li item_li_city js-filter__city-sel" data-id="<?php echo $arrCity['city_id'] ?>">
                      <span style="font-weight: bold;"><?php echo $arrCity['city_name'] ?></span>
                    </li>
                  <?php endforeach; ?>
                </ul>
              </div>
              <input type="hidden" class="js-filter__city-id" value="0" name="city_id"/>
            </div>
            <div class="search_form_item search_form_item_4"><span class="search_form_name">Khoảng giá</span>
              <div class="search_form_popup">
                <ul class="search_form_popup_ul">
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="0"><span>Thỏa thuận</span>
                  </li>
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="0-1"><span>< 1 triệu</span>
                  </li>
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="1-3"><span>1 - 3 triệu</span>
                  </li>
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="3-5"><span>3 - 5 triệu</span>
                  </li>
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="5-10">
                    <span>5 - 10 triệu</span></li>
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="10-40">
                    <span>10 - 40 triệu</span></li>
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="40-70">
                    <span>40 - 70 triệu</span></li>
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="70-100">
                    <span>70 - 100 triệu</span></li>
                  <li class="item_li item_li_price js-filter__price-range-sel" data-value="100-9999">
                    <span>> 100 triệu</span>
                  </li>
                </ul>
              </div>
              <input type="hidden" class="js-filter__price-range" value="0" name="price_range"/>
            </div>
            <div class="search_form_item search_form_item_5"><span class="search_form_name">Diện tích</span>
              <div class="search_form_popup">
                <ul class="search_form_popup_ul">
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="0"><span>Diện tích</span>
                  </li>
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="0-10"><span> < 10 m2</span>
                  </li>
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="10-15">
                    <span>10 - 15 m2</span></li>
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="15-25">
                    <span>15 - 25 m2</span></li>
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="25-35">
                    <span>25 - 35 m2</span></li>
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="35-50">
                    <span>35 - 50 m2</span></li>
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="50-75">
                    <span>50 - 75 m2</span></li>
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="75-100">
                    <span>75 - 100 m2</span></li>
                  <li class="item_li item_li_acreage js-filter__floor-area-sel" data-value="100-999999">
                    <span> > 100 m2</span></li>
                </ul>
              </div>
              <input type="hidden" class="js-filter__floor-area" 0 name="floor_area_range"/>
            </div>
            <div class="search_form_item search_form_item_4"><span class="search_form_name">Xác thực</span>
              <div class="search_form_popup">
                <ul class="search_form_popup_ul">
                  <li class="item_li item_li_chinh_chu" data="0.html"><span>Xác thực</span></li>
                  <li class="item_li item_li_chinh_chu" data="1.html"><span>Chính chủ</span></li>
                  <li class="item_li item_li_chinh_chu" data="2.html"><span>Mô giới</span></li>
                </ul>
              </div>
              <input type="hidden" class="search_form_chinh_chu_val" value="0" name="chinh_chu"/>
            </div>
            <div class=" search_form_item_6 search_form_item_submit">
              <button type="submit" class="search_form_submit">
                <i class="fa fa-search" aria-hidden="true"></i> Lọc kết quả
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
