<div class="footer_wrap_bg footer_popup"></div>
<div class="form_contact_bottom footer_popup">
  <div class="content">
    <a class="close_footer"></a>
    <h4 class="title"> Yêu cầu xóa nội dung tin đăng. </h4>
    <div class="intro">
      <p class="item">Vui lòng cho chúng tôi biết lý do bạn yêu cầu xóa tin.</p>
    </div>
    <div class="formInput">
      <form action="#" method="post" class="form_right">
        <p class="content_input_full">
          <textarea name="con_note" class="con_note con_text_popup input_popup" placeholder="Lý do xóa tin"></textarea>
        </p>
        <p class="content_input">
          <input type="text" name="con_user_name" placeholder="Nhập họ và tên" class="input input_popup con_user_name_popup">
        </p>
        <p class="content_input">
          <input type="text" placeholder="Nhập số điện thoại" name="con_phone" class="input input_popup con_phone_popup">
        </p>
        <p class="content_input content_input_popup">
          <input type="submit" class="submit submit_popup" value="Gửi yêu cầu"/>
        </p>
        <p class="message message_popup"></p>
        <p class="info">(*) Quý khách vui lòng điền đầy đủ thông tin.</p>
      </form>
    </div>
    <div class="message_return"></div>
  </div>
</div>
