._no-padding {
  padding: 0;
}

._no-padding-l {
  padding-left: 0;
}

._no-padding-r {
  padding-right: 0;
}

._fw-550 {
  font-weight: 550 !important;
}

._m-r-10 {
  margin-right: 10px !important;
}

._mr-b-20 {
  margin-bottom: 20px !important;
}

._mr-b-40 {
  margin-bottom: 40px !important;
}

._post-box {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 10px 10px 10px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.kt-portlet {
  border: 1px solid #e5e5e5;
}

.is-disabled {
  pointer-events: none;
  opacity: .3;
}

.has-error.col-form-label, .has-error.control-label {
  color: #f75a5f;
}

.has-error .input-icon-right {
  right: 0;
}

.vs__dropdown-toggle {
  border: 0;
}

.vs__dropdown-toggle {
  padding: 0;
}

.vs__selected {
  margin: 0;
}

.vs__search, .vs__search:focus {
  margin: 0;
}

.v-select.error {
  border: 1px solid #f75a5f;
}

.v-select.error .vs__selected-options input::placeholder {
  color: #f75a5f
}

.width-100 {
  width: 100%;
}

#kt_entity_list_datatable {
  width: 100%;
}

.kt-nav__link-group .kt-nav__link {
  margin: 0 3px;
  font-size: 1.5em;
}

.kt-portlet__body tr td {
  vertical-align: middle;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user .kt-header__topbar-username {
  color: #6c7293;
}

.kt-header--fixed.kt-subheader--fixed .kt-subheader {
  top: 0;
}

.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
  padding-top: 70px;
}

.table-preloader-backdrop .page-preloader {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1005;
  font-size: 14px;
  width: 130px;
  text-align: left;
  padding: 10px;
  background-color: cornsilk;
  color: #222222;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.table-preloader-backdrop .page-preloader::before {
  content: '';
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #5d78ff;
  border-right: 2px solid transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: loader-rotate .5s linear infinite;
  animation: loader-rotate .5s linear infinite;
}

.kt-user-card-v2 .kt-user-card-v2__pic img {
  max-width: 60px;
  max-height: 60px;
}

.kt-avatar .img-200 {
  width: 200px;
  height: 200px;
}

.open > .dropdown-menu {
  display: block;
}

._pos-relative {
  position: relative;
}

.modal-open {
  overflow: hidden !important;
}

.kt-content {
  padding: 0;
  position: relative;
}

.kt-container {
  padding: 0 15px;
}

._text-line-through {
  text-decoration-line: line-through;
}
