@font-face {
  font-family: 'NeurialGrotesk';
  font-style: normal;
  font-weight: 400;
  src: local('NeurialGrotesk-Regular'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/neurial-grotesk/NeurialGrotesk-Regular.otf');
}

@font-face {
  font-family: 'NeurialGrotesk';
  font-style: italic;
  font-weight: normal;
  src: local('NeurialGrotesk-Italic'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/neurial-grotesk/NeurialGrotesk-Italic.otf');
}

@font-face {
  font-family: 'NeurialGrotesk';
  font-style: normal;
  font-weight: 700;
  src: local('NeurialGrotesk-Bold'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/neurial-grotesk/NeurialGrotesk-Bold.otf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Regular.woff2') format('woff2'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Regular.woff2') format('woff'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Italic'),
  local('Roboto-Italic'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Italic.woff2'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Italic.woff'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Italic.ttf');;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
  local('Roboto-Medium'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Medium.woff2'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Medium.woff'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
  local('Roboto-Bold'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Bold.woff2'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Bold.woff'),
  url('http://static.dev.thuenha.com/backend/v1/_partial/global/font/Roboto/Roboto-Bold.ttf');
}
