<?php
  
  use Util\GeneralUtil;
  
  $imageNotFound = RESOURCE_URL . '/common/image/no_image.png';
  $arrCategories = GeneralUtil::$arrCategories;

?>
<div class="wapper">
  <div class="c-search-group shadow-2">
    <div>
      <div class="c-filter--fixtop">
        <div class="container py--12"><i class="d-none"></i>
          <div class="search-filter is-flex jbetween">
            <div class="is-flex search-filter__fields">
              <!-- filter-street -->
              <span>
                <button
                    class="btn btn-outline--gray btn-xs hidden-md-and-down search-filter__button js-filter-street <?php echo !empty($conditions['street_name_like']) ? 'filtered' : '' ?>"
                >
                  <svg version="1.1" viewBox="0 0 24 24" class="icon--20 svg-icon svg-fill" style="margin-right: 0.5rem;"><path fill="#888888" stroke="none" pid="0" fill-rule="evenodd" clip-rule="evenodd" d="M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12zm-6.862-.795C17.138 8.335 14.79 6 11.92 6S6.7 8.335 6.7 11.206a5.182 5.182 0 0 0 1.055 3.15c.86 1.097 3.156 2.956 3.746 3.434.076.062.124.1.137.112a.43.43 0 0 0 .281.098.43.43 0 0 0 .282-.098 8.65 8.65 0 0 1 .143-.117c.6-.486 2.883-2.338 3.739-3.443.69-.9 1.06-2.003 1.055-3.137zm-3.76 1.366c-.385.393-.908.62-1.458.632v-.001a2.104 2.104 0 0 1 0-4.206 2.104 2.104 0 0 1 1.458 3.575z" _fill="#000"></path></svg>
                    Đường
                  </button>
              </span>
              <span>
                <div role="tooltip" class="el-popover el-popper js-filter-popup js-filter-street__popup" style="display: none">
                  <div class="search-filter__popup-body scroll--nomal">
                    <div style="min-width: 300px;">
                      <input type="text" name="street_id" id="street_id" class="form-control js-filter-street__input typeahead" data-provide="typeahead" placeholder="Gõ tên đường vào đây..." value="<?php echo !empty($conditions['street_name_like']) ? $conditions['street_name_like'] : '' ?>">
                    </div>
                  </div>
                  <div class="search-filter__popup-footer">
                    <div class="text--right">
                      <span class="c-filter-clear mr--12 js-filter-street__remove">
                        Xoá
                      </span>
                      <button class="btn btn--primary btn--radius btn--xs js-filter-street__submit">
                        Áp dụng
                      </button>
                    </div>
                  </div>
                </div>
              </span>
              <!-- filter-street end -->

              <!-- filter-district -->
              <span>
                <button
                    class="btn btn-outline--gray btn-xs hidden-md-and-down search-filter__button js-filter-district <?php echo !empty($conditions['district_id_list']) ? 'filtered' : '' ?>"
                >
                  <svg version="1.1" viewBox="0 0 24 24" class="icon--20 svg-icon svg-fill" style="margin-right: 0.5rem;"><path fill="#888888" stroke="none" pid="0" fill-rule="evenodd" clip-rule="evenodd" d="M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12zm-6.862-.795C17.138 8.335 14.79 6 11.92 6S6.7 8.335 6.7 11.206a5.182 5.182 0 0 0 1.055 3.15c.86 1.097 3.156 2.956 3.746 3.434.076.062.124.1.137.112a.43.43 0 0 0 .281.098.43.43 0 0 0 .282-.098 8.65 8.65 0 0 1 .143-.117c.6-.486 2.883-2.338 3.739-3.443.69-.9 1.06-2.003 1.055-3.137zm-3.76 1.366c-.385.393-.908.62-1.458.632v-.001a2.104 2.104 0 0 1 0-4.206 2.104 2.104 0 0 1 1.458 3.575z" _fill="#000"></path></svg>
                    Khu vực
                  </button>
              </span>
              <span>
                <div role="tooltip" class="el-popover el-popper js-filter-popup js-filter-district__popup" style="display: none">
                  <div class="search-filter__popup-body scroll--nomal">
                    <?php foreach ($arrDistrictList as $arrDistrict): ?>
                      <label class="el-checkbox ml-0 js-filter-district__popup-label">
                        <span
                            class="el-checkbox__input js-filter-district__popup-input <?php echo !empty($conditions['district_id_list']) && in_array($arrDistrict['district_id'], $conditions['district_id_list']) ? 'is-checked' : '' ?>"
                        >
                          <span class="el-checkbox__inner"></span>
                          <input type="checkbox" class="el-checkbox__original" value="<?php echo $arrDistrict['district_id'] ?>">
                        </span>
                        <span class="el-checkbox__label">
                          <?php echo $arrDistrict['district_name'] ?>
                        </span>
                    </label>
                    <?php endforeach; ?>
                  </div>
                  <div class="search-filter__popup-footer">
                    <div class="text--right">
                      <span class="c-filter-clear mr--12 js-filter-district__remove">
                        Xoá
                      </span>
                      <button class="btn btn--primary btn--radius btn--xs js-filter-district__submit">
                        Áp dụng
                      </button>
                    </div>
                  </div>
                </div>
              </span>
              <!-- filter-district end -->

              <!-- filter-category -->
              <span>
                <button
                    class="btn btn-outline--gray btn-xs hidden-md-and-down search-filter__button js-filter-category <?php echo !empty($conditions['category_id_list']) ? 'filtered' : '' ?>"
                >
                  <svg version="1.1" viewBox="0 0 24 24" class="icon--20 svg-icon svg-fill" style="margin-right: 0.5rem;"><path fill="#888888" stroke="none" pid="0" fill-rule="evenodd" clip-rule="evenodd" d="M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12zm-6.862-.795C17.138 8.335 14.79 6 11.92 6S6.7 8.335 6.7 11.206a5.182 5.182 0 0 0 1.055 3.15c.86 1.097 3.156 2.956 3.746 3.434.076.062.124.1.137.112a.43.43 0 0 0 .281.098.43.43 0 0 0 .282-.098 8.65 8.65 0 0 1 .143-.117c.6-.486 2.883-2.338 3.739-3.443.69-.9 1.06-2.003 1.055-3.137zm-3.76 1.366c-.385.393-.908.62-1.458.632v-.001a2.104 2.104 0 0 1 0-4.206 2.104 2.104 0 0 1 1.458 3.575z" _fill="#000"></path></svg>
                    Loại chổ ở
                  </button>
              </span>
              <span>
                <div role="tooltip" class="el-popover el-popper js-filter-popup js-filter-category__popup" style="display: none">
                  <div class="search-filter__popup-body scroll--nomal">
                    <?php foreach ($arrCategories as $categoryID => $category): ?>
                      <label class="el-checkbox ml-0 js-filter-category__popup-label">
                        <span
                            class="el-checkbox__input js-filter-category__popup-input <?php echo !empty($conditions['category_id_list']) && in_array($categoryID, $conditions['category_id_list']) ? 'is-checked' : '' ?>"
                        >
                          <span class="el-checkbox__inner"></span>
                          <input type="checkbox" class="el-checkbox__original" value="<?php echo $categoryID ?>">
                        </span>
                        <span class="el-checkbox__label">
                          <?php echo $category ?>
                        </span>
                    </label>
                    <?php endforeach; ?>
                  </div>
                  <div class="search-filter__popup-footer">
                    <div class="text--right">
                      <span class="c-filter-clear mr--12 js-filter-category__remove">
                        Xoá
                      </span>
                      <button class="btn btn--primary btn--radius btn--xs js-filter-category__submit">
                        Áp dụng
                      </button>
                    </div>
                  </div>
                </div>
              </span>
              <!-- filter-category end -->

              <!-- filter-favorite -->
              <span>
                <button
                    class="btn btn-outline--gray btn-xs hidden-md-and-down search-filter__button js-filter-favorite <?php echo !empty($conditions['is_favorite']) ? 'filtered' : '' ?>"
                >
                  <svg version="1.1" viewBox="0 0 24 24" class="icon--20 svg-icon svg-fill" style="margin-right: 0.5rem;"><path fill="#888888" stroke="none" pid="0" fill-rule="evenodd" clip-rule="evenodd" d="M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12zm-6.862-.795C17.138 8.335 14.79 6 11.92 6S6.7 8.335 6.7 11.206a5.182 5.182 0 0 0 1.055 3.15c.86 1.097 3.156 2.956 3.746 3.434.076.062.124.1.137.112a.43.43 0 0 0 .281.098.43.43 0 0 0 .282-.098 8.65 8.65 0 0 1 .143-.117c.6-.486 2.883-2.338 3.739-3.443.69-.9 1.06-2.003 1.055-3.137zm-3.76 1.366c-.385.393-.908.62-1.458.632v-.001a2.104 2.104 0 0 1 0-4.206 2.104 2.104 0 0 1 1.458 3.575z" _fill="#000"></path></svg>
                    Sản phẩm đánh dấu
                  </button>
              </span>
              <!-- filter-favorite end -->

              <!-- filter-private -->
              <span>
                <button
                    class="btn btn-outline--gray btn-xs hidden-md-and-down search-filter__button js-filter-private <?php echo !empty($conditions['is_private']) ? 'filtered' : '' ?>"
                >
                  <svg version="1.1" viewBox="0 0 24 24" class="icon--20 svg-icon svg-fill" style="margin-right: 0.5rem;"><path fill="#888888" stroke="none" pid="0" fill-rule="evenodd" clip-rule="evenodd" d="M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12zm-6.862-.795C17.138 8.335 14.79 6 11.92 6S6.7 8.335 6.7 11.206a5.182 5.182 0 0 0 1.055 3.15c.86 1.097 3.156 2.956 3.746 3.434.076.062.124.1.137.112a.43.43 0 0 0 .281.098.43.43 0 0 0 .282-.098 8.65 8.65 0 0 1 .143-.117c.6-.486 2.883-2.338 3.739-3.443.69-.9 1.06-2.003 1.055-3.137zm-3.76 1.366c-.385.393-.908.62-1.458.632v-.001a2.104 2.104 0 0 1 0-4.206 2.104 2.104 0 0 1 1.458 3.575z" _fill="#000"></path></svg>
                    Sản phẩm riêng tư
                  </button>
              </span>
              <!-- filter-private end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--md mt--30 mt-lg-0">
    <svg version="1.1" viewBox="0 0 20 20" class="is-instant-book mr--6 mr--md--12 svg-icon svg-fill" style="width: 32px; height: 32px;">
      <defs>
        <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="svgicon_instant_book_a">
          <stop stop-color="#F68A39" offset="0%"></stop>
          <stop stop-color="#F65E39" offset="100%"></stop>
        </linearGradient>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <circle pid="0" fill="url(#svgicon_instant_book_a)" cx="10" cy="10" r="10"></circle>
        <path pid="1" d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z" fill="#FFF"></path>
      </g>
    </svg>
    <?php if (!empty($totalRecord)): ?>
      <span>Hiện có <b><?php echo $totalRecord ?></b> </span> <b class="text-orange pointer">chỗ ở được tìm thấy</b>
    <?php else: ?>
    <span><b class="text-orange pointer">Không chỗ ở nào được tìm thấy</b>
    <?php endif; ?>
  </div>
  <div class="container container--md">
    <div class="row">
      <div class="col-xs-12">
        <div class="row mt--30"></div>
        <div class="row">
          <?php
            foreach ($arrItemList as $arrItem):
              $itemLink = $this->url->get(['for' => 'backend:item:edit', 'id' => $arrItem['item_id'], 'page' => 1])
              ?>
              <div class="col-md-3 col-lg-20 col-xs-6">
                <div class="c-product-card--grid">
                  <div class="promo is-relative">
                    <a href="<?php echo $itemLink ?>" class="" target="_blank" rel="nofollow">
                      <div class="promo__image">
                        <div class="promo__image-wrap">
                          <img class="w--100" src="<?php echo !empty($arrItem['item_feature_image']) ? $arrItem['item_feature_image'] : $imageNotFound; ?>">
                        </div>
                        <div class="is-absolute promo__label-wrap">
                          <span class="promo__label is-promotion"><?php echo $arrItem['district_name'] ?></span>
                        </div>
                      </div>
                    </a>
                    <div class="promo__content">
                      <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                        <?php echo GeneralUtil::$arrCategories[ $arrItem['category_id'] ] ?>
                      </div>
                      <div class="is-relative">
                        <a href="<?php echo $itemLink ?>" class="" target="_blank" id="room-item">
                          <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;">
                            <svg version="1.1" viewBox="0 0 20 20" class="is-instant-book mr--6 svg-icon svg-fill">
                              <defs>
                                <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="svgicon_instant_book_a">
                                  <stop stop-color="#F68A39" offset="0%"></stop>
                                  <stop stop-color="#F65E39" offset="100%"></stop>
                                </linearGradient>
                              </defs>
                              <g fill="none" fill-rule="evenodd">
                                <circle pid="0" fill="url(#svgicon_instant_book_a)" cx="10" cy="10" r="10"></circle>
                                <path pid="1" d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z" fill="#FFF"></path>
                              </g>
                            </svg>
                            <?php echo $arrItem['item_name'] ?>
                          </div>
                        </a>
                        <div class="promo__description my--6 text-lowercase"><?php echo $arrItem['item_description'] ?></div>
                        <div class="promo__price mb--6">
                          <span class="extra-bold"><span><?php echo number_format($arrItem['price']) ?>₫</span>/đêm</span>
                        </div>
                        <div class="promo__add mb--6 promo__add mb--6">
                          <a href="/vi/vietnam/ha-noi/soc-son" class=""><?php echo $arrItem['city_name'] ?></a>,
                          <a href="/vi/vietnam/ha-noi" class=""><?php echo $arrItem['district_name'] ?></a>,
                          <a href="/vi/vietnam" class=""><?php echo $arrItem['ward_name'] ?></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <?php endforeach; ?>
          <?php if (!empty($totalRecord)): ?>
            <div class="col-xs-12">
              <div class="py--30"></div>
              <div class="section">
                <div class="text-center">
                  <nav class="text--center">
                    <?php echo $paginationHTML ?>
                  </nav>
                  <div class="mt--12 mb--12 text--center text-lowercase">1 - <?php echo $limit ?> trong số <?php echo $totalRecord ?> Chỗ ở</div>
                </div>
              </div>
            </div>
          <?php endif; ?>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var conditions = <?php echo !empty($conditions) ? json_encode($conditions) : [] ?>;
  var pageURL = '<?php echo $this->url->get(['for' => 'frontend:cart:adminview']) ?>';

  var streetList = <?php echo !empty($arrStreetList) ? json_encode($arrStreetList) : [] ?>
</script>
