<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex">
    <title>Thue nha re</title>
    <link rel="icon" href="<?php echo RESOURCE_URL . '/global/image/favicon.png' ?>" type="image/x-icon"/>
    <link rel="shortcut icon" href="<?php echo RESOURCE_URL . '/global/image/favicon.png' ?>" type="image/x-icon"/>
    <?php echo $this->seo->getTitle(); ?>
    <?php echo $this->seo->getMeta(); ?>
    <?php echo $this->seo->getCanonical(); ?>
    
    <?php echo $this->assets->outputCss(); ?>
    <?php echo $this->assets->outputJs(); ?>
    <script>
      function imgError(_this) {
        _this.src = CDATA.url.resourceURL + '/global/image/no-image.png';
      }
    </script>
    <script>
      window.device = '<?php echo DEVICE ?>';
      window.CDATA = <?php echo json_encode($CDATA) ?>;
      window.PAGE_DATA = <?php echo json_encode($PAGE_DATA) ?>;
    </script>
  </head>
  <body class="index_slider menu-default hover-default slider--slideInUp md <?php echo DEVICE == 'mobile' ? 'is-mobile' : 'is-desktop' ?>">
    <?php echo $schema ?>
    <div class="box js-box">
      <!-- BEGIN NAVBAR-->
      <?php echo $this->partial('global/_navbar') ?>
      <!-- END NAVBAR-->

      <div class="site-wrap js-site-wrap">
        <div class="widget js-widget">
          <?php echo $this->partial('global/_banner') ?>
          <?php echo $this->partial('global/_filter') ?>
        </div>
        
        <?php echo $this->partial('global/_filter') ?>
        
        <?php echo $this->getContent() ?>

        <!-- BEGIN FOOTER-->
        <?php echo $this->partial('global/_footer') ?>
        <!-- END FOOTER-->
      </div>
    </div>
  </body>
</html>
