<div class="section">
  <div class="container container--md">
    <div>
      <div id="28" readmore="28">
        <div class="is-flex jbetween align-end">
          <div class="title title-w-sub"><h2 class="extra-bold p--giant">
              Ưu đãi độc quyền
            </h2>
            <p>Chỉ có tại Luxstay, hấp dẫn và hữu hạn, book ngay!</p></div>
          <a href="#" class="text-orange semi-bold d-none d-sm-inline">
            Xem thêm
          </a></div>
        <div class="row mt--12">
          <div class="col-xs-12">
            <div>
              <div id="section-uu-dai__slider">
                <div>
                  <a href="#" class="box-image-frame box-image-frame--promotion">
                    <img class="d-none d-sm-block" data-src="https://cdn.luxstay.com/home/event/event_8_1570767636.jpg" src="https://cdn.luxstay.com/home/event/event_8_1570767636.jpg" lazy="loaded">
                    <img class="d-block d-sm-none" data-src="https://cdn.luxstay.com/home/event/event_9_1570767636.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading">
                    <div class="frame-shadow">
                      <img class="d-none d-sm-block" data-src="https://cdn.luxstay.com/home/event/event_8_1570767636.jpg" src="https://cdn.luxstay.com/home/event/event_8_1570767636.jpg" lazy="loaded">
                      <img class="d-block d-sm-none" data-src="https://cdn.luxstay.com/home/event/event_9_1570767636.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading">
                    </div>
                  </a>
                </div>
                <div>
                  <a href="#" class="box-image-frame box-image-frame--promotion">
                    <img class="d-none d-sm-block" data-src="https://cdn.luxstay.com/home/event/event_1_1571810748.jpg" src="https://cdn.luxstay.com/home/event/event_1_1571810748.jpg" lazy="loaded">
                    <img class="d-block d-sm-none" data-src="https://cdn.luxstay.com/home/event/event_2_1571810748.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading">
                    <div class="frame-shadow">
                      <img class="d-none d-sm-block" data-src="https://cdn.luxstay.com/home/event/event_1_1571810748.jpg" src="https://cdn.luxstay.com/home/event/event_1_1571810748.jpg" lazy="loaded">
                      <img class="d-block d-sm-none" data-src="https://cdn.luxstay.com/home/event/event_2_1571810748.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading">
                    </div>
                  </a></div>
                <div>
                  <a href="#" class="box-image-frame box-image-frame--promotion">
                    <img class="d-none d-sm-block" data-src="https://cdn.luxstay.com/home/event/event_1_1571832331.jpg" src="https://cdn.luxstay.com/home/event/event_1_1571832331.jpg" lazy="loaded">
                    <img class="d-block d-sm-none" data-src="https://cdn.luxstay.com/home/event/event_2_1571832331.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading">
                    <div class="frame-shadow">
                      <img class="d-none d-sm-block" data-src="https://cdn.luxstay.com/home/event/event_1_1571832331.jpg" src="https://cdn.luxstay.com/home/event/event_1_1571832331.jpg" lazy="loaded">
                      <img class="d-block d-sm-none" data-src="https://cdn.luxstay.com/home/event/event_2_1571832331.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading">
                    </div>
                  </a></div>
                <div>
                  <a href="#" class="box-image-frame box-image-frame--promotion">
                    <img class="d-none d-sm-block" data-src="https://cdn.luxstay.com/home/event/event_1_1571832331.jpg" src="https://cdn.luxstay.com/home/event/event_1_1571832331.jpg" lazy="loaded">
                    <img class="d-block d-sm-none" data-src="https://cdn.luxstay.com/home/event/event_2_1571832331.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading">
                    <div class="frame-shadow">
                      <img class="d-none d-sm-block" data-src="https://cdn.luxstay.com/home/event/event_1_1571832331.jpg" src="https://cdn.luxstay.com/home/event/event_1_1571832331.jpg" lazy="loaded">
                      <img class="d-block d-sm-none" data-src="https://cdn.luxstay.com/home/event/event_2_1571832331.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading">
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="text-orange semi-bold d-block d-sm-none mt--12">
          Xem thêm
        </a></div>
    </div>
  </div>
</div>