<div class="section">
  <div class="container container--md">
    <div>
      <div id="71">
        <div class="title mb--18"><h2 class="extra-bold p--giant">Giờ vàng ngàn ưu đãi!</h2>
          <p>Giảm 50% giá trị booking cho tất cả chỗ ở trên Luxstay khi nhập mã GIOVANG. Chương trình diễn ra khung giờ vàng 12:00-13:00 và 15:00-16:00 hôm nay. Book lẹ kẻo lỡ!</p>
        </div>
        <div class="row mt--12">
          <div class="col-xs-12">
            <div class="destination-wrap">
              <div id="section-gio-vang__slider">
                <div>
                  <a href="#" class="article is-relative">
                    <span class="is-block bg-img bg-img--85 radius-xs" style="background-image: url(https://cdn.luxstay.com/home/apartment/apartment_1_1571632092.jpg);"></span>
                    <div class="article__content">
                      <div class="article__title bold">HÀ NỘI</div>
                      <span class="article__excerpt"><p>ƯU ĐÃI 50%</p></span></div>
                  </a>
                </div>
                <div>
                  <a href="#" class="article is-relative">
                    <span class="is-block bg-img bg-img--85 radius-xs" style="background-image: url(https://cdn.luxstay.com/home/apartment/apartment_1_1571632092.jpg);"></span>
                    <div class="article__content">
                      <div class="article__title bold">HÀ NỘI</div>
                      <span class="article__excerpt"><p>ƯU ĐÃI 50%</p></span></div>
                  </a>
                </div>
                <div>
                  <a href="#" class="article is-relative">
                    <span class="is-block bg-img bg-img--85 radius-xs" style="background-image: url(https://cdn.luxstay.com/home/apartment/apartment_1_1571632092.jpg);"></span>
                    <div class="article__content">
                      <div class="article__title bold">HÀ NỘI</div>
                      <span class="article__excerpt"><p>ƯU ĐÃI 50%</p></span></div>
                  </a>
                </div>
                <div>
                  <a href="#" class="article is-relative">
                    <span class="is-block bg-img bg-img--85 radius-xs" style="background-image: url(https://cdn.luxstay.com/home/apartment/apartment_1_1571632092.jpg);"></span>
                    <div class="article__content">
                      <div class="article__title bold">HÀ NỘI</div>
                      <span class="article__excerpt"><p>ƯU ĐÃI 50%</p></span></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>