<div class="section">
  <div class="container container--md">
    <div>
      <div>
        <div class="is-flex jbetween align-end">
          <div class="title"><h2 class="extra-bold p--giant">
              <a href="/vi/homestay/choices/82" class="">Top chỗ ở hot 1000 độ</a></h2>
            <p>Khám phá chỗ ở nổi tiếng đã xuất hiện trong các bộ phim &amp; MV</p></div>
          <a href="/vi/homestay/choices/82" class="text-orange semi-bold d-none d-sm-inline">
            Xem thêm
          </a></div>
        <div class="room-carousel-wrap">
          <div class="slick-initialized slick-slider">
            <button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="">Previous</button>
            <div class="slick-list draggable">
              <div class="slick-track" style="opacity: 1; width: 1840px; transform: translate3d(0px, 0px, 0px);">
                <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 230px;">
                  <div>
                    <div style="width: 100%; display: inline-block;">
                      <div class="promo is-relative">
                        <a href="/vi/rooms/22342" class="" target="_blank" data-value="22342" tabindex="0">
                          <div class="promo__image">
                            <div class="promo__image-wrap">
                              <img width="270" height="192" elementtiming="product" class="w--100" data-src="https://cdn.luxstay.com/rooms/22342/medium/room_22342_3_1557413862.jpg" src="https://cdn.luxstay.com/rooms/22342/medium/room_22342_3_1557413862.jpg" lazy="loaded"> <!---->
                            </div>
                            <div class="is-absolute promo__label-wrap"><!----> <!----></div>
                          </div>
                        </a> <!---->
                        <div class="promo__content">
                          <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                            Biệt Thự
                            <!----></div>
                          <div class="is-relative">
                            <a href="/vi/rooms/22342" class="" target="_blank" id="room-item" data-value="22342" tabindex="0">
                              <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;"><!---->
                                Villa Anne Fleur - Luxury stay Pool &amp; BBQ Cottage
                              </div>
                            </a>
                            <div class="promo__description my--6 text-lowercase">12 khách · 5 Phòng ngủ · 4 phòng tắm</div>
                            <div class="promo__price mb--6"><!---->
                              <span class="extra-bold"><span>10,000,000₫</span>/đêm</span> <!----></div>
                            <div class="promo__add mb--6 promo__add mb--6">Lương Sơn, Hòa Bình</div>
                            <div class="promo__review">
                              <div class="star-rating d-inline-block">
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 12 12" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <g fill="none" fill-rule="evenodd">
                                    <path pid="0" d="M12 4.65c0 .111-.062.232-.188.363L9.195 7.69l.62 3.78c.005.036.007.086.007.152a.46.46 0 0 1-.076.268.25.25 0 0 1-.22.11.564.564 0 0 1-.288-.09L6 10.124l-3.238 1.784a.592.592 0 0 1-.288.091c-.101 0-.177-.037-.228-.11a.46.46 0 0 1-.075-.268c0-.03.004-.08.014-.151l.62-3.781L.18 5.013C.06 4.877 0 4.756 0 4.65c0-.186.135-.302.404-.348l3.62-.552L5.647.31C5.738.103 5.856 0 6 0s.262.103.353.31l1.623 3.44 3.62.552c.27.046.404.162.404.348z" fill="#E6E6E6"></path>
                                    <path pid="1" d="M6 10.125l-3.238 1.784a.592.592 0 0 1-.288.091c-.101 0-.177-.037-.228-.11a.46.46 0 0 1-.075-.268c0-.03.004-.08.014-.151l.62-3.781L.18 5.013C.06 4.877 0 4.756 0 4.65c0-.186.135-.302.404-.348l3.62-.552L5.647.31C5.738.103 5.856 0 6 0c.028 0 0 .36 0 .977v9.148z" fill="#FFB025"></path>
                                  </g>
                                </svg>
                              </div>
                              <span class="promo__review-count p--small">3</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 230px;">
                  <div>
                    <div style="width: 100%; display: inline-block;">
                      <div class="promo is-relative">
                        <a href="/vi/rooms/23625" class="" target="_blank" data-value="23625" tabindex="0">
                          <div class="promo__image">
                            <div class="promo__image-wrap">
                              <img width="270" height="192" elementtiming="product" class="w--100" data-src="https://cdn.luxstay.com/rooms/23625/medium/room_23625_169_1566978422.jpg" src="https://cdn.luxstay.com/rooms/23625/medium/room_23625_169_1566978422.jpg" lazy="loaded"> <!---->
                            </div>
                            <div class="is-absolute promo__label-wrap"><!----> <!----></div>
                          </div>
                        </a> <!---->
                        <div class="promo__content">
                          <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                            Nhà riêng
                            <!----></div>
                          <div class="is-relative">
                            <a href="/vi/rooms/23625" class="" target="_blank" id="room-item" data-value="23625" tabindex="0">
                              <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;">
                                <svg version="1.1" viewBox="0 0 20 20" class="is-instant-book mr--6 svg-icon svg-fill" style="width: 20px; height: 20px;">
                                  <title>Đặt phòng ngay, không cần đợi chủ nhà phê duyệt</title>
                                  <defs>
                                    <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="svgicon_instant_book_a">
                                      <stop stop-color="#F68A39" offset="0%"></stop>
                                      <stop stop-color="#F65E39" offset="100%"></stop>
                                    </linearGradient>
                                  </defs>
                                  <g fill="none" fill-rule="evenodd">
                                    <circle pid="0" fill="url(#svgicon_instant_book_a)" cx="10" cy="10" r="10"></circle>
                                    <path pid="1" d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z" fill="#FFF"></path>
                                  </g>
                                </svg>
                                Ruahouse Mountain Hamlet – Nguyên căn 4 phòng ngủ
                              </div>
                            </a>
                            <div class="promo__description my--6 text-lowercase">12 khách · 4 Phòng ngủ · 4 phòng tắm</div>
                            <div class="promo__price mb--6"><!---->
                              <span class="extra-bold"><span>6,400,000₫</span>/đêm</span> <!----></div>
                            <div class="promo__add mb--6 promo__add mb--6">Sa Pa, Lào Cai</div> <!---->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 230px;">
                  <div>
                    <div style="width: 100%; display: inline-block;">
                      <div class="promo is-relative">
                        <a href="/vi/rooms/17991" class="" target="_blank" data-value="17991" tabindex="0">
                          <div class="promo__image">
                            <div class="promo__image-wrap">
                              <img width="270" height="192" elementtiming="product" class="w--100" data-src="https://cdn.luxstay.com/rooms/17991/medium/room_17991_21_1544630429.jpg" src="https://cdn.luxstay.com/rooms/17991/medium/room_17991_21_1544630429.jpg" lazy="loaded"> <!---->
                            </div>
                            <div class="is-absolute promo__label-wrap"><!----> <!----></div>
                          </div>
                        </a> <!---->
                        <div class="promo__content">
                          <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                            Khác
                            <!----></div>
                          <div class="is-relative">
                            <a href="/vi/rooms/17991" class="" target="_blank" id="room-item" data-value="17991" tabindex="0">
                              <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;">
                                <svg version="1.1" viewBox="0 0 20 20" class="is-instant-book mr--6 svg-icon svg-fill" style="width: 20px; height: 20px;">
                                  <title>Đặt phòng ngay, không cần đợi chủ nhà phê duyệt</title>
                                  <defs>
                                    <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="svgicon_instant_book_a">
                                      <stop stop-color="#F68A39" offset="0%"></stop>
                                      <stop stop-color="#F65E39" offset="100%"></stop>
                                    </linearGradient>
                                  </defs>
                                  <g fill="none" fill-rule="evenodd">
                                    <circle pid="0" fill="url(#svgicon_instant_book_a)" cx="10" cy="10" r="10"></circle>
                                    <path pid="1" d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z" fill="#FFF"></path>
                                  </g>
                                </svg>
                                Quetoi Village Resort - Experience a truly Vietnam - Beachfront Villa A
                              </div>
                            </a>
                            <div class="promo__description my--6 text-lowercase">3 khách · 1 Phòng ngủ · 1 phòng tắm</div>
                            <div class="promo__price mb--6"><!---->
                              <span class="extra-bold"><span>1,520,000₫</span>/đêm</span> <!----></div>
                            <div class="promo__add mb--6 promo__add mb--6">Sông Cầu, Phú Yên</div>
                            <div class="promo__review">
                              <div class="star-rating d-inline-block">
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                              </div>
                              <span class="promo__review-count p--small">1</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 230px;">
                  <div>
                    <div style="width: 100%; display: inline-block;">
                      <div class="promo is-relative">
                        <a href="/vi/rooms/29628" class="" target="_blank" data-value="29628" tabindex="0">
                          <div class="promo__image">
                            <div class="promo__image-wrap">
                              <img width="270" height="192" elementtiming="product" class="w--100" data-src="https://cdn.luxstay.com/rooms/29628/medium/room_29628_103_1565668865.jpg" src="https://cdn.luxstay.com/rooms/29628/medium/room_29628_103_1565668865.jpg" lazy="loaded"> <!---->
                            </div>
                            <div class="is-absolute promo__label-wrap"><!----> <!----></div>
                          </div>
                        </a> <!---->
                        <div class="promo__content">
                          <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                            Biệt Thự
                            <!----></div>
                          <div class="is-relative">
                            <a href="/vi/rooms/29628" class="" target="_blank" id="room-item" data-value="29628" tabindex="0">
                              <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;"><!---->
                                Villa Tam Đảo_Spring Moon_HomeLead
                              </div>
                            </a>
                            <div class="promo__description my--6 text-lowercase">20 khách · 5 Phòng ngủ · 7 phòng tắm</div>
                            <div class="promo__price mb--6"><!---->
                              <span class="extra-bold"><span>16,000,000₫</span>/đêm</span> <!----></div>
                            <div class="promo__add mb--6 promo__add mb--6">Tam Đảo, Vĩnh Phúc</div> <!---->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 230px;">
                  <div>
                    <div style="width: 100%; display: inline-block;">
                      <div class="promo is-relative">
                        <a href="/vi/rooms/29337" class="" target="_blank" data-value="29337" tabindex="0">
                          <div class="promo__image">
                            <div class="promo__image-wrap">
                              <img width="270" height="192" elementtiming="product" class="w--100" data-src="https://cdn.luxstay.com/rooms/29337/medium/room_29337_10_1565232859.jpg" src="https://cdn.luxstay.com/rooms/29337/medium/room_29337_10_1565232859.jpg" lazy="loaded"> <!---->
                            </div>
                            <div class="is-absolute promo__label-wrap"><!----> <!----></div>
                          </div>
                        </a> <!---->
                        <div class="promo__content">
                          <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                            Biệt Thự
                            <!----></div>
                          <div class="is-relative">
                            <a href="/vi/rooms/29337" class="" target="_blank" id="room-item" data-value="29337" tabindex="0">
                              <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;"><!---->
                                Ohara villa 05
                              </div>
                            </a>
                            <div class="promo__description my--6 text-lowercase">8 khách · 2 Phòng ngủ · 2 phòng tắm</div>
                            <div class="promo__price mb--6"><!---->
                              <span class="extra-bold"><span>1,100,000₫</span>/đêm</span> <!----></div>
                            <div class="promo__add mb--6 promo__add mb--6">Kỳ Sơn, Hòa Bình</div>
                            <div class="promo__review">
                              <div class="star-rating d-inline-block">
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                              </div>
                              <span class="promo__review-count p--small">1</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 230px;" tabindex="-1">
                  <div>
                    <div style="width: 100%; display: inline-block;">
                      <div class="promo is-relative">
                        <a href="/vi/rooms/19320" class="" target="_blank" data-value="19320" tabindex="-1">
                          <div class="promo__image">
                            <div class="promo__image-wrap">
                              <img width="270" height="192" elementtiming="product" class="w--100" data-src="https://cdn.luxstay.com/rooms/19320/medium/room_19320_93_1547036536.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading"> <!---->
                            </div>
                            <div class="is-absolute promo__label-wrap"><!----> <!----></div>
                          </div>
                        </a> <!---->
                        <div class="promo__content">
                          <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                            Biệt Thự
                            <!----></div>
                          <div class="is-relative">
                            <a href="/vi/rooms/19320" class="" target="_blank" id="room-item" data-value="19320" tabindex="-1">
                              <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;"><!---->
                                The Factory - Ba Vì
                              </div>
                            </a>
                            <div class="promo__description my--6 text-lowercase">30 khách · 10 Phòng ngủ · 10 phòng tắm</div>
                            <div class="promo__price mb--6"><!---->
                              <span class="extra-bold"><span>7,500,000₫</span>/đêm</span> <!----></div>
                            <div class="promo__add mb--6 promo__add mb--6">Ba Vì, Hà Nội</div>
                            <div class="promo__review">
                              <div class="star-rating d-inline-block">
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                              </div>
                              <span class="promo__review-count p--small">1</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="6" aria-hidden="true" style="width: 230px;" tabindex="-1">
                  <div>
                    <div style="width: 100%; display: inline-block;">
                      <div class="promo is-relative">
                        <a href="/vi/rooms/13489" class="" target="_blank" data-value="13489" tabindex="-1">
                          <div class="promo__image">
                            <div class="promo__image-wrap">
                              <img width="270" height="192" elementtiming="product" class="w--100" data-src="https://cdn.luxstay.com/rooms/13489/medium/1531120224_AUBE0293-min.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading"> <!---->
                            </div>
                            <div class="is-absolute promo__label-wrap"><!----> <!----></div>
                          </div>
                        </a> <!---->
                        <div class="promo__content">
                          <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                            Căn hộ Studio
                            <!----></div>
                          <div class="is-relative">
                            <a href="/vi/rooms/13489" class="" target="_blank" id="room-item" data-value="13489" tabindex="-1">
                              <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;">
                                <svg version="1.1" viewBox="0 0 20 20" class="is-instant-book mr--6 svg-icon svg-fill" style="width: 20px; height: 20px;">
                                  <title>Đặt phòng ngay, không cần đợi chủ nhà phê duyệt</title>
                                  <defs>
                                    <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="svgicon_instant_book_a">
                                      <stop stop-color="#F68A39" offset="0%"></stop>
                                      <stop stop-color="#F65E39" offset="100%"></stop>
                                    </linearGradient>
                                  </defs>
                                  <g fill="none" fill-rule="evenodd">
                                    <circle pid="0" fill="url(#svgicon_instant_book_a)" cx="10" cy="10" r="10"></circle>
                                    <path pid="1" d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z" fill="#FFF"></path>
                                  </g>
                                </svg>
                                Bawhome - Casa D' Arte
                              </div>
                            </a>
                            <div class="promo__description my--6 text-lowercase">5 khách · 1 Phòng ngủ · 1 phòng tắm</div>
                            <div class="promo__price mb--6"><!---->
                              <span class="extra-bold"><span>1,150,000₫</span>/đêm</span> <!----></div>
                            <div class="promo__add mb--6 promo__add mb--6">Hoàn Kiếm, Hà Nội</div>
                            <div class="promo__review">
                              <div class="star-rating d-inline-block">
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                                <svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;">
                                  <path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path>
                                </svg>
                              </div>
                              <span class="promo__review-count p--small">8</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="7" aria-hidden="true" style="width: 230px;" tabindex="-1">
                  <div>
                    <div style="width: 100%; display: inline-block;">
                      <div class="promo is-relative">
                        <a href="/vi/rooms/14804" class="" target="_blank" data-value="14804" tabindex="-1">
                          <div class="promo__image">
                            <div class="promo__image-wrap">
                              <img width="270" height="192" elementtiming="product" class="w--100" data-src="https://cdn.luxstay.com/rooms/14804/medium/1536218017_41045756_1184021131748289_6537615651068968960_n.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading"> <!---->
                            </div>
                            <div class="is-absolute promo__label-wrap"><!----> <!----></div>
                          </div>
                        </a> <!---->
                        <div class="promo__content">
                          <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                            Biệt Thự
                            <!----></div>
                          <div class="is-relative">
                            <a href="/vi/rooms/14804" class="" target="_blank" id="room-item" data-value="14804" tabindex="-1">
                              <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;">
                                <svg version="1.1" viewBox="0 0 20 20" class="is-instant-book mr--6 svg-icon svg-fill" style="width: 20px; height: 20px;">
                                  <title>Đặt phòng ngay, không cần đợi chủ nhà phê duyệt</title>
                                  <defs>
                                    <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="svgicon_instant_book_a">
                                      <stop stop-color="#F68A39" offset="0%"></stop>
                                      <stop stop-color="#F65E39" offset="100%"></stop>
                                    </linearGradient>
                                  </defs>
                                  <g fill="none" fill-rule="evenodd">
                                    <circle pid="0" fill="url(#svgicon_instant_book_a)" cx="10" cy="10" r="10"></circle>
                                    <path pid="1" d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z" fill="#FFF"></path>
                                  </g>
                                </svg>
                                Secret Garden Villa
                              </div>
                            </a>
                            <div class="promo__description my--6 text-lowercase">8 khách · 3 Phòng ngủ · 3 phòng tắm</div>
                            <div class="promo__price mb--6"><!---->
                              <span class="extra-bold"><span>2,000,000₫</span>/đêm</span> <!----></div>
                            <div class="promo__add mb--6 promo__add mb--6">Cần Đước, Long An</div> <!---->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="slick-next slick-arrow" aria-label="Next" type="button" style="" aria-disabled="false">Next</button>
          </div>
        </div>
        <a href="/vi/homestay/choices/82" class="text-orange semi-bold d-block d-sm-none mt--12">
          Xem thêm
        </a></div>
    </div>
  </div>
</div>