<?php
  
  use Util\GeneralUtil;

?>

<div class="section">
  <div class="container container--md">
    <div>
      <div class="row">
        <div class="is-flex jbetween align-end">
          <div class="title"><h2 class="extra-bold p--giant">
              <a href="#" class="">Deal mới mỗi ngày</a></h2>
            <p>Khám phá ngay chỗ ở mới giảm đến 50%. Nhập mã OCTOBER để nhận thêm giảm giá lên tới 1 triệu đồng!</p>
          </div>
          <a href="#" class="text-orange semi-bold d-none d-sm-inline">
            Xem thêm
          </a></div>
        <div class="col-xs-12">
          <div id="section-noi-dung__slider" class="">
            <?php
              foreach ($arrItemList as $arrItem):
                $itemLink = $this->url->get(['for' => 'backend:item:edit', 'id' => $arrItem['item_id'], 'page' => 1])
                ?>
                <div>
                  <div>
                    <div class="promo is-relative">
                      <a href="<?php echo $itemLink ?>" class="" target="_blank" rel="nofollow">
                        <div class="promo__image">
                          <div class="promo__image-wrap">
                            <img class="w--100" src="<?php echo $arrItem['item_feature_image'] ?>">
                          </div>
                          <div class="is-absolute promo__label-wrap">
                            <span class="promo__label is-promotion"><?php echo $arrItem['district_name'] ?></span>
                          </div>
                          <div class="is-absolute promo__label-wrap">
                            <span class="promo__label is-promotion"><?php echo $arrItem['district_name'] ?></span>
                          </div>
                          <div class="is-absolute promo__label-wrap">
                            <span class="promo__label is-promotion"><?php echo $arrItem['district_name'] ?></span>
                          </div>
                        </div>
                      </a>
                      <div class="promo__content">
                        <div class="promo__type bold" style="-webkit-box-orient: vertical;">
                          <?php echo GeneralUtil::$arrCategories[ $arrItem['category_id'] ] ?>
                        </div>
                        <div class="is-relative">
                          <a href="<?php echo $itemLink ?>" class="" target="_blank" id="room-item">
                            <div class="promo__title extra-bold" style="-webkit-box-orient: vertical;">
                              <svg version="1.1" viewBox="0 0 20 20" class="is-instant-book mr--6 svg-icon svg-fill">
                                <defs>
                                  <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="svgicon_instant_book_a">
                                    <stop stop-color="#F68A39" offset="0%"></stop>
                                    <stop stop-color="#F65E39" offset="100%"></stop>
                                  </linearGradient>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                  <circle pid="0" fill="url(#svgicon_instant_book_a)" cx="10" cy="10" r="10"></circle>
                                  <path pid="1" d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z" fill="#FFF"></path>
                                </g>
                              </svg>
                              <?php echo $arrItem['item_name'] ?>
                            </div>
                          </a>
                          <div class="promo__description my--6 text-lowercase"><?php echo $arrItem['item_description'] ?></div>
                          <div class="promo__price mb--6">
                            <span class="extra-bold"><span><?php echo number_format($arrItem['price']) ?>₫</span>/đêm</span>
                          </div>
                          <div class="promo__add mb--6 promo__add mb--6">
                            <a href="/vi/vietnam/ha-noi/soc-son" class=""><?php echo $arrItem['city_name'] ?></a>,
                            <a href="/vi/vietnam/ha-noi" class=""><?php echo $arrItem['district_name'] ?></a>,
                            <a href="/vi/vietnam" class=""><?php echo $arrItem['ward_name'] ?></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <?php endforeach; ?>
          </div>
        </div>
        <a href="#" class="text-orange semi-bold d-block d-sm-none mt--12">
          Xem thêm
        </a></div>
    </div>
  </div>
</div>
