<div class="section">
  <div class="container container--md">
    <div>
      <div id="29">
        <div class="title"><h2 class="extra-bold p--giant">Địa điểm nổi bật</h2>
          <p class="d-none d-md-block">Cùng Luxstay bắt đầu chuyến hành trình chinh phục thế giới của bạn</p>
        </div>
        <div class="row mt--12">
          <div class="col-xs-12">
            <div>
              <div id="section-dia-diem__slider">
                <div>
                  <a href="/vietnam/lam-dong/da-lat" target="_blank">
                    <div class="product is-relative">
                      <div class="product__cover">
                        <img class="product__image" data-src="https://cdn.luxstay.com/home/location/location_4_1559786177.png" src="https://cdn.luxstay.com/home/location/location_4_1559786177.png" lazy="loaded">
                      </div>
                      <div class="product__content is-absolute white-deep">
                        <div class="product__title extra-bold">Đà Lạt</div>
                        <span class="product__price d-block"><b>1951</b> Chỗ ở</span></div>
                    </div>
                  </a></div>
                <div>
                  <a href="/vietnam/lam-dong/da-lat" target="_blank">
                    <div class="product is-relative">
                      <div class="product__cover">
                        <img class="product__image" data-src="https://cdn.luxstay.com/home/location/location_4_1559786177.png" src="https://cdn.luxstay.com/home/location/location_4_1559786177.png" lazy="loaded">
                      </div>
                      <div class="product__content is-absolute white-deep">
                        <div class="product__title extra-bold">Đà Lạt</div>
                        <span class="product__price d-block"><b>1951</b> Chỗ ở</span></div>
                    </div>
                  </a></div>
                <div>
                  <a href="/vietnam/lam-dong/da-lat" target="_blank">
                    <div class="product is-relative">
                      <div class="product__cover">
                        <img class="product__image" data-src="https://cdn.luxstay.com/home/location/location_4_1559786177.png" src="https://cdn.luxstay.com/home/location/location_4_1559786177.png" lazy="loaded">
                      </div>
                      <div class="product__content is-absolute white-deep">
                        <div class="product__title extra-bold">Đà Lạt</div>
                        <span class="product__price d-block"><b>1951</b> Chỗ ở</span></div>
                    </div>
                  </a></div>
                <div>
                  <a href="/vietnam/lam-dong/da-lat" target="_blank">
                    <div class="product is-relative">
                      <div class="product__cover">
                        <img class="product__image" data-src="https://cdn.luxstay.com/home/location/location_4_1559786177.png" src="https://cdn.luxstay.com/home/location/location_4_1559786177.png" lazy="loaded">
                      </div>
                      <div class="product__content is-absolute white-deep">
                        <div class="product__title extra-bold">Đà Lạt</div>
                        <span class="product__price d-block"><b>1951</b> Chỗ ở</span></div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>