<div class="section">
  <div class="container container--md">
    <div>
      <div id="26" description="Không gian ưa thích">
        <div class="title"><h2 class="extra-bold p--giant">Không gian ưa thích</h2></div>
        <div class="row mt--24">
          <div class="col-xs-12">
            <div>
              <div id="section-khong-gian__slider">
                <div>
                  <div style="width: 100%; display: inline-block;">
                    <div class="triptype">
                      <a href="https://www.luxstay.com/vi/s/?property_type=31&amp;property_type=1" class="triptype__link" tabindex="0"></a>
                      <div class="triptype__cover">
                        <img elementtiming="trip-type" data-src="https://cdn.luxstay.com/home/suggestion/location_6_1559374508.png" src="https://cdn.luxstay.com/home/suggestion/location_6_1559374508.png" lazy="loaded">
                      </div>
                      <div class="triptype__title"><p class="bold p--large mb--0">Căn hộ</p></div>
                    </div>
                  </div>
                </div>
                <div>
                  <div style="width: 100%; display: inline-block;">
                    <div class="triptype">
                      <a href="https://www.luxstay.com/vi/s/?property_type=9" class="triptype__link" tabindex="0"></a>
                      <div class="triptype__cover">
                        <img elementtiming="trip-type" data-src="https://cdn.luxstay.com/home/suggestion/location_7_1559374536.png" src="https://cdn.luxstay.com/home/suggestion/location_7_1559374536.png" lazy="loaded">
                      </div>
                      <div class="triptype__title"><p class="bold p--large mb--0">Biệt thự</p></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>