<div class="section">
  <div class="container container--md">
    <div>
      <div id="36" readmore="36">
        <div class="title"><h2 class="extra-bold p--giant">Hướng dẫn sử dụng</h2>
          <p>Đặt chỗ nhanh, thanh toán đơn giản, sử dụng dễ dàng</p></div>
        <div class="slick-initialized slick-slider">
          <button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="">Previous</button>
          <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 1920px; transform: translate3d(0px, 0px, 0px);">
              <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 384px;">
                <div>
                  <div class="bg-img bg-img--95 is-relative radius-xs gutter-mt" style="width: 100%; display: inline-block; background-image: url(&quot;https://cdn.luxstay.com/home/theme/theme_2_1566370078.png&quot;);" data-src="https://cdn.luxstay.com/home/theme/theme_2_1566370078.png" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/cau-hoi-thuong-gap/huong-dan-thanh-toan-chuyen-khoan-ngan-hang.html" target="_blank" rel="noopener" tabindex="0">
                      <div class="card is-absolute is-absolute--tl w--100 h--100">
                        <div class="card__inner"><h4 class="card__title">Chuyển khoản ngân hàng</h4></div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 384px;">
                <div>
                  <div class="bg-img bg-img--95 is-relative radius-xs gutter-mt" style="width: 100%; display: inline-block; background-image: url(&quot;https://cdn.luxstay.com/home/theme/theme_1_1566370014.png&quot;);" data-src="https://cdn.luxstay.com/home/theme/theme_1_1566370014.png" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/khuyen-mai/them-ban-them-vui.html" target="_blank" rel="noopener" tabindex="0">
                      <div class="card is-absolute is-absolute--tl w--100 h--100">
                        <div class="card__inner"><h4 class="card__title">Hướng dẫn mời bạn bè</h4></div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 384px;">
                <div>
                  <div class="bg-img bg-img--95 is-relative radius-xs gutter-mt" style="width: 100%; display: inline-block; background-image: url(&quot;https://cdn.luxstay.com/home/theme/theme_3_1566370099.png&quot;);" data-src="https://cdn.luxstay.com/home/theme/theme_3_1566370099.png" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/cau-hoi-thuong-gap/huong-dan-thanh-toan-truc-tuyen.html" target="_blank" rel="noopener" tabindex="0">
                      <div class="card is-absolute is-absolute--tl w--100 h--100">
                        <div class="card__inner"><h4 class="card__title">Cổng thanh toán trực tuyến</h4>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="bg-img bg-img--95 is-relative radius-xs gutter-mt" style="width: 100%; display: inline-block; background-image: url(&quot;https://cdn.luxstay.com/home/theme/theme_4_1566370117.png&quot;);" data-src="https://cdn.luxstay.com/home/theme/theme_4_1566370117.png" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/cau-hoi-thuong-gap/huong-dan-dat-phong-tai-luxstay.html" target="_blank" rel="noopener" tabindex="-1">
                      <div class="card is-absolute is-absolute--tl w--100 h--100">
                        <div class="card__inner"><h4 class="card__title">Cách đặt phòng trên Luxstay</h4>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="bg-img bg-img--95 is-relative radius-xs gutter-mt" style="width: 100%; display: inline-block; background-image: url(&quot;https://cdn.luxstay.com/home/theme/theme_6_1566370227.png&quot;);" data-src="https://cdn.luxstay.com/home/theme/theme_6_1566370227.png" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/cau-hoi-thuong-gap/huong-dan-su-dung-ma-khuyen-mai.html" target="_blank" rel="noopener" tabindex="-1">
                      <div class="card is-absolute is-absolute--tl w--100 h--100">
                        <div class="card__inner"><h4 class="card__title">Cách sử dụng mã giảm giá</h4>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
            </div>
          </div>
          <button class="slick-next slick-arrow" aria-label="Next" type="button" style="" aria-disabled="false">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>