<div class="section">
  <div class="container container--md">
    <div>
      <div id="32" readmore="32">
        <div class="title"><h2 class="extra-bold p--giant">Gợi ý khám phá</h2>
          <p>Để mỗi chuyến đi là một hành trình truyền cảm hứng, mỗi căn phòng là một khoảng trời an yên</p>
        </div>
        <div class="slick-initialized slick-slider">
          <button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="">Previous</button>
          <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 5760px; transform: translate3d(0px, 0px, 0px);">
              <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 384px;">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;https://www.luxstay.com/blog/wp-content/uploads/2019/10/thumb.png&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/10/thumb.png" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/?p=15247" target="_blank" tabindex="0">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/homestay" target="_blank" class="post__category" tabindex="0">Thông tin homestay</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 384px;">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;https://www.luxstay.com/blog/wp-content/uploads/2019/10/Golden80_Adaptsize_Facebook-BlogBanner_1200x628-1024x536.jpg&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/10/Golden80_Adaptsize_Facebook-BlogBanner_1200x628-1024x536.jpg" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/?p=15231" target="_blank" tabindex="0">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/khuyen-mai" target="_blank" class="post__category" tabindex="0">Khuyến mãi HOT 2019</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 384px;">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;https://www.luxstay.com/blog/wp-content/uploads/2019/09/a-1024x536.jpg&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/a-1024x536.jpg" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/?p=15065" target="_blank" tabindex="0">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/khuyen-mai" target="_blank" class="post__category" tabindex="0">Khuyến mãi HOT 2019</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;https://www.luxstay.com/blog/wp-content/uploads/2019/10/1200x628-1024x536.png&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/10/1200x628-1024x536.png" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/?p=15208" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/thong-tin-cho-chu-nha" target="_blank" class="post__category" tabindex="-1">Thông tin hữu ích dành cho chủ nhà (For host)</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;https://www.luxstay.com/blog/wp-content/uploads/2019/10/1200x628-1-1-1024x536.png&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/10/1200x628-1-1-1024x536.png" lazy="loaded">
                    <a href="https://www.luxstay.com/blog/?p=15178" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/khuyen-mai" target="_blank" class="post__category" tabindex="-1">Khuyến mãi HOT 2019</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/10/Untitled-1-1024x536.png" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=15111" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/homestay" target="_blank" class="post__category" tabindex="-1">Thông tin homestay</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="6" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/BANNER-03-1024x536.jpg" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=14862" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/homestay" target="_blank" class="post__category" tabindex="-1">Thông tin homestay</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="7" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/BANNER-04-1024x536.jpg" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=15077" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/homestay" target="_blank" class="post__category" tabindex="-1">Thông tin homestay</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/new-1024x535.png" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=15040" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/thong-tin-cho-chu-nha" target="_blank" class="post__category" tabindex="-1">Thông tin hữu ích dành cho chủ nhà (For host)</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="9" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/70388446_839597159775835_3867274461254254592_n-1024x536.jpg" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=14949" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/khuyen-mai" target="_blank" class="post__category" tabindex="-1">Khuyến mãi HOT 2019</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="10" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/Untitled-1-03-1024x536.jpg" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=14946" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/khuyen-mai" target="_blank" class="post__category" tabindex="-1">Khuyến mãi HOT 2019</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="11" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/banner-01-1-1024x536.jpg" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=14919" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/homestay" target="_blank" class="post__category" tabindex="-1">Thông tin homestay</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="12" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/banner-07-1024x536.jpg" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=14850" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/khuyen-mai" target="_blank" class="post__category" tabindex="-1">Khuyến mãi HOT 2019</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="13" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/Untitled-1-1024x536.png" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=14877" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/homestay" target="_blank" class="post__category" tabindex="-1">Thông tin homestay</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="slick-slide" data-slick-index="14" aria-hidden="true" style="width: 384px;" tabindex="-1">
                <div>
                  <div class="post bg-img bg-img--85 radius-xs is-relative" style="width: 100%; display: inline-block; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);" data-src="https://www.luxstay.com/blog/wp-content/uploads/2019/09/1200x628-1024x536.jpg" lazy="loading">
                    <a href="https://www.luxstay.com/blog/?p=14832" target="_blank" tabindex="-1">
                      <div class="post__inner is-flex column between-xs is-absolute is-absolute--tl w--100 h--100">
                        <div class="post__header">
                          <a href="https://www.luxstay.com/blog/khuyen-mai" target="_blank" class="post__category" tabindex="-1">Khuyến mãi HOT 2019</a>
                        </div>
                      </div>
                    </a></div>
                </div>
              </div>
            </div>
          </div>
          <button class="slick-next slick-arrow" aria-label="Next" type="button" style="" aria-disabled="false">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>