<!-- #breadcrumbs -->
<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="body block-header">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>Phân quyền</h2>
            <ul class="breadcrumb p-l-0 p-b-0 ">
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:home']) ?>"><i class="icon-home"></i></a></li>
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:home']) ?>">Dashboard</a></li>
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:group:index']) ?>">Nhóm</a></li>
              <li class="breadcrumb-item active">Phân quyền</li
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #END# #breadcrumbs -->

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="header">
        <?php if ($this->flashSession->has('success')): ?>
          <div class="alert alert-success">
            <i class="material-icons">error_outline</i>&nbsp; <?php echo current($this->flashSession->getMessages('success')) ?>
          </div>
        <?php endif; ?>
        <?php if ($this->flashSession->has('error')): ?>
          <div class="alert alert-error">
            <i class="material-icons">error_outline</i>&nbsp; <?php echo current($this->flashSession->getMessages('error')) ?>
          </div>
        <?php endif; ?>
      </div>
      <div class="body">
        <?php if ($arrGroupResourceList): ?>
          <div class="row clearfix">
            <?php foreach ($arrGroupResourceList as $arrResourceList): ?>
              <div class="kc__display-flex col-lg-12 col-md-12 col-sm-12">
                <?php
                  foreach ($arrResourceList as $arrResource):
                    $strModuleName = strtolower($arrResource['module']);
                    $strControllerName = strtolower($arrResource['controller']);
                    ?>
                    <div class="col-lg-6 col-md-6">
                      <div class="js-group-permission-block css-group-permission-block wrapper card">
                        <div class="header">
                          <h2>
                            <div class="checkbox inlineblock">
                              <input type="checkbox" class="js-group-permission-block__check-all"
                                  id="<?php echo $strControllerName ?>" name="" value="1"/>
                              <label for="<?php echo $strControllerName ?>">
                        <span class="badge badge-primary">
                          <?php echo $strControllerName; ?>
                        </span>
                              </label>
                            </div>
                          </h2>
                          <ul class="header-dropdown">
                            <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-haspopup="true" aria-expanded="false">
                                <i class="zmdi zmdi-more"></i> </a>
                            </li>
                            <li class="remove">
                              <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                          </ul>
                        </div>
                        <div class="body">
                          <?php if ($arrResource['action']): ?>
                            <ul class="list-group">
                              <?php
                                foreach ($arrResource['action'] as $key => $strAction):
                                  $strResource = $strModuleName . ':' . $strControllerName . ':' . strtolower($strAction);
                                  ?>
                                  <li class="list-group-item">
                                    <div class="checkbox inlineblock">
                                      <input type="checkbox" class="js-group-permission-block__action-name"
                                          id="<?php echo $strResource . $key; ?>" name="js-group-permission-block__action-name"
                                          value="<?php echo $strResource; ?>"
                                        <?php echo in_array($strResource, $arrAllowedResource) ? 'checked="checked"' : ''; ?> />
                                      <label for="<?php echo $strResource . $key; ?>">
                          <span class="badge badge-primary">
                            <?php echo $strAction; ?>
                          </span>
                                      </label>
                                    </div>
                                  </li>
                                <?php endforeach; ?>
                            </ul>
                          <?php endif; ?>
                        </div>
                      </div>
                    </div>
                  <?php endforeach; ?>
              </div>
            <?php endforeach; ?>
          </div>
        <?php endif; ?>
      </div>
    </div>
  </div>
</div>
<script>
  var ajaxOptions = {
    xhrAddGroupPermissionUrl: '<?php echo $this->url->get(['for' => 'backend', 'controller' => 'group', 'action' => 'xhrAddGroupPermission']); ?>',
    xhrDeleteGroupPermissionUrl: '<?php echo $this->url->get(['for' => 'backend', 'controller' => 'group', 'action' => 'xhrDeleteGroupPermission']); ?>',

    groupID: <?php echo !empty($arrGroupDetail['group_id']) ? (int)$arrGroupDetail['group_id'] : 0 ?>
  };
</script>