<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex">
    <title>Thue nha re</title>
    <link rel="icon" href="<?php echo STATIC_URL . '/common/image/logo.png' ?>" type="image/x-icon"/>
    <link rel="shortcut icon" href="<?php echo STATIC_URL . '/common/image/logo.png' ?>" type="image/x-icon"/>
    <meta name="keywords" content="thuenhare">
    <meta name="description" content="thuenhare">
    <link rel="canonical" href="<?php echo BASE_URL ?>">
    <meta name="revisit-after" content="thuenhare">
    <meta name="robots" content="thuenhare">
    <!-- Facebook Open Graph meta tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="thuenhare">
    <meta property="og:image" content="thuenhare">
    <meta property="og:image:secure_url" content="thuenhare">
    <meta property="og:description" content="">
    <meta property="og:url" content="thuenhare">
    <meta property="og:site_name" content="thuenhare">
    <?php echo $this->assets->outputCss(); ?>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0"></script>
  </head>
  <body class="footer-nonmargin">
    <div class="position-relative h-100 message-mobile layout-default fixed-header has-search">
      <i class="d-none"></i>
      <div class="header-wrap">
        <div class="header">
          <div class="container w--100 px--18">
            <div class="row middle-xs">
              <div class="col-xs-8 col-md-8 is-flex align-center flex-nowrap">
                <a href="/" class="header__logo is-inline-block nuxt-link-exact-active nuxt-link-active">
                  <svg version="1.1" viewBox="0 0 50 50" class="svg-icon svg-fill" style="width: 34px; height: 34px;">
                    <path pid="0" d="M25.093 0c13.781.06 24.94 11.317 24.882 25.106C49.917 38.894 38.663 50.058 24.88 50 11.1 49.942-.059 38.683.001 24.894.057 11.106 11.31-.058 25.092 0zm11.801 31.9L14.398 16.053c.241-.26.48-.518.74-.777 2.7-2.687 5.971-4.031 9.775-4.015 3.804.015 7.064 1.388 9.741 4.098.238.241.476.482.694.743l-5.951 4.133 2.381 1.688 5.153-3.576v.02L39.33 16.7c-.692-1.203-1.584-2.325-2.616-3.39-3.231-3.292-7.167-4.947-11.788-4.967-4.6-.019-8.53 1.603-11.809 4.867a17.806 17.806 0 0 0-2.682 3.408l1.429 1.004 23.429 16.51c-.24.26-.48.518-.74.777-2.7 2.687-5.971 4.011-9.775 3.996-3.803-.016-7.063-1.37-9.74-4.08-.258-.26-.496-.521-.734-.782l6.111-4.251-.139-.181-2.183-1.528-5.373 3.735v-.021l-2.377 1.65a17.824 17.824 0 0 0 2.654 3.43c3.253 3.291 7.169 4.946 11.769 4.965 4.62.021 8.549-1.602 11.83-4.866 1.06-1.075 1.96-2.21 2.682-3.406l-2.383-1.67z"></path>
                  </svg>
                </a>
                <div class="app-header-search grow-not-shrink is-flex">
                  <div class="search__wrapper">
                    <div class="search-box">
                      <div class="search-field__wrap is-relative">
                        <div class="search-location">
                          <div class="booking__field is-relative">
                            <svg version="1.1" viewBox="0 0 15 15" class="mr--12 svg-icon svg-fill" style="width: 14px; height: 14px;">
                              <g stroke="#919191" stroke-width="2" fill="none" fill-rule="evenodd">
                                <path pid="0" d="M10 10l4 4"></path>
                                <circle pid="1" cx="6.5" cy="6.5" r="5.5"></circle>
                              </g>
                            </svg>
                            <div class="booking__input">
                              <input type="text" placeholder="Tìm kiếm" class="booking__input-text bold js-filter-keyword" value="<?php echo !empty($conditions['keyword']) ? $conditions['keyword'] : '' ?>">
                            </div>
                            <svg version="1.1" viewBox="0 0 12 12" class="icon--12 pointer svg-icon svg-fill" style="margin-left: 5px; display: none;">
                              <defs>
                                <path fill="#ccc" _stroke="none" pid="0" id="svgicon_close-icon_a" d="M6 4.586L10.182.404a.5.5 0 0 1 .707 0l.707.707a.5.5 0 0 1 0 .707L7.414 6l4.182 4.182a.5.5 0 0 1 0 .707l-.707.707a.5.5 0 0 1-.707 0L6 7.414l-4.182 4.182a.5.5 0 0 1-.707 0l-.707-.707a.5.5 0 0 1 0-.707L4.586 6 .404 1.818a.5.5 0 0 1 0-.707L1.11.404a.5.5 0 0 1 .707 0L6 4.586z"></path>
                              </defs>
                              <use fill="#FFF" fill-rule="evenodd" xlink:href="#svgicon_close-icon_a"></use>
                            </svg>
                          </div>
                        </div>
                        <div class="search-date mt--12 mt--md--0">
                          <div class="booking__field">
                            <svg version="1.1" viewBox="0 0 14 16" class="svg-icon svg-fill" style="width: 14px; height: 16px;">
                              <path pid="0" d="M9 2V1a1 1 0 1 1 2 0v1a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3V1a1 1 0 1 1 2 0v1h4zM2 7v6a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V7H2z" fill="#666" fill-rule="evenodd"></path>
                            </svg>
                            <div>
                              <div class="datepicker-range">
                                <button id="trigger-date-range" class="btn btn-outline--gray btn-xs search-filter__button js-filter-created-at">
                                  Ngày đăng: <?php echo !empty($conditions['created_at_start']) ? $conditions['created_at_start_format'] . ' đến ' . $conditions['created_at_end_format'] : '' ?>
                                </button>
                                <div id="airbnb-style-datepicker-wrapper-voWgI" class="asd__wrapper" style="position: absolute; top: 54px; left: 0px; width: 560px; z-index: 100; display: none;">
                                  <div class="asd__datepicker-header">
                                    <div class="asd__change-month-button asd__change-month-button--previous">
                                      <button type="button" aria-label="Move backward to switch to the previous month.">
                                        <svg viewBox="0 0 1000 1000">
                                          <path d="M336.2 274.5l-210.1 210h805.4c13 0 23 10 23 23s-10 23-23 23H126.1l210.1 210.1c11 11 11 21 0 32-5 5-10 7-16 7s-11-2-16-7l-249.1-249c-11-11-11-21 0-32l249.1-249.1c21-21.1 53 10.9 32 32z"></path>
                                        </svg>
                                      </button>
                                    </div>
                                    <div class="asd__change-month-button asd__change-month-button--next">
                                      <button type="button" aria-label="Move forward to switch to the next month.">
                                        <svg viewBox="0 0 1000 1000">
                                          <path d="M694.4 242.4l249.1 249.1c11 11 11 21 0 32L694.4 772.7c-5 5-10 7-16 7s-11-2-16-7c-11-11-11-21 0-32l210.1-210.1H67.1c-13 0-23-10-23-23s10-23 23-23h805.4L662.4 274.5c-21-21.1 11-53.1 32-32.1z"></path>
                                        </svg>
                                      </button>
                                    </div>
                                    <div class="asd__days-legend" style="width: 280px; left: 0px;">
                                      <div class="asd__day-title">Mon</div>
                                      <div class="asd__day-title">Tue</div>
                                      <div class="asd__day-title">Wed</div>
                                      <div class="asd__day-title">Thu</div>
                                      <div class="asd__day-title">Fri</div>
                                      <div class="asd__day-title">Sat</div>
                                      <div class="asd__day-title">Sun</div>
                                    </div>
                                    <div class="asd__days-legend" style="width: 280px; left: 280px;">
                                      <div class="asd__day-title">Mon</div>
                                      <div class="asd__day-title">Tue</div>
                                      <div class="asd__day-title">Wed</div>
                                      <div class="asd__day-title">Thu</div>
                                      <div class="asd__day-title">Fri</div>
                                      <div class="asd__day-title">Sat</div>
                                      <div class="asd__day-title">Sun</div>
                                    </div>
                                  </div>
                                  <div class="asd__inner-wrapper" style="margin-left: -280px;">
                                    <div>
                                      <div class="asd__month asd__month--hidden" style="width: 280px;">
                                        <div class="asd__month-name"><span>September</span> <span>2019</span></div>
                                        <table role="presentation" class="asd__month-table">
                                          <tbody>
                                            <tr class="asd__week">
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td data-date="2019-09-01" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-01" disabled="disabled" class="asd__day-button">1</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-09-02" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-02" disabled="disabled" class="asd__day-button">2</button>
                                              </td>
                                              <td data-date="2019-09-03" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-03" disabled="disabled" class="asd__day-button">3</button>
                                              </td>
                                              <td data-date="2019-09-04" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-04" disabled="disabled" class="asd__day-button">4</button>
                                              </td>
                                              <td data-date="2019-09-05" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-05" disabled="disabled" class="asd__day-button">5</button>
                                              </td>
                                              <td data-date="2019-09-06" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-06" disabled="disabled" class="asd__day-button">6</button>
                                              </td>
                                              <td data-date="2019-09-07" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-07" disabled="disabled" class="asd__day-button">7</button>
                                              </td>
                                              <td data-date="2019-09-08" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-08" disabled="disabled" class="asd__day-button">8</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-09-09" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-09" disabled="disabled" class="asd__day-button">9</button>
                                              </td>
                                              <td data-date="2019-09-10" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-10" disabled="disabled" class="asd__day-button">10</button>
                                              </td>
                                              <td data-date="2019-09-11" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-11" disabled="disabled" class="asd__day-button">11</button>
                                              </td>
                                              <td data-date="2019-09-12" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-12" disabled="disabled" class="asd__day-button">12</button>
                                              </td>
                                              <td data-date="2019-09-13" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-13" disabled="disabled" class="asd__day-button">13</button>
                                              </td>
                                              <td data-date="2019-09-14" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-14" disabled="disabled" class="asd__day-button">14</button>
                                              </td>
                                              <td data-date="2019-09-15" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-15" disabled="disabled" class="asd__day-button">15</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-09-16" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-16" disabled="disabled" class="asd__day-button">16</button>
                                              </td>
                                              <td data-date="2019-09-17" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-17" disabled="disabled" class="asd__day-button">17</button>
                                              </td>
                                              <td data-date="2019-09-18" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-18" disabled="disabled" class="asd__day-button">18</button>
                                              </td>
                                              <td data-date="2019-09-19" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-19" disabled="disabled" class="asd__day-button">19</button>
                                              </td>
                                              <td data-date="2019-09-20" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-20" disabled="disabled" class="asd__day-button">20</button>
                                              </td>
                                              <td data-date="2019-09-21" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-21" disabled="disabled" class="asd__day-button">21</button>
                                              </td>
                                              <td data-date="2019-09-22" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-22" disabled="disabled" class="asd__day-button">22</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-09-23" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-23" disabled="disabled" class="asd__day-button">23</button>
                                              </td>
                                              <td data-date="2019-09-24" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-24" disabled="disabled" class="asd__day-button">24</button>
                                              </td>
                                              <td data-date="2019-09-25" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-25" disabled="disabled" class="asd__day-button">25</button>
                                              </td>
                                              <td data-date="2019-09-26" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-26" disabled="disabled" class="asd__day-button">26</button>
                                              </td>
                                              <td data-date="2019-09-27" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-27" disabled="disabled" class="asd__day-button">27</button>
                                              </td>
                                              <td data-date="2019-09-28" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-28" disabled="disabled" class="asd__day-button">28</button>
                                              </td>
                                              <td data-date="2019-09-29" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-29" disabled="disabled" class="asd__day-button">29</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-09-30" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-09-30" disabled="disabled" class="asd__day-button">30</button>
                                              </td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="asd__month" style="width: 280px;">
                                        <div class="asd__month-name"><span>October</span> <span>2019</span></div>
                                        <table role="presentation" class="asd__month-table">
                                          <tbody>
                                            <tr class="asd__week">
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td data-date="2019-10-01" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-01" disabled="disabled" class="asd__day-button">1</button>
                                              </td>
                                              <td data-date="2019-10-02" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-02" disabled="disabled" class="asd__day-button">2</button>
                                              </td>
                                              <td data-date="2019-10-03" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-03" disabled="disabled" class="asd__day-button">3</button>
                                              </td>
                                              <td data-date="2019-10-04" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-04" disabled="disabled" class="asd__day-button">4</button>
                                              </td>
                                              <td data-date="2019-10-05" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-05" disabled="disabled" class="asd__day-button">5</button>
                                              </td>
                                              <td data-date="2019-10-06" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-06" disabled="disabled" class="asd__day-button">6</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-10-07" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-07" disabled="disabled" class="asd__day-button">7</button>
                                              </td>
                                              <td data-date="2019-10-08" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-08" disabled="disabled" class="asd__day-button">8</button>
                                              </td>
                                              <td data-date="2019-10-09" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-09" disabled="disabled" class="asd__day-button">9</button>
                                              </td>
                                              <td data-date="2019-10-10" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-10" disabled="disabled" class="asd__day-button">10</button>
                                              </td>
                                              <td data-date="2019-10-11" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-11" disabled="disabled" class="asd__day-button">11</button>
                                              </td>
                                              <td data-date="2019-10-12" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-12" disabled="disabled" class="asd__day-button">12</button>
                                              </td>
                                              <td data-date="2019-10-13" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-13" disabled="disabled" class="asd__day-button">13</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-10-14" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-14" disabled="disabled" class="asd__day-button">14</button>
                                              </td>
                                              <td data-date="2019-10-15" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-15" disabled="disabled" class="asd__day-button">15</button>
                                              </td>
                                              <td data-date="2019-10-16" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-16" disabled="disabled" class="asd__day-button">16</button>
                                              </td>
                                              <td data-date="2019-10-17" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-17" disabled="disabled" class="asd__day-button">17</button>
                                              </td>
                                              <td data-date="2019-10-18" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-18" disabled="disabled" class="asd__day-button">18</button>
                                              </td>
                                              <td data-date="2019-10-19" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-19" disabled="disabled" class="asd__day-button">19</button>
                                              </td>
                                              <td data-date="2019-10-20" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-20" disabled="disabled" class="asd__day-button">20</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-10-21" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-21" disabled="disabled" class="asd__day-button">21</button>
                                              </td>
                                              <td data-date="2019-10-22" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-22" disabled="disabled" class="asd__day-button">22</button>
                                              </td>
                                              <td data-date="2019-10-23" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-23" disabled="disabled" class="asd__day-button">23</button>
                                              </td>
                                              <td data-date="2019-10-24" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-24" disabled="disabled" class="asd__day-button">24</button>
                                              </td>
                                              <td data-date="2019-10-25" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-25" disabled="disabled" class="asd__day-button">25</button>
                                              </td>
                                              <td data-date="2019-10-26" tabindex="-1" class="asd__day asd__day--enabled asd__day--disabled" style="width: 35.7143px; background: rgb(255, 255, 255); color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-26" disabled="disabled" class="asd__day-button">26</button>
                                              </td>
                                              <td data-date="2019-10-27" tabindex="-1" class="asd__day asd__day--enabled asd__day--today" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-27" class="asd__day-button">27</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-10-28" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-28" class="asd__day-button">28</button>
                                              </td>
                                              <td data-date="2019-10-29" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-29" class="asd__day-button">29</button>
                                              </td>
                                              <td data-date="2019-10-30" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-30" class="asd__day-button">30</button>
                                              </td>
                                              <td data-date="2019-10-31" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-10-31" class="asd__day-button">31</button>
                                              </td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="asd__month" style="width: 280px;">
                                        <div class="asd__month-name"><span>November</span> <span>2019</span></div>
                                        <table role="presentation" class="asd__month-table">
                                          <tbody>
                                            <tr class="asd__week">
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td data-date="2019-11-01" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-01" class="asd__day-button">1</button>
                                              </td>
                                              <td data-date="2019-11-02" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-02" class="asd__day-button">2</button>
                                              </td>
                                              <td data-date="2019-11-03" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-03" class="asd__day-button">3</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-11-04" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-04" class="asd__day-button">4</button>
                                              </td>
                                              <td data-date="2019-11-05" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-05" class="asd__day-button">5</button>
                                              </td>
                                              <td data-date="2019-11-06" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-06" class="asd__day-button">6</button>
                                              </td>
                                              <td data-date="2019-11-07" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-07" class="asd__day-button">7</button>
                                              </td>
                                              <td data-date="2019-11-08" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-08" class="asd__day-button">8</button>
                                              </td>
                                              <td data-date="2019-11-09" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-09" class="asd__day-button">9</button>
                                              </td>
                                              <td data-date="2019-11-10" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-10" class="asd__day-button">10</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-11-11" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-11" class="asd__day-button">11</button>
                                              </td>
                                              <td data-date="2019-11-12" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-12" class="asd__day-button">12</button>
                                              </td>
                                              <td data-date="2019-11-13" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-13" class="asd__day-button">13</button>
                                              </td>
                                              <td data-date="2019-11-14" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-14" class="asd__day-button">14</button>
                                              </td>
                                              <td data-date="2019-11-15" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-15" class="asd__day-button">15</button>
                                              </td>
                                              <td data-date="2019-11-16" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-16" class="asd__day-button">16</button>
                                              </td>
                                              <td data-date="2019-11-17" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-17" class="asd__day-button">17</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-11-18" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-18" class="asd__day-button">18</button>
                                              </td>
                                              <td data-date="2019-11-19" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-19" class="asd__day-button">19</button>
                                              </td>
                                              <td data-date="2019-11-20" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-20" class="asd__day-button">20</button>
                                              </td>
                                              <td data-date="2019-11-21" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-21" class="asd__day-button">21</button>
                                              </td>
                                              <td data-date="2019-11-22" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-22" class="asd__day-button">22</button>
                                              </td>
                                              <td data-date="2019-11-23" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-23" class="asd__day-button">23</button>
                                              </td>
                                              <td data-date="2019-11-24" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-24" class="asd__day-button">24</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-11-25" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-25" class="asd__day-button">25</button>
                                              </td>
                                              <td data-date="2019-11-26" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-26" class="asd__day-button">26</button>
                                              </td>
                                              <td data-date="2019-11-27" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-27" class="asd__day-button">27</button>
                                              </td>
                                              <td data-date="2019-11-28" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-28" class="asd__day-button">28</button>
                                              </td>
                                              <td data-date="2019-11-29" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-29" class="asd__day-button">29</button>
                                              </td>
                                              <td data-date="2019-11-30" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-11-30" class="asd__day-button">30</button>
                                              </td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="asd__month asd__month--hidden" style="width: 280px;">
                                        <div class="asd__month-name"><span>December</span> <span>2019</span></div>
                                        <table role="presentation" class="asd__month-table">
                                          <tbody>
                                            <tr class="asd__week">
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td data-date="2019-12-01" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-01" class="asd__day-button">1</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-12-02" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-02" class="asd__day-button">2</button>
                                              </td>
                                              <td data-date="2019-12-03" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-03" class="asd__day-button">3</button>
                                              </td>
                                              <td data-date="2019-12-04" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-04" class="asd__day-button">4</button>
                                              </td>
                                              <td data-date="2019-12-05" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-05" class="asd__day-button">5</button>
                                              </td>
                                              <td data-date="2019-12-06" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-06" class="asd__day-button">6</button>
                                              </td>
                                              <td data-date="2019-12-07" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-07" class="asd__day-button">7</button>
                                              </td>
                                              <td data-date="2019-12-08" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-08" class="asd__day-button">8</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-12-09" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-09" class="asd__day-button">9</button>
                                              </td>
                                              <td data-date="2019-12-10" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-10" class="asd__day-button">10</button>
                                              </td>
                                              <td data-date="2019-12-11" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-11" class="asd__day-button">11</button>
                                              </td>
                                              <td data-date="2019-12-12" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-12" class="asd__day-button">12</button>
                                              </td>
                                              <td data-date="2019-12-13" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-13" class="asd__day-button">13</button>
                                              </td>
                                              <td data-date="2019-12-14" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-14" class="asd__day-button">14</button>
                                              </td>
                                              <td data-date="2019-12-15" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-15" class="asd__day-button">15</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-12-16" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-16" class="asd__day-button">16</button>
                                              </td>
                                              <td data-date="2019-12-17" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-17" class="asd__day-button">17</button>
                                              </td>
                                              <td data-date="2019-12-18" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-18" class="asd__day-button">18</button>
                                              </td>
                                              <td data-date="2019-12-19" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-19" class="asd__day-button">19</button>
                                              </td>
                                              <td data-date="2019-12-20" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-20" class="asd__day-button">20</button>
                                              </td>
                                              <td data-date="2019-12-21" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-21" class="asd__day-button">21</button>
                                              </td>
                                              <td data-date="2019-12-22" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-22" class="asd__day-button">22</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-12-23" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-23" class="asd__day-button">23</button>
                                              </td>
                                              <td data-date="2019-12-24" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-24" class="asd__day-button">24</button>
                                              </td>
                                              <td data-date="2019-12-25" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-25" class="asd__day-button">25</button>
                                              </td>
                                              <td data-date="2019-12-26" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-26" class="asd__day-button">26</button>
                                              </td>
                                              <td data-date="2019-12-27" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-27" class="asd__day-button">27</button>
                                              </td>
                                              <td data-date="2019-12-28" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-28" class="asd__day-button">28</button>
                                              </td>
                                              <td data-date="2019-12-29" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-29" class="asd__day-button">29</button>
                                              </td>
                                            </tr>
                                            <tr class="asd__week">
                                              <td data-date="2019-12-30" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-30" class="asd__day-button">30</button>
                                              </td>
                                              <td data-date="2019-12-31" tabindex="-1" class="asd__day asd__day--enabled" style="width: 35.7143px; color: rgb(86, 90, 92);">
                                                <button type="button" tabindex="-1" date="2019-12-31" class="asd__day-button">31</button>
                                              </td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                              <td tabindex="-1" class="asd__day asd__day--empty" style="width: 35.7143px; color: rgb(86, 90, 92);"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="asd__action-buttons">
                                    <button type="button">Xoá</button>
                                    <button type="button" style="color: rgb(246, 94, 57);">Áp dụng</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="button" id="search-btn" class="booking__btn btn btn--secondary bold mt--12 mt--md--0 js-filter__sumibt">
                        <svg version="1.1" viewBox="0 0 15 15" class="svg-icon svg-fill" style="width: 14px; height: 14px;">
                          <g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd">
                            <path pid="0" d="M10 10l4 4"></path>
                            <circle pid="1" cx="6.5" cy="6.5" r="5.5"></circle>
                          </g>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2 end-xs col-md-6 menu-wrapper">
                <a href="#" class="menu-mobile--open">
                  <img src="/icons/menu.svg" width="24" height="24">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="header-after"></div>
      </div>
      <section class="page-home wapper">
        <div>
          <?php if ($resources != 'frontend:cart:adminview'): ?>
            <div class="mt--42"></div>
            <div class="container container--md section">
              <?php echo $this->partial('global/_header') ?>
            </div>
          <?php endif; ?>
          
          <?php echo $this->getContent() ?>
          <div class="section">
            <div class="container container--md">
              <div>
                <div id="37" title="Introduction about luxstay" description="Introduction about luxstay" readmore="37">
                  <div class="row">
                    <div class="col-md-6 col-xs-12 app-introduce">
                      <svg version="1.1" viewBox="0 0 244 50" class="mb--18 mb--sm-42 app-introduce__logo svg-icon svg-fill">
                        <path pid="0" d="M25.093 0c13.781.06 24.94 11.317 24.882 25.106C49.917 38.894 38.663 50.058 24.88 50 11.1 49.942-.059 38.683.001 24.894.057 11.106 11.31-.058 25.092 0zm11.801 31.9L14.398 16.053c.241-.26.48-.518.74-.777 2.7-2.687 5.971-4.031 9.775-4.015 3.804.015 7.064 1.388 9.741 4.098.238.241.476.482.694.743l-5.951 4.133 2.381 1.688 5.153-3.576v.02L39.33 16.7c-.692-1.203-1.584-2.325-2.616-3.39-3.231-3.292-7.167-4.947-11.788-4.967-4.6-.019-8.53 1.603-11.809 4.867a17.806 17.806 0 0 0-2.682 3.408l1.429 1.004 23.429 16.51c-.24.26-.48.518-.74.777-2.7 2.687-5.971 4.011-9.775 3.996-3.803-.016-7.063-1.37-9.74-4.08-.258-.26-.496-.521-.734-.782l6.111-4.251-.139-.181-2.183-1.528-5.373 3.735v-.021l-2.377 1.65a17.824 17.824 0 0 0 2.654 3.43c3.253 3.291 7.169 4.946 11.769 4.965 4.62.021 8.549-1.602 11.83-4.866 1.06-1.075 1.96-2.21 2.682-3.406l-2.383-1.67zm45.839 2.652l-12.45-.05.096-21.789a.957.957 0 0 0-.965-.945l-.678-.003a.96.96 0 0 0-.974.939v.047c-.048.095-.05.236-.05.33l-.098 22.636a1.337 1.337 0 0 0 1.351 1.326l13.805.056a.958.958 0 0 0 .973-.938l.003-.662a1.037 1.037 0 0 0-1.013-.946v-.001zm27.64-22.67l-.871-.003c-.563-.003-1.027.42-1.027.937l-.075 15.878c-.014 3.157-3.252 5.735-7.197 5.72-3.943-.014-7.158-2.618-7.144-5.775l.123-15.5.052-.282a.957.957 0 0 0-.201-.756 1.128 1.128 0 0 0-.767-.332l-.87-.004c-.513-.002-.924.326-1.028.75a.857.857 0 0 0-.156.47l-.073 15.69c-.02 4.616 4.47 8.402 9.95 8.424 5.48.022 10.004-3.73 10.025-8.3l.122-15.5.054-.282a.952.952 0 0 0-.203-.755c-.152-.189-.458-.379-.714-.38zm48.638 11.226c-3.275-1.249-6.696-2.496-6.688-4.393.01-2.42 2.721-4.401 6.05-4.387 3.331.014 6.025 2.017 6.014 4.436l-.002.38a.96.96 0 0 0 .961.953l.675.003a.96.96 0 0 0 .971-.945v-.38c.009-1.66-.709-3.276-2.006-4.515-1.635-1.618-4.092-2.532-6.65-2.494-4.873-.02-8.698 3.047-8.715 6.938.03 3.748 4.416 5.38 8.656 6.962 3.324 1.247 6.795 2.495 6.785 4.487-.01 2.372-3.155 4.399-6.775 4.385-3.668-.016-6.747-2.07-6.737-4.44l.001-.38a.961.961 0 0 0-.96-.954l-.676-.002a.96.96 0 0 0-.97.945v.38c-.018 3.843 4.215 6.991 9.38 7.012 5.163.022 9.423-3.092 9.44-6.934-.033-3.796-4.464-5.427-8.754-7.057zM193.66 11.84l-18.844-.076c-.547-.003-.996.42-.999.94l-.002.66c-.002.52.443.946.99.949l8.103.032-.095 21.802c-.003.52.443.947.99.949l.696.002c.546.003.996-.42 1-.94l.095-21.802 8.055.031c.547.003.996-.42.999-.94l.003-.66c.003-.52-.443-.946-.99-.947zm49.264.515c-.144-.33-.481-.52-.867-.52l-.87-.005a.963.963 0 0 0-.677.28l-.145.14-.147.142-6.609 9.677-6.72-9.734c-.048-.046-.096-.094-.096-.14l-.143-.143a.97.97 0 0 0-.675-.285l-.774-.003a1.021 1.021 0 0 0-.872.515 1.03 1.03 0 0 0 .045.988l7.966 11.576-.049 11.307c.006.527.437.95.964.946l.675.002a.957.957 0 0 0 .97-.937l.049-11.308 7.923-11.509c.194-.329.243-.705.052-.989zm-37.898 12.047l3.75-7.994 3.728 8.023-7.478-.03zm15.615 10.954v-.047l-10.5-22.733c-.15-.425-.549-.71-1.102-.807-.603-.049-1.156.231-1.41.703v.046l-10.705 22.697v.047l-.204.471c-.095.283-.06.595.097.849.188.258.483.416.802.428l.854.004c.453.001.806-.282.958-.657l.05-.141 4.314-9.277 9.95.04 4.28 9.31.049.14c.15.38.5.664.952.667l.854.002c.352.002.654-.139.806-.422.152-.281.254-.563.104-.847l-.149-.473zm-86.008-15.15l.817.003a.963.963 0 0 0 .729-.347l4.755-6.218.412-.478a.763.763 0 0 0 .095-.915c-.135-.306-.453-.482-.816-.483l-.863-.004a.929.929 0 0 0-.868.608l-4.983 6.522a.94.94 0 0 0-.096.915c.135.22.453.394.816.397h.002zm-6.998 8.45l-.819-.002a.96.96 0 0 0-.728.347l-4.755 6.207-.413.48a.77.77 0 0 0-.094.92c.135.309.452.485.816.488l.864.002a.91.91 0 0 0 .82-.478l5.03-6.601a.949.949 0 0 0 .095-.92 1.027 1.027 0 0 0-.816-.443zm8.019-.453l.148.14 5.55 7.248c.248.284.246.662.095.99-.15.332-.5.519-.9.517l-.896-.004a1.013 1.013 0 0 1-.697-.286l-.149-.14c-.03-.002-.042-.02-.059-.044a.212.212 0 0 0-.04-.052l-5.501-7.151a1.005 1.005 0 0 1-.15-.237l-11.694-15.39-.446-.521c-.248-.285-.246-.662-.096-.993.15-.33.501-.518.9-.516l.897.004a.99.99 0 0 1 .845.428l.15.19 11.992 15.721s.05.048.05.096z"></path>
                      </svg>
                      <h2 class="app-introduce__heading" style="text-transform: uppercase;">TÌM KIẾM CHỖ Ở GIÁ TỐT NHẤT</h2>
                      <p>Luxstay hiện là nền tảng đặt phòng trực tuyến #1 Việt Nam. Đồng hành cùng chúng tôi, bạn có những chuyến đi mang đầy trải nghiệm. Với Luxstay, việc đặt chỗ ở, biệt thự nghỉ dưỡng, khách sạn, nhà riêng, chung cư... trở nên nhanh chóng, thuận tiện và dễ dàng.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="footer">
              <div class="footer__top">
                <div class="container container--md">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="widget widget--subcribe text--justify">
                        <div class="widget__title">
                          <svg version="1.1" viewBox="0 0 244 50" class="svg-icon svg-fill" style="width: 170px; height: 35px;">
                            <path pid="0" d="M25.093 0c13.781.06 24.94 11.317 24.882 25.106C49.917 38.894 38.663 50.058 24.88 50 11.1 49.942-.059 38.683.001 24.894.057 11.106 11.31-.058 25.092 0zm11.801 31.9L14.398 16.053c.241-.26.48-.518.74-.777 2.7-2.687 5.971-4.031 9.775-4.015 3.804.015 7.064 1.388 9.741 4.098.238.241.476.482.694.743l-5.951 4.133 2.381 1.688 5.153-3.576v.02L39.33 16.7c-.692-1.203-1.584-2.325-2.616-3.39-3.231-3.292-7.167-4.947-11.788-4.967-4.6-.019-8.53 1.603-11.809 4.867a17.806 17.806 0 0 0-2.682 3.408l1.429 1.004 23.429 16.51c-.24.26-.48.518-.74.777-2.7 2.687-5.971 4.011-9.775 3.996-3.803-.016-7.063-1.37-9.74-4.08-.258-.26-.496-.521-.734-.782l6.111-4.251-.139-.181-2.183-1.528-5.373 3.735v-.021l-2.377 1.65a17.824 17.824 0 0 0 2.654 3.43c3.253 3.291 7.169 4.946 11.769 4.965 4.62.021 8.549-1.602 11.83-4.866 1.06-1.075 1.96-2.21 2.682-3.406l-2.383-1.67zm45.839 2.652l-12.45-.05.096-21.789a.957.957 0 0 0-.965-.945l-.678-.003a.96.96 0 0 0-.974.939v.047c-.048.095-.05.236-.05.33l-.098 22.636a1.337 1.337 0 0 0 1.351 1.326l13.805.056a.958.958 0 0 0 .973-.938l.003-.662a1.037 1.037 0 0 0-1.013-.946v-.001zm27.64-22.67l-.871-.003c-.563-.003-1.027.42-1.027.937l-.075 15.878c-.014 3.157-3.252 5.735-7.197 5.72-3.943-.014-7.158-2.618-7.144-5.775l.123-15.5.052-.282a.957.957 0 0 0-.201-.756 1.128 1.128 0 0 0-.767-.332l-.87-.004c-.513-.002-.924.326-1.028.75a.857.857 0 0 0-.156.47l-.073 15.69c-.02 4.616 4.47 8.402 9.95 8.424 5.48.022 10.004-3.73 10.025-8.3l.122-15.5.054-.282a.952.952 0 0 0-.203-.755c-.152-.189-.458-.379-.714-.38zm48.638 11.226c-3.275-1.249-6.696-2.496-6.688-4.393.01-2.42 2.721-4.401 6.05-4.387 3.331.014 6.025 2.017 6.014 4.436l-.002.38a.96.96 0 0 0 .961.953l.675.003a.96.96 0 0 0 .971-.945v-.38c.009-1.66-.709-3.276-2.006-4.515-1.635-1.618-4.092-2.532-6.65-2.494-4.873-.02-8.698 3.047-8.715 6.938.03 3.748 4.416 5.38 8.656 6.962 3.324 1.247 6.795 2.495 6.785 4.487-.01 2.372-3.155 4.399-6.775 4.385-3.668-.016-6.747-2.07-6.737-4.44l.001-.38a.961.961 0 0 0-.96-.954l-.676-.002a.96.96 0 0 0-.97.945v.38c-.018 3.843 4.215 6.991 9.38 7.012 5.163.022 9.423-3.092 9.44-6.934-.033-3.796-4.464-5.427-8.754-7.057zM193.66 11.84l-18.844-.076c-.547-.003-.996.42-.999.94l-.002.66c-.002.52.443.946.99.949l8.103.032-.095 21.802c-.003.52.443.947.99.949l.696.002c.546.003.996-.42 1-.94l.095-21.802 8.055.031c.547.003.996-.42.999-.94l.003-.66c.003-.52-.443-.946-.99-.947zm49.264.515c-.144-.33-.481-.52-.867-.52l-.87-.005a.963.963 0 0 0-.677.28l-.145.14-.147.142-6.609 9.677-6.72-9.734c-.048-.046-.096-.094-.096-.14l-.143-.143a.97.97 0 0 0-.675-.285l-.774-.003a1.021 1.021 0 0 0-.872.515 1.03 1.03 0 0 0 .045.988l7.966 11.576-.049 11.307c.006.527.437.95.964.946l.675.002a.957.957 0 0 0 .97-.937l.049-11.308 7.923-11.509c.194-.329.243-.705.052-.989zm-37.898 12.047l3.75-7.994 3.728 8.023-7.478-.03zm15.615 10.954v-.047l-10.5-22.733c-.15-.425-.549-.71-1.102-.807-.603-.049-1.156.231-1.41.703v.046l-10.705 22.697v.047l-.204.471c-.095.283-.06.595.097.849.188.258.483.416.802.428l.854.004c.453.001.806-.282.958-.657l.05-.141 4.314-9.277 9.95.04 4.28 9.31.049.14c.15.38.5.664.952.667l.854.002c.352.002.654-.139.806-.422.152-.281.254-.563.104-.847l-.149-.473zm-86.008-15.15l.817.003a.963.963 0 0 0 .729-.347l4.755-6.218.412-.478a.763.763 0 0 0 .095-.915c-.135-.306-.453-.482-.816-.483l-.863-.004a.929.929 0 0 0-.868.608l-4.983 6.522a.94.94 0 0 0-.096.915c.135.22.453.394.816.397h.002zm-6.998 8.45l-.819-.002a.96.96 0 0 0-.728.347l-4.755 6.207-.413.48a.77.77 0 0 0-.094.92c.135.309.452.485.816.488l.864.002a.91.91 0 0 0 .82-.478l5.03-6.601a.949.949 0 0 0 .095-.92 1.027 1.027 0 0 0-.816-.443zm8.019-.453l.148.14 5.55 7.248c.248.284.246.662.095.99-.15.332-.5.519-.9.517l-.896-.004a1.013 1.013 0 0 1-.697-.286l-.149-.14c-.03-.002-.042-.02-.059-.044a.212.212 0 0 0-.04-.052l-5.501-7.151a1.005 1.005 0 0 1-.15-.237l-11.694-15.39-.446-.521c-.248-.285-.246-.662-.096-.993.15-.33.501-.518.9-.516l.897.004a.99.99 0 0 1 .845.428l.15.19 11.992 15.721s.05.048.05.096z"></path>
                          </svg>
                        </div>
                        <div class="widget__text">
                          <div class="about-item">
                            <svg version="1.1" viewBox="0 0 40 40" class="svg-icon svg-fill" style="width: 40px; height: 40px;">
                              <defs>
                                <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="svgicon_whatsapp_b">
                                  <stop stop-color="#4B4B4B" offset="0%"></stop>
                                  <stop offset="100%"></stop>
                                </linearGradient>
                                <path pid="0" d="M9.083 17.431L3.52 20.16H1.76l1.4-5.483C1.182 13.132 0 11.172 0 9.04 0 4.047 6.483 0 14.48 0c7.997 0 14.48 4.047 14.48 9.04 0 4.993-6.483 9.04-14.48 9.04-1.908 0-3.73-.23-5.397-.649z" id="svgicon_whatsapp_a"></path>
                                <linearGradient x1="0%" y1="25.77%" x2="100%" y2="74.23%" id="svgicon_whatsapp_e">
                                  <stop stop-color="#C77D0E" offset="0%"></stop>
                                  <stop stop-color="#F98713" offset="100%"></stop>
                                </linearGradient>
                                <path pid="1" d="M9.083 17.431L3.52 20.16H1.76l1.4-5.483C1.182 13.132 0 11.172 0 9.04 0 4.047 6.483 0 14.48 0c7.997 0 14.48 4.047 14.48 9.04 0 4.993-6.483 9.04-14.48 9.04-1.908 0-3.73-.23-5.397-.649z" id="svgicon_whatsapp_d"></path>
                                <linearGradient x1="0%" y1="24.995%" x2="100%" y2="75.005%" id="svgicon_whatsapp_f">
                                  <stop stop-color="#F98713" offset="0%"></stop>
                                  <stop stop-color="#FBAC36" offset="100%"></stop>
                                </linearGradient>
                              </defs>
                              <g fill="none" fill-rule="evenodd">
                                <circle pid="2" fill-opacity=".03" fill="#000" cx="20" cy="20" r="20"></circle>
                                <ellipse pid="3" fill="#E4E4E4" cx="20" cy="36.64" rx="20" ry="1.28"></ellipse>
                                <g transform="translate(0 4)">
                                  <mask id="svgicon_whatsapp_c" fill="#fff">
                                    <use xlink:href="#svgicon_whatsapp_a"></use>
                                  </mask>
                                  <use fill="url(#svgicon_whatsapp_b)" xlink:href="#svgicon_whatsapp_a"></use>
                                  <path pid="4" d="M10.843 17.431L5.28 20.16H3.52l1.4-5.483c-1.978-1.545-3.16-3.505-3.16-5.637C1.76 4.047 8.243 0 16.24 0c7.997 0 14.48 4.047 14.48 9.04 0 4.993-6.483 9.04-14.48 9.04-1.908 0-3.73-.23-5.397-.649z" fill="#414141" mask="url(#svgicon_whatsapp_c)"></path>
                                  <circle pid="5" fill="#FFF" opacity=".2" mask="url(#svgicon_whatsapp_c)" cx="9.6" cy="8.48" r="1.6"></circle>
                                  <circle pid="6" fill="#FFF" opacity=".2" mask="url(#svgicon_whatsapp_c)" cx="14.72" cy="8.48" r="1.6"></circle>
                                  <circle pid="7" fill="#FFF" opacity=".2" mask="url(#svgicon_whatsapp_c)" cx="19.84" cy="8.48" r="1.6"></circle>
                                </g>
                                <g transform="matrix(-1 0 0 1 40 16)">
                                  <mask id="svgicon_whatsapp_g" fill="#fff">
                                    <use xlink:href="#svgicon_whatsapp_d"></use>
                                  </mask>
                                  <use fill="url(#svgicon_whatsapp_e)" xlink:href="#svgicon_whatsapp_d"></use>
                                  <path pid="8" d="M7.808 17.112L1.6 20.16H-.16l1.759-6.03C-.21 12.622-1.28 10.75-1.28 8.72c0-4.993 6.483-9.04 14.48-9.04 7.997 0 14.48 4.047 14.48 9.04 0 4.993-6.483 9.04-14.48 9.04-1.906 0-3.725-.23-5.392-.648z" fill="url(#svgicon_whatsapp_f)" mask="url(#svgicon_whatsapp_g)"></path>
                                  <circle pid="9" fill="#CF3B00" opacity=".413" mask="url(#svgicon_whatsapp_g)" cx="8.64" cy="8.48" r="1.6"></circle>
                                  <circle pid="10" fill="#CF3B00" opacity=".413" mask="url(#svgicon_whatsapp_g)" cx="13.76" cy="8.48" r="1.6"></circle>
                                  <circle pid="11" fill="#CF3B00" opacity=".413" mask="url(#svgicon_whatsapp_g)" cx="18.88" cy="8.48" r="1.6"></circle>
                                </g>
                              </g>
                            </svg>
                            <div class="about-item__content"><p class="extra-bold mb--0">Messenger</p>
                              <a href="http://m.me/luxstay" class="mb--0">http://m.me/luxstay</a></div>
                          </div>
                          <div class="about-item">
                            <svg version="1.1" viewBox="0 0 40 40" class="svg-icon svg-fill" style="width: 40px; height: 40px;">
                              <defs>
                                <linearGradient x1="0%" y1="25.77%" x2="100%" y2="74.23%" id="svgicon_call-center_b">
                                  <stop stop-color="#C77D0E" offset="0%"></stop>
                                  <stop stop-color="#F98713" offset="100%"></stop>
                                </linearGradient>
                                <path pid="0" d="M6.83 13.108L2.647 15.16H1.323l1.053-4.123C.89 9.875 0 8.401 0 6.797 0 3.045 4.875 0 10.889 0c6.013 0 10.888 3.044 10.888 6.798s-4.875 6.798-10.888 6.798c-1.435 0-2.805-.173-4.059-.488z" id="svgicon_call-center_a"></path>
                                <linearGradient x1="0%" y1="25.77%" x2="100%" y2="74.23%" id="svgicon_call-center_c">
                                  <stop stop-color="#F98713" offset="0%"></stop>
                                  <stop stop-color="#FBAC36" offset="100%"></stop>
                                </linearGradient>
                                <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="svgicon_call-center_f">
                                  <stop stop-color="#4B4B4B" offset="0%"></stop>
                                  <stop offset="100%"></stop>
                                </linearGradient>
                                <path pid="1" d="M0 6.084c0-3 2.176-5.168 3.71-5.832C5.241-.41 9.103.39 9.53.866c.427.477 1.048 5.218.852 6.143-.11.525-.774 1.077-1.988 1.656a1 1 0 0 0-.55 1.097 12.858 12.858 0 0 0 1.443 3.897c.813 1.424 1.954 2.861 3.422 4.31l.632-.587a4.094 4.094 0 0 1 2.789-1.097c1.037 0 2.04.378 2.819 1.064l3.157 2.778a1 1 0 0 1 .282 1.085c-.49 1.386-1.315 2.368-2.473 2.947-1.333.667-3.068.937-5.206.81-3 0-8.105-3.52-11-8.217C.814 12.054 0 9.084 0 6.084z" id="svgicon_call-center_e"></path>
                              </defs>
                              <g fill="none" fill-rule="evenodd">
                                <circle pid="2" fill-opacity=".03" fill="#000" cx="20" cy="20" r="20"></circle>
                                <ellipse pid="3" fill="#E4E4E4" cx="20" cy="36.64" rx="20" ry="1.28"></ellipse>
                                <g transform="translate(15.71 7)">
                                  <mask id="svgicon_call-center_d" fill="#fff">
                                    <use xlink:href="#svgicon_call-center_a"></use>
                                  </mask>
                                  <use fill="url(#svgicon_call-center_b)" xlink:href="#svgicon_call-center_a"></use>
                                  <path pid="4" d="M8.154 13.108L3.97 15.16H2.647L3.7 11.037c-1.487-1.162-2.377-2.636-2.377-4.24C1.323 3.045 6.2 0 12.213 0 18.225 0 23.1 3.044 23.1 6.798s-4.875 6.798-10.889 6.798c-1.434 0-2.804-.173-4.058-.488z" fill="url(#svgicon_call-center_c)" mask="url(#svgicon_call-center_d)"></path>
                                  <circle pid="5" fill="#CF3B00" opacity=".413" mask="url(#svgicon_call-center_d)" cx="7.219" cy="6.377" r="1.203"></circle>
                                  <circle pid="6" fill="#CF3B00" opacity=".413" mask="url(#svgicon_call-center_d)" cx="11.069" cy="6.377" r="1.203"></circle>
                                  <circle pid="7" fill="#CF3B00" opacity=".413" mask="url(#svgicon_call-center_d)" cx="14.919" cy="6.377" r="1.203"></circle>
                                </g>
                                <g transform="translate(2 11.03)">
                                  <mask id="svgicon_call-center_g" fill="#fff">
                                    <use xlink:href="#svgicon_call-center_e"></use>
                                  </mask>
                                  <use fill="url(#svgicon_call-center_f)" xlink:href="#svgicon_call-center_e"></use>
                                  <path pid="8" d="M2.71 6.084c0-3 2.175-5.168 3.708-5.832C7.951-.41 11.813.39 12.24.866c.426.477 1.047 5.218.852 6.143-.112.525-.775 1.077-1.99 1.656a1 1 0 0 0-.55 1.097 12.858 12.858 0 0 0 1.444 3.897c.813 1.424 1.954 2.861 3.422 4.31l.632-.587a4.094 4.094 0 0 1 2.789-1.097c1.038 0 2.04.378 2.819 1.064l3.157 2.778a1 1 0 0 1 .282 1.085c-.49 1.386-1.315 2.368-2.472 2.947-1.334.667-3.07.937-5.207.81-3 0-8.105-3.52-11-8.217C3.523 12.054 2.71 9.084 2.71 6.084z" fill="#414141" mask="url(#svgicon_call-center_g)"></path>
                                </g>
                              </g>
                            </svg>
                            <div class="about-item__content"><p class="extra-bold mb--0">Call center</p>
                              <p class="mb--0"><a href="tel:18006586">
                                  18006586 (Việt Nam)
                                </a> <br> <a href="tel:0889866666">
                                  0889866666
                                </a></p></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 d-none d-sm-block">

                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 d-none d-sm-block">

                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 d-none d-sm-block">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="el-dialog__wrapper" style="display: none;">
          <div role="dialog" aria-modal="true" aria-label="dialog" class="el-dialog sale-modal" style="margin-top: 25vh; width: 50%;">
            <div class="el-dialog__header"><span class="el-dialog__title"></span>
              <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                <i class="el-dialog__close el-icon el-icon-close"></i></button>
            </div>
          </div>
        </div>
      </section>
      <div class="footer">
        <div id="footer" class="footer__bottom">
          <div class="container container--md">
            <div class="row middle-md center-xs start-md">
              <div class="col-xs-12 text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <?php echo $this->assets->outputJs(); ?>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
  </body>
  <script>
    var PAGE_DATA = <?php echo json_encode($PAGE_DATA) ?>;
    var CDATA = <?php echo json_encode($CDATA) ?>
  </script>
</html>
