<?php
  
  use Util\GeneralUtil;

?>

<div class="module2">
  <div class="module2_content">
    <!-- recent items -->
    <?php if (!empty($arrRecentItems)): ?>
      <div class="right_news">
        <div class="module_title"><span>Tin đăng chính chủ</span></div>
        <ul class="list">
          <?php foreach ($arrRecentItems as $arrItem): ?>
            <li>
              <a
                  class="img"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                  title="<?php echo $arrItem['item_name'] ?>">
                <img
                    alt="<?php echo $arrItem['item_name'] ?>"
                    src="<?php echo $arrItem['item_feature_image'] ?>" onerror="imgError(this)"/>
              </a>
              <a
                  class="title"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                  rel="nofollow">
                <?php echo $arrItem['item_name'] ?>
              </a>
              <p class="price"><?php echo (float)$arrItem['price'] / 1000000 ?> triệu</p>
            </li>
          <?php endforeach; ?>
        </ul>
      </div>
    <?php endif; ?>
    <!-- end recent items -->
  </div>
</div>
