<?php
  
  use Util\GeneralUtil;

?>

<div class="module1">
  <div class="page_title">
    <h1>Cho thuê nhà trọ, cho thuê phòng trọ giá rẻ, tìm nhà trọ, tìm phòng trọ</h1>
  </div>

  <!-- content -->
  <?php
    foreach ($arrCategories as $catID => $category):
      if (empty($arrItemsByCat[ $catID ]))
        continue;
      // Sản phẩm theo danh mục
      $arrItems = $arrItemsByCat[ $catID ]; ?>
      <div>
        <div class="module_title">
          <a href="">
            <h2>Cho thuê <?php echo $category ?></h2>
          </a>
        </div>
        <div class="module1_content">
          <ul class="list_pro">
            <?php foreach ($arrItems as $arrItem): ?>
              <li class="pro_item">
                <a
                    class="img"
                    href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                    title="<?php echo $arrItem['item_name'] ?>">
                  <img alt="<?php echo $arrItem['item_name'] ?>" src="<?php echo $arrItem['item_feature_image'] ?>" onerror="imgError(this)"/>
                </a>
                <div class="info">
                  <p class="info2">
                    <span class="info2_lable3 price"><?php echo (float)$arrItem['price'] / 1000000 ?> triệu</span>
                  </p>
                  <h3 class="title">
                    <a
                        href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                        rel="nofollow">
                      <?php echo $arrItem['item_name'] ?>
                    </a>
                  </h3>
                  <div class="intro">
                    <?php echo $arrItem['item_description'] ?>
                  </div>
                  <div class="group2">
                    <p class="info_adrr"><span class="info2_lable">Địa chỉ : </span>
                      <span class="info2_lable3"> <?php echo $arrItem['address'] ?> </span>
                    </p>
                    <p class="info3"><span class="info2_lable">Diện tích : </span>
                      <span class="info2_lable3"><?php echo $arrItem['floor_area'] ?>&nbsp;<?php echo $arrItem['floor_area_unit'] ?></span>
                    </p>
                    <p class="info4"><span class="info2_lable">Quận/Huyện : </span>
                      <span class="info2_lable3"> <?php echo $arrItem['district_name'] ?> </span>
                      <span class="time"><?php echo date('d/m/Y', $arrItem['created_at']) ?></span>
                    </p>
                  </div>
                </div>
              </li>
            <?php endforeach; ?>
          </ul>
          <div class="clear"></div>
        </div>
        <p class="right_cc"><a href="cho-thue-nha-nguyen-can-pc2.html"> Xem thêm</a></p>
      </div>
    <?php endforeach; ?>
  <!-- end content -->

  <!-- content-seo -->
  <div class="module1_content content_seo">
    <div class="module_title">
      <h2>Cho thuê nhà trọ, cho thuê phòng trọ giá rẻ, tìm nhà trọ, tìm phòng trọ</h2></div>
    <div class="intro">
      <h2>Tìm phòng trọ, tìm nhà trọ trên Dithunha.com dễ dàng và hiệu quả nhất. Mỗi ngày có hơn 5000 người đăng tin cho thuê nhà, cho thuê phòng trọ,cho thuê nhà trọ với nhiều loại phòng giá rẻ , chính chủ, giờ tự do mới nhất. Thuận lợi di chuyển, gần các khu trung tâm.</h2>
    </div>
    <div class="keyword">
      <h2>Cho thuê phòng trọ, tìm nhà trọ, phòng trọ, nhà trọ, tìm phòng trọ, cho thuê nhà nguyên căn, đi thuê nhà, cho thuê nhà trọ, Cho Thuê Nhà</h2>
    </div>
    <div class="des">
      <p>Thu&ecirc; nh&agrave; trọ &ndash; thu&ecirc; ph&ograve;ng trọ gi&aacute; rẻ l&agrave; mối quan t&acirc;m của rất nhiều sinh vi&ecirc;n xa qu&ecirc; t&igrave;m đến c&aacute;c th&agrave;nh phố lớn để học tập. Tuy nhi&ecirc;n, để t&igrave;m thu&ecirc; được nh&agrave; trọ &ndash; ph&ograve;ng trọ gi&aacute; rẻ, đ&uacute;ng như &yacute; muốn kh&ocirc;ng phải l&agrave; điều đơn giản. T</p>
      <p>&nbsp;</p>
      <p>Đối với những bạn Sinh Vi&ecirc;n ở tỉnh lẻ lần đầu ti&ecirc;n th&agrave;nh phố chắc hẳn sẽ rất bở ngỡ v&igrave; mọi thứ đều xa lạ. Vấn đề quan trọng nhất cho những bạn Sinh Vi&ecirc;n đ&oacute; l&agrave; t&igrave;m được nh&agrave; trọ, c&oacute; những bạn may mắn ở chung với gia đ&igrave;nh người th&acirc;n, hoặc ở K&yacute; t&uacute;c x&aacute; v&agrave; số c&ograve;n lại phải tự t&igrave;m nh&agrave; trọ. Những bạn n&agrave;y nhất định kh&ocirc;ng được bỏ qua những điều cần biết khi thu&ecirc; nh&agrave; trọ dưới đ&acirc;y để kh&ocirc;ng bị mắc bẫy &ldquo;c&ograve;&rdquo; hoặc bị chủ nh&agrave; gạt.</p>
      <p>&nbsp;</p>
      <h2 class="h3" style="font-family: RobotoRegular, Helvetica, sans-serif; font-weight: bold; color: rgb(65, 65, 65);">Kinh nghiệm tr&aacute;nh lừa đảo khi thu&ecirc; nh&agrave; trọ</h2>
      <p>&nbsp;</p>
      <p>Khi
        <a href="index.html">đi thu&ecirc; nh&agrave;</a> trọ - ph&ograve;ng trọ, ngo&agrave;i t&igrave;m hiểu tr&ecirc;n mạng, sinh vi&ecirc;n cần đến tận nơi để kiểm tra nh&agrave; trọ - ph&ograve;ng trọ. Khi sinh vi&ecirc;n &ldquo;giao tiền&rdquo; của m&igrave;nh cho ph&iacute;a
        <a href="index.html">cho thu&ecirc; nh&agrave; trọ</a> - cho thu&ecirc;&nbsp;ph&ograve;ng trọ, cần ch&uacute; &yacute; những điều sau:
      </p>
      <ul>
        <li>Kiểm tra nh&agrave; trọ - ph&ograve;ng trọ: nh&agrave; vệ sinh, cửa sổ, cửa ra v&agrave;o, điện, nước, b&atilde;i giữ xe ở đ&acirc;u,&hellip; kiểm tra xem mọi thứ c&oacute; ổn v&agrave; an to&agrave;n kh&ocirc;ng?</li>
        <li>Trao đổi th&ocirc;ng tin với b&ecirc;n cho thu&ecirc; nh&agrave; trọ - ph&ograve;ng trọ:
          <ul>
            <li>Chủ nh&agrave; trọ - ph&ograve;ng trọ l&agrave; ai</li>
            <li>Giờ giấc ra v&agrave;o</li>
            <li>C&aacute;c trang thiết bị trong nh&agrave; hư th&igrave; b&ecirc;n thu&ecirc; hay b&ecirc;n b&aacute;n chịu tr&aacute;ch nhiệm bỏ ph&iacute; để sửa chữa?</li>
            <li>Hỏi về những ph&iacute; cơ bản (tiền thu&ecirc; nh&agrave; mỗi th&aacute;ng, tiền điện, tiền nước, tiền internet, tiền r&aacute;c, tiền giữ xe, tiền đặt cọc),</li>
            <li>Ngo&agrave;i những ph&iacute; cơ bản c&ograve;n c&oacute; bất kỳ khoản ph&iacute; n&agrave;o kh&aacute;c nữa hay kh&ocirc;ng?</li>
            <li>C&oacute; đồng hồ điện nước ri&ecirc;ng hay kh&ocirc;ng?</li>
          </ul>
        </li>
        <li>Giấy đặt cọc giữ ph&ograve;ng phải ghi đầy đủ, chi tiết, r&otilde; r&agrave;ng c&aacute;c th&ocirc;ng tin mức ph&iacute;, gi&aacute; cả để tới ng&agrave;y k&yacute; hợp đồng l&agrave;m bằng chứng. Tr&ecirc;n giấy đặt cọc giữ chỗ phải c&oacute; đầy đủ chữ k&yacute; của cả hai b&ecirc;n. Tiền đặt cọc chỉ đưa 50% gi&aacute; b&ecirc;n nh&agrave; trọ đưa ra.</li>
        <li>Cuối c&ugrave;ng l&agrave; ng&agrave;y k&yacute; hợp đồng thu&ecirc; trọ. Sinh vi&ecirc;n phải đọc kĩ hợp đồng để xem hợp đồng c&oacute; r&otilde; r&agrave;ng ng&agrave;y th&aacute;ng v&agrave; c&aacute;c điều khoản hay kh&ocirc;ng, đầy đủ th&ocirc;ng tin chưa, c&oacute; quy định bồi thường g&igrave; trong hợp đồng hay kh&ocirc;ng? Tr&aacute;nh &ldquo;tiền mất tật mang&rdquo;.</li>
      </ul>
      <p>Ngo&agrave;i ra, c&aacute;c bạn sinh vi&ecirc;n n&ecirc;n t&igrave;m sự hỗ trợ từ c&aacute;c trung t&acirc;m hỗ trợ học sinh, sinh vi&ecirc;n; ph&ograve;ng hỗ trợ sinh vi&ecirc;n trong trường đại học. C&aacute;c trung t&acirc;m hỗ trợ sinh vi&ecirc;n sẽ cung cấp cho bạn những địa chỉ nh&agrave; trọ -<a href="index.html">&nbsp;cho thu&ecirc;&nbsp;ph&ograve;ng trọ </a>uy t&iacute;n. Đồng thời c&aacute;c nh&oacute;m c&ocirc;ng t&aacute;c x&atilde; hội, ph&ograve;ng hỗ trợ sinh vi&ecirc;n trong trường đại học cũng c&oacute; c&aacute;c hoạt động gi&uacute;p sinh vi&ecirc;n t&igrave;m c&aacute;c nh&agrave; trọ gần trường đ&aacute;ng tin cậy.
      </p>
      <p>&nbsp;</p>
    </div>
  </div>
  <!-- end content-seo -->
</div>
