<?php
  
  use Util\GeneralUtil;
?>

<div class="module1">
  <div class="module1_content">
    <div class="detail">
      <div class="detail_content content pro_detail">
        <!-- breadcrumb -->
        <div class="detail_info">
          <div class="breadcrumbs">
            <div class="item_breadcrumbs">
              <a itemprop="url" href="index.html"> <span itemprop="title">Trang chủ</span> </a> ›
            </div>
            <div class="item_breadcrumbs">
              <a itemprop="url" href="<?php echo $this->url->get(['for' => 'frontend:item:search']) ?>?category_id=<?php echo $arrItem['category_id'] ?>&city_id=<?php echo $arrItem['city_id'] ?>">
                <span itemprop="title">Cho thuê <?php echo strtolower($arrCategories[ $arrItem['category_id'] ]) ?> <?php echo $arrItem['city_name'] ?></span>
              </a> ›
            </div>
            <div class="item_breadcrumbs">
              <a
                  itemprop="url"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:search']) ?>?category_id=<?php echo $arrItem['category_id'] ?>&city_id=<?php echo $arrItem['city_id'] ?>&district_id=<?php echo $arrItem['district_id'] ?>"
                  rel="nofollow">
                <span itemprop="title">Cho thuê <?php echo strtolower($arrCategories[ $arrItem['category_id'] ]) ?> <?php echo $arrItem['district_name'] ?></span>
              </a></div>
            <div class="time"><span><?php echo date('d/m/Y H:i', $arrItem['created_at']) ?> </span></div>
          </div>
        </div>
        <!-- end breadcrumb -->
        <h1><?php echo $arrItem['item_name'] ?></h1>
        <p class="tieu_chi_tk">
          Tiêu chí tìm kiếm:
          <a href="<?php echo $this->url->get(['for' => 'frontend:item:search']) ?>?category_id=<?php echo $arrItem['category_id'] ?>&city_id=<?php echo $arrItem['city_id'] ?>&district_id=<?php echo $arrItem['district_id'] ?>"><?php echo $arrCategories[ $arrItem['category_id'] ] . ' ' . strtolower($arrItem['district_name']) . ' ' . $arrItem['city_name'] ?></a>
        </p>
        <!-- detail -->
        <div class="detail_info1">
          <div class="item_detail1">
            <!-- price -->
            <p class="pro_price">
              <span class="pro_lable">Giá: </span> <?php echo number_format($arrItem['price']) ?> đ
            </p>
            <!-- end price -->

            <!-- floor_area -->
            <p class="pro_acreage"><span class="pro_lable">
                Diện tích: </span> <?php echo $arrItem['floor_area'] ?> m2
            </p>
            <!-- end floor_area -->

            <!-- address -->
            <p class="item_detail">
              <span class="pro_lable">Địa chỉ nhà: </span> <?php echo $arrItem['address'] ?>
            </p>
            <!-- end address -->
          </div>

          <!-- contact -->
          <?php
            $arrHostInfo = json_decode($arrItem['host_info'], true);
            if (!empty($arrHostInfo)): ?>
              <div class="contact">
                <div class="title"> Thông tin liên hệ</div>
                <p class="item_detail">
                  <span class="pro_lable">Họ tên </span> <?php echo $arrHostInfo['host_name'] ?>
                </p>
                <p class="item_detail">
                  <span class="pro_lable">SĐT </span>
                  <a class="phone" href="tel:<?php echo $arrHostInfo['host_phone'] ?>"><?php echo $arrHostInfo['host_phone'] ?></a>
                </p>
                <p class="item_detail">
                  <span class="pro_lable">Địa chỉ </span> <?php echo $arrHostInfo['host_address'] ?> </p>
              </div>
            <?php endif; ?>
          <!-- end contact -->
        </div>
        <!-- end detail -->

        <!-- item_image_list -->
        <?php
          $arrImages = json_decode($arrItem['item_image_list']);
          if (!empty($arrImages)): ?>
            <div class="proimgList proimgList_1">
              <?php foreach ($arrImages as $image): ?>
                <div title="??" class='img img_avatar'>
                  <a href="" target="_blank">
                    <img src="<?php echo $image ?>">
                  </a>
                </div>
              <?php endforeach; ?>
              <div class="clear"></div>
            </div>
          <?php endif; ?>
        <!-- item_image_list -->
        <h2>Chi tiết <?php echo $arrItem['item_name'] ?></h2>
        <div class="des ">
          <?php echo $arrItem['item_description'] ?>
        </div>
        <div class="detail_info1">
          <div class="item_detail1">
            <!-- price -->
            <p class="pro_price">
              <span class="pro_lable">Giá: </span> <?php echo number_format($arrItem['price']) ?> đ
            </p>
            <!-- end price -->

            <!-- floor_area -->
            <p class="pro_acreage"><span class="pro_lable">
                Diện tích: </span> <?php echo $arrItem['floor_area'] ?> m2
            </p>
            <!-- end floor_area -->

            <!-- address -->
            <p class="item_detail">
              <span class="pro_lable">Địa chỉ nhà: </span> <?php echo $arrItem['address'] ?>
            </p>
            <!-- end address -->
          </div>

          <!-- contact -->
          <?php
            $arrHostInfo = json_decode($arrItem['host_info'], true);
            if (!empty($arrHostInfo)): ?>
              <div class="contact">
                <div class="title"> Thông tin liên hệ</div>
                <p class="item_detail">
                  <span class="pro_lable">Họ tên </span> <?php echo $arrHostInfo['host_name'] ?>
                </p>
                <p class="item_detail">
                  <span class="pro_lable">SĐT </span>
                  <a class="phone" href="tel:<?php echo $arrHostInfo['host_phone'] ?>"><?php echo $arrHostInfo['host_phone'] ?></a>
                </p>
                <p class="item_detail">
                  <span class="pro_lable">Địa chỉ </span> <?php echo $arrHostInfo['host_address'] ?> </p>
              </div>
            <?php endif; ?>
          <!-- end contact -->
        </div>

        <!-- relevant items -->
        <div class="keyword_content">
          <b>Xem thêm: </b><br/>
          <a href="cho-thue-nha-mat-pho-quan-1-pcc4-123.html"> Cho thuê Nhà mặt phố Quận 1 giá rẻ 2020 </a>
          <br/>
          <a href="cho-thue-nha-mat-pho-tp-ho-chi-minh-pcc4-4.html"> Cho thuê Nhà mặt phố TP Hồ Chí Minh giá rẻ 2020 </a>
          <br/> <a href="3-mau-hop-dong-thue-nha-pho-bien-nhat-nd1966.html">Mẫu hợp đồng thuê nhà</a></div>
        <!-- end relevant items -->

        <!-- social -->
        <div class="social_content article_share content">
          <span class="sharing_label">Chia sẻ tin đăng đến bạn bè</span>
          <div class="button_content facebook_like_box">
            <a class="btn_xoa_tin btn_no_login" href="javascript: void(0)" data=4816204.html> Yêu cầu xóa tin </a>
            <a class="btn_luu_tin btn_luu_tin_no" href="javascript: void(0)" data=4816204.html>
              <i class="fa fa-heart"></i> Lưu tin </a>
            <a target="blank" class="fb_btn fb_send_btn clearfix show_desktop item_btn" href="http://www.facebook.com/dialog/send?app_id=151336352087612&amp;link=https://dithuenha.com/cho-thue-mat-tien-mai-thi-luu-da-kao-quan-1-doan-gan-duong-dien-bien-phu-pd4816204.htm&amp;redirect_uri=https://dithuenha.com/cho-thue-mat-tien-mai-thi-luu-da-kao-quan-1-doan-gan-duong-dien-bien-phu-pd4816204.htm"><i></i><span>Gửi Messenger</span></a>
            <div class="fb-like item_btn" data-href="https://dithuenha.com/cho-thue-mat-tien-mai-thi-luu-da-kao-quan-1-doan-gan-duong-dien-bien-phu-pd4816204.htm" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
            <div class="fb-save item_btn" data-uri="https://dithuenha.com/cho-thue-mat-tien-mai-thi-luu-da-kao-quan-1-doan-gan-duong-dien-bien-phu-pd4816204.htm" data-size="large"></div>
          </div>
          <div class="article_copy_link input-group">
            <input class="form-control" id="article_copy_link_input" type="text" readonly value="<?php echo BASE_URL . $_SERVER['REQUEST_URI'] ?>">
            <div class="input-group-addon">
              <button class="btn btn_copy_link2" data-clipboard-target="#article_copy_link_input">Copy link</button>
            </div>
          </div>
        </div>
        <!-- end social -->
      </div>
    </div>

    <!-- content -->
    <?php
      foreach ($arrCategories as $catID => $category):
        if (empty($arrItemsByCat[ $catID ]))
          continue;
        // Sản phẩm theo danh mục
        $arrItems = $arrItemsByCat[ $catID ]; ?>
        <div>
          <div class="module_title">
            <a href="">
              <h2>Cho thuê <?php echo $category ?></h2>
            </a>
          </div>
          <div class="module1_content">
            <ul class="list_pro">
              <?php foreach ($arrItems as $arrItem): ?>
                <li class="pro_item">
                  <a
                      class="img"
                      href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                      title="<?php echo $arrItem['item_name'] ?>">
                    <img alt="<?php echo $arrItem['item_name'] ?>" src="<?php echo $arrItem['item_feature_image'] ?>" onerror="imgError(this)"/>
                  </a>
                  <div class="info">
                    <p class="info2">
                      <span class="info2_lable3 price"><?php echo (float)$arrItem['price'] / 1000000 ?> triệu</span>
                    </p>
                    <h3 class="title">
                      <a
                          href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                          rel="nofollow">
                        <?php echo $arrItem['item_name'] ?>
                      </a>
                    </h3>
                    <div class="intro">
                      <?php echo $arrItem['item_description'] ?>
                    </div>
                    <div class="group2">
                      <p class="info_adrr"><span class="info2_lable">Địa chỉ : </span>
                        <span class="info2_lable3"> <?php echo $arrItem['address'] ?> </span>
                      </p>
                      <p class="info3"><span class="info2_lable">Diện tích : </span>
                        <span class="info2_lable3"><?php echo $arrItem['floor_area'] ?>&nbsp;<?php echo $arrItem['floor_area_unit'] ?></span>
                      </p>
                      <p class="info4"><span class="info2_lable">Quận/Huyện : </span>
                        <span class="info2_lable3"> <?php echo $arrItem['district_name'] ?> </span>
                        <span class="time"><?php echo date('d/m/Y', $arrItem['created_at']) ?></span>
                      </p>
                    </div>
                  </div>
                </li>
              <?php endforeach; ?>
            </ul>
            <div class="clear"></div>
          </div>
          <p class="right_cc"><a href="cho-thue-nha-nguyen-can-pc2.html"> Xem thêm</a></p>
        </div>
      <?php endforeach; ?>
    <!-- end content -->

    <div class="keyword_content_2">
      <a href="cho-thue-nha-quan-1-pci123.html"> Cho thuê nhà Quận 1 </a>
      <a href="cho-thue-nha-tp-ho-chi-minh-pci4.html"> Cho thuê nhà TP Hồ Chí Minh </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2bc%c4%83n%2bh%e1%bb%99%2bchung%2bc%c6%b0%2bph%c6%b0%e1%bb%9dng%2b%c4%91a%2bkao%2bqu%e1%ba%adn%2b1.html"> cho thuê căn hộ chung cư phường đa kao quận 1 </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2b%2bnh%c3%a0%2btr%e1%bb%8d-ph%c3%b2ng%2btr%e1%bb%8d%2bph%c6%b0%e1%bb%9dng%2b%c4%91a%2bkao-qu%e1%ba%adn%2b1.html"> cho thuê nhà trọ-phòng trọ phường đa kao-quận 1 </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2bnh%c3%a0%2btr%e1%bb%8d-ph%c3%b2ng%2btr%e1%bb%8d%2bph%c6%b0%e1%bb%9dng%2b%c4%91a%2bkao-qu%e1%ba%adn%2b1.html"> cho thuê nhà trọ-phòng trọ phường đa kao-quận 1 </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2bm%e1%ba%b7t%2bb%e1%ba%b1ng%2bkinh%2bdoanh%2bph%c6%b0%e1%bb%9dng%2b%c4%91a%2bkao.html"> cho thuê mặt bằng kinh doanh phường đa kao </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2bm%e1%ba%b7t%2bb%e1%ba%b1ng%2bkinh%2bdoanh%2bph%c6%b0%e1%bb%9dng%2b%c4%91a%2bkao%2bqu%e1%ba%adn%2b1.html"> cho thuê mặt bằng kinh doanh phường đa kao quận 1 </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2bm%e1%ba%b7t%2bti%e1%bb%81n%2btr%e1%ba%a7n%2bth%e1%bb%8b%2bv%e1%bb%afng%2ban%2bb%c3%acnh%2bd%c4%a9%2ban%2bb%c3%acnh%2bd%c6%b0%c6%a1ng.html"> cho thuê mặt tiền trần thị vững an bình dĩ an bình dương </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2bm%e1%ba%b7t%2bti%e1%bb%81n%2btr%e1%ba%a7n%2bl%e1%bb%b1u%2br%e1%ba%bb%2bnh%e1%ba%a5t%2bth%e1%bb%8b%2btr%c6%b0%e1%bb%9dng%2b1%2btr%e1%bb%87t%2b2%2bl%e1%ba%a7u.html"> cho thuê mặt tiền trần lựu rẻ nhất thị trường 1 trệt 2 lầu </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2bm%e1%ba%b7t%2bb%e1%ba%b1ng%2bh%e1%ba%bbm%2bph%c6%b0%e1%bb%9dng%2bc%e1%ba%a7u%2b%c3%b4ng%2bl%c3%a3nh%2bqu%e1%ba%adn%2b1.html"> cho thuê mặt bằng hẻm phường cầu ông lãnh quận 1 </a>
      <a href="tim-kiem/m%e1%ba%b7t%2bb%e1%ba%b1ng%2bcho%2bthu%c3%aa%2bm%e1%ba%b7t%2bti%e1%bb%81n%2bl%c3%aa%2bth%e1%bb%8b%2bri%c3%aang%2b%2bph%c6%b0%e1%bb%9dng%2bph%e1%ba%a1m%2bng%c5%a9%2bl%c3%a3o.html"> mặt bằng cho thuê mặt tiền lê thị riêng phường phạm ngũ lão </a>
      <a href="tim-kiem/cho%2bthu%c3%aa%2bm%e1%ba%b7t%2bb%e1%ba%b1ng%2bkinh%2bdoanh%2bph%c6%b0%e1%bb%9dng%2bt%c3%a2n%2b%c4%91%e1%bb%8bnh%2bqu%e1%ba%adn%2b1.html"> cho thuê mặt bằng kinh doanh phường tân định quận 1 </a>
      <a href="tin-cho-thue-theo-so-dien-thoai-0939502629.html"> Tin đăng cho thuê cùng số điện thoại 0939502629 </a>
      <a href="tin-cho-thue-theo-so-dien-thoai-0939502629.html"> 0939502629 </a>
      <a href="tin-cho-thue-theo-so-dien-thoai-0939502629.html"> 0939502629 </a>
      <a href="tin-cho-thue-theo-so-dien-thoai-0939502629.html"> 0939502629 </a>
      <a href="tin-cho-thue-theo-so-dien-thoai-0939502629.html"> 0939502629 </a>
      <a href="tin-cho-thue-theo-so-dien-thoai-0914313553.html"> 0914313553 </a>
    </div>
  </div>
</div>
