<?php
  
  use Util\GeneralUtil;

?>

<div class="module2" style="height: auto !important; min-height: 0px !important;">
  <div class="module2_content" style="height: auto !important;">
    <!-- recent items -->
    <?php if (!empty($arrRecentItems)): ?>
      <div class="right_news right_pro_hot">
        <div class="module_title"><span>Tin nổi bật</span></div>
        <ul class="list">
          <?php foreach ($arrRecentItems as $arrRecentItem): ?>
            <li>
              <a
                  class="img"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrRecentItem['item_name']), 'id' => $arrRecentItem['item_id']]) ?>"
                  title="<?php echo $arrRecentItem['item_name'] ?>">
                <img
                    alt="<?php echo $arrRecentItem['item_name'] ?>"
                    src="<?php echo $arrRecentItem['item_feature_image'] ?>" onerror="imgError(this)"/>
              </a>
              <a
                  class="title"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrRecentItem['item_name']), 'id' => $arrRecentItem['item_id']]) ?>">
                <?php echo $arrRecentItem['item_name'] ?>
              </a>
              <p class="price"><?php echo (float)$arrRecentItem['price'] / 1000000 ?> triệu</p>
            </li>
          <?php endforeach; ?>
        </ul>
      </div>
      <div class="right_news">
        <div class="module_title"><span>Tin đăng chính chủ</span></div>
        <ul class="list">
          <?php foreach ($arrRecentItems as $arrRecentItem): ?>
            <li>
              <a
                  class="img"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrRecentItem['item_name']), 'id' => $arrRecentItem['item_id']]) ?>"
                  title="<?php echo $arrRecentItem['item_name'] ?>">
                <img
                    alt="<?php echo $arrRecentItem['item_name'] ?>"
                    src="<?php echo $arrRecentItem['item_feature_image'] ?>" onerror="imgError(this)"/>
              </a>
              <a
                  class="title"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrRecentItem['item_name']), 'id' => $arrRecentItem['item_id']]) ?>"
                  rel="nofollow">
                <?php echo $arrRecentItem['item_name'] ?>
              </a>
              <p class="price"><?php echo (float)$arrRecentItem['price'] / 1000000 ?> triệu</p>
            </li>
          <?php endforeach; ?>
        </ul>
        <p class="right_cc"><a href="/cho-thue-phong-tro-chinh-chu-pc-cc10.htm"> Xem thêm</a></p>
      </div>
      <div class="right_keyword" style="height: auto !important;">
        <div class="title module_title"><span>Tìm kiếm theo khu vực</span></div>
        <ul class="list">
          <?php foreach ($arrCities as $arrCity): ?>
            <li>
              <a href="<?php echo $this->url->get(['for' => 'frontend:item:search']) ?>?category_id=1&city_id=<?php echo $arrCity['city_id'] ?>"> Phòng trọ <?php echo $arrCity['city_name'] ?> </a>
            </li>
          <?php endforeach; ?>
        </ul>
      </div>
      <div class="right_news" style="height: auto !important;">
        <div class="module_title"><span>Mới đăng</span></div>
        <ul class="list">
          <?php foreach ($arrRecentItems as $arrRecentItem): ?>
            <li>
              <a
                  class="img"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrRecentItem['item_name']), 'id' => $arrRecentItem['item_id']]) ?>"
                  title="<?php echo $arrRecentItem['item_name'] ?>">
                <img
                    alt="<?php echo $arrRecentItem['item_name'] ?>"
                    src="<?php echo $arrRecentItem['item_feature_image'] ?>" onerror="imgError(this)"/>
              </a>
              <a
                  class="title"
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrRecentItem['item_name']), 'id' => $arrRecentItem['item_id']]) ?>"
                  rel="nofollow">
                <?php echo $arrRecentItem['item_name'] ?>
              </a>
              <p class="price"><?php echo (float)$arrRecentItem['price'] / 1000000 ?> triệu</p>
            </li>
          <?php endforeach; ?>
        </ul>
      </div>
    <?php endif; ?>
    <!-- end recent items -->
  </div>
</div>
