<?php
  
  use Util\GeneralUtil;

?>

<div class="module1">
  <div class="detail_info">

  </div>
  <div class="page_title">
    <h1>Cho thuê phòng trọ, tìm phòng trọ giá rẻ giờ tự do 2020.</h1>
    <div class="top_seo ">
      <h2 class="intro">
        <p>Danh sách hơn 10,000 tin đăng
          <a href="https://dithuenha.com/cho-thue-phong-tro-pc10.htm"><strong>cho thuê phòng trọ</strong></a>,
          <strong>cho thuê nhà trọ</strong>, phòng trọ sinh viên với các loại diện tích, giá cho thuê, địa điểm khác nhau.Các bạn&nbsp;chọn tỉnh/thành phố bạn muốn thuê phòng trọ bên dưới để
          <strong>tìm phòng trọ</strong> nhanh nhất.
        </p>
      </h2>
    </div>
  </div>
  <div class="module1_content">
    <ul class="list_pro">
      <?php foreach ($arrItems as $arrItem): ?>
        <li class="pro_item">
          <a
              class="img"
              href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
              title="<?php echo $arrItem['item_name'] ?>">
            <img alt="<?php echo $arrItem['item_name'] ?>" src="<?php echo $arrItem['item_feature_image'] ?>" onerror="imgError(this)"/>
          </a>
          <div class="info">
            <p class="info2">
              <span class="info2_lable3 price"><?php echo (float)$arrItem['price'] / 1000000 ?> triệu</span>
            </p>
            <h3 class="title">
              <a
                  href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                  rel="nofollow">
                <?php echo $arrItem['item_name'] ?>
              </a>
            </h3>
            <div class="intro">
              <?php echo $arrItem['item_description'] ?>
            </div>
            <div class="group2">
              <p class="info_adrr"><span class="info2_lable">Địa chỉ : </span>
                <span class="info2_lable3"> <?php echo $arrItem['address'] ?> </span>
              </p>
            </div>
            <div class="group2">
              <p class="info3"><span class="info2_lable">Diện tích : </span>
                <span class="info2_lable3"><?php echo $arrItem['floor_area'] ?>&nbsp;<?php echo $arrItem['floor_area_unit'] ?></span>
              </p>
              <p class="info4"><span class="info2_lable">Quận/Huyện : </span>
                <span class="info2_lable3"> <?php echo $arrItem['district_name'] ?> </span>
                <span class="time"><?php echo date('d/m/Y', $arrItem['created_at']) ?></span>
              </p>
            </div>
          </div>
        </li>
      <?php endforeach; ?>
    </ul>
    <div class="paging_wrap">
      <?php echo $paginationHTML ?>
      <div class="clear"></div>
    </div>
    <div class="social_content article_share content">
      <span class="sharing_label">Chia sẻ đến bạn bè</span>
      <div class="button_content facebook_like_box">
        <div class="google_like item_btn">
          <div id="___plusone_0" style="position: absolute; width: 450px; left: -10000px;">
            <iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" width="100%" id="I0_1581602986159" name="I0_1581602986159" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=standard&amp;origin=https%3A%2F%2Fdithuenha.com&amp;url=https%3A%2F%2Fdithuenha.com%2Fcho-thue-phong-tro-pc10.htm&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.ucQ2O9Ms-s8.O%2Fam%3DwQE%2Fd%3D1%2Fct%3Dzgms%2Frs%3DAGLTcCMNY0JNsSwg5V1ozLNl0nI1furXRA%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1581602986159&amp;_gfid=I0_1581602986159&amp;parent=https%3A%2F%2Fdithuenha.com&amp;pfname=&amp;rpctoken=32350974" data-gapiattached="true"></iframe>
          </div>
          <div class="g-plusone" data-size="standard" ...="" data-gapiscan="true" data-onload="true" data-gapistub="true"></div>
        </div>
        <a target="blank" class="fb_btn fb_send_btn clearfix show_desktop item_btn" href="http://www.facebook.com/dialog/send?app_id=151336352087612&amp;link=https://dithuenha.com/cho-thue-phong-tro-pc10.htm&amp;redirect_uri=https://dithuenha.com/cho-thue-phong-tro-pc10.htm"><i></i><span>Gửi Messenger</span></a>
        <div class="fb-like item_btn fb_iframe_widget" data-href="https://dithuenha.com/cho-thue-phong-tro-pc10.htm" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=151336352087612&amp;container_width=0&amp;href=https%3A%2F%2Fdithuenha.com%2Fcho-thue-phong-tro-pc10.htm&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=large">
          <span style="vertical-align: bottom; width: 159px; height: 28px;"><iframe name="f37d1cd06de2a74" width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=151336352087612&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D45%23cb%3Df13d4384f65384c%26domain%3Ddithuenha.com%26origin%3Dhttps%253A%252F%252Fdithuenha.com%252Ff3466bc7f901f3c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fdithuenha.com%2Fcho-thue-phong-tro-pc10.htm&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=large" style="border: none; visibility: visible; width: 159px; height: 28px;" class=""></iframe></span>
        </div>
        <div class="fb-save item_btn fb_iframe_widget" data-uri="https://dithuenha.com/cho-thue-phong-tro-pc10.htm" data-size="large" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=151336352087612&amp;container_width=0&amp;locale=vi_VN&amp;sdk=joey&amp;size=large&amp;uri=https%3A%2F%2Fdithuenha.com%2Fcho-thue-phong-tro-pc10.htm">
          <span style="vertical-align: bottom; width: 158px; height: 28px;"><iframe name="f2c92942ad7470c" width="1000px" height="1000px" title="fb:save Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.0/plugins/save.php?app_id=151336352087612&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D45%23cb%3Dfe28e6545a0224%26domain%3Ddithuenha.com%26origin%3Dhttps%253A%252F%252Fdithuenha.com%252Ff3466bc7f901f3c%26relation%3Dparent.parent&amp;container_width=0&amp;locale=vi_VN&amp;sdk=joey&amp;size=large&amp;uri=https%3A%2F%2Fdithuenha.com%2Fcho-thue-phong-tro-pc10.htm" style="border: none; visibility: visible; width: 158px; height: 28px;" class=""></iframe></span>
        </div>
      </div>
      <div class="article_copy_link input-group">
        <input class="form-control" id="article_copy_link_input" type="text" readonly="" value="https://dithuenha.com/cho-thue-phong-tro-pc10.htm">
        <div class="input-group-addon">
          <button class="btn btn_copy_link2" data-clipboard-target="#article_copy_link_input">Copy link</button>
        </div>
      </div>
      <div class="content">
        <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" data-href="https://dithuenha.com/cho-thue-phong-tro-pc10.htm" data-width="100%" data-numposts="5" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=151336352087612&amp;container_width=850&amp;height=100&amp;href=https%3A%2F%2Fdithuenha.com%2Fcho-thue-phong-tro-pc10.htm&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v2.0" style="width: 100%;">
          <span style="vertical-align: bottom; width: 100%; height: 178px;"><iframe name="f3af69877c70b84" width="1000px" height="100px" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.0/plugins/comments.php?app_id=151336352087612&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D45%23cb%3Df2d87891e7bd46c%26domain%3Ddithuenha.com%26origin%3Dhttps%253A%252F%252Fdithuenha.com%252Ff3466bc7f901f3c%26relation%3Dparent.parent&amp;container_width=850&amp;height=100&amp;href=https%3A%2F%2Fdithuenha.com%2Fcho-thue-phong-tro-pc10.htm&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v2.0" style="border: none; visibility: visible; width: 100%; height: 178px;" class=""></iframe></span>
        </div>
      </div>
    </div>
  </div>
  <div class="module1_content content_seo">
    <div class="page_title">
      <h2>Hướng dẫn tìm phòng trọ giá rẻ giờ tự do</h2>
    </div>
    <div class="intro">
      <p>Có phòng trọ cho thuê vào ở ngay,
        <a href="https://dithuenha.com/cho-thue-phong-tro-pc10.htm"><strong>cho thuê phòng trọ giá rẻ</strong></a> gần chợ, gần các trường Đại học : không chung chủ, an ninh, giờ tự do. Bạn đang<strong> tìm phòng trọ, </strong>tìm nhà trọ ở ngay&nbsp;có nhiều loại phòng trọ mini, phòng 1 người ở, phòng ở ghép, phòng gác lửng, phòng trọ sinh viên, phòng trọ dưới 1 triệu....
      </p>
    </div>
    <div class="des">
      <h2 style="font-family: Arial, Helvetica, sans-serif; line-height: 1.1; color: rgb(51, 51, 51); font-size: 34px; letter-spacing: 0.2px; text-align: justify;">
        <strong><span style="font-size: 20px;"><span style="font-weight: 700;"><span style="font-family: arial, helvetica, sans-serif; color: rgb(255, 102, 0);">Các câu hỏi khi tìm phòng trọ</span></span></span></strong>
      </h2>
      <ul>
        <li>
          <p>Vị trí nào Bạn lấy làm trung tâm để tìm nhà trọ: trường học, chỗ làm… ? Bán kính từ nhà trọ đến vị trí trung tâm cách bao nhiêu km Bạn có thể chấp nhận được ?</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Bạn
            <strong><a href="https://dithuenha.com/cho-thue-phong-tro-pc10.htm">tìm nhà trọ</a></strong> ở một mình hay ở ghép, ở ghép mấy người ? Bạn có chấp nhận ở nhà chung chủ không? Thời gian mở cửa nhà trọ tự do hay cố định.
          </p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Khoảng giá thuê nhà trọ Bạn có thể chấp nhận được, cách tính giá điện, nước, wifi…</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>
            <a href="https://dithuenha.com/cho-thue-phong-tro-pc10.htm">Tìm phòng trọ</a> có gác lửng không, toilet riêng hay chung…
          </p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Khu nhà trọ chỉ cho nữ thuê hay cả hai, điều kiện an ninh như thế nào được coi là đảm bảo?</p>
        </li>
      </ul>
      <p>&nbsp;</p>
      <p style="margin-bottom: 17px; letter-spacing: 0.2px; font-family: Arial, Helvetica, sans-serif; line-height: 1.45; font-size: 17px; text-align: justify;">
        <strong><span style="font-size:20px;"><span style="color:#ff6633;"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-weight: 700;">Đặc điểm phòng trọ tốt&nbsp;</span></span></span></span></strong>
      </p>
      <ul>
        <li>
          <p>Phòng trọ thoáng mát, sạch sẽ</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Hàng xóm có vẻ thân thiện, đàng hoàng.</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Nước dùng sạch, không có mùi</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Có công tơ điện trước cửa phòng</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Có nhà để xe an toàn – phí gửi xe miễn phí.</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Cửa, cửa sổ chắc chắn, an toàn.</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Giá thuê không quá đắt so với những phòng đã xem trước đó</p>
        </li>
      </ul>
      <ul>
        <li>
          <p>Không đặt cọc &gt;=2 tháng</p>
        </li>
      </ul>
      <p>&nbsp;</p>
      <h2>
        <strong><span style="font-size:20px;"><span style="color:#ff6633;">Quy trình tìm phòng&nbsp;trọ</span></span></strong>
      </h2>
      <p>Xác định thời gian chuyển: Điều này là quan trọng nhất và gần như sẽ quyết định cả quá trình tìm nhà trọ. Bạn sẽ cần phân chia các khoảng thời gian trong 1 tháng: tuần 1 làm gì, tuần 2, tuần 3 và tuần 4, có phương án dự phòng rủi ro, càng chi tiết càng tốt. Vào các trang tin
        <strong><a href="https://dithuenha.com/cho-thue-phong-tro-pc10.htm">cho thuê phòng trọ</a></strong> như
        <a href="https://dithuenha.com/">https://dithuenha.com/</a>&nbsp;để tìm kiếm phòng trọ.
      </p>
      <p>Bước 1:&nbsp;Lên danh sách các nhà trọ ưng ý</p>
      <p>Bước 2:&nbsp;Khảo sát</p>
      <p>Bước 3:&nbsp;Đặt cọc</p>
      <p>Bước 4:&nbsp;Ký hợp đồng</p>
      <p>Bước 5:&nbsp;Chuyển nhà trọ</p>
      <p>&nbsp;</p>
      <p>Dithuenha.com là website
        <a href="https://dithuenha.com/cho-thue-nha-tro-phong-tro-pc10.htm">cho thuê nhà&nbsp;trọ</a>, cho thuê phòng trọ được nhiều người tìm kiếm.
      </p>
    </div>
    <div class="keyword">
      <h2>cho thuê phòng trọ, cho thue phong tro, phong tro, phong tro cho thue, tìm phòng trọ, tim phong tro</h2>
    </div>
  </div>
</div>
