<?php
  
  use Util\GeneralUtil;

?>
<div class="center">
  <div class="container">
    <div class="row">
      <div class="site">
        <header class="site__header">
          <h1 class="site__title">CPR LAND</h1>
          <h5 class="site__headline">Tìm thấy:<strong><?php echo $totalRow ?> sản phẩm</strong></h5>
        </header>

        <!--        <div class="site__panel">-->
        <!--          <div class="listing__sort">-->
        <!--            <div class="form-group">-->
        <!--              <label for="in-listing-sort" class="control-label">Sắp xếp</label>-->
        <!--              <div class="form-control--select">-->
        <!--                <select name="" id="">-->
        <!--                  <option value="">Giá giảm dần</option>-->
        <!--                </select>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <?php if (!empty($arrItems)): ?>
          <div class="site__main">
            <div class="widget js-widget widget--main">
              <div class="widget__content">
                <div class="listing listing--grid">
                  <?php foreach ($arrItems as $arrItem): ?>
                    <div class="listing__item">
                      <div class="properties properties--grid">
                        <div class="properties__thumb">
                          <a
                              class="item-photo"
                              href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                              title="<?php echo $arrItem['item_name'] ?>">
                            <img
                                alt="<?php echo $arrItem['item_name'] ?>"
                                src="<?php echo $arrItem['item_feature_image'] ?>"
                                onerror="imgError(this)"/>
                          </a>
                        </div>
                        <div class="properties__details">
                          <div class="properties__info">
                            <a
                                href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                                class="properties__address"
                                rel="nofollow">
                              <h3 class="properties__address-street"><?php echo $arrItem['item_name'] ?></h3>
                            </a>
                            <div class="properties__offer">
                              <div class="properties__offer-column">
                                <div class="properties__offer-value">
                                  SĐT: <strong><?php echo $arrItem['host_phone'] ?></strong>
                                </div>
                              </div>
                              <div class="properties__offer-column">
                                <div class="properties__offer-value">
                                  <strong><?php echo (float)$arrItem['price_vnd'] / 1000000 ?> triệu</strong><span class="properties__offer-period">/tháng</span>
                                </div>
                              </div>
                            </div>
                            <hr style="clear: both; padding: 0; margin: 5px 0 15px;">
                            <div class="properties__params">
                              <div class="row">
                                <div class="col-sm-8 col-xs-8">
                                  <i class="fa fa-area-chart left15" title="Living Area"></i>&nbsp; <?php echo $arrItem['floor_area'] ?>
                                  <sup><?php echo $arrItem['floor_area_unit'] ?></sup>
                                </div>
                                <div class="col-sm-4 col-xs-4 text-center" title="Full info">
                                  <a href="nice-view-villa-with-for-rent-at-tay-ho-district-hanoi-pro909.html" class="properties__more">Full info</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <?php endforeach; ?>
                </div>

                <div class="clearfix"></div>

                <div class="sortPagiBar">
                  <div class="bottom-pagination">
                    <nav>
                      <?php echo $paginationHTML ?>
                    </nav>
                  </div>
                  <div class="show-detailduct-item">

                  </div>
                </div>

              </div>
            </div>
          </div>
        <?php endif; ?>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
