<?php
  
  use Util\GeneralUtil;

?>
<script>
  var validationRules = <?php echo json_encode($arrValidationRules); ?>;
</script>
<div class="center">
  <ul>
    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Trang chủ</a></li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__link"><?php echo GeneralUtil::limitWords($arrItem['item_name'], 50) ?></span></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="site site--main">
        <div class="property">
          <h1 class="property__title">
            <?php echo $arrItem['item_name'] ?>
          </h1>
          <div class="property__header">
            <div class="property__price">
              <strong class="property__price-value">
                <?php echo (float)$arrItem['price_vnd'] / 1000000 ?> triệu / 1 tháng
              </strong>
            </div>
          </div>
          <div class="clearfix"></div>
          <!-- #image-slider  -->
          <?php
            $arrImages = isset($arrItem['item_image_list']) ? json_decode($arrItem['item_image_list'], true) : [];
            if (!empty($arrImages)):?>
              <div id="image-slider" class="property__slider">
                <div id="properties-thumbs" class="slider swiper-container">
                  <div class="swiper-wrapper">
                    <?php foreach ($arrImages as $image): ?>
                      <a href="<?php echo $image ?>" class="swiper-slide">
                        <div>
                          <img src="<?php echo $image ?>" alt="<?php echo $arrItem['item_name'] ?>">
                        </div>
                      </a>
                    <?php endforeach; ?>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              <div id="image-thumb-slider" class="">
                <div id="properties-thumbs" class="slider swiper-container">
                  <div class="swiper-wrapper">
                    <?php foreach ($arrImages as $image): ?>
                      <div class="swiper-slide">
                        <img src="<?php echo $image ?>" alt="<?php echo $arrItem['item_name'] ?>">
                      </div>
                    <?php endforeach; ?>
                  </div>
                </div>
              </div>
            <?php endif; ?>
          <!-- end #image-slider -->
          <div class="widget__content_detail">
            <div class="property__description js-unhide-block"><h4 class="property__subtitle">Nội dung thuê nhà rẻ</h4>
              <div class="property__description-wrap">
                <p>
                  <?php echo $arrItem['item_description']; ?>
                </p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="widget js-widget widget--sidebar">

          <div class="widget__content_worker">

            <div class="worker__photo">
              <a href="javascript:void(0);" class="item-photo item-photo--static">
                <img src="<?php echo RESOURCE_URL . '/global/image/' . $this->config->site['support_image'] ?>" alt="<?php echo $this->config->site['company_name'] ?>">
              </a>
            </div>
            <div class="worker__intro-head">
              <div class="worker__intro-name">
                <h3 class="worker__name fn">Ms Lan Anh</h3>
                <div class="worker__post">Estate Agent</div>
              </div>
            </div>
            <div class="worker__intro">
              <div class="worker__intro-row">
                <div class="worker__contacts">

                  <div class="tel">
                    <span class="type"><i class="fa fa-phone" style="font-size: 18px;"></i></span><a href="tel:0903207668" class="uri value">0903207668</a>
                  </div>
                  <div class="email">
                    <span class="type"><i class="fa fa-envelope-o"></i></span><a href="mailto:lananhhanoihousing@gmail.com" class="uri value">lananhhanoihousing@gmail.com</a>
                  </div>

                </div>
                <div class="social social--worker">
                  <a class="social__item" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                  <a class="social__item" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                  <a class="social__item" href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                </div>
                <a href="/en/agent-property/ms-lan-anh.html" class="worker__more">
                  View My Listings
                </a>
              </div>
            </div>
            <div class="clearfix"></div>

          </div>

          <div class="widget__content text-center">
            <style type="text/css">
              .addthis_toolbox img {
                vertical-align: middle;
                width: 32px;
                margin-right: 6px;
              }
            </style>
            <div class="addthis_toolbox addthis_default_style">
              <a class="addthis_button_messenger" target="_blank" title="Messenger" href="#">
                <img src="https://hanoihousing.vn//Images/icons/icon_fb.png" width="40" border="0" alt="Facebook Messenger" title="Facebook messenger">
              </a>


              <a class="addthis_button_gmail" target="_blank" title="Gmail" href="#">
                <img src="https://hanoihousing.vn//Images/icons/icon_gm.png" width="40" border="0" alt="Gmail" title="Send to Gmail">
              </a>
              <a class="addthis_button_link" target="_blank" title="Copy Link" href="#">
                <img src="https://hanoihousing.vn//Images/icons/icon_copy.png" width="40" border="0" alt="Copy Link" title="Copy Link">
              </a>
              <a class="addthis_button_skype" target="_blank" title="Skype" href="#">
                <img src="https://hanoihousing.vn//Images/icons/icon_skype.png" width="40" border="0" alt="Skype" title="Skype">
              </a>
              <a class="addthis_button_facebook" title="Facebook" href="#">
                <img src="https://hanoihousing.vn//Images/icons/icon_fb_share.png" width="40" border="0" alt="Facebook Share" title="Facebook Share">
              </a>
              <a style="cursor:pointer;" class="zalo-share-button" data-href="http://hanoihousing.vn/en/brand-new-studio-for-rent-in-ba-dinh-pro4611.html" data-oaid="1844517847726705609" data-layout="2" data-color="white" data-customize="true">
                <img src="https://hanoihousing.vn//Images/icons/icon_zalo.png" width="40" border="0" alt="Zalo Share" title="Zalo Share">
                <iframe frameborder="0" allowfullscreen="" scrolling="no" width="0px" height="0px" src="https://sp.zalo.me/plugins/share?dev=null&amp;color=white&amp;oaid=1844517847726705609&amp;href=http%3A%2F%2Fhanoihousing.vn%2Fen%2Fbrand-new-studio-for-rent-in-ba-dinh-pro4611.html&amp;layout=2&amp;customize=true&amp;callback=null&amp;id=fe1407f6-9ac4-47ae-a322-d88caf5b0208&amp;domain=hanoihousing.vn&amp;android=false&amp;ios=false" style="position: absolute;"></iframe>
              </a>
              <div class="atclear"></div>
            </div>
          </div>
          <div class="widget__content inquiry" style="position: relative; top: auto; width: auto;">
            <div class="widget__header">
              <h2 class="widget__title">Liên hệ</h2>
            </div>
            <div class="form form--flex form--property-agent js-contact-form form--properties">
              <form action="" id="" class="js-contact-frm">
                <div class="form-group">
                  <label class="control-label"></label>
                  <input name="phone" type="text" id="phone" placeholder="SĐT" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label"></label>
                  <textarea name="message" rows="2" cols="20" id="message" placeholder="Thông điệp..." class="form-control" style="height:120px;width:100%;"></textarea>
                </div>
                <div class="clearfix"></div>
                <input type="submit" name="" value="Gửi yêu cầu" onclick="" id="" class="form__submit js-contact-frm__submit">

              </form>
            </div>
            <div class="clearfix"></div>
          </div>


        </div>
      </div>
    </div>
    <?php if (!empty($arrRecentItems)): ?>
      <div id="recents-post-block" class="widget__content" style="position: relative;">
        <div class="widget__header">
          <h2 class="widget__title">Sản phẩm gần đây</h2>
        </div>
        <div class="swiper-container">
          <div id="partners-slider2" class="swiper-wrapper partners">
            <?php foreach ($arrRecentItems as $arrRecentItem): ?>
              <div class="swiper-slide properties properties--grid">
                <div class="properties__thumb">
                  <a
                      class="item-photo"
                      href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrRecentItem['item_name']), 'id' => $arrRecentItem['item_id']]) ?>"
                      title="<?php echo $arrRecentItem['item_name'] ?>">
                    <img
                        alt="<?php echo $arrRecentItem['item_name'] ?>"
                        src="<?php echo $arrRecentItem['item_feature_image'] ?>"
                        onerror="imgError(this)"/>
                    />
                  </a>
                </div>
                <div class="properties__details">
                  <div class="properties__info">
                    <a
                        href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrRecentItem['item_name']), 'id' => $arrRecentItem['item_id']]) ?>"
                        class="properties__address"
                        rel="nofollow">
                      <h3 class="properties__address-street"><?php echo $arrRecentItem['item_name'] ?></h3>
                    </a>
                    <div class="properties__offer">
                      <div class="properties__offer-column">
                        <div class="properties__offer-value">
                          ID: <strong><?php echo $arrRecentItem['item_id'] ?></strong>
                        </div>
                      </div>
                      <div class="properties__offer-column">
                        <div class="properties__offer-value">
                          <strong><?php echo (float)$arrItem['price_vnd'] / 1000000 ?> triệu</strong><span class="properties__offer-period">/tháng</span>
                        </div>
                      </div>
                    </div>
                    <hr style="clear: both; padding: 0; margin: 5px 0 15px;">
                    <div class="properties__params">
                      <div class="row">
                        <div class="col-sm-8 col-xs-8">
                          <i class="fa fa-area-chart left15" title="Living Area"></i>&nbsp; <?php echo $arrItem['floor_area'] ?>
                          <sup><?php echo $arrItem['floor_area_unit'] ?></sup>
                        </div>
                        <div class="col-sm-4 col-xs-4 text-center" title="Full info">
                          <a href="nice-view-villa-with-for-rent-at-tay-ho-district-hanoi-pro909.html" class="properties__more">Full info</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <?php endforeach; ?>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    <?php endif; ?>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9?v=1"></script>
<script>
  var galleryThumbs = new Swiper('#image-thumb-slider .swiper-container', {
    slidesPerView: 4,
    freeMode: true,
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
  });

  var swiper = new Swiper('#image-slider .swiper-container', {
    slidesPerView: 1,
    navigation: {
      nextEl: '#image-slider .swiper-button-next',
      prevEl: '#image-slider .swiper-button-prev',
    },
    thumbs: {
      swiper: galleryThumbs
    }
  });

  $('#image-slider .swiper-wrapper').lightGallery();
</script>
