<html lang="en"><!-- begin::Head -->
  <head>
    <meta charset="utf-8">

    <title>Metronic | Error Page - 1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">        <!--end::Fonts -->


    <!--begin::Page Custom Styles(used by this page) -->
    <link href="<?php echo RESOURCE_URL ?>/global/css/error-1.css" rel="stylesheet" type="text/css">
    <!--end::Page Custom Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="<?php echo RESOURCE_URL ?>/global/css/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="<?php echo RESOURCE_URL ?>/global/css/style.bundle.css" rel="stylesheet" type="text/css">
    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->

    <link href="<?php echo RESOURCE_URL ?>/global/css/light_1.css" rel="stylesheet" type="text/css">
    <link href="<?php echo RESOURCE_URL ?>/global/css/light_2.css" rel="stylesheet" type="text/css">
    <link href="<?php echo RESOURCE_URL ?>/global/css/dark_1.css" rel="stylesheet" type="text/css">
    <link href="<?php echo RESOURCE_URL ?>/global/css/dark_2.css" rel="stylesheet" type="text/css">        <!--end::Layout Skins -->

    <link rel="icon" href="<?php echo STATIC_URL ?>/images/favicon.png" type="image/x-icon"/>
  </head>
  <!-- end::Head -->

  <!-- begin::Body -->
  <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed">

    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" style="background-image: url(<?php echo RESOURCE_URL . '/global/image/bg-error1.jpg' ?>?v=1);">
        <div class="kt-error-v1__container">
          <h1 class="kt-error-v1__number">403</h1>
          <p class="kt-error-v1__desc">
            OOPS! Access Denined
          </p>
        </div>
      </div>


    </div>

    <!-- end:: Page -->


    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
      var KTAppOptions = {
        "colors": {
          "state": {
            "brand": "#5d78ff",
            "dark": "#282a3c",
            "light": "#ffffff",
            "primary": "#5867dd",
            "success": "#34bfa3",
            "info": "#36a3f7",
            "warning": "#ffb822",
            "danger": "#fd3995"
          },
          "base": {
            "label": [
              "#c5cbe3",
              "#a1a8c3",
              "#3d4465",
              "#3e4466"
            ],
            "shape": [
              "#f0f3ff",
              "#d9dffa",
              "#afb4d4",
              "#646c9a"
            ]
          }
        }
      };
    </script>
    <!-- end::Global Config -->

    <script src="<?php echo RESOURCE_URL ?>/global/js/plugins.bundle.js" type="text/javascript"></script>
    <script src="<?php echo RESOURCE_URL ?>/global/js/scripts.bundle.js" type="text/javascript"></script>
    <!-- end::Body -->
  </body>
</html>
