<div class="widget__content">
  <?php if ($CDATA['common']['controller'] === 'index'): ?>
    <!-- BEGIN SLIDER-->
    <form
        action="<?php echo $this->url->get(['for' => 'frontend:item:search']) ?>"
        class="box-main-search js-search-box" method="get">
      <div class="landber_container">
        <div class="home-search">
          <h1 class="sologan">Tìm kiếm bất động sản
            với hơn 20.000 tin mới mỗi ngày</h1>
          <div class="box-search-input clb position-re font18">
            <input type="text" name="k" class="fll pdl10 js-search-box__street" placeholder="Nhập Thành Phố, Phường, Xã, hoặc Dự án" id="autoCompleteHome" autocomplete="off">
            <button class="btn-search-home flr"><i class="fa fa-search"></i> Tìm kiếm</button>
          </div>
          <div class="search-home-ad box-filter font18">
            <div class="option search-custom search-type">
              <div class="select">
                <a href="javascript:void(0)" class="search-link js-search-box__category-desc">Loại nhà đất</a>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
              <div class="search-pop">
                <input type="hidden" name="category_id" class="js-search-box__category-id">
                <ul>
                  <?php foreach ($arrCategories as $id => $category): ?>
                    <li class="js-search-box__category-sel" data-val="<?php echo $id ?>">
                      <a><?php echo $category ?></a>
                    </li>
                  <?php endforeach; ?>
                </ul>
              </div>
            </div>
            <div class="option search-custom">
              <div class="select">
                <a href="javascript:void(0)" class="search-link js-search-box__price-desc">Giá</a>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
              <div class="search-pop">
                <input type="hidden" name="price" class="js-search-box__price">
                <div class="form">
                  <input type="text" placeholder="Từ" class="js-search-box__price-input-from">
                  <input type="text" placeholder="Đến" class="js-search-box__price-input-to">
                </div>
                <ul>
                  <li class="js-search-box__price-sel" data-val="100-9999">
                    <a>> 100 triệu</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="option search-custom">
              <div class="select">
                <a href="javascript:void(0)" class="search-link js-search-box__floor-area-desc">Diện tích</a>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
              <div class="search-pop">
                <input type="hidden" name="floor_area" class="js-search-box__floor-area">
                <div class="form">
                  <input type="text" placeholder="Từ" class="js-search-box__floor-area-input-from">
                  <input type="text" placeholder="Đến" class="js-search-box__floor-area-input-to">
                </div>
                <ul>
                  <li class="js-search-box__floor-area-sel" data-val="30-9999">
                    <a>> 30 m²</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p class="clb"></p>
        </div>
      </div>
    </form>
    <!-- END SLIDER-->
  <?php endif; ?>
</div>
