<?php if (
  $CDATA['common']['controller'] !== 'index' &&
  DEVICE == 'desktop'
): ?>
  <form
      action="<?php echo $this->url->get(['for' => 'frontend:item:search']) ?>"
      class="filter-box js-search-box" method="get">
    <div class="utility">
      <div class="container">
        <div class="row" id="mybox">
          <div class="col search-type search-category">
            <div class="option search-custom">
              <div class="select">
                <a href="javascript:void(0)" class="search-link js-search-box__category-desc"><?php echo !empty($params['category_id']) ? $arrCategories[ $params['category_id'] ] : 'Loại nhà đất' ?></a>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
              <div class="search-pop">
                <input type="hidden" name="category_id" class="js-search-box__category-id">
                <ul>
                  <?php foreach ($arrCategories as $id => $category): ?>
                    <li class="js-search-box__category-sel" data-val="<?php echo $id ?>">
                      <a><?php echo $category ?></a>
                    </li>
                  <?php endforeach; ?>
                </ul>
              </div>
            </div>
          </div>
          <div class="col search-name">
            <input type="text" name="k" class="js-search-box__street" placeholder="Nhập Thành Phố, Phường, Xã, hoặc Dự án" id="autoCompleteHome" autocomplete="off">
          </div>
          <?php $isSearchPrice = !empty($searchConditions['price_from']) && !empty($searchConditions['price_to']) ? 1 : 0 ?>
          <div class="col search-price search-price">
            <input type="hidden" name="price" class="js-search-box__price" value="<?php echo $isSearchPrice ? $searchConditions['price_from'] . '-' . $searchConditions['price_to'] : '' ?>">
            <div class="option search-custom">
              <div class="select">
                <a href="javascript:void(0)" class="search-link js-search-box__price-desc">
                  <?php if ($isSearchPrice): ?>
                    Từ <?php echo $searchConditions['price_from'] / 1000000 ?> đến <?php echo $searchConditions['price_to'] / 1000000 ?> triệu
                  <?php else: ?>
                    Giá
                  <?php endif; ?>
                </a>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
              <div class="search-pop">
                <div class="form">
                  <input type="text" placeholder="Từ" class="js-search-box__price-input-from" value="<?php echo $isSearchPrice ? $searchConditions['price_from'] / 1000000 : '' ?>">
                  <input type="text" placeholder="Đến" class="js-search-box__price-input-to" value="<?php echo $isSearchPrice ? $searchConditions['price_to'] / 1000000 : '' ?>">
                </div>
                <ul>
                  <li class="js-search-box__price-sel" data-val="100-9999">
                    <a>> 100 triệu</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <?php $isSearchFloorArea = !empty($searchConditions['floor_area_from']) && !empty($searchConditions['floor_area_to']) ? 1 : 0 ?>
          <div class="col search-meter search-floor-area">
            <div class="option search-custom">
              <div class="select">
                <a href="javascript:void(0)" class="search-link js-search-box__floor-area-desc">
                  <?php if ($isSearchFloorArea): ?>
                    Từ <?php echo $searchConditions['floor_area_from'] ?> đến <?php echo $searchConditions['floor_area_to'] ?> triệu
                  <?php else: ?>
                    Diện tích
                  <?php endif; ?>
                </a>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
              <div class="search-pop" style="display: none;">
                <input type="hidden" name="floor_area" class="js-search-box__floor-area" value="<?php echo $isSearchFloorArea ? $searchConditions['floor_area_from'] . '-' . $searchConditions['floor_area_to'] : '' ?>">
                <div class="form">
                  <input type="text" placeholder="Từ" class="js-search-box__floor-area-input-from" value="<?php echo $isSearchFloorArea ? $searchConditions['floor_area_from'] : '' ?>">
                  <input type="text" placeholder="Đến" class="js-search-box__floor-area-input-to" value="<?php echo $isSearchFloorArea ? $searchConditions['floor_area_to'] : '' ?>">
                </div>
                <ul>
                  <li class="js-search-box__floor-area-sel" data-val="30-9999">
                    <a>> 30 m²</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col search-btn">
            <button class="btn-find" data-find="true">
              <i class="fa fa-search"></i> <span class="text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
<?php endif; ?>
