<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="widget js-widget widget--footer">
          <div class="widget__header">
            <h2 class="widget__title">Contact info</h2>
          </div>
          <div class="widget__content">
            <section class="address address--footer">
              <p style="text-align: justify;">
                <strong>HANOI HOUSING Co., Ltd.</strong><br>
                No.21 To Ngoc Van, Tay Ho, Hanoi, Vietnam<br>
                Office: +8424 3719 43 75<br>
                Hotline: +8490 347 1147<br>
                Email: <a href="mailto:hanoihousingagent@gmail.com">hanoihousingagent@gmail.com</a><br>
                Website: <a href="http://hanoihousing.vn/">www.hanoihousing.vn</a>
              </p>
            </section>
            <div class="social social--footer">
              <a class="social__item" target="_blank" rel="nofollow" href="https://www.facebook.com/HANOIHOUSING21ToNgocVan"><i class="fa fa-facebook"></i></a><a class="social__item" target="_blank" rel="nofollow" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a><a class="social__item" target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UC6OHtyHkqwAPc2DJ4Y4Dthg"><i class="fa fa-youtube"></i></a><a class="social__item" target="_blank" rel="nofollow" href="https://twitter.com/"><i class="fa fa-twitter"></i></a><a class="social__item" target="_blank" href="https://hanoihousing.vn/rss/default.aspx"><i class="fa fa-rss"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="widget js-widget widget--footer">
          <div class="widget__header">
            <h2 class="widget__title">Main menu</h2>
          </div>
          <div class="widget__content">
            <ul class="foot-ul">
              <li><a href="our-property.html"><i class="fa fa-angle-right"></i>&nbsp;Our properties</a></li>
              <li><a href="property-type/apartments-for-rent.html"><i class="fa fa-angle-right"></i>&nbsp;Apartments</a>
              </li>
              <li>
                <a href="property-type/serviced-apartments.html"><i class="fa fa-angle-right"></i>&nbsp;Serviced Apartments</a>
              </li>
              <li>
                <a href="property-type/studio-for-rent.html"><i class="fa fa-angle-right"></i>&nbsp;Studio</a>
              </li>
              <li><a href="property-type/villa-for-rent.html"><i class="fa fa-angle-right"></i>&nbsp;Villa</a>
              </li>
              <li>
                <a href="property-type/houses-for-rent.html"><i class="fa fa-angle-right"></i>&nbsp;Houses</a>
              </li>
              <li><a href="property-type/offices.html"><i class="fa fa-angle-right"></i>&nbsp;Office</a></li>
              <li><a href="hanoi-building.html"><i class="fa fa-angle-right"></i>&nbsp;Hanoi Buildings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="widget js-widget widget--footer">
          <div class="widget__header">
            <h2 class="widget__title">Hanoi Guide</h2>
          </div>
          <div class="widget__content">
            <ul class="foot-ul">
              <li>
                <a href="hanoi-guide/living-in-hanoi.html"><i class="fa fa-angle-right"></i>&nbsp;Living in Hanoi</a>
              </li>
              <li>
                <a href="hanoi-guide/spa-beauty.html"><i class="fa fa-angle-right"></i>&nbsp;Spa &amp; Beauty</a>
              </li>
              <li>
                <a href="hanoi-guide/embassy.html"><i class="fa fa-angle-right"></i>&nbsp;Embassy</a>
              </li>
              <li>
                <a href="hanoi-guide/restaurants.html"><i class="fa fa-angle-right"></i>&nbsp;Restaurants</a>
              </li>
              <li>
                <a href="hanoi-guide/stores-and-markets.html"><i class="fa fa-angle-right"></i>&nbsp;Stores and Markets</a>
              </li>
              <li>
                <a href="hanoi-guide/schools-in-hanoi.html"><i class="fa fa-angle-right"></i>&nbsp;Schools in Hanoi</a>
              </li>
              <li>
                <a href="hanoi-guide/clinic-in-hanoi.html"><i class="fa fa-angle-right"></i>&nbsp;Clinic in Hanoi</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget js-widget widget--footer">
          <div class="widget__header">
            <h2 class="widget__title">Facebook</h2>
          </div>
          <div class="widget__content">
            //fb-script
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer__copyright">
      Copyright © 2017 by Hanoi Housing Co., Ltd. All rights reserved.&nbsp;Today: 6334 viewed.
    </div>
  </div>
</footer>
