<div class="container">
  <div class="box_logo">
    <a title="??" href="/" class="logo">
      <img alt="??" src="<?php echo RESOURCE_URL ?>/global/image/logo.png">
    </a>
  </div>
  <ul class="header_menu_main">
    <li class="active"><a href="#">Cho thuê</a></li>
    <li><a href="#">Cần thuê</a></li>
    <li><a href="#">Tin tức</a></li>
  </ul>
  <ul class="header_user">
    <li class="header_btn_post">
      <a class="btn_post1" href="javascript: void(0)">
        <i class="fa fa-plus-circle"></i> Đăng tin
      </a>
      <div class="header_post_sub">
        <ul>
          <li>
            <a href="<?php echo $this->url->get(['for' => 'frontend:user:rentcategory']); ?>">Đăng tin cho thuê</a>
          </li>
          <li>
            <a href="<?php echo $this->url->get(['for' => 'frontend:user:rentcategory']); ?>">Đăng tin cần thuê</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header_book_mark_content">
      <a class="header_book_mark" href="javascript: void(0)">
        <i class="fa fa-heart"></i>
      </a>
      <div class="header_book_mark_list "><span class="arrow"></span>
        <p class="notify_header">Tin đã lưu</p>
        <div class="header_book_mark_list_content "></div>
      </div>
    </li>
    
    <?php
      $arrLoginInfo = $CDATA['login']; // Thông tin đăng nhập
      // Đã đăng nhập
      if (!empty($arrLoginInfo['UID'])): ?>
        <li class="header_user_loged">
          <a href="??" class="name">
            <span class="image">
              <img alt="" src="" onerror="imgError(this)"/>
            </span>
            <b><?php echo $arrLoginInfo['FULLNAME'] ?></b>
          </a>
          <div class="header_user_menu">
            <ul>
              <li class="use">
                <a href="??" class="name2">
                <span class="image">
                  <img alt="" src="" onerror="imgError(this)"/>
                </span>
                  <b><?php echo $arrLoginInfo['FULLNAME'] ?></b>
                </a>
              </li>
              <li class="li_break"></li>
              <li>
                <a href="<?php echo $this->url->get(['for' => 'frontend:user:rentcategory']); ?>">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Đăng tin cho thuê
                </a>
              </li>
              <li>
                <a href="<?php echo $this->url->get(['for' => 'frontend:user:rentcategory']); ?>">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Đăng tin cần thuê
                </a>
              </li>
              <li>
                <a href="<?php echo $this->url->get(['for' => 'frontend:user:manageitem']); ?>">
                  <i class="fa fa-list" aria-hidden="true"></i> Quản lý tin cho thuê
                </a>
              </li>
              <li class="li_break"></li>
              <li class="li_break"></li>
              <li>
                <a href="/doi-anh-dai-dien.htm">
                  <i class="fa fa-camera" aria-hidden="true"></i> Thay ảnh đại diện
                </a>
              </li>
              <li>
                <a href="/cap-nhat-thong-tin.htm">
                  <i class="fa fa-edit" aria-hidden="true"></i> Cập nhật thông tin
                </a>
              </li>
              <li>
                <a href="/doi-mat-khau.htm">
                  <i class="fa fa-lock" aria-hidden="true"></i> Đổi mật khẩu
                </a>
              </li>
              <li class="li_break"></li>
              <li>
                <a href="<?php echo $this->url->get(['for' => 'frontend:user:logout']) ?>">
                  <i class="fa fa-power-off" aria-hidden="true"></i> Đăng xuất </a>
              </li>
            </ul>
          </div>
        </li>
      <?php else: // Chưa đăng nhập ?>
        <li class="header_user_nologin">
          <a rel="nofollow" href="<?php echo $this->url->get(['for' => 'frontend:user:login']) ?>" class="login"> Đăng nhập </a>
          <span>/</span>
          <a rel="nofollow" href="<?php echo $this->url->get(['for' => 'frontend:user:reg']) ?>" class="register"> Đăng ký </a>
        </li>
      <?php endif; ?>
  </ul>
  <div class="clear"></div>
</div>
