<?php if (DEVICE == 'mobile'): ?>
  <header class="header header--white">
    <div class="container">
      <div class="header__row">
        <a href="/" class="header__logo">
          <img alt="Logo" src="<?php echo RESOURCE_URL ?>/global/image/logo.png" class="logo-header">
        </a>
        <div class="header__contacts">

        </div>
        <button type="button" class="header__navbar-toggle">
        <span class="header__navbar-show">
            <i class="fa fa-bars"></i>
        </span>
          <span class="header__navbar-hide">
            <i class="fa fa-times"></i>
        </span>
        </button>
      </div>
    </div>
  </header>
  <div id="navbar-collapse-1" class="navbar__wrap navbar__wrap--init">
    <ul class="navbar__nav">

      <li class="navbar__item js-dropdown"><a class="navbar__link back" href="/en/our-property.html">Our properties</a>
        <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
          <div class="navbar__back js-navbar-submenu-back">
            <div class="navbar__arrow"><i class="fa fa-angle-left"></i> Back</div>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/westlake-residence-1.html">WESTLAKE RESIDENCE 1</a>
              </li>
            </ul>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/westlake-building-2.html">WESTLAKE BUILDING 2</a>
              </li>
            </ul>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/villa-2-52-to-ngoc-van.html">VILLA 2/52 TO NGOC VAN</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="navbar__item js-dropdown"><a class="navbar__link back" href="/en/property-list.html">Properties</a>
        <div role="menu" class="js-dropdown-menu navbar__dropdown">
          <div class="navbar__back js-navbar-submenu-back">
            <div class="navbar__arrow">
              <i class="fa fa-angle-left"></i>
              Back
            </div>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/en/property-type/apartments-for-rent.html">Apartments
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/apartments-in-tay-ho.html">
                        <i class="fa fa-caret-right"></i> apartments in Tay Ho
                      </a>
                    </li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl00$HiddenFieldId" id="ctl00_hh_RepeaterType_ctl00_HiddenFieldId" value="60">
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl00$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterType_ctl00_HiddenFieldTypeUrl" value="apartments-for-rent">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/en/property-type/serviced-apartments.html">Serviced Apartments
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/serviced-apartment-in-tay-ho.html">
                        <i class="fa fa-caret-right"></i> Tay Ho District</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/serviced-apartments-in-hoan-kiem.html">
                        <i class="fa fa-caret-right"></i> Hoan Kiem District</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/serviced-apartment-in-ba-dinh.html">
                        <i class="fa fa-caret-right"></i> Ba Dinh District</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/serviced-apartment-in-cau-giay.html">
                        <i class="fa fa-caret-right"></i> Cau Giay District</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/serviced-apartment-in-hai-ba-trung.html">
                        <i class="fa fa-caret-right"></i> Hai Ba Trung District</a></li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl01$HiddenFieldId" id="ctl00_hh_RepeaterType_ctl01_HiddenFieldId" value="63">
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl01$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterType_ctl01_HiddenFieldTypeUrl" value="serviced-apartments">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/en/property-type/studio-for-rent.html">Studio
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/studio-in-tay-ho.html">
                        <i class="fa fa-caret-right"></i> Studio in Tay Ho</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/studio-in-hoan-kiem.html">
                        <i class="fa fa-caret-right"></i> Studio in Hoan Kiem</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/studio-in-ba-dinh.html">
                        <i class="fa fa-caret-right"></i> Studio in Ba Dinh</a></li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl02$HiddenFieldId" id="ctl00_hh_RepeaterType_ctl02_HiddenFieldId" value="62">
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl02$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterType_ctl02_HiddenFieldTypeUrl" value="studio-for-rent">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/en/property-type/villa-for-rent.html">Villa
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/villa-in-tay-ho.html">
                        <i class="fa fa-caret-right"></i> Villa in Tay Ho</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/villa-in-ciputra.html">
                        <i class="fa fa-caret-right"></i> Villa in Ciputra</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/villa-in-hai-ba-trung.html">
                        <i class="fa fa-caret-right"></i> Villa in Hai Ba Trung</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/villas-in-vinhomes-riverside.html">
                        <i class="fa fa-caret-right"></i> Villas in Vinhomes Riverside</a></li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl03$HiddenFieldId" id="ctl00_hh_RepeaterType_ctl03_HiddenFieldId" value="59">
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl03$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterType_ctl03_HiddenFieldTypeUrl" value="villa-for-rent">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/en/property-type/houses-for-rent.html">Houses
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/houses-in-tay-ho.html">
                        <i class="fa fa-caret-right"></i> Houses in Tay Ho</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/houses-in-ciputra.html">
                        <i class="fa fa-caret-right"></i> Houses in Ciputra</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/houses-in-ba-dinh.html">
                        <i class="fa fa-caret-right"></i> Houses in Ba Dinh</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/houses-in-cau-giay.html">
                        <i class="fa fa-caret-right"></i> Houses in Cau Giay</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/houses-in-hai-ba-trung.html">
                        <i class="fa fa-caret-right"></i> Houses in Hai Ba Trung</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/houses-in-hoan-kiem.html">
                        <i class="fa fa-caret-right"></i> Houses in Hoan Kiem</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/houses-in-dong-da.html">
                        <i class="fa fa-caret-right"></i> Houses in Dong Da</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/houses-in-long-bien.html">
                        <i class="fa fa-caret-right"></i> Houses in Long Bien</a></li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl04$HiddenFieldId" id="ctl00_hh_RepeaterType_ctl04_HiddenFieldId" value="58">
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl04$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterType_ctl04_HiddenFieldTypeUrl" value="houses-for-rent">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/en/property-type/offices.html">Office
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/office-in-tay-ho.html">
                        <i class="fa fa-caret-right"></i> Office in Tay Ho</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/offic.html">
                        <i class="fa fa-caret-right"></i> Office in Hai Ba Trung</a></li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/en/property-type/office-in-cau-giay.html">
                        <i class="fa fa-caret-right"></i> Office in Cau Giay</a></li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl05$HiddenFieldId" id="ctl00_hh_RepeaterType_ctl05_HiddenFieldId" value="169">
                <input type="hidden" name="ctl00$hh$RepeaterType$ctl05$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterType_ctl05_HiddenFieldTypeUrl" value="offices">
              </li>

            </ul>
          </div>
        </div>
      </li>
      <li class="navbar__item js-dropdown"><a class="navbar__link back" href="/en/hanoi-building.html">Hanoi Buildings
        </a>
        <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-4 navbar__dropdown--left">
          <div class="navbar__back js-navbar-submenu-back">
            <div class="navbar__arrow"><i class="fa fa-angle-left"></i> Back</div>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/ciputra-hanoi.html">Ciputra Hanoi</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/d-le-roi-soleil.html">D' Le Roi Soleil</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/hoang-thanh-tower.html">Hoang Thanh Tower</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/trang-an-complex.html">Trang An Complex</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/pacific-place-hanoi.html">Pacific Place Hanoi</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/sun-grand-ancora-residence.html">Sun Grand Ancora Residence</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/sun-grand-city.html">Sun Grand City</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/pentstudio.html">PentStudio</a>
              </li>
            </ul>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/royal-city-apartment.html">Royal City apartment</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/vinhomes-metropolis.html">Vinhomes Metropolis</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/times-city-park-hill.html">Times City Park Hill</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/golden-westlake.html">Golden Westlake Hanoi</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/vinhome-gardenia-my-dinh.html">Vinhome Gardenia My Dinh</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/lancaster-building.html">Lancaster Building</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/mipec-long-bien.html">Mipec Long Bien</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/somerset-west-point-hanoi.html">Somerset West Point Hanoi</a>
              </li>
            </ul>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/elegant-suites-westlake.html">Elegant Suites Westlake</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/hoa-binh-green.html">Hoa Binh Green</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/richland-southern.html">Richland Southern</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/keangnam-landmark.html">Keangnam Landmark</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/fraser-suites-hanoi.html">Fraser Suites Hanoi</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/vinhomes-riverside-hanoi.html">Vinhomes Riverside Villa</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/hanoi-aqua-central.html">Hanoi Aqua Central</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/imperia-garden.html">Imperia Garden</a>
              </li>
            </ul>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/watermark.html">Watermark Lac Long Quan</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/goldmark-city.html">Goldmark City</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/indochina-plaza.html">Indochina Plaza</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/hong-kong-tower-243a-de-la-thanh.html">Hong Kong Tower 243A De La Thanh</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/the-central-field-219-trung-kinh.html">The Central Field 219 Trung Kinh</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/lac-hong-west-lake.html">Lac Hong West Lake</a>
              </li>
              <li class="navbar__subitem">
                <a class="navbar__sublink js-navbar-sublink" href="/en/hanoi-building/vinhomes-nguyen-chi-thanh.html">VINHOMES Nguyen Chi Thanh</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="navbar__item js-dropdown"><a class="navbar__link back" href="/en/forsale-list.html">Mua bán BĐS</a>
        <div role="menu" class="js-dropdown-menu navbar__dropdown">
          <div class="navbar__back js-navbar-submenu-back">
            <div class="navbar__arrow">
              <i class="fa fa-angle-left"></i>
              Back
            </div>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/vn/forsale-type/dat.html">Đất
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/vi/forsale-district/dat/tay-ho-district.html">Tây Hồ</a>
                    </li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl00$HiddenFieldId" id="ctl00_hh_RepeaterTypeForSale_ctl00_HiddenFieldId" value="5">
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl00$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterTypeForSale_ctl00_HiddenFieldTypeUrl" value="dat">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/vn/forsale-type/biet-thu.html">Biệt thự
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/vi/forsale-district/biet-thu/tay-ho-district.html">Tây Hồ</a>
                    </li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl01$HiddenFieldId" id="ctl00_hh_RepeaterTypeForSale_ctl01_HiddenFieldId" value="1">
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl01$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterTypeForSale_ctl01_HiddenFieldTypeUrl" value="biet-thu">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/vn/forsale-type/nha-o.html">Nhà ở
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/vi/forsale-district/nha-o/tay-ho-district.html">Tây Hồ</a>
                    </li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl02$HiddenFieldId" id="ctl00_hh_RepeaterTypeForSale_ctl02_HiddenFieldId" value="2">
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl02$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterTypeForSale_ctl02_HiddenFieldTypeUrl" value="nha-o">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/vn/forsale-type/toa-nha-can-ho.html">Tòa nhà căn hộ
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/vi/forsale-district/toa-nha-can-ho/tay-ho-district.html">Tây Hồ</a>
                    </li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl03$HiddenFieldId" id="ctl00_hh_RepeaterTypeForSale_ctl03_HiddenFieldId" value="3">
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl03$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterTypeForSale_ctl03_HiddenFieldTypeUrl" value="toa-nha-can-ho">
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/vn/forsale-type/can-ho.html">Căn hộ
                  <i class="fa fa-angle-right right"></i>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="/vi/forsale-district/can-ho/ciputra.html">Ciputra</a>
                    </li>
                  </ul>
                </div>
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl04$HiddenFieldId" id="ctl00_hh_RepeaterTypeForSale_ctl04_HiddenFieldId" value="4">
                <input type="hidden" name="ctl00$hh$RepeaterTypeForSale$ctl04$HiddenFieldTypeUrl" id="ctl00_hh_RepeaterTypeForSale_ctl04_HiddenFieldTypeUrl" value="can-ho">
              </li>

            </ul>
          </div>
        </div>
      </li>

      <li class="navbar__item js-dropdown"><a class="navbar__link back" href="/en/our-services.html">Services
        </a>
        <div role="menu" class="js-dropdown-menu navbar__dropdown">
          <div class="navbar__back js-navbar-submenu-back">
            <div class="navbar__arrow">
              <i class="fa fa-angle-left"></i>
              Back
            </div>
          </div>
          <div class="navbar__submenu">
            <ul class="navbar__subnav">
              <li class="navbar__subitem">
                <a href="/en/landlords-reg.html" class="navbar__sublink js-navbar-sublink" style="color:orangered;">Chủ nhà đăng ký</a>
              </li>
              <li class="navbar__subitem">
                <a href="/en/our-blogs.html" class="navbar__sublink js-navbar-sublink">News &amp; Blogs</a></li>
              <li class="navbar__subitem">
                <a href="/en/about-us.html" class="navbar__sublink js-navbar-sublink">About Us</a></li>
              <li class="navbar__subitem">
                <a href="/en/agent-list.html" class="navbar__sublink js-navbar-sublink">Our Agents</a></li>

              <li class="navbar__subitem">
                <a href="/en/our-services/our-service-video.html" class="navbar__sublink js-navbar-sublink">Our Service &amp; Video</a>
              </li>

              <li class="navbar__subitem">
                <a href="/en/our-services/testimonials.html" class="navbar__sublink js-navbar-sublink">Testimonials</a>
              </li>

              <li class="navbar__subitem navbar__subitem-dropdown js-dropdown">
                <a class="navbar__sublink js-navbar-sublink back" href="/en/hanoi-guide.html">Hanoi Guide
                  <div class="navbar__arrow">
                    <i class="fa fa-angle-right"></i>
                  </div>
                </a>
                <div class="navbar__submenu navbar__submenu--level">
                  <div class="navbar__back js-navbar-submenu-back">
                    <div class="navbar__arrow">
                      <i class="fa fa-angle-left"></i>
                      Back
                    </div>
                  </div>

                  <ul class="navbar__subnav">

                    <li class="navbar__subitem">
                      <a href="/en/hanoi-guide/living-in-hanoi.html" class="navbar__sublink js-navbar-sublink">Living in Hanoi</a>
                    </li>

                    <li class="navbar__subitem">
                      <a href="/en/hanoi-guide/spa-beauty.html" class="navbar__sublink js-navbar-sublink">Spa &amp; Beauty</a>
                    </li>

                    <li class="navbar__subitem">
                      <a href="/en/hanoi-guide/embassy.html" class="navbar__sublink js-navbar-sublink">Embassy</a></li>

                    <li class="navbar__subitem">
                      <a href="/en/hanoi-guide/restaurants.html" class="navbar__sublink js-navbar-sublink">Restaurants</a>
                    </li>

                    <li class="navbar__subitem">
                      <a href="/en/hanoi-guide/stores-and-markets.html" class="navbar__sublink js-navbar-sublink">Stores and Markets</a>
                    </li>

                    <li class="navbar__subitem">
                      <a href="/en/hanoi-guide/schools-in-hanoi.html" class="navbar__sublink js-navbar-sublink">Schools in Hanoi</a>
                    </li>

                    <li class="navbar__subitem">
                      <a href="/en/hanoi-guide/clinic-in-hanoi.html" class="navbar__sublink js-navbar-sublink">Clinic in Hanoi</a>
                    </li>

                  </ul>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="navbar__item"><a class="navbar__link" href="/en/contact-us.html">Contact</a></li>
      <li class="navbar__item hot">
        <a class="header__phone2" href="tel:+84903471147"><span class="header__phone-icon"><i class="fa fa-phone"></i></span><span class="header__span">+8490 347 1147</span></a>
      </li>
    </ul>
  </div>
<?php else: ?>
  <nav id="header-nav" class="navbar navbar--header navbar--overlay navbar--brand">
    <div class="container">
      <div class="navbar__row js-navbar-row">
        <a href="/" class="navbar__brand">
          <img alt="Logo" src="<?php echo RESOURCE_URL ?>/global/image/logo.png" class="logo-header">
        </a>
        <div id="navbar-collapse-1" class="navbar__wrap">
          <ul class="navbar__nav">
            <li class="navbar__item js-dropdown">
              <a class="navbar__link back" href="our-property.html">Gò vấp</a>
              <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                <div class="navbar__back js-navbar-submenu-back">
                  <div class="navbar__arrow"><i class="fa fa-angle-left"></i> Back</div>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-residence-1.html">WESTLAKE RESIDENCE 1</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-building-2.html">WESTLAKE BUILDING 2</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/villa-2-52-to-ngoc-van.html">VILLA 2/52 TO NGOC VAN</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="navbar__item js-dropdown">
              <a class="navbar__link back" href="our-property.html">Tân Bình</a>
              <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                <div class="navbar__back js-navbar-submenu-back">
                  <div class="navbar__arrow"><i class="fa fa-angle-left"></i> Back</div>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-residence-1.html">WESTLAKE RESIDENCE 1</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-building-2.html">WESTLAKE BUILDING 2</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/villa-2-52-to-ngoc-van.html">VILLA 2/52 TO NGOC VAN</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="navbar__item js-dropdown">
              <a class="navbar__link back" href="our-property.html">Phú nhuận</a>
              <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                <div class="navbar__back js-navbar-submenu-back">
                  <div class="navbar__arrow"><i class="fa fa-angle-left"></i> Back</div>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-residence-1.html">WESTLAKE RESIDENCE 1</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-building-2.html">WESTLAKE BUILDING 2</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/villa-2-52-to-ngoc-van.html">VILLA 2/52 TO NGOC VAN</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="navbar__item js-dropdown">
              <a class="navbar__link back" href="our-property.html">Tân Phú</a>
              <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                <div class="navbar__back js-navbar-submenu-back">
                  <div class="navbar__arrow"><i class="fa fa-angle-left"></i> Back</div>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-residence-1.html">WESTLAKE RESIDENCE 1</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-building-2.html">WESTLAKE BUILDING 2</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/villa-2-52-to-ngoc-van.html">VILLA 2/52 TO NGOC VAN</a>
                    </li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/villa-197.html">VILLA 197 TRICH SAI</a>
                    </li>
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/villa-10-alley-52-28-to-ngoc-van.html">VILLA 10 ALLEY 52/28 TO NGOC VAN</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="navbar__item js-dropdown">
              <a class="navbar__link back" href="our-property.html">Quận 10</a>
              <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                <div class="navbar__back js-navbar-submenu-back">
                  <div class="navbar__arrow"><i class="fa fa-angle-left"></i> Back</div>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-residence-1.html">WESTLAKE RESIDENCE 1</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/westlake-building-2.html">WESTLAKE BUILDING 2</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar__submenu">
                  <ul class="navbar__subnav">
                    <li class="navbar__subitem">
                      <a class="navbar__sublink js-navbar-sublink" href="hanoi-building/villa-2-52-to-ngoc-van.html">VILLA 2/52 TO NGOC VAN</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="navbar__item hot">
              <a class="header__phone2" href="tel:+84903471147"><span class="header__phone-icon"><i class="fa fa-phone"></i></span><span class="header__span">+8490 347 1147</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<?php endif; ?>

