<div id="content" class="blog-wrapper blog-archive page-wrapper">
  <header class="archive-page-header">
    <div class="row">
      <div class="large-12 text-center col">
        <h1 class="page-title is-large uppercase">
          DANH MỤC: <span>TIN TỨC</span></h1>
      </div>
    </div>
  </header><!-- .page-header -->

  <div class="row row-large row-divided ">
    <div class="large-9 col">
      <div class="row large-columns-1 medium-columns- small-columns-1">
        <?php foreach ($arrPostList as $post):
          $postLink = $this->url->get(['for' => 'frontend:post:view', 'slug' => $post['post_slug'], 'id' => $post['post_id']]);
          ?>
          <div class="col post-item">
            <div class="col-inner">
              <a href="<?php echo $postLink ?>" class="plain">
                <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                  <div class="box-image" style="width:40%;">
                    <div class="image-cover" style="padding-top:56%;">
                      <img width="300" height="134"
                          src="<?php echo current(json_decode($post['post_image'], true)) ?>" alt="<?php echo $post['meta_keyword'] ?>"
                          srcset="<?php echo current(json_decode($post['post_image'], true)) ?>"/>
                    </div>
                  </div><!-- .box-image -->
                  <div class="box-text text-left">
                    <div class="box-text-inner blog-post-inner">
                      <h5 class="post-title is-large "><?php echo $post['post_title'] ?></h5>
                      <div class="is-divider"></div>
                      <p class="from_the_blog_excerpt "><?php echo $post['post_description'] ?></p>
                    </div><!-- .box-text-inner -->
                  </div><!-- .box-text -->
                  <!-- #created_at -->
                  <?php
                    list($day, $month, $year) = explode('/', date('d/m/Y', $post['created_at']));
                  ?>
                  <div class="badge absolute top post-date badge-outline">
                    <div class="badge-inner">
                      <span class="post-date-day"><?php echo $day ?></span><br>
                      <span class="post-date-month is-xsmall">Th<?php echo $month ?></span>
                    </div>
                  </div>
                </div><!-- .box -->
              </a><!-- .link -->
            </div><!-- .col-inner -->
          </div><!-- .col -->
        <?php endforeach; ?>
      </div>

      <div class="row pull-right">
        <?php echo $strPagination ?>
      </div>

    </div> <!-- .large-9 -->

    <div class="post-sidebar large-3 col">
      <div id="secondary" class="widget-area " role="complementary">
        <aside id="recent-posts-2" class="widget widget_recent_entries">
          <span class="widget-title "><span>TIN TỨC MỚI</span></span>
          <div class="is-divider small"></div>
          <ul>
            <?php
              foreach ($arrPostList as $post):
                $postLink = $this->url->get(['for' => 'frontend:post:view', 'slug' => $post['post_slug'], 'id' => $post['post_id']]);
                ?>
                <li>
                  <a href="<?php echo $postLink ?>"><?php echo $post['post_title'] ?></a>
                </li>
              <?php endforeach; ?>
          </ul>
        </aside>
      </div><!-- #secondary -->
    </div><!-- .post-sidebar -->

  </div><!-- .row -->

</div><!-- .page-wrapper .blog-wrapper -->

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Organization",
        "@id": "<?php echo $arrSchemaID['organization'] ?>",
        "name": "<?php echo BRAND_NAME  ?>",
        "url": "<?php echo BASE_URL ?>",
        "sameAs": [
          "<?php echo FACEBOOK_FANPAGE_URL; ?>"
        ],
        "logo": {
          "@type": "ImageObject",
          "@id": "<?php echo $arrSchemaID['logo'] ?>",
          "url": "<?php echo STATIC_URL ?>/images/logo.png",
          "width": 372,
          "height": 254,
          "caption": "<?php echo BRAND_NAME  ?>"
        },
        "image": {
          "@id": "<?php echo $arrSchemaID['logo'] ?>"
        }
      },
      {
        "@type": "WebSite",
        "@id": "<?php echo $arrSchemaID['webpage'] ?>",
        "url": "<?php echo BASE_URL ?>",
        "name": "<?php echo BRAND_NAME  ?> - <?php echo $this->config->siteInfo->name ?>",
        "publisher": {
          "@id": "<?php echo $arrSchemaID['organization'] ?>"
        },
        "potentialAction": {
          "@type": "SearchAction",
          "target": "<?php echo BASE_URL ?>?s={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      },
      {
        "@type": "WebPage",
        "@id": "<?php echo $arrSchemaID['webpage'] ?>",
        "url": "<?php echo $canonicalURL ?>",
        "inLanguage": "en-US",
        "name": "<?php echo $metaTitle ?>",
        "isPartOf": {
          "@id": "<?php echo $arrSchemaID['website'] ?>"
        },
        "about": {
          "@id": "<?php echo $arrSchemaID['organization'] ?>"
        },
        "datePublished": "<?php echo date(DATE_ISO8601, $arrPostDetail['created_at']) ?>",
        "dateModified": "<?php echo date(DATE_ISO8601, $arrPostDetail['updated_at']) ?>",
        "breadcrumb": {
          "@id": "<?php echo $arrSchemaID['breadcrumb'] ?>"
        }
      },
      {
        "@type": "BreadcrumbList",
        "@id": "<?php echo $arrSchemaID['breadcrumb'] ?>",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@type": "WebPage",
              "@id": "<?php echo BASE_URL ?>",
              "url": "<?php echo BASE_URL ?>",
              "name": "Home"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@type": "WebPage",
              "@id": "<?php echo $canonicalURL ?>",
              "url": "<?php echo $canonicalURL ?>",
              "name": "<?php echo $metaTitle ?>"
            }
          }
        ]
      }
    ]
  }
</script>
