<div id="content" class="blog-wrapper blog-single page-wrapper">
  <div class="row row-large row-divided ">
    <div class="large-9 col">
      <article id="post-<?php echo $arrPostDetail['post_id'] ?>" class="post-<?php echo $arrPostDetail['post_id'] ?> post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
        <div class="article-inner ">
          <header class="entry-header">
            <div class="entry-header-text entry-header-text-top text-left">
              <h6 class="entry-category is-xsmall">
                <a href="<?php echo $this->url->get(['for' => 'frontend:post:index']) ?>" rel="category">TIN TỨC</a>
              </h6>
              <h1 class="entry-title"><?php echo $arrPostDetail['post_title'] ?></h1>
              <div class="entry-divider is-divider small"></div>
              <div class="entry-meta uppercase is-xsmall">
                <span class="posted-on">Posted on
                  <a href="#" rel="bookmark"><time class="entry-date published" datetime=""><?php echo date('d/m/Y', $arrPostDetail['created_at']) ?></time></a>
                </span>
                <span class="byline"> by <span class="meta-author vcard"><a class="url fn n" href="#"><?php echo $this->config->siteInfo->name ?></a></span></span>
              </div>
              <!-- .entry-meta -->
            </div>
            <!-- .entry-header -->
          </header>
          <!-- post-header -->
          <div>
            <img src="<?php echo current(json_decode($arrPostDetail['post_image'], true)) ?>" alt="<?php echo $arrPostDetail['meta_title'] ?>">
          </div>
          <div class="entry-content single-page"><?php echo $arrPostDetail['post_content'] ?></div>
          <!-- .entry-content2 -->
        </div>
        <!-- .article-inner -->
      </article>
      <!-- #-175 -->
    </div>
    <!-- .large-9 -->
    <div class="post-sidebar large-3 col">
      <div id="secondary" class="widget-area " role="complementary">
        <aside id="recent-posts-2" class="widget widget_recent_entries">
          <span class="widget-title "><span>TIN TỨC MỚI</span></span>
          <div class="is-divider small"></div>
          <ul>
            <?php
              foreach ($arrPostList as $post):
                $postLink = $this->url->get(['for' => 'frontend:post:view', 'slug' => $post['post_slug'], 'id' => $post['post_id']]);
                ?>
                <li>
                  <a href="<?php echo $postLink ?>"><?php echo $post['post_title'] ?></a>
                </li>
              <?php endforeach; ?>
          </ul>
        </aside>
      </div>
      <!-- #secondary -->
    </div>
    <!-- .post-sidebar -->
  </div>
  <!-- .row -->
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Organization",
        "@id": "<?php echo $arrSchemaID['organization'] ?>",
        "name": "<?php echo BRAND_NAME  ?>",
        "url": "<?php echo BASE_URL ?>",
        "sameAs": [
          "<?php echo FACEBOOK_FANPAGE_URL; ?>"
        ],
        "logo": {
          "@type": "ImageObject",
          "@id": "<?php echo $arrSchemaID['logo'] ?>",
          "url": "<?php echo STATIC_URL ?>/images/logo.png",
          "width": 372,
          "height": 254,
          "caption": "<?php echo BRAND_NAME  ?>"
        },
        "image": {
          "@id": "<?php echo $arrSchemaID['logo'] ?>"
        }
      },
      {
        "@type": "WebSite",
        "@id": "<?php echo $arrSchemaID['website'] ?>",
        "url": "<?php echo BASE_URL ?>",
        "name": "<?php echo BRAND_NAME  ?> - <?php echo $this->config->siteInfo->name ?>",
        "publisher": {
          "@id": "<?php echo $arrSchemaID['organization'] ?>"
        },
        "potentialAction": {
          "@type": "SearchAction",
          "target": "<?php echo BASE_URL ?>?s={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      },
      {
        "@type": "WebPage",
        "@id": "<?php echo $arrSchemaID['webpage'] ?>",
        "url": "<?php echo $canonicalURL ?>",
        "inLanguage": "en-US",
        "name": "<?php echo $arrPostDetail['meta_title'] ?>",
        "isPartOf": {
          "@id": "<?php echo $arrSchemaID['website'] ?>"
        },
        "about": {
          "@id": "<?php echo $arrSchemaID['organization'] ?>"
        },
        "image": {
          "@type": "ImageObject",
          "@id": "<?php echo $arrSchemaID['primaryImage'] ?>",
          "url": "<?php echo current(json_decode($arrPostDetail['post_image'], true)); ?>",
          "width": 600,
          "height": 400,
          "caption": "<?php echo $arrPostDetail['meta_title'] ?>"
        },
        "primaryImageOfPage": {
          "@id": "<?php echo $arrSchemaID['primaryImage'] ?>"
        },
        "datePublished": "<?php echo date(DATE_ISO8601, $arrPostDetail['created_at']) ?>",
        "dateModified": "<?php echo date(DATE_ISO8601, $arrPostDetail['updated_at']) ?>",
        "description": "<?php echo addslashes($arrPostDetail['post_description']) ?>",
        "breadcrumb": {
          "@id": "<?php echo $arrSchemaID['breadcrumb'] ?>"
        }
      },
      {
        "@type": "BreadcrumbList",
        "@id": "<?php echo $arrSchemaID['breadcrumb'] ?>",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@type": "WebPage",
              "@id": "<?php echo BASE_URL ?>",
              "url": "<?php echo BASE_URL ?>",
              "name": "Home"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@type": "WebPage",
              "@id": "<?php echo $canonicalURL ?>",
              "url": "<?php echo $canonicalURL ?>",
              "name": "<?php echo $arrPostDetail['meta_title'] ?>"
            }
          }
        ]
      },
      {
        "@type": "NewsArticle",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<?php echo $arrSchemaID['webpage'] ?>"
        },
        "headline": "<?php echo $arrPostDetail['meta_title'] ?>",
        "image": [
          "<?php echo current(json_decode($arrPostDetail['post_image'], true)); ?>"
        ],
        "datePublished": "<?php echo date(DATE_ISO8601, $arrPostDetail['created_at']) ?>",
        "dateModified": "<?php echo date(DATE_ISO8601, $arrPostDetail['updated_at']) ?>",
        "author": {
          "@id": "<?php echo $arrSchemaID['organization'] ?>"
        },
        "publisher": {
          "@type": "Organization",
          "name": "<?php echo BRAND_NAME ?>",
          "logo": {
            "@type": "ImageObject",
            "url": "<?php echo STATIC_URL ?>/images/logo.png",
            "width": 372,
            "height": 254
          }
        },
        "description": "<?php echo addslashes($arrPostDetail['post_description']) ?>"
      }
    ]
  }
</script>
