<div class="container content_cat" style="height: auto !important;">
  <?php echo $this->partial('item/_module1-index') ?>
  <?php echo $this->partial('item/_module2-index') ?>
  <div class="clear"></div>
</div>
