<div id="content" role="main" class="content-area">


  <section class="section" id="section_556243639">
    <div class="bg section-bg fill bg-fill  ">


    </div><!-- .section-bg -->

    <div class="section-content relative">

      <div class="row" id="row-617516516">
        <div class="col thongbao-head small-12 large-12">
          <div class="col-inner text-center">
            <h3 class="title-cs">CHÍNH SÁCH BÁN HÀNG <?php echo $this->config->siteInfo->name ?></h3>
            <p class="text-cs">Thời gian áp dụng từ ngày 01/07/2018 đến khi có thông báo mới</p>
          </div>
        </div>

        <style scope="scope">

        </style>
      </div>
    </div><!-- .section-content -->


    <style scope="scope">

      #section_556243639 {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
      }

      #section_556243639 .section-bg.bg-loaded {
        background-image: url(wp-content/uploads/2019/05/banner2.jpg);
      }
    </style>
  </section>

  <section class="section tiendo" id="section_1086420569">
    <div class="bg section-bg fill bg-fill  bg-loaded">


    </div><!-- .section-bg -->

    <div class="section-content relative">

      <div class="row" id="row-1984682870">
        <div class="col medium-8 small-12 large-8">
          <div class="col-inner">
            <h3>I. TIẾN ĐỘ THANH TOÁN CĂN HỘ <?php echo $this->config->siteInfo->name ?></h3>
            <p>1. Thời gian áp dụng: từ ngày 01/07/2018.<br/>
              2. Dành cho: Khách hàng (“KH”) mua căn hộ tại Dự án <?php echo $this->config->siteInfo->name ?>.<br/>
              3. Điều kiện áp dụng: Chính sách này chỉ áp dụng đối với các KH đã ký HĐMB và<br/>
              hoàn thành đủ nghĩa vụ tài chính Đợt 1 (đã bao gồm VAT), kể từ ngày 01/07/2018.
            </p>
          </div>
        </div>
        <div class="col tdtt small-12 large-12">
          <div class="col-inner">
            <p>4. Tiến độ thanh toán:</p>
            </p>
            <div class="row" id="row-1433034289">
              <div class="col small-12 large-12">
                <div class="col-inner">
                  <table style="height: 126px; width: 99.7973%; border-collapse: collapse; border-style: solid;" border="1">
                    <tbody>
                      <tr style="height: 21px;">
                        <th style="width: 33.3333%; height: 21px;">
                          <strong>ĐỢT THANH TOÁN</strong></th>
                        <th style="width: 33.3333%; height: 21px;">
                          <strong>SỐ TIỀN THANH TOÁN</strong></th>
                        <th style="width: 33.1307%;">
                          <strong>TIẾN ĐỘ/THỜI HẠN</strong></th>
                      </tr>
                      <tr style="height: 21px;">
                        <td style="width: 33.3333%; height: 21px;">Thanh toán lần 1</td>
                        <td style="width: 33.3333%; height: 21px;">15% Giá bán căn hộ (gồm thuế GTGT) đã bao gồm tiền đặt cọc</td>
                        <td style="width: 33.1307%; height: 21px;">Thanh toán trong vòng 10 ngày kể từ ngày đặt cọc</td>
                      </tr>
                      <tr style="height: 21px;">
                        <td style="width: 33.3333%; height: 21px;">Thanh toán lần 2</td>
                        <td style="width: 33.3333%; height: 21px;">15% Giá bán căn hộ (gồm thuế GTGT)</td>
                        <td style="width: 33.1307%; height: 21px;">Sau 60 ngày kể từ ngày ký HĐMB</td>
                      </tr>
                      <tr style="height: 21px;">
                        <td style="width: 33.3333%; height: 21px;">Thanh toán lần 3</td>
                        <td style="width: 33.3333%; height: 21px;">15% Giá bán căn hộ (gồm thuế GTGT)</td>
                        <td style="width: 33.1307%; height: 21px;">Sau 90 ngày kể từ ngày ký HĐMB</td>
                      </tr>
                      <tr style="height: 21px;">
                        <td style="width: 33.3333%; height: 21px;">Thanh toán lần 4</td>
                        <td style="width: 33.3333%; height: 21px;">25% Giá bán căn hộ (gồm thuế GTGT)</td>
                        <td style="width: 33.1307%; height: 21px;">Sau 240 ngày kể từ ngày ký HĐMB</td>
                      </tr>
                      <tr style="height: 21px;">
                        <td style="width: 33.3333%; height: 21px;">Thanh toán lần 5</td>
                        <td style="width: 33.3333%;">25% Giá bán căn hộ (gồm thuế GTGT) + 2% Kinh phí bảo trì + thuế GTGT của đợt thanh toán lần 6</td>
                        <td style="width: 33.1307%; height: 21px;">Khi nhận thông báo bàn giao căn hộ của bên Bán, dự kiến tháng 05/2019</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col dangki-cs small-12 large-12">
          <div class="col-inner text-center" style="background-color:rgb(48, 34, 78);padding:20px 0px 0px 0px;">
            <h3>Đừng bỏ lỡ cơ hội sở hữu căn tầng đẹp nhất!</h3>
            <h1>ĐĂNG KÝ NHẬN NGAY TRỌN BỘ MẶT BẰNG VÀ BẢNG GIÁ</h1>
            <h3>HOTLINE: 0968 980 280</h3>
            <div class="row" id="row-1346473154">
              <div class="col login-cs small-12 large-12">
                <div class="col-inner">
                  <div role="form" class="wpcf7" id="_f204-p28-o1" lang="vi" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/?page_id=28#_f204-p28-o1" method="post" class="_form" novalidate="novalidate">
                      <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="204"/>
                        <input type="hidden" name="_wpcf7_version" value="5.1.1"/>
                        <input type="hidden" name="_wpcf7_locale" value="vi"/>
                        <input type="hidden" name="_wpcf7_unit_tag" value="_f204-p28-o1"/>
                        <input type="hidden" name="_wpcf7_container_post" value="28"/>
                        <input type="hidden" name="g-recaptcha-response" value=""/>
                      </div>
                      <div class="login">
                        <ul>
                          <li>
                            <span class="_form-control-wrap text-409"><input type="text" name="text-409" value="" size="40" class="_form-control _text" aria-invalid="false" placeholder="Họ và tên"/></span>
                          </li>
                          <li>
                            <span class="_form-control-wrap tel-335"><input type="tel" name="tel-335" value="" size="40" class="_form-control _text _tel _validates-as-tel" aria-invalid="false" placeholder="Số điện thoại"/></span>
                          </li>
                          <li>
                            <span class="_form-control-wrap email-447"><input type="email" name="email-447" value="" size="40" class="_form-control _text _email _validates-as-email" aria-invalid="false" placeholder="Email"/></span>
                          </li>
                          <li class="submit-login">
                            <input type="submit" value="ĐĂNG KÍ" class="_form-control _submit"/>
                          </li>
                        </ul>
                      </div>
                      <div class="_response-output _display-none"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .section-content -->


    <style scope="scope">

      #section_1086420569 {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    </style>
  </section>

  <section class="section chuongtrinh" id="section_203730816">
    <div class="bg section-bg fill bg-fill  bg-loaded">


    </div><!-- .section-bg -->

    <div class="section-content relative">

      <div class="row" id="row-1065754501">
        <div class="col medium-6 small-12 large-6">
          <div class="col-inner">
            <h2>II. CHƯƠNG TRÌNH ƯU ĐÃI TÀI CHÍNH</h2>
            <p>1. Chương trình hỗ trợ lãi suất (HTLS):<br/>
              Ngân hàng SHB hoặc ngân hàng khác theo chỉ định của Chủ đầu tư tại thời điểm bán hàng:
            </p>
            <table style="width: 100%; border-collapse: collapse; height: 126px;" border="1">
              <tbody>
                <tr style="height: 21px;">
                  <th style="width: 50%; height: 21px;"><strong>CHÍNH SÁCH</strong>
                  </th>
                  <th style="width: 50%; height: 21px;"><strong>CHI TIẾT</strong></th>
                </tr>
                <tr style="height: 21px;">
                  <td style="width: 50%; height: 21px;">Thời gian vay</td>
                  <td style="width: 50%; height: 21px;">Lên tới 25 năm</td>
                </tr>
                <tr style="height: 21px;">
                  <td style="width: 50%; height: 21px;">Tỷ lệ cho vay của ngân hàng</td>
                  <td style="width: 50%; height: 21px;">Lên tới 75% giá bán căn hộ, trong đó CĐT hỗ trợ lãi vay 65%.</td>
                </tr>
                <tr style="height: 21px;">
                  <td style="width: 50%; height: 21px;">Thời gian hỗ trợ lãi suất tối đa</td>
                  <td style="width: 50%; height: 21px;">18 tháng kể từ ngày giải ngân của khoản vay.</td>
                </tr>
                <tr style="height: 21px;">
                  <td style="width: 50%; height: 21px;">Lãi suất vay vốn (trong và sau thời gian HTLS)</td>
                  <td style="width: 50%; height: 21px;">– 0%/tháng trong thời gian hỗ trợ.</td>
                </tr>
                <tr style="height: 21px;">
                  <td style="width: 50%; height: 21px;">Ân hạn trả nợ gốc</td>
                  <td style="width: 50%; height: 21px;">KH được ân hạn trả nợ gốc trong thời gian được HTLS</td>
                </tr>
              </tbody>
            </table>
            <ul>
              <li>Áp dụng đối với Khách hàng là Cá nhân (“KHCN”) đứng tên trong HĐMB. Khách hàng là Doanh nghiệp (“KHDN”) được Chủ đầu tư hỗ trợ lãi suất với mức tối đa bằng Lãi suất hỗ trợ cho KHCN. Phần lãi suất vượt mức hỗ trợ trên (nếu có), KHDN tự chi trả với Ngân hàng.</li>
              <li>Lưu ý: KH có thể vay vốn Ngân hàng với thời hạn vay lên tới 25 năm, tỷ lệ vay vốn tối đa với từng trường hợp cụ thể tuân theo các điều kiện vay vốn của Ngân hàng chỉ định. Trong mọi trường hợp Chủ đầu tư chỉ HTLS trong thời gian HTLS nêu trên và Khách hàng đáp ứng đầy đủ các điều kiện cho vay của Ngân hàng SHB.</li>
            </ul>
          </div>
        </div>
        <div class="col medium-6 small-12 large-6">
          <div class="col-inner">
            <p>2. Tiến độ thanh toán áp dụng với KH tham gia Chương trình Hỗ trợ lãi suất:</p>
            <table style="width: 100%; border-collapse: collapse;" border="1">
              <tbody>
                <tr>
                  <th style="width: 33.3333%;"><strong>TIẾN ĐỘ THANH TOÁN</strong>
                  </th>
                  <th style="width: 33.3333%;">
                    <strong>TỶ LỆ THANH TOÁN – KHÁCH HÀNG</strong></th>
                  <th style="width: 33.3333%;">
                    <strong>TỶ LỆ THANH TOÁN – NGÂN HÀNG</strong></th>
                </tr>
                <tr>
                  <td style="width: 33.3333%;">Thanh toán lần 1</p>
                    <p>Ký HĐMB Trong vòng 10 ngày kể từ ngày đặt cọc</td>
                  <td style="width: 33.3333%;">15% Giá bán căn hộ (gồm thuế GTGT) đã bao gồm tiền đặt cọc</td>
                  <td style="width: 33.3333%;"> </td>
                </tr>
                <tr>
                  <td style="width: 33.3333%;">Thanh toán lần 2</p>
                    <p>Trong vòng 60 ngày kể từ ngày ký HĐMB</td>
                  <td style="width: 33.3333%;">5% Giá bán căn hộ (gồm thuế GTGT)</td>
                  <td style="width: 33.3333%;">20% Giá bán căn hộ (gồm thuế GTGT)</td>
                </tr>
                <tr>
                  <td style="width: 33.3333%;">Thanh toán lần 3</p>
                    <p>Trong vòng 90 ngày kể từ ngày ký HĐMB</td>
                  <td style="width: 33.3333%;">5% Giá bán căn hộ (gồm thuế GTGT)</td>
                  <td style="width: 33.3333%;"> </td>
                </tr>
                <tr>
                  <td style="width: 33.3333%;">Thanh toán lần 4</p>
                    <p>Trong vòng 240 ngày kể từ ngày ký HĐMB</td>
                  <td style="width: 33.3333%;"> </td>
                  <td style="width: 33.3333%;">25% Giá bán căn hộ (gồm thuế VAT)</td>
                </tr>
                <tr>
                  <td style="width: 33.3333%;">Thanh toán lần 5</p>
                    <p>Khi Bên Bán thông báo bàn giao nhà Bên Mua, dự kiến tháng 5/2019
                  </td>
                  <td style="width: 33.3333%;">5% Giá bán căn hộ (gồm thuế GTGT)</td>
                  <td style="width: 33.3333%;">20% Giá bán căn hộ (gồm thuế VAT) + 2% Kinh phí bảo trì + thuế GTGT của đợt thanh toán lần 6</td>
                </tr>
                <tr>
                  <td style="width: 33.3333%;">Thanh toán lần 6</p>
                    <p>Khi Bên Bán thông báo cho Bên Mua làm thủ tục cấp Giấy chứng nhận với cơ quan có thẩm quyền
                  </td>
                  <td style="width: 33.3333%;">5% Giá bán căn hộ (gồm thuế GTGT)</td>
                  <td style="width: 33.3333%;"> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col ctud small-12 large-12">
          <div class="col-inner">
            <p>3. Chính sách ưu đãi dành cho khách hàng không tham gia Hỗ trợ lãi suất:.<br/>
              – Khách hàng không tham gia chương trình Hỗ trợ lãi suất được chiết khấu 6% vào giá bán căn hộ (không bao gồm VAT và KPBT).<br/>
              4. Chính sách dành cho khách hàng không nhận gói trang bị nội thất đồ rời.<br/>
              – Khách hàng không tham gia chương trình Hỗ trợ lãi suất được chiết khấu 6% vào giá bán căn hộ (không bao gồm VAT và KPBT)..<br/>
              5. Chính sách ưu đãi dành cho khách hàng thanh toán sớm:.<br/>
              – Khách hàng thanh toán sớm đến 95% tổng giá bán căn hộ bằng vốn tự có tại thời điểm ký HĐMB được hưởng mức ưu đãi chiết khấu 7%/năm trên giá trị thanh toán sớm, với số ngày thanh toán sớm so với tiến độ đóng tiền (không bao gồm VAT và KPBT). Khoản tiền này được giảm trừ vào giá bán căn hộ thời điểm ký hợp đồng..<br/>
              – Các mức chiết khấu này có thể thay đổi mà không cần báo trước..<br/>
              – Các chính sách ưu đãi nêu trên có thể áp dụng riêng lẻ hoặc được gộp đồng thời trường hợp khách hàng không sử dụng nhiều chương trình ưu đãi cùng lúc.
            </p>
          </div>
        </div>
      </div>
    </div><!-- .section-content -->


    <style scope="scope">

      #section_203730816 {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    </style>
  </section>

  <section class="section phuongan" id="section_868665853">
    <div class="bg section-bg fill bg-fill  bg-loaded">


    </div><!-- .section-bg -->

    <div class="section-content relative">

      <div class="row" id="row-1960282107">
        <div class="col small-12 large-12">
          <div class="col-inner">
            <h2>III. PHƯƠNG ÁN KHAI THÁC KINH DOANH CĂN HỘ</h2>
            <p>1. Để ở có hình thành đơn vị ở và nghỉ dưỡng<br/>
              2. Tự khai thác kinh doanh<br/>
              3. Ủy thác kinh doanh<br/>
              – Để đảm bảo hiệu quả kinh doanh căn hộ Chủ đầu tư Ủy quyền cho đơn vị quản lý vận hành trực tiếp nhận Ủy thác của khách hàng khai thác khu căn hộ dịch vụ cho khách hàng nào có nhu cầu ký gửi.
            </p>
            <p>Và chi tiết như sau :</p>
            <table style="width: 100%; border-collapse: collapse; height: 273px;" border="1">
              <tbody>
                <tr style="height: 21px;">
                  <th style="width: 50%; height: 21px;"><strong>NỘI DUNG</strong></th>
                  <th style="width: 50%; height: 21px;"> </th>
                </tr>
                <tr style="height: 21px;">
                  <td style="width: 50%; height: 21px;">Cam kết lợi nhuận</td>
                  <td style="width: 50%; height: 21px;">Không cam kết</td>
                </tr>
                <tr style="height: 63px;">
                  <td style="width: 50%; height: 63px;">Phân chia lợi nhuận từ hoạt động kinh doanh căn hộ</td>
                  <td style="width: 50%; height: 63px;">90% – 10% (Khách hàng 90% – Đơn vị Quản lý và kinh doanh căn hộ dịch vụ)</td>
                </tr>
                <tr style="height: 21px;">
                  <td style="width: 50%; height: 21px;">Điều kiện bàn giao căn hộ</td>
                  <td style="width: 50%; height: 21px;">Full nội thất</td>
                </tr>
                <tr style="height: 42px;">
                  <td style="width: 50%; height: 42px;">Đơn vị quản lý vận hành dự kiến</td>
                  <td style="width: 50%; height: 42px;">Welham Việt Nam</td>
                </tr>
                <tr style="height: 42px;">
                  <td style="width: 50%; height: 42px;">Quyền lợi được khi tham gia ký gửi</td>
                  <td style="width: 50%; height: 42px;">Được hưởng 15 đêm miễn phí/năm</td>
                </tr>
                <tr style="height: 42px;">
                  <td style="width: 50%; height: 42px;">Phí dịch vụ quản lý vận hành</td>
                  <td style="width: 50%; height: 42px;">
                    <p>– Đối với căn hộ dịch vụ là 12.000 đ/m2 (chưa bao gồm VAT)</p>
                    <p>– Đối với căn hộ để ở phí dịch vụ là 6000 đ/m2/tháng (chưa bao gồm VAT)</p>
                  </td>
                </tr>
                <tr style="height: 21px;">
                  <td style="width: 50%; height: 21px;">Sử dụng dịch vụ</td>
                  <td style="width: 50%; height: 21px;">Đối với chủ sở hữu căn hộ được hưởng miễn phí tập GYM, xông hơi ướt khô, phòng tập yoga trong 03 năm kể từ khi bàn giao.</td>
                </tr>
              </tbody>
            </table>
            <ul>
              <li>
                Lưu ý: Mục 1 và 2 trong thời gian 03 năm đầu Chủ căn hộ nên Ủy thác cho Đơn vị quản lý vận hành Tòa nhà để Dự án đi vào ổn định và hiệu quả, sau 03 năm Chủ căn hộ được tự do sử dụng theo quy định của Quy chế Ban Quản trị do theo quy định của pháp luật, quy định của Chủ đầu tư ban hành.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- .section-content -->


    <style scope="scope">

      #section_868665853 {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    </style>
  </section>


</div>
