@media screen and (max-width: 768px) {
  .site-wrap {
    top: 40px;
  }

  .home-search {
    padding: 8px 24px;
  }

  .sologan {
    font-size: 24px;
  }

  .center {
    margin-top: 0px;
  }

  .center > ul {
    padding-left: 0px;
  }

  .center > ul > li {
    height: 100%;
  }

  .box-search-input {
    font-size: 13px;
    height: 40px;
    padding-right: 0;
  }

  .box-search-input input {
    height: 100%;
  }

  .btn-search-home {
    font-size: 13px;
    height: 40px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-main-search .home-search .box-filter {
    margin: 10px 0;
  }

  .box-main-search .home-search .box-filter .option .select {
    font-size: 13px;
    height: 40px;
  }

  .box-main-search .home-search .box-filter .option .select a {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-filter .search-custom .search-pop ul {
    padding-top: 5px;
    padding-left: 13px;
  }

  .box-filter .search-custom .search-pop li {
    font-size: 13px;
    padding: 5px 0;
  }
}
