.center {
  margin-top: 56px;
}

.center > ul {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 25px
}

.navbar__nav.is-desktop {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 200px;
}

.tbox {
  position: absolute;
  display: none;
  padding: 10px 20px 10px 0;
  z-index: 900
}

.tinner {
  padding: 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff url(https://hanoihousing.vn/tinybox/images/preload.gif) no-repeat 50% 50%;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333
}

.tmask {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 800
}

.tclose {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(https://hanoihousing.vn/tinybox/images/close.png) no-repeat
}

.tclose:hover {
  background-position: 0 -30px
}

#error {
  background: #ff6969;
  color: #fff;
  text-shadow: 1px 1px #cf5454;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0
}

#error .tcontent {
  padding: 10px 14px 11px;
  border: 0px solid #ffb8b8;
  -moz-border-radius: 5px;
  border-radius: 5px
}

#success {
  background: #2ea125;
  color: #fff;
  text-shadow: 1px 1px #1b6116;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px;
  -moz-border-radius: 0;
  border-radius: 0
}

#bluemask {
  background: #4195aa
}

#frameless {
  padding: 0;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#frameless .tclose {
  right: 3px
}

#like {
  background: #f2f2f2;
  color: #000;
  text-shadow: 1px 1px #efefef;
  border: 2px solid #adadad;
  padding: 10;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button {
  cursor: pointer;
  color: #474846;
}

.span hover {
  color: Red;
}

.swiper-button-prev, .swiper-button-next {
  padding: 10px;
  font-size: 12px;
  background: #292663;
  color: #e8e8e8;
  line-height: 0.5;
  position: absolute;
  overflow: hidden;
  top: 50%;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -50px
}

.swiper-button-next {
  right: -15px
}

.swiper-button-prev:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  font-size: 2em;
}

.sticky {
  position: fixed;
  top: 0;
}

.box-main-search {
  height: 470px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7da7d9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 65%;
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/landber/c6985ce6-1218-4cad-9063-c2bb4a440960.jpg);
}


.box-main-search .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-main-search .select i {
  color: #000;
  font-size: 24px;
  padding-right: 16px;
}

@media (min-width: 800px) {
  .box-main-search .landber_container {
    min-width: 720px;
  }
}

@media (min-width: 1200px) {
  .box-main-search .landber_container {
    min-width: 800px;
  }
}

.box-main-search .landber_container {
  position: relative;
  height: 100%;
  margin: auto;
}

.home-search {
  margin: 0px auto;
  padding: 30px;
  padding-top: 50px;
  min-height: 120px;
  color: #fff;
}

.sologan {
  font-size: 32px;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 10px;
  text-shadow: 2px 0px #1d4a7b;
  font-weight: 700;
  white-space: pre-line;
  line-height: 40px;
}

.box-main-search {
  height: 470px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7da7d9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 65%;
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/landber/c6985ce6-1218-4cad-9063-c2bb4a440960.jpg);
}


.box-main-search .landber_container {
  position: relative;
  height: 100%;
  margin: auto;
}

.sologan {
  font-size: 32px;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 10px;
  text-shadow: 2px 0px #1d4a7b;
  font-weight: 700;
  white-space: pre-line;
  line-height: 40px;
}

.box-search-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  line-height: 48px;
  padding: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.box-search-input .select-city-search {
  width: 110px;
  display: block;
  text-align: center;
}

.box-main-search .home-search .box-filter {
  margin-top: 10px;
  padding-top: 0px;
  height: 50px;
}

.home-search .box-filter .option {
  float: left;
  width: 31%;
  padding: 0 5px;
}

.home-search .box-filter .option.search-type {
  width: 38%;
}

body.is-mobile .home-search .box-filter .option {
  margin: 4px 0;
  width: 100%;
}

.box-main-search .home-search .box-filter .option .select {
  border: 0px;
  height: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.box-filter .option div.select {
  height: 38px;
  position: relative;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  background: #fff;
}


/*.box-filter .option div.select:before {*/
/*content: "";*/
/*font-family: FontAwesome;*/
/*font-weight: 300;*/
/*content: "\f107";*/
/*position: absolute;*/
/*right: 10px;*/
/*top: 50%;*/
/*z-index: 0;*/
/*margin-top: -6.5px;*/
/*color: #3b4144;*/
/*line-height: 14px;*/
/*}*/

.box-filter .option div.select > a {
  line-height: 36px;
  color: #3b4144;
  padding: 10px 25px 10px 10px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 100%;
}

.home-search .box-filter .option .select a {
  line-height: 28px;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.box-main-search .home-search .box-filter .option .select a {
  line-height: 48px;
}

.box-main-search .home-search .box-filter {
  margin-top: 10px;
  padding-top: 0px;
  height: 50px;
}

.clearboth:before, .clearboth:after, .clb:before, .clb:after {
  content: "";
  clear: both;
  overflow: hidden;
  display: table;
}

.pdl10 {
  padding-left: 10px;
}

.box-search-input input {
  color: #000000;
  line-height: 46px;
  border: 0;
  flex: 0 0 70%;
}

.box-search-input input:focus {
  outline: none;
}

.box-search-input .select-city-search {
  width: 110px;
  display: block;
  text-align: center;
}

.btn-search-home {
  height: 48px;
  line-height: 40px;
  text-transform: uppercase;
  background: #4dc7ec;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  flex: 0 0 30%;
}

.btn-search-home:hover {
  background: #0f75d6;
}

.dropdown-location {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  width: 250px;
  height: 300px;
  display: none;
  top: 62px;
  right: 50px;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.box-main-search .home-search .box-filter {
  font-size: 18px;
  margin-top: 10px;
  padding-top: 0px;
  height: 50px;
  margin: 10px -5px;
}

.box-main-search .home-search .box-filter .option .select a, .box-main-search .home-search .box-filter .option .select a:hover {
  text-decoration: none;
}

.search-pop, .filterBox {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #fff;
  padding: 20px;
  min-width: calc(100% - 10px);
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #dedede;
  border-top: none;
  font-size: 15px;
  z-index: 9;
}

.box-filter .option {
  position: relative;
}

.home-search .box-filter .search-pop {
  top: 100%;
  left: 5px;
}

.box-filter .search-custom .search-pop {
  padding: 0;
  left: 0;
  right: inherit;
  margin-top: -3px;
  margin-left: 5px;
  width: 100;
}

.box-filter .search-custom .search-pop ul {
  padding-top: 10px;
  padding-left: 20px;
}

.box-filter .search-custom .search-pop li {
  padding: 10px 0;
}

.box-filter .search-custom .search-pop .form {
  background: #ebebeb;
  padding: 4px 8px;
}

.box-filter .search-custom .search-pop .form input {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  height: 26px;
  padding: 0 5px;
  font-size: 14px;
  width: 45%;
  color: #000;
}

.box-filter .search-custom .search-pop .form input {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  height: 26px;
  padding: 0 5px;
  font-size: 14px;
  width: 45%;
}

.box-filter .search-custom .search-pop .form input + input {
  margin-left: 5%;
}

.filter-box {
  position: fixed;
  top: 60px;
  background: #ebebeb;
  border-bottom: 1px solid #e1e1e1;
  z-index: 99;
  padding: 8px 48px;
  width: 100%;
}

.filter-box .col {
  display: flex;
  align-items: center;
  flex: 0 0 20%;
}

.filter-box .col.search-category {
  flex: 0 0 18%;
}

.filter-box .col.search-name {
  position: relative;
  flex: 0 0 32%;
}

.filter-box .col.search-btn {
  flex: 0 0 10%;
}

.filter-box .col .option {
  width: 100%;
}

.filter-box .col input {
  padding: 2px 4px;
  margin: 0 8px;
}

.filter-box .col button {
  width: 100%;
  height: 100%;
  border: inherit;
  background: #4dc7ec;
  color: #ffffff;
}

.filter-box .col button:hover {
  background: #0f75d6;
}


.filter-box .col .select {
  padding: 8px 16px;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

.filter-box .col .select:first-child {
  border-left: 1px solid #c7c7c7;
}

.filter-box .container {
  width: 100%;
  padding: 0 16px;
}

.filter-box .row {
  display: flex;
}

.filter-box ul {
  padding-left: 10px;
  list-style: none;
}

.filter-box ul li a {
  display: block;
  padding: 8px 0;
}

.filter-box a {
  text-decoration: none;
}

.filter-box .option {
  position: relative;
}

.filter-box .search-pop {
  all: initial;

  display: none;
  position: absolute;
  background: #fff;
  width: 100%;
}

.filter-box .option:hover .search-pop {
  display: block;
}

.filter-box .form {
  display: flex;
  background-color: #ebebeb;
  padding: 4px 0;
}

.filter-box input {
  width: 100%;
  border: none;
  border-top: 1px solid #c7c7c7;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

.filter-box .search-name input {
  margin: 0 8px 0 0;
  padding: 8px;
}


.site__panel .listing__sort {
  width: 33.33%;
}

.site__panel .listing__sort .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-box ul {
  border: 1px solid #ebebeb;
}

.property__description-wrap {
  font-size: 16px;
}

.search-pop {
  display: none;
}

.search-custom:hover .search-pop {
  display: block;
}
