<div class="kt-login__signin">
  <div class="kt-login__head">
    <h3 class="kt-login__title">Sign In To Admin</h3>
  </div>
  <form class="kt-form" action="<?php echo $this->url->get(['for' => constant('RESOURCE')]) ?>" method="post">
    <div class="input-group">
      <input type="email" class="form-control" placeholder="User name" name="email">
    </div>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="row kt-login__extra">
      <div class="col">
        <label class="kt-checkbox">
          <input type="checkbox" name="remember"> Remember me
          <span></span>
        </label>
      </div>
      <div class="col kt-align-right">
        <a href="javascript:;" id="kt_login_forgot" class="kt-link kt-login__link">Forget Password ?</a>
      </div>
    </div>
    <div class="kt-login__actions">
      <button id="kt_login_signin_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Sign In</button>
    </div>
  </form>
</div>
<div class="kt-login__forgot">
  <div class="kt-login__head">
    <h3 class="kt-login__title">Forgotten Password ?</h3>
    <div class="kt-login__desc">Enter your email to reset your password:</div>
  </div>
  <form class="kt-form" action="">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">
    </div>
    <div class="kt-login__actions">
      <button id="kt_login_signin_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Sign In</button>
      <button id="kt_login_forgot_cancel" class="btn btn-pill kt-login__btn-secondary">Cancel</button>
    </div>
  </form>
</div>
