<?php
  
  use Util\GeneralUtil;

?>

<div class="widget js-widget widget--landing widget--gray">
  <div class="widget__header">
    <h2 class="widget__title">Find Your Home</h2>
    <h5 class="widget__headline">Our agents are licensed professionals that specialize in searching, negotiating of real estate for rent.
      Our mission statement is to provide superior living experiences to all our customer with the highest level of customer service, value and quality housing
      .
    </h5>
  </div>
  <div class="widget__content">
    <div class="tab tab--properties">
      <ul role="tablist" class="nav tab__nav" style="overflow: hidden">
        <?php foreach ($arrCategories as $id => $categoryName): ?>
          <li class="">
            <a href="#tab-<?php echo $id ?>" aria-controls="tab-recent" role="tab" data-toggle="tab" class="properties__btn js-tab__change"><?php echo $categoryName ?></a>
          </li>
        <?php endforeach; ?>
      </ul>
      <div class="tab-content js-tab__content">
        <?php
          foreach ($arrCategories as $id => $category):
            $arrItems = $arrItemsByCat[ $id ] ?? [];
            if (!empty($arrItems)):?>
              <div id="tab-<?php echo $id ?>" class="tab-pane <?php echo $id == 1 ? 'active' : '' ?>">
                <div class="listing listing--grid">
                  <?php foreach ($arrItems as $arrItem): ?>
                    <div class="listing__item">
                      <div class="properties properties--grid">
                        <div class="properties__thumb">
                          <a
                              class="item-photo"
                              href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                              title="<?php echo $arrItem['item_name'] ?>">
                            <img
                                alt="<?php echo $arrItem['item_name'] ?>"
                                src="<?php echo $arrItem['item_feature_image'] ?>"
                                onerror="imgError(this)"/>
                          </a>
                        </div>
                        <div class="properties__details">
                          <div class="properties__info">
                            <a
                                href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                                class="properties__address"
                                rel="nofollow">
                              <h3 class="properties__address-street"><?php echo $arrItem['item_name'] ?></h3>
                            </a>
                            <div class="properties__offer">
                              <div class="properties__offer-column">
                                <div class="properties__offer-value">
                                  SĐT: <strong><?php echo $arrItem['host_phone'] ?></strong>
                                </div>
                              </div>
                              <div class="properties__offer-column">
                                <div class="properties__offer-value">
                                  <strong><?php echo (float)$arrItem['price_vnd'] / 1000000 ?> triệu</strong><span class="properties__offer-period">/tháng</span>
                                </div>
                              </div>
                            </div>
                            <hr style="clear: both; padding: 0; margin: 5px 0 15px;">
                            <div class="properties__params">
                              <div class="row">
                                <div class="col-sm-8 col-xs-8">
                                  <i class="fa fa-area-chart left15" title="Living Area"></i>&nbsp; <?php echo $arrItem['floor_area'] ?>
                                  <sup><?php echo $arrItem['floor_area_unit'] ?></sup>
                                </div>
                                <div class="col-sm-4 col-xs-4 text-center" title="Full info">
                                  <a href="nice-view-villa-with-for-rent-at-tay-ho-district-hanoi-pro909.html" class="properties__more">Full info</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <?php endforeach; ?>
                </div>
              </div>
            <?php endif; ?>
          <?php endforeach; ?>
      </div>
    </div>
  </div>
</div>
<div class="widget js-widget widget--landing widget--gray">
  <hr>
  <div class="widget__header">
    <h2 class="widget__title">About Us</h2>
  </div>
  <div class="widget__content">
    <div class="row">
      <div class="col-sm-12">
        <p>
          <strong>YOU ARE WELCOME TO HANOI HOUSING Co., Ltd</strong>. specializes in helping the Vietnam’s foreign community with their long- and short-term real estate rental and purchasing needs, including apartments, houses, villas and commercial office space within Ha Noi proper and the surrounding area. We advise with the right way for the new commers who do not well understand about housing market in Hanoi. We have a refresh-updated property data base to show to you with the best selective list of properties, so the properties we show you will match your demands exactly. We also help you to prepare the lease contract, related documents... give you a hand when you check in or check out and take care of you while you stay in the property which rented through our agent.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  var $el = $('.js-tab__change');
  $el.on('click', function (e) {
    e.preventDefault();

    var $self = $(this);
    $('.js-tab__change').closest('li').removeClass('active');
    $self.closest('li').addClass('active');

    var href = $self.attr('href');

    var $elTabContent = $(href);

    $('.tab-pane').removeClass('active');
    $elTabContent.addClass('active');
  })
</script>
