<template>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="/backend" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link">
              Dashboard
            </span>
          </div>
        </div>
        <div class="kt-subheader__toolbar"></div>
        <div class="kt-header__topbar">
          <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
              <div class="kt-header__topbar-user">
                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                <span class="kt-header__topbar-username kt-hidden-mobile">{{CDATA.login.fullName}}</span>
                <img class="kt-hidden" alt="Pic" src="">
                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>
              </div>
            </div>

            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
              <!--begin: Navigation -->
              <div class="kt-notification">
                <div class="kt-notification__custom kt-space-between">
<a :href="CDATA.url.logoutURL" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a></div>
              </div>
              <!--end: Navigation -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';

  import { _showContainer } from "$jsCommonPath/util/GeneralUtil"

  export default {
    name: 'index-section',
    components: {

    },
    data() {
      return {
        CDATA,
        locOption: {
          isReading: false
        }
      }
    },
    computed: {
      ...mapState([ 'option' ]),
    },
    created() {
      console.log('xxxxx')
    },
    mounted() {
      _showContainer()
    },
    methods: {
    }
  }
</script>

