<footer class="footer">
  <div class="mid-footer mid_footer footer_rose ">
    <div class="container">
      <div class="row" style="margin: 30px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="widget-ft-top">
            <div class="list-menu">
              <div class="widget_1">
                <div class="fanpage_store">
                  <h4 class="title-menu">
                    <span>
                      Like để cập nhật tin tức về Dalat Chocolate
                    </span>
                  </h4>
                  <div class="fb-page"
                      data-href="https://www.facebook.com/DalatChocolate/"
                      data-width="380"
                      data-hide-cover="false"
                      data-show-facepile="false"></div>
                </div>
              </div>
              <div>
                <p>
                  <i class="fas fa-phone"></i>
                  <a href="#">18006750</a>
                  <br/>
                  <i class="far fa-envelope"></i>
                  <a href="#"> support@dalatchocolate.com</a>
                  <br/>
                  <span>Địa chỉ : 7/2 Hàn Thuyên , Phường 6 , Đà Lạt ( gần công an tỉnh Lâm Đồng ) .</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        
        </div>
      </div>
    </div>
  </div>
</footer>