<div class="greeting section">
  <div class="title mb--24"><h3>Chào buổi sáng, người bạn mới!</h3></div>
  <p class="mb--12">Bạn đã sẵn sàng cùng Luxstay khám phá những điều tuyệt vời nhất cho chuyến hành trình sắp tới?</p>
  <p><a href="/vi/auth/sign/in" class="">Đăng nhập</a> <span class="text-lowercase">Hoặc</span>
    <a href="/vi/auth/sign/up" class="">Đăng ký</a> để trải nghiệm
  </p>
</div>