<div id="mySidenav" class="sidenav menu_mobile hidden-md hidden-lg">
  <div class="top_menu_mobile">
				<span class="close_menu">
				</span>
  </div>
  <div class="content_memu_mb">
    <div class="link_list_mobile">
      <ul class="ct-mobile hidden">
      </ul>
      <ul class="ct-mobile">
        <li class="level0 level-top parent level_ico nav-item" data-section="slider">
          <a href="#">Trang chủ</a>
        </li>
        <li class="level0 level-top parent level_ico nav-item" data-section="gioi-thieu">
          <a href="#">Giới thiệu</a>
        </li>
        <li class="level0 level-top parent level_ico nav-item" data-section="canh-quan">
          <a href="#">Cảnh quan</a>
        </li>
        <li class="level0 level-top parent level_ico nav-item" data-section="gia-phong">
          <a href="#">Giá phòng</a>
        </li>
        <li class="level0 level-top parent level_ico nav-item" data-section="danh-gia">
          <a href="#">Đánh giá</a>
        </li>
        <li class="level0 level-top parent level_ico nav-item" data-section="hoat-dong">
          <a href="#">Hoạt động</a>
        </li>
      </ul>
    </div>
  </div>
</div>
