<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex">
    <title>Thue nha re</title>
    <link rel="icon" href="<?php echo RESOURCE_URL . '/global/image/logo.png' ?>" type="image/x-icon"/>
    <link rel="shortcut icon" href="<?php echo RESOURCE_URL . '/global/image/logo.png' ?>" type="image/x-icon"/>
    <?php echo $this->seo->getTitle(); ?>
    <?php echo $this->seo->getMeta(); ?>
    <?php echo $this->seo->getCanonical(); ?>
    <!-- Facebook Open Graph meta tags -->
    <?php echo $this->assets->outputCss(); ?>
    <script>
      function imgError(_this) {
        _this.src = CDATA.url.resourceURL + '/global/image/no-image.png';
      }
    </script>
    <script>
      window.CDATA = <?php echo json_encode($CDATA) ?>;
      window.PAGE_DATA = <?php echo json_encode($PAGE_DATA) ?>;
    </script>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <div id="id_back_top"></div>
      <!-- header -->
      <div class="header">
        <?php echo $this->partial('global/_header') ?>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>
      <!-- end header -->

      <!-- header-menu -->
      <div class="content header_menu">
        <?php echo $this->partial('global/_header-menu') ?>
        <div class="clear"></div>
      </div>
      <!-- end header-menu -->

      <!-- itop -->
      <?php
        switch ($CDATA['common']['controller']):
          case 'item': ?>
            <div class="content">
              <?php echo $this->partial('global/_i-top') ?>
            </div>
            <?php
            break;
          default: ?>
            <div class="content itop">
              <?php echo $this->partial('global/_i-top') ?>
            </div>
            <?php break;
        endswitch;
      ?>
    </div>
    <!-- end itop -->

    <!-- content -->
    <div class="content mainContent">
        <?php echo $this->getContent(); ?>
        <div class="clear"></div>
    </div>
    <!-- end content -->

    <!-- footer -->
    <div class="content footer">
      <?php echo $this->partial('global/_footer') ?>
    </div>
    <!-- end footer -->

    <div id="top_page"></div>
    <div class="footer_copy">
      <div class="container"> Copyright © 2016 DITHUENHA.COM - ® dithuenha.com Trang tin cho thuê bất động sản</div>
    </div>
    <div class="clear"></div>
    <?php echo $this->assets->outputJs(); ?>
    <?php
      switch ($CDATA['common']['controller']):
        case 'user': ?>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9?v=1"></script>
          <?php break;
        default:
          break;
      endswitch; ?>
  </body>
</html>
