<template>
  <tr>
    <!-- role_image -->
    <td>
      <div class="kt-user-card-v2">
        <div class="kt-user-card-v2__pic">
          <img
              alt=""
              :src="roleImage"
              width="100"
          >
        </div>
        <div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">{{objEntity.role_name}}</a>
          <span class="kt-user-card-v2__email"> ID: {{objEntity.role_id}}</span></div>
      </div>
    </td>
    <!-- role_image end -->

    <!-- is_fullaccess -->
    <td>
      <template v-if="objEntity.is_fullaccess == 1">
        <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill kt-badge--rounded">Đầy đủ quyền hạn</span>
      </template>
      <template v-else>
        <span class="kt-badge kt-badge--default kt-badge--inline kt-badge--pill kt-badge--rounded">Thành viên</span>
      </template>
    </td>
    <!-- is_fullaccess end -->

    <!-- # -->
    <td>
      <div class="kt-nav__link-group">
        <a
            class="kt-nav__link text-warning"
            href="#"
            data-toggle="kt-tooltip"
            title=""
            data-html="true"
            data-original-title="Phân quyền <code>Nhóm</code>"
            @click.prevent="goGrant()"
        >
          <i class="kt-nav__link-icon flaticon-settings-1"></i>
        </a>
        <a
            class="kt-nav__link text-info"
            href="#"
            title=""
            data-toggle="kt-tooltip"
            data-html="true"
            data-original-title="Cập nhật <code>Nhóm</code>"
            @click.prevent="goUpdate()"
        >
          <i class="flaticon-edit-1"></i>
        </a>
        <a
            class="kt-nav__link text-danger"
            href="#"
            title=""
            data-toggle="kt-tooltip"
            data-html="true"
            data-original-title="Xóa <code>Nhóm</code>"
            @click.prevent="goDelete()"
        > <i class="flaticon2-trash"></i>
        </a>
      </div>
    </td>
    <!-- # -->
  </tr>
</template>

<script>
  import { _isEmptyString } from "$jsCommonPath/util/SafeUtil"

  export default {
    name: 'role-table-row',
    props: {
      index: {
        default: {},
        type: Number
      },
      objEntity: {
        default: {},
        type: Object
      },
    },
    components: {},
    data() {
      return {
        url: {
          resourceURL: CDATA.url.resourceURL
        },
        locOption: {
          isDeleting: false
        }
      }
    },
    computed: {
      roleImage() {
        return this.url.resourceURL + '/global/image/group-image.png'
      },
    },
    created() {

    },
    methods: {
      goGrant() {
        setTimeout(() => {
          this.$router.push({ name: 'role:grant', params: { id: this.objEntity.role_id, page: 1 } })
        }, 100)
      },
      goUpdate() {
        setTimeout(() => {
          this.$store.dispatch('setEntityAct', { index: this.index })

          this.$router.push({ name: 'role:edit', params: { id: this.objEntity.role_id, page: 1 } })
        }, 100)
      },
      goDelete() {
        this.locOption.isDeleting = true
        this.$store.dispatch('deleteEntityAct', { id: this.objEntity.role_id }).then(res => {
          this.locOption.isDeleting = false

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'success'
          });
        }, res => {
          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'error'
          });
        })
      }
    }
  }
</script>

