<template>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="/backend" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link">
              Nhóm </span>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a
                href="#"
                class="kt-subheader__breadcrumbs-link"
                @click.prevent="goRead"
            >
              Danh sách
            </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Phân quyền</span>
          </div>
        </div>
        <div class="kt-subheader__toolbar"></div>
        <div class="kt-header__topbar">
          <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
              <div class="kt-header__topbar-user">
                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                <span class="kt-header__topbar-username kt-hidden-mobile">Sean</span>
                <img class="kt-hidden" alt="Pic" src="">
                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>
              </div>
            </div>

            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
              <!--begin: Navigation -->
              <div class="kt-notification">
                <div class="kt-notification__custom kt-space-between">
                  <a :href="CDATA.url.logoutURL" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
                </div>
              </div>
              <!--end: Navigation -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="display: none">
      <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Phân quyền
              <small>Role Permission</small>
            </h3>
          </div>
          <div class="kt-portlet__head-toolbar">
            <a
                href="#"
                class="btn btn-clean kt-margin-r-10"
                @click.prevent="back"
            >
              <i class="la la-arrow-left"></i>
              <span class="kt-hidden-mobile">Back</span>
            </a>
          </div>
        </div>
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-toolbar">
            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">
              <li
                  v-for="(objResource, index) in objResources"
                  :key="objResource.controller"
                  class="nav-item"
              >
                <a
                    class="nav-link"
                    :class="{'active': index == 0}"
                    data-toggle="tab"
                    :href="'#tab' + objResource.controller"
                    role="tab"
                    aria-selected="false"
                ><i :class="objResource.icon"></i> {{objResource.controller}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="tab-content">
            <div
                v-for="(objResource, index) in objResources"
                :key="objResource.controller"
                class="tab-pane"
                :class="{'active show': index == 0}"
                :id="'tab' + objResource.controller"
                role="tabpanel"
            >
              <role-grant-action-block
                  v-for="(objAction, action) in objResource.action"
                  :key="objResource.controller + action"
                  :index="objResource.controller + action"
                  :obj-action="objAction"
                  :resource="getResource(objResource.controller, action)"
                  :role-permission="getRolePermission(objResource.controller, action)"
              ></role-grant-action-block>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  import RoleGrantActionBlock from '$vuePartialPath/role/RoleGrantActionBlock'

  import { _showContainer } from "$jsCommonPath/util/GeneralUtil"
  import { _int } from "$jsCommonPath/util/SafeUtil"

  export default {
    name: 'role-grant-section-block',
    components: {
      'role-grant-action-block': RoleGrantActionBlock
    },
    data() {
      return {
        CDATA
      }
    },
    computed: {
      ...mapState([ 'option' ]),
      ...mapState({
        objResources: state => state.permission.objResources,
        rolePermissionList: state => state.permission.arrRolePermissionList
      }),
    },
    created() {
      if (!this.option.isGetRolePermission) {
        let { id, page } = this.$route.params
        if (_int(id) <= 0)
          return

        this.$store.dispatch('getRolePermissionAct', {
          id: id
        })
      }
    },
    mounted() {
      _showContainer()
    },
    methods: {
      back() {
        return this.$router.back()
      },
      goRead() {
        this.$router.push({ name: 'role:index' })
      },
      getResource(controller, action) {
        controller = controller.toLowerCase()
        action = action.toLowerCase()

        return 'backend' + ':' + controller + ':' + action
      },
      getRolePermission(controller, action) {
        controller = controller.toLowerCase()
        action = action.toLowerCase()

        if (!this.rolePermissionList.hasOwnProperty(controller))
          return {}

        if (!this.rolePermissionList[ controller ].hasOwnProperty(action))
          return {}

        return this.rolePermissionList[ controller ][ action ]
      }
    }
  }
</script>

