<template>
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="display: none">
    <div class="kt-portlet">
      <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Nhóm
            <small>Role</small>
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-brand"
                @click.prevent="goCreate"
            >
              <i class="la la-plus"></i>
              <span class="kt-hidden-mobile">Tạo nhóm</span>
            </button>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div
              v-show="locOption.isReading"
              class="table-preloader-backdrop">
            <div class="page-preloader">Loading</div>
          </div>
          <div class="kt-section__content">
            <role-table></role-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
  import RoleTable from '$vuePartialPath/role/RoleTable'

  import { _showContainer } from "$jsCommonPath/util/GeneralUtil"

  export default {
    name: 'role-index-section',
    components: {
      'role-table': RoleTable
    },
    data() {
      return {
        CDATA,
        locOption: {
          isReading: false
        }
      }
    },
    computed: {
      ...mapState([ 'option' ]),
    },
    created() {
      if (!this.option.isReady) {
        this.setOptionState({ field: 'isReady', value: true });

        this.locOption.isReading = true;
        this.$store.dispatch('readEntityAct').then((res) => {
          this.setOptionState({ field: 'isReady', value: true });

          this.locOption.isReading = false;
        })
      }
    },
    mounted() {
      _showContainer()
      _app.tooltip()
    },
    methods: {
      ...mapMutations([ 'setOptionState' ]),
      goRead() {
        this.$router.push({ name: 'role:index' })
      },
      goCreate() {
        this.$router.push({ name: 'role:add', params: { page: 1 } })
      }
    }
  }
</script>

