<template>
  <validation-observer
      ref="observer"
      v-slot="{ invalid }"
      tag="form"
      class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid"
      style="display: none"
  >
    <div class="row">
      <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">Cập nhật nhóm
                <small>Role</small>
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <a
                  href="#"
                  class="btn btn-clean kt-margin-r-10"
                  @click.prevent="back"
              >
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
              </a>
              <div class="btn-group">
                <button
                    type="button"
                    class="btn btn-brand"
                    :disabled="locOption.isUpdating"
                    @click.prevent="update(invalid)"
                >
                  <i class="la la-check"></i>
                  <span class="kt-hidden-mobile">Save</span>
                </button>
              </div>
            </div>
          </div>
          <div class="kt-portlet__body">
            <form class="kt-form" id="kt_form">
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                  <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                      <!-- role_name -->
                      <validation-provider
                          name="Tên nhóm quyền"
                          rules="required"
                          v-slot="{ errors, valid }"
                          tag="div"
                          class="form-group validated"
                      >
                        <label>Tên nhóm</label>
                        <div class="kt-input-icon kt-input-icon--left">
                          <input
                              v-model="frmData.role_name"
                              type="text"
                              class="form-control"
                              :class="isInvalid(valid) ? 'is-invalid' : ''"
                              placeholder="Tên nhóm..."
                          >
                          <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span>
                                  <i class="fa fa-list-alt"></i>
                                </span>
                              </span>
                        </div>
                        <div
                            v-show="isInvalid(valid)"
                            :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                        >{{errors[0]}}
                        </div>
                      </validation-provider>
                      <!-- role_name end -->

                      <!-- max_price -->
                      <validation-provider
                          name="Số tiền tối thiểu"
                          rules="required"
                          v-slot="{ errors, valid }"
                          tag="div"
                          class="form-group validated"
                      >
                        <label>Max Price</label>
                        <div class="kt-input-icon kt-input-icon--left">
                          <input
                              v-model="minPrice"
                              type="text"
                              class="form-control"
                              :class="isInvalid(valid) ? 'is-invalid' : ''"
                              placeholder="0"
                          >
                          <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span>
                                  <i class="fa fa-dollar-sign"></i>
                                </span>
                              </span>
                        </div>
                        <div
                            v-show="isInvalid(valid)"
                            :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                        >{{errors[0]}}
                        </div>
                      </validation-provider>
                      <!-- max_price end -->

                      <!-- is_fullaccess -->
                      <label class="kt-checkbox kt-checkbox--success">
                        <input
                            v-model="frmData.is_fullaccess"
                            id="checkbox1"
                            type="checkbox"
                            true-value="1"
                            false-value="0"
                        > Đầy đủ quyền hạn
                        <span></span>
                      </label>
                      <!-- is_fullaccess -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-2"></div>
              </div>
            </form>
          </div>
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </validation-observer>
</template>

<script>
  import { isEmpty as _isEmpty } from 'lodash'
  import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
  import { required, email, min, max, integer } from 'vee-validate/dist/rules'

  import { EVENT_BUS_KEY } from '$jsBasePath/define';
  import EventBus from '$jsBasePath/EventBus';

  import VeeValidateMessage from '$jsCommonPath/util/VeeValidateMessage'
  import { _showContainer, _formatPrice } from "$jsCommonPath/util/GeneralUtil"
  import { _isEmptyString } from "$jsCommonPath/util/SafeUtil"


  let objMessage = VeeValidateMessage.messages

  extend('required', { ...required, message: objMessage.required })

  export default {
    name: 'role-add-section',
    components: {
      'validation-observer': ValidationObserver,
      'validation-provider': ValidationProvider
    },
    data() {
      return {
        CDATA,
        url: {
          resourceURL: CDATA.url.resourceURL
        },
        locOption: {
          isValidating: false,
          isUpdating: false
        },
        frmData: {}
      }
    },
    computed: {
      profileImage() {
        if (_isEmpty(this.frmData.profile_image))
          return this.url.resourceURL + '/global/image/notFound.png'

        return this.frmData.profile_image
      },
      objEntitySelect() {
        return this.$store.state.entity.objEntitySelect
      },
      minPrice: {
        get() {
          let minPrice = this.frmData.max_price.toString()

          return _formatPrice(minPrice);
        },
        set(value) {
          value = value.replace(/\,/g, '')

          this.frmData.max_price = value
        }
      }
    },
    created() {
      let self = this

      this.$store.commit('resetEntity')
      this.frmData = { ...this.objEntitySelect }
    },
    mounted() {
      _showContainer()
    },
    methods: {
      isInvalid(valid) {
        return this.locOption.isValidating && !valid ? true : false
      },
      goRead() {
        this.$router.push({ name: 'role:index' })
      },
      goCreate() {
        this.$router.push({ name: 'role:add', params: { page: 1 } })
      },
      back() {
        return this.$router.back()
      },
      reset() {
        this.$store.commit('resetEntity')

        this.locOption.isValidating = false
        this.locOption.isUpdating = false

        this.frmData = { ...this.objEntitySelect }
      },
      update(invalid) {
        this.locOption.isValidating = true

        if (invalid) {
          this.$refs.observer.validate()
          return
        }

        this.locOption.isUpdating = true
        this.$store.dispatch('createEntityAct', this.frmData).then(res => {
          this.reset();

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'success'
          });
        }, res => {
          this.reset();

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'error'
          });
        })
      },
      upload(e) {
        const file = e.target.files[ 0 ]

        this.$store.dispatch('uploadFileAct', {
          controller: CDATA.common.controller,
          file: file
        }).then(payload => {
          let objImage = payload.arrImage[ 0 ]
          if (_isEmpty(objImage)) {
            return
          }

          this.frmData.profile_image = objImage.image
        })
      }
    }
  }
</script>

