<template>
  <table class="table">
    <thead>
      <tr>
        <th>Nhóm</th>
        <th>Trạng thái</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <role-table-row
          v-for="(objEntity, index) in arrEntityList"
          :key="objEntity.role_id"
          :index="index"
          :obj-entity="objEntity"
      ></role-table-row>
    </tbody>
  </table>
</template>

<script>
  import RoleTableRow from '$vuePartialPath/role/RoleTableRow'

  export default {
    name: 'role-table',
    components: {
      'role-table-row': RoleTableRow
    },
    data() {
      return {}
    },
    computed: {
      arrEntityList() {
        return this.$store.state.entity.arrEntityList
      }
    },
    created() {

    },
    methods: {}
  }
</script>

