<template>
  <div class="form-group row">
    <label class="col-3 col-form-label">{{objAction.text}}</label>
    <div class="col-3">
      <span class="kt-switch kt-switch--icon">
        <label>
          <input
              v-model="isEnabled"
              type="checkbox"
              :id="'switch-'+ index"
          >
          <span></span>
        </label>
      </span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'role-grant-action',
    components: {},
    props: {
      index: {
        default: null,
        type: String
      },
      objAction: {
        default: {},
        type: Object
      },
      resource: {
        default: null,
        type: String
      },
      rolePermission: {
        default: {},
        type: Object
      },
    },
    data() {
      return {
        locOption: {
          isEnabled: false
        }
      }
    },
    computed: {
      isEnabled: {
        get() {
          this.locOption.isEnabled = this.rolePermission.hasOwnProperty('role_id') ? true : false

          return this.locOption.isEnabled
        },
        set(value) {
          this.locOption.isEnabled = value

          let { id, page } = this.$route.params
          if (value === false) {
            this.$store.dispatch('deleteRolePermissionAct', {
              id: id,
              resource: this.resource,
            }).then(res => {
              $.notify({
                title: '<strong>THÔNG BÁO!</strong>',
                message: res.message
              }, {
                type: 'success'
              });
            }, res => {
              $.notify({
                title: '<strong>THÔNG BÁO!</strong>',
                message: res.message
              }, {
                type: 'error'
              });
            })
          } else {
            this.$store.dispatch('createRolePermissionAct', {
              id: id,
              resource: this.resource
            }).then(res => {
              $.notify({
                title: '<strong>THÔNG BÁO!</strong>',
                message: res.message
              }, {
                type: 'success'
              });
            }, res => {
              $.notify({
                title: '<strong>THÔNG BÁO!</strong>',
                message: res.message
              }, {
                type: 'error'
              });
            })
          }
        }
      }
    },
    created() {
    },
    methods: {}
  }
</script>

