<div class="container ">
  <div class="main">
    <div class="login_form">
      <div class="login_content">
        <div class="title"> Đăng nhập</div>
        <form class="js-login-frm" name="login" action="" method="post">
          <div class="item">
            <a
                href="javascript:void(0);"
                class="fbLogin"
                tabindex="110"
                rel="nofollow"
                onclick="openSocialLogin('<?php echo (new \Base\Social\Facebook())->setUrlCallback(BASE_URL . $this->url->get(['for' => 'frontend:user:loginsocial', 'provider' => 'facebook']))->getLoginUrl(); ?>')">
              <span>Đăng ký bằng tài khoản Facebook</span>
            </a>
          </div>
          <div class="item">
            <a
                href="javascript:void(0);"
                class="googleLogin"
                tabindex="110"
                rel="nofollow"
                onclick="openSocialLogin('<?php echo (new \Base\Social\Google())->setUrlCallback(BASE_URL . $this->url->get(['for' => 'frontend:user:loginsocial', 'provider' => 'google']))->getLoginUrl(); ?>')">
              <span>Đăng ký bằng tài khoản Google</span>
            </a>
          </div>
          <div class="item item_or">Hoặc</div>
          <div class="item">
            <input name="user_email" placeholder="Email*" class="user_email login_input" type="text" id="user_email">
          </div>
          <div class="item">
            <input name="user_pass" placeholder="Mật khẩu*" class="user_pass login_input" type="password" id="user_pass">
          </div>
          <div class="item_message"><p class="message"></p></div>
          <div class="item item_remember">
            <input id="is_remember" type="checkbox" name="is_remember" value="1">
            <span>Ghi nhớ thông tin</span>
            <a href="/quen-mat-khau.htm" title="Quên mật khẩu" class="lost_pass" id="hplForgotPass">Quên mật khẩu ?</a>
          </div>
          <div class="item"><input type="hidden" name="action" value="login">
            <button class="btnLogin btnSubmit js-login-frm__sm-btn">Đăng nhập</button>
          </div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
    <div class="clear"></div>
    <div class="login_sugget">
      <div class="item item_title"><p>Chưa có tài khoản?</p></div>
      <div class="item"><a href="/dang-ky.htm" class="btnSugget">Đăng ký tài khoản</a></div>
    </div>
  </div>
</div>

<script>
  var validationRules = <?php echo json_encode($arrValidationRules); ?>;
</script>
