<?php
  
  use Util\GeneralUtil;

?>

<div class="container content_cat ">
  <div class="user_left">
    <div class="top"><a class="avatar" href="/user/cong-khanh-32380.htm">
        <img src="https://lh3.googleusercontent.com/a-/AAuE7mAN1DiTU89vTNOyfhvAFa0roz8wbzW8bhiyrnAqEQ">
      </a> <a class="name" href="/user/cong-khanh-32380.htm"> cong khanh </a>
    </div>
    <div class="title">Giới thiệu</div>
    <ul class="list">
      <li class="item"><a href="/thong-tin-ca-nhan-u32380.htm">Thông tin cá nhân</a></li>
    </ul>
    <div class="title">Danh sách tin đăng</div>
    <ul class="list">
      <li class="item">
        <a href="<?php echo $this->url->get(['for' => 'frontend:user:manageitem']) ?>">Danh sách tin rao bán</a></li>
    </ul>
  </div>
  <div class="user_right">
    <h1 class="module_title"> Danh sách tin cho thuê </h1>
    <div class="content">
      <ul class="list_pro">
        <?php foreach ($arrItems as $arrItem): ?>
          <li class="pro_item">
            <a
                class="img"
                href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                title="<?php echo $arrItem['item_name'] ?>">
              <img alt="<?php echo $arrItem['item_name'] ?>" src="<?php echo $arrItem['item_feature_image'] ?>" onerror="imgError(this)"/>
            </a>
            <div class="info">
              <p class="info2">
                <span class="info2_lable3 price"><?php echo (float)$arrItem['price'] / 1000000 ?> triệu</span>
              </p>
              <h3 class="title">
                <a
                    href="<?php echo $this->url->get(['for' => 'frontend:item:view', 'slug' => GeneralUtil::getSlug($arrItem['item_name']), 'id' => $arrItem['item_id']]) ?>"
                    rel="nofollow">
                  <?php echo $arrItem['item_name'] ?>
                </a>
              </h3>
              <div class="intro">
                <?php echo $arrItem['item_description'] ?>
              </div>
              <div class="group2">
                <p class="info_adrr"><span class="info2_lable">Địa chỉ : </span>
                  <span class="info2_lable3"> <?php echo $arrItem['address'] ?> </span>
                </p>
              </div>
              <div class="group2">
                <p class="info3"><span class="info2_lable">Diện tích : </span>
                  <span class="info2_lable3"><?php echo $arrItem['floor_area'] ?>&nbsp;<?php echo $arrItem['floor_area_unit'] ?></span>
                </p>
                <p class="info4"><span class="info2_lable">Quận/Huyện : </span>
                  <span class="info2_lable3"> <?php echo $arrItem['district_name'] ?> </span>
                  <span class="time"><?php echo date('d/m/Y', $arrItem['created_at']) ?></span>
                </p>
                <p>
                  <a class="btn_edit" href="<?php echo $this->url->get(['for' => 'frontend:user:editrent', 'id' => $arrItem['item_id']]); ?>">Sửa tin</a>
                </p>
              </div>
            </div>
          </li>
        <?php endforeach; ?>
      </ul>
      <div class="paging_wrap">
        <?php echo $paginationHTML ?>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
