<div class="container content_cat ">
  <div class="pro_post_top">
    <h1 class="title_top">
      Đăng tin cho thuê nhà trọ phòng trọ chung cư... <br/> <span style="color: blue">miễn phí</span></h1>
    <div class="step">
      <div class="item step_active ">
        <span class="lin1"></span>
        <span class="icon">1</span>
        <a href="/dang-tin-cho-thue.htm" class="title">Chọn danh mục</a>
      </div>
      <div class="item ">
        <span class="lin1"></span>
        <span class="icon">2</span>
        <span class="title">Nội dung tin đăng</span>
      </div>
      <div class="item">
        <span class="lin1"></span>
        <span class="icon">3</span>
        <span class="title">Hoàn thành</span>
      </div>
    </div>
  </div>
  <div class="pro_post_left">
    <div class="title">
      <span class="icon_number">1</span>
      Chọn danh mục đăng tin cho thuê
    </div>
    <ul class="list">
      <?php foreach ($arrCategories as $id => $name): ?>
        <li class="item ">
          <a href="<?php echo $this->url->get(['for' => 'frontend:user:rent', 'id' => $id]) ?>"><?php echo $name ?></a>
        </li>
      <?php endforeach; ?>
    </ul>
  </div>
  <div class="pro_post_right">

    <div class="content">

      <div class="user_form_pro">
        <?php if (!defined('UID')): ?>
          <div class="form_post_messaage">
            <span>Vui lòng <a href="<?php echo $this->url->get(['for' => 'frontend:user:login']); ?>">đăng nhập</a> để được đăng tin cho thuê miễn phí.</span>
          </div>
        <?php else: ?>
          <div class="form_post_messaage">
            <span>Vui lòng chọn danh mục đăng tin cho thuê.</span>
          </div>
        <?php endif; ?>
        <p>Bạn Có nhà trọ phòng trọ chung cư... Cho Thuê? Đăng tin cho thuê nhà trọ phòng trọ chung cư..., Rao vặt nhà trọ phòng trọ chung cư... miễn phí.Dithuenha.com Miễn Phí Đăng Tin 100%, Nhanh Chóng, Hiệu Quả Cao, tiếp cận nhiều khách hàng nhất, nhanh nhất.</p>
      </div>

    </div>

  </div>

  <div class="clear"></div>
</div>
