<template>
  <tr>
    <!-- item_image -->
    <td
        :style="locOption.responsive.style"
    >
      <div class="kt-user-card-v2">
        <div class="kt-user-card-v2__pic">
          <img
              alt=""
              :src="itemImage"
              width="100"
          >
        </div>
        <div class="kt-user-card-v2__details">
          <a
              href="#"
              class="kt-user-card-v2__name"
              @click.prevent="goView()"
          >{{objEntity.item_name}}</a>
          <span class="kt-user-card-v2__email"> ID: {{objEntity.item_id}}</span></div>
      </div>
    </td>
    <!-- item_image end -->

    <!-- price -->
    <td
        :style="locOption.responsive.style"
    >
      <!-- is_promotion -->
      <span
          v-if="objEntity.is_promotion == 1"
      >
        <strong class="kt-font-danger">
          {{promotionPriceVND}} <sup>đ</sup>
        </strong>
        <br/>
      </span>
      <!-- end is_promotion -->

      <strong
          :class="{
            'kt-font-danger': objEntity.is_promotion == 0,
            '_text-line-through': objEntity.is_promotion == 1,
            'kt-font-linkedin': objEntity.is_promotion == 1
          }"
      >
        {{priceVND}} <sup>đ</sup>
      </strong>
    </td>
    <!-- price end -->

    <td
        :style="locOption.responsive.style"
    >
      <template v-if="isACP">
        <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill kt-badge--rounded">{{userCreatedName}}</span><br/>
      </template>
      <template v-else>
        <strong class="kt-font-linkedin">{{userCreatedName}}</strong><br/>
      </template>
      <span class="kt-font-linkedin">({{createdAt}})</span><br/>
    </td>

    <!-- item_description -->
    <td
        :style="locOption.responsive.style"
    >
      <p class>{{limitWords(objEntity.item_description, 100)}}</p>
    </td>
    <!-- item_description end -->

    <!-- # -->
    <td class="text-right">
      <div class="kt-nav__link-group">
        <a
            class="kt-nav__link text-primary"
            href="#"
            data-toggle="kt-tooltip"
            data-html="true"
            data-original-title="Cập nhật <code>Sản phẩm</code>"
            @click.prevent="goView()"
        >
          <i class="flaticon-search"></i>
        </a>
        <a
            class="kt-nav__link text-info"
            :class="{'is-disabled': !_checkACP('update')}"
            href="#"
            data-toggle="kt-tooltip"
            data-html="true"
            data-original-title="Cập nhật <code>Sản phẩm</code>"
            @click.prevent="goUpdate()"
        >
          <i class="flaticon-edit-1"></i>
        </a>
        <a
            class="kt-nav__link text-danger"
            :class="{'is-disabled': !_checkACP('delete')}"
            href="#"
            data-toggle="kt-tooltip"
            data-html="true"
            data-original-title="Xóa <code>Sản phẩm</code>"
            @click.prevent="goDelete()"
        > <i class="flaticon2-trash"></i>
        </a>
      </div>
    </td>
    <!-- # -->
  </tr>
</template>

<script>
  import { mapState } from 'vuex';

  import moment from 'moment';
  import * as momenttimezone from 'moment-timezone';
  import { isEmpty as _isEmpty, forIn as _forIn } from 'lodash';

  import resolution from '$jsBasePath/Resolution';

  import { _formatPrice, _limitWords, _checkACP } from "$jsCommonPath/util/GeneralUtil";
  import { _float, _isEmptyString } from "$jsCommonPath/util/SafeUtil";

  export default {
    name: 'item-table-row',
    props: {
      index: {
        default: {},
        type: Number
      },
      objEntity: {
        default: {},
        type: Object
      },
    },
    components: {},
    data() {
      return {
        limitWords: _limitWords,
        url: {
          resourceURL: CDATA.url.resourceURL
        },
        locOption: {
          isDeleting: false,
          responsive: {
            isResponsive: 0,
            style: {},
          }
        }
      }
    },
    computed: {
      ...mapState([ 'userState' ]),
      isACP() {
        let objUserList = this.userState.userList;
        if (_isEmpty(objUserList))
          return

        if (!objUserList.hasOwnProperty(this.objEntity.user_created_id))
          return

        return objUserList[ this.objEntity.user_created_id ].role_id == 2
      },
      userCreatedName() {
        let objUserList = this.userState.userList;
        if (_isEmpty(objUserList))
          return

        if (!objUserList.hasOwnProperty(this.objEntity.user_created_id))
          return

        return objUserList[ this.objEntity.user_created_id ].fullname
      },
      createdAt() {
        let format = 'DD-MM-YYYY H:mm:ss'

        let strDate = moment.unix(this.objEntity.created_at).format(format)

        return strDate;
      },
      itemImage() {
        if (_isEmptyString(this.objEntity.item_feature_image))
          return this.url.resourceURL + '/global/image/no_image.png'

        return this.objEntity.item_feature_image
      },
      profileImage() {
        if (_isEmpty(this.objUsers))
          return

        if (!this.objUsers.hasOwnProperty(this.objEntity.user_created_id))
          return

        return this.objUsers[ this.objEntity.user_created_id ].profile_image
      },
      price() {
        return _formatPrice(_float(this.objEntity.price));
      },
      promotionPriceVND() {
        return _formatPrice(_float(this.objEntity.promotion_price_vnd));
      },
      priceVND() {
        return _formatPrice(_float(this.objEntity.price_vnd));
      },
      currency() {
        switch (this.objEntity.currency) {
          case 'milionvnd':
            return '<sup>triệu</sup>'
            break;
          case 'vnd':
            return '<sup>đ</sup>'
            break;
          case 'usd':
            return '<sup>$</sup>'
            break;
        }
      }
    },
    created() {
      let breakPoint = resolution.getCurrentBreakPointKey();
      let arrDimension = [ 'xs', 'sm' ];

      if (arrDimension.includes(breakPoint)) {
        this.locOption.responsive.isResponsive = true;
        let currentWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
        this.locOption.responsive.style = {
          display: 'block',
          wordWrap: 'break-word',
          overflowWrap: 'break-word',
          width: currentWidth - 50 + 'px',
          textAlign: 'left',
          maxWidth: currentWidth - 50 + 'px'
        };

        setTimeout(() => {
          var rows = document.getElementsByTagName("tbody")[ 0 ].rows;
          _forIn(rows, obj => {
            if (typeof obj.style == 'undefined')
              return;

            obj.style.margin = '20px 0';
            obj.style.display = 'block';
            obj.style.background = 'beige';
          })
        }, 100)
      }
      moment.locale('vi')
      moment.tz.setDefault("Asia/Ho_Chi_Minh");
    },
    mounted() {
      _app.tooltip()
    },
    methods: {
      _checkACP,
      goView() {
        setTimeout(() => {
          this.$store.dispatch('setEntityAct', { index: this.index })

          this.$router.push({ name: 'item:view', params: { id: this.objEntity.item_id, page: 1 } })
        }, 100)
      },
      goUpdate() {
        setTimeout(() => {
          this.$store.dispatch('setEntityAct', { index: this.index })

          this.$router.push({ name: 'item:edit', params: { id: this.objEntity.item_id, page: 1 } })
        }, 100)
      },
      goDelete() {
        this.locOption.isDeleting = true
        this.$store.dispatch('deleteEntityAct', { id: this.objEntity.item_id }).then(res => {
          this.locOption.isDeleting = false

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'success'
          });
        }, res => {
          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'error'
          });
        })
      }
    }
  }
</script>

