<template>
  <validation-observer
      ref="observer"
      v-slot="{ invalid }"
      tag="form"
      class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid"
      style="display: none"
  >
    <div class="row">
      <div class="col-lg-8">
        <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="">
          <div class="kt-portlet__body">
            <form class="kt-form" id="kt_form">
              <div class="row">
                <div class="col-lg-6">
                  <!-- district_id -->
                  <validation-provider
                      name="Quận/Huyện"
                      rules="required"
                      v-slot="{ errors, valid }"
                      tag="div"
                      class="form-group validated"
                  >
                    <label class="_fw-550">Quận/Huyện:</label>
                    <v-select
                        v-model="frmData.district_id"
                        class="form-control "
                        :class="isInvalid(valid) ? 'is-invalid' : ''"
                        :options="districtList"
                        :reduce="obj => obj.district_id"
                        :clearable="false"
                        placeholder="Chọn Quận / huyện"
                        label="district_name"
                        @input="changeDistrict"
                    >
                      <template v-slot:option="objDistrict">
                        <span class="mz-select-option">{{objDistrict.district_name}}</span>
                      </template>
                    </v-select>
                    <div
                        v-show="isInvalid(valid)"
                        :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                    >{{errors[0]}}
                    </div>
                  </validation-provider>
                  <!-- district_id end -->
                </div>
                <div class="col-lg-6">
                  <!-- ward_id -->
                  <validation-provider
                      name="Phường/Xã"
                      rules="required"
                      v-slot="{ errors, valid }"
                      tag="div"
                      class="form-group validated"
                  >
                    <label class="_fw-550">Phường/Xã:</label>
                    <v-select
                        v-model="frmData.ward_id"
                        class="form-control "
                        :class="isInvalid(valid) ? 'is-invalid' : ''"
                        :options="wardList"
                        :reduce="obj => obj.ward_id"
                        :clearable="false"
                        placeholder="Chọn Phường / Xã"
                        label="ward_name"
                    >
                      <template v-slot:option="objWard">
                        <span class="mz-select-option">{{objWard.ward_name}}</span>
                      </template>
                    </v-select>
                    <div
                        v-show="isInvalid(valid)"
                        :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                    >{{errors[0]}}
                    </div>
                  </validation-provider>
                  <!-- ward_id end -->
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <!-- street_id -->
                  <validation-provider
                      name="Đường/Ngõ"
                      rules="required"
                      v-slot="{ errors, valid }"
                      tag="div"
                      class="form-group validated"
                  >
                    <label class="_fw-550">Đường/Ngõ:</label>
                    <v-select
                        v-model="frmData.street_id"
                        class="form-control "
                        :class="isInvalid(valid) ? 'is-invalid' : ''"
                        :options="streetList"
                        :reduce="obj => obj.street_id"
                        :clearable="false"
                        placeholder="Chọn Đường / Ngõ"
                        label="street_name"
                    >
                      <template v-slot:option="objStreet">
                        <span class="mz-select-option">{{objStreet.street_name}}</span>
                      </template>
                    </v-select>
                    <div
                        v-show="isInvalid(valid)"
                        :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                    >{{errors[0]}}
                    </div>
                  </validation-provider>
                  <!-- street_id end -->
                </div>

                <div class="col-lg-6">
                  <!-- address -->
                  <validation-provider
                      name="Địa chỉ"
                      rules="required"
                      v-slot="{ errors, valid }"
                      tag="div"
                      class="form-group validated"
                  >
                    <label class="_fw-550">Địa chỉ:</label>
                    <div class="kt-input-icon kt-input-icon--left">
                      <input
                          v-model="frmData.address"
                          type="text"
                          class="form-control "
                          :class="isInvalid(valid) ? 'is-invalid' : ''"
                          placeholder="Địa chỉ..."
                      >
                      <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span>
                          <i class="fa fa-list-alt"></i>
                        </span>
                      </span>
                    </div>
                    <div
                        v-show="isInvalid(valid)"
                        :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                    >{{errors[0]}}
                    </div>
                  </validation-provider>
                  <!-- address end -->
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="_fw-550">Không gian:</label>
                    <select
                        v-model="frmData.category_id"
                        class="form-control "
                        placeholder="Chọn Loại Sản Phẩm"
                    >
                      <option value="1">Nhà phố</option>
                      <option value="2">Khách sạn, CHDV</option>
                      <option value="3">Đất kho, xưởng</option>
                      <option value="4">Mặt bằng</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3">
                  <!-- host_phone -->
                  <validation-provider
                      name="SĐT"
                      rules="required"
                      v-slot="{ errors, valid }"
                      tag="div"
                      class="form-group validated"
                  >
                    <label class="_fw-550">SĐT chủ nhà:</label>
                    <div class="kt-input-icon kt-input-icon--left">
                      <input
                          v-model="frmData.host_phone"
                          type="text"
                          class="form-control "
                          :class="isInvalid(valid) ? 'is-invalid' : ''"
                          placeholder="SĐT..."
                      >
                      <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span>
                          <i class="fa 	fa-phone"></i>
                        </span>
                      </span>
                    </div>
                    <div
                        v-show="isInvalid(valid)"
                        :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                    >{{errors[0]}}
                    </div>
                  </validation-provider>
                  <!-- host_phone end -->
                </div>

                <div class="col-lg-3">
                  <!-- host_phone_support -->
                  <div class="form-group">
                    <label class="_fw-550">SĐT phụ:</label>
                    <div class="kt-input-icon kt-input-icon--left">
                      <input
                          v-model="frmData.host_phone_support"
                          type="text"
                          class="form-control "
                          placeholder="SĐT phụ..."
                      >
                      <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span>
                          <i class="fa 	fa-phone"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                  <!-- host_phone_support end -->
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 text-center text-sm-left">

                </div>
                <div class="col-lg-4 text-center text-sm-left">
                  <!-- price -->
                  <validation-provider
                      name="Giá cả"
                      rules="required"
                      v-slot="{ errors, valid }"
                      tag="div"
                      class="form-group validated"
                  >
                    <label class="_fw-550">Giá cả:</label>
                    <div class="kt-input-icon kt-input-icon--left">
                      <input
                          v-model="price"
                          type="text"
                          class="form-control "
                          :class="isInvalid(valid) ? 'is-invalid' : ''"
                          placeholder="Giá cả..."
                      >
                      <span class="kt-input-icon__icon kt-input-icon__icon--left">
                          <span>
                            <i class="fa fa-dollar-sign"></i>
                          </span>
                        </span>
                    </div>
                    <div
                        v-show="isInvalid(valid)"
                        :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                    >{{errors[0]}}
                    </div>
                  </validation-provider>
                  <!-- price end -->
                </div>
                <div class="col-lg-2 text-center text-sm-left _no-padding-l">
                  <div class="form-group">
                    <label class="_fw-550">Đơn vị:</label>
                    <select
                        v-model="frmData.currency"
                        class="form-control"
                    >
                      <option value="milionvnd">Triệu VNĐ</option>
                      <option value="vnd">VNĐ</option>
                      <option value="usd">USD</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <!-- item_description -->
                  <validation-provider
                      name="Mô tả"
                      rules="required"
                      v-slot="{ errors, valid }"
                      tag="div"
                      class="form-group validated"
                  >
                    <label class="_fw-550">Mô tả sản phẩm:</label>
                    <textarea
                        v-model="frmData.item_description"
                        class="form-control"
                        :class="isInvalid(valid) ? 'is-invalid' : ''"
                        id="kt_autosize_1"
                        rows="5"
                        placeholder="Mô tả sản phẩm..."
                    ></textarea>
                    <div
                        v-show="isInvalid(valid)"
                        :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                    >{{errors[0]}}
                    </div>
                  </validation-provider>
                  <!-- item_description end -->
                </div>
              </div>

              <div class="row m-2">
                <div class="col-lg-12">
                  <!-- is_promotion -->
                  <label class="kt-checkbox kt-checkbox--success">
                    <input
                        v-model="frmData.is_promotion"
                        id="checkbox2"
                        type="checkbox"
                        true-value="1"
                        false-value="0"
                    > Giảm giá
                    <span></span>
                  </label>
                  <!-- is_promotion -->

                  <div
                      v-show="frmData.is_promotion > 0"
                      class="ibox-body"
                  >
                    <div class="row">
                      <div class="col-sm-4 text-center text-sm-left">
                        <!-- promotion_price -->
                        <validation-provider
                            name="Price"
                            rules="required"
                            v-slot="{ errors, valid }"
                            tag="div"
                            class="form-group validated"
                        >
                          <label
                              class="col-form-label"
                              :class="{'has-error': locOption.isValidating && !valid}"
                          >Giá giảm:</label>
                          <div class="kt-input-icon kt-input-icon--left">
                            <input
                                v-model="promotionPrice"
                                type="text"
                                class="form-control "
                                :class="isInvalid(valid) ? 'is-invalid' : ''"
                                placeholder="Price..."
                            />

                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                              <span>
                                <i class="fa fa-dollar-sign"></i>
                              </span>
                            </span>
                          </div>
                          <div
                              v-show="isInvalid(valid)"
                              :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                          >{{errors[0]}}
                          </div>
                        </validation-provider>
                        <!-- promotion_price end -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile _mr-b-20" id="">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">Đăng sản phẩm</h3>
            </div>
          </div>
          <div class="kt-portlet__body" style="position: relative">
            <div class="_mr-b-40">
              <p>
                <i class="la la-key"></i> Người tạo: <span class="_fw-550">{{CDATA.login.fullName}}</span>
              </p>
              <p>
                <i class="la la-calendar-o"></i> Đăng <span class="_fw-550">ngay lập tức</span>
              </p>
            </div>
            <div class="_post-box text-right">
              <a
                  href="#"
                  class="btn btn-clean kt-margin-r-10"
                  @click.prevent="back"
              >
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Trở lại</span>
              </a>
              <div class="btn-group">
                <button
                    type="button"
                    class="btn btn--md btn-brand"
                    :disabled="locOption.isUpdating"
                    @click.prevent="update(invalid)"
                >
                  <span class="kt-hidden-mobile">Lưu</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile _mr-b-20" id="">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">Tùy chọn</h3>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-lg-6">
                <!-- is_cart -->
                <label class="kt-checkbox kt-checkbox--success">
                  <input
                      v-model="frmData.is_cart"
                      id="checkbox9"
                      type="checkbox"
                      true-value="1"
                      false-value="0"
                  > Giỏ hàng
                  <span></span>
                </label>
                <!-- end is_cart -->
              </div>

              <div class="col-lg-6">
                <!-- is_private -->
                <label class="kt-checkbox kt-checkbox--success">
                  <input
                      v-model="frmData.is_private"
                      id="checkbox5"
                      type="checkbox"
                      true-value="1"
                      false-value="0"
                  > Cá nhân
                  <span></span>
                </label>
                <!-- is_private -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- is_favorite -->
                <label class="kt-checkbox kt-checkbox--success">
                  <input
                      v-model="frmData.is_favorite"
                      id="checkbox2"
                      type="checkbox"
                      true-value="1"
                      false-value="0"
                  > Đánh dấu
                  <span></span>
                </label>
                <!-- is_favorite -->
              </div>

              <div class="col-lg-6">
                <!-- status -->
                <label class="kt-checkbox kt-checkbox--success">
                  <input
                      v-model="frmData.status"
                      id="checkbox2"
                      type="checkbox"
                      true-value="1"
                      false-value="0"
                  > Đã thuê
                  <span></span>
                </label>
                <!-- status -->
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile _mr-b-20" id="">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">Hình ảnh</h3>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="form-group">
              <label class="_fw-550">Tải hình ảnh: </label>
              <vue-dropzone
                  ref="vueDropzone"
                  id="dropzone"
                  :options="dropzoneOptions"
                  @vdropzone-sending="sendingEvent"
                  @vdropzone-complete="sendComplete"
                  @vdropzone-removed-file="removeImage"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </validation-observer>
</template>

<script>
  import { mapState } from 'vuex'

  import vue2Dropzone from 'vue2-dropzone'
  import { isEmpty as _isEmpty, forIn as _forIn } from 'lodash'
  import vSelect from 'vue-select'

  import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
  import { required, email, min, max, integer } from 'vee-validate/dist/rules'
  import Editor from '@tinymce/tinymce-vue'

  import { EVENT_BUS_KEY } from '$jsBasePath/define'
  import EventBus from '$jsBasePath/EventBus'

  import VeeValidateMessage from '$jsCommonPath/util/VeeValidateMessage'
  import { isErrorAPI, _showContainer, _formatPrice, _getArrByKey, _isJson } from "$jsCommonPath/util/GeneralUtil"
  import { _isEmptyString } from "$jsCommonPath/util/SafeUtil"


  let objMessage = VeeValidateMessage.messages

  extend('required', { ...required, message: objMessage.required })
  extend('email', { ...email, message: objMessage.email })
  extend('min', { ...min, message: objMessage.min })
  extend('max', { ...max, message: objMessage.max })
  extend('integer', { ...integer, message: objMessage.integer })

  export default {
    name: 'item-add-section',
    components: {
      'validation-observer': ValidationObserver,
      'validation-provider': ValidationProvider,
      'tinymce-editor': Editor,
      'v-select': vSelect,
      vueDropzone: vue2Dropzone
    },
    data() {
      return {
        CDATA,
        url: {
          resourceURL: CDATA.url.resourceURL
        },
        locOption: {
          isValidating: false,
          isUpdating: false
        },
        frmData: {},
        dropzoneOptions: {
          url: CDATA.url.apiURL + '/global/upload',
          thumbnailWidth: 150,
          maxFilesize: 0.5,
          addRemoveLinks: true
        }
      }
    },
    computed: {
      ...mapState({
        cityList: state => state.address.arrCityList,
        districtList: state => state.address.arrDistrictList,
        wardList: state => state.address.arrWardList,
        streetList: state => state.address.arrStreetList
      }),
      title() {
        let title = this.frmData.item_name + ' ' + this.frmData.meta_title
        if (_isEmptyString(title))
          return 'Title Metatitle'

        return title
      },
      itemImage() {
        if (_isEmpty(this.frmData.item_feature_image))
          return this.url.resourceURL + '/global/image/no_image.png'

        return this.frmData.item_feature_image
      },
      objEntitySelect() {
        return this.$store.state.entity.objEntitySelect
      },
      price: {
        get() {
          let price = this.frmData.price.toString()

          return _formatPrice(price);
        },
        set(value) {
          value = value.replace(/\,/g, '')

          this.frmData.price = value
        }
      },
      promotionPrice: {
        get() {
          let promotion_price = this.frmData.promotion_price.toString()

          return _formatPrice(promotion_price);
        },
        set(value) {
          value = value.replace(/\,/g, '')

          this.frmData.promotion_price = value
        }
      }
    },
    created() {
      let self = this

      this.$store.commit('resetEntity')
      this.frmData = { ...this.objEntitySelect }

      this.$store.dispatch('readCityListAct')
      this.$store.dispatch('readDistrictAct', { cityID: this.frmData.city_id })
    },
    mounted() {
      _showContainer();
      this.$refs.observer.validate()
      setTimeout(() => {
        _app.sticky();
      }, 1000)
    },
    methods: {
      isInvalid(valid) {
        return this.locOption.isValidating && !valid ? true : false
      },
      goRead() {
        this.$router.push({ name: 'item:index', params: { page: 1 } })
      },
      goCreate() {
        this.$router.push({ name: 'item:add', params: { page: 1 } })
      },
      back() {
        return this.$router.back()
      },
      reset() {
        this.$store.commit('resetEntity')

        this.locOption.isValidating = false
        this.locOption.isUpdating = false

        this.frmData = { ...this.objEntitySelect }
      },
      goViewUI() {
        window.location.href = CDATA.viewItemUIURL
      },
      setAreaName() {
        let objCity = _getArrByKey(this.cityList, 'city_id', this.frmData.city_id)[ 0 ]
        let objDistrict = _getArrByKey(this.districtList, 'district_id', this.frmData.district_id)[ 0 ]
        let objWard = _getArrByKey(this.wardList, 'ward_id', this.frmData.ward_id)[ 0 ]
        let objStreet = _getArrByKey(this.streetList, 'street_id', this.frmData.street_id)[ 0 ]

        this.frmData.city_name = objCity.city_name
        this.frmData.district_name = objDistrict.district_name
        this.frmData.ward_name = objWard.ward_name
        this.frmData.street_name = objStreet.street_name
      },
      update(invalid, errors) {
        this.locOption.isValidating = true
        if (invalid) {
          this.$refs.observer.validate()
          return
        }
        this.locOption.isUpdating = true

        this.frmData.user_created_id = CDATA.login.UID
        this.frmData.item_image_list = Object.values(this.frmData.item_image_list);

        this.setAreaName() // #additional

        this.$store.dispatch('createEntityAct', this.frmData).then(res => {
          this.reset();

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'success'
          });
        }, res => {
          this.reset();

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'error'
          });
        })
      },
      sendingEvent(file, xhr, formData) {
        formData.append('controller', 'item');
      },
      sendComplete(complete) {
        let res = _isJson(complete.xhr.response);
        if (isErrorAPI(res)) {
          return;
        }

        let payload = res.payload;
        let objImage = payload.image_info[ 0 ]
        if (_isEmpty(objImage)) {
          return
        }

        this.frmData.item_image_list[ complete.upload.uuid ] = objImage.image;
      },
      removeImage(file, error, xhr) {
        let uuid = file.upload.uuid;
        if (!this.frmData.item_image_list.hasOwnProperty(uuid)) {
          return false;
        }

        delete this.frmData.item_image_list[ uuid ];
      },
      changeCity(e) {
        this.frmData.district_id = ''
        this.frmData.ward_id = ''
        this.frmData.street_id = ''

        this.$store.dispatch('readDistrictAct', { cityID: this.frmData.city_id })
      },
      changeDistrict(e) {
        this.frmData.ward_id = ''
        this.frmData.street_id = ''

        this.$store.dispatch('readStreetAct', { districtID: this.frmData.district_id })
        this.$store.dispatch('readWardAct', { districtID: this.frmData.district_id })
      },
    }
  }
</script>

