<template>
  <table class="table">
    <thead>
      <tr>
        <th width="25%">Thông tin</th>
        <th width="12%">Giá</th>
        <th width="10%">Ngày đăng</th>
        <th width="40%">Mô tả</th>
        <th width="13%">#</th>
      </tr>
    </thead>
    <tbody>
      <item-table-row
          v-for="(objEntity, index) in entity.arrEntityList"
          :key="objEntity.item_id"
          :index="index"
          :obj-entity="objEntity"
      ></item-table-row>
    </tbody>
  </table>
</template>

<script>
  import { mapState } from 'vuex';
  import ItemTableRow from '$vuePartialPath/item/ItemTableRow';

  export default {
    name: 'item-table',
    components: {
      'item-table-row': ItemTableRow
    },
    data() {
      return {}
    },
    computed: {
      ...mapState([ 'entity' ]),
    },
    created() {
    },
    methods: {}
  }
</script>

