<template>
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="display: none">
    <div class="kt-portlet" data-ktportlet="true">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Tìm kiếm
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-group">
            <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md" aria-describedby="tooltip_4vu1i7ub94"><i class="la la-angle-down"></i></a>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <form id="frm" action="" method="get" ref="frm">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Tên đường: </label>
                  <div class="col-9">
                    <div class="typeahead">
                      <input
                          id="input"
                          class="form-control"
                          type="text"
                          placeholder="Gõ tên đường tại đây..."
                          autocomplete="off"
                          name="s_like"
                      >
                      <typeahead
                          v-model="model"
                          target="#input"
                          :data="CDATA.common.streets"
                          item-key="name"
                      >
                        <template slot="item" slot-scope="props">
                          <li
                              v-for="(item, index) in props.items"
                          >
                            <a
                                role="button"
                                @click="props.select(item)"
                            >
                              <span v-html="props.highlight(item)"></span>
                            </a>
                          </li>
                        </template>
                      </typeahead>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Giá: </label>
                  <div class="col-9">
                    <div class="row">
                      <div class="col-6">
                        <input
                            v-model="priceFromVNDTrack"
                            class="form-control"
                            type="text"
                            placeholder="Từ..."
                            name="price_vnd_from"
                        >
                      </div>
                      <div class="col-6">
                        <input
                            v-model="priceVNDToTrack"
                            class="form-control"
                            type="text"
                            placeholder="Tới..."
                            name="price_vnd_to"
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Khu vực: </label>
                  <div class="col-9">
                    <v-select
                        v-model="districtID"
                        class="form-control "
                        :options="districtList"
                        :reduce="obj => obj.district_id"
                        :clearable="false"
                        name="districtID"
                        placeholder="Chọn Quận / huyện"
                        label="district_name"
                    >
                      <template v-slot:option="objDistrict">
                        <span class="mz-select-option">{{objDistrict.district_name}}</span>
                      </template>
                    </v-select>
                    <input type="hidden" :value="districtID" name="district_id">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-3 col-form-label">Đơn vị:</label>
                  <div class="col-9">
                    <select
                        class="form-control"
                        name="currency"
                    >
                      <option value="milionvnd">Triệu VNĐ</option>
                      <option value="vnd">VNĐ</option>
                      <option value="usd">USD</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Sắp xếp: </label>
                  <div class="col-9">
                    <select
                        class="form-control "
                        placeholder="Sắp xếp"
                        name="sort"
                    >
                      <option value="created_at DESC">Ngày đăng mới nhất</option>
                      <option value="price_vnd DESC">Giá giảm dần</option>
                      <option value="price_vnd ASC">Đánh dấu</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Loại chỗ ở: </label>
                  <div class="col-9">
                    <select
                        class="form-control "
                        placeholder="Chọn Loại Sản Phẩm"
                        name="category_id"
                    >
                      <option value="">Chọn loại sản phẩm</option>
                      <option value="1">Nhà phố</option>
                      <option value="2">Khách sạn, CHDV</option>
                      <option value="3">Đất kho, xưởng</option>
                      <option value="4">Mặt bằng</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- is_promotion -->
                <label class="kt-checkbox kt-checkbox--success">
                  <input
                      v-model="locFilterState.query.isPromotion"
                      id="checkbox2"
                      type="checkbox"
                      true-value="1"
                      false-value="0"
                  > Giảm giá
                  <span></span>
                </label>
                <input
                    v-model="locFilterState.query.isPromotion"
                    type="hidden"
                    name="is_promotion"
                >
                <!-- is_promotion -->
              </div>
            </div>
            <div class="kt-form__actions kt-form__actions text-right">
              <button
                  class="btn btn-success"
                  @click.prevent="filter"
              ><i class="fa fa-search"></i> Tìm kiếm
              </button>
              <button
                  v-show="isFilter"
                  class="btn btn-secondary"
                  @click.prevent="unfilter"
              ><i class="fa fa-window-close"></i> Hủy bỏ
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="kt-portlet">
      <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Sản phẩm
            <small>Item</small>
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-brand"
                :disabled="!_checkACP('add')"
                @click.prevent="goCreate"
            >
              <i class="la la-plus"></i>
              <span class="kt-hidden-mobile">Đăng sản phẩm</span>
            </button>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-section">
          <div class="kt-section__content _pos-relative">
            <div
                v-show="locOption.isReading"
                class="table-preloader-backdrop">
              <div class="page-preloader">Đang tải...</div>
            </div>
            <item-table></item-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
  import { Typeahead } from 'uiv'

  import vSelect from 'vue-select'

  import ItemTable from '$vuePartialPath/item/ItemTable'

  import { EVENT_BUS_KEY } from '$jsBasePath/define'
  import EventBus from '$jsBasePath/EventBus'

  import { _showContainer, _formatPrice, _checkACP } from "$jsCommonPath/util/GeneralUtil";

  export default {
    name: 'item-index-section',
    components: {
      'v-select': vSelect,
      'item-table': ItemTable,
      'typeahead': Typeahead,
    },
    data() {
      return {
        CDATA,
        locOption: {
          isReading: false
        },
        locFilterState: {
          query: {
            isPromotion: 0
          }
        },
        priceVNDFrom: '',
        priceVNDTo: '',
        districtID: 0,
        model: '',
      }
    },
    computed: {
      ...mapState([ 'option', 'filterState', 'address' ]),
      ...mapState({
        districtList: state => {
          let arrDistrictList = [ ...state.address.arrDistrictList ];
          arrDistrictList.unshift({ district_id: 0, district_name: 'Chọn Quận / huyện' });

          return arrDistrictList;
        }
      }),
      priceFromVNDTrack: {
        get() {
          let price = this.priceVNDFrom.toString()

          return _formatPrice(price);
        },
        set(value) {
          value = value.replace(/\,/g, '')

          this.priceVNDFrom = value;
        }
      },
      priceVNDToTrack: {
        get() {
          let price = this.priceVNDTo.toString()

          return _formatPrice(price);
        },
        set(value) {
          value = value.replace(/\,/g, '')

          this.priceVNDTo = value;
        }
      },
    },
    watch: {
      model(value) {
        if (typeof this.model == 'object') {
          this.model = this.model.street_name;
        }
      }
    },
    beforeCreate() {
      EventBus.on(EVENT_BUS_KEY.PAGING.CHANGE_PAGE, payload => {
        let { page } = { ...payload };

        this.readEntity(page, true);
      })
    },
    created() {
      this.priceVNDFrom = this.filterState.arrQuery.price_vnd_from;
      this.priceVNDTo = this.filterState.arrQuery.price_vnd_to;

      if (!this.option.isReady) {
        this.readEntity(1, false);
      }
    },
    mounted() {
      _showContainer();
    },
    methods: {
      _checkACP,
      ...mapMutations([ 'setOptionState', 'setFilterState', 'setEntities' ]),
      ...mapActions([ 'readEntityAct', 'readDistrictAct', 'readUserAct' ]),
      isFilter() {
        return _isEmptyString(this.filterState.queryString) ? false : true;
      },
      goRead() {
        this.$router.push({ name: 'item:index' })
      },
      goCreate() {
        this.$router.push({ name: 'item:add', params: { page: 1 } })
      },
      goViewUI() {
        window.location.href = CDATA.viewItemUIURL
      },
      readEntity(page = 1, isReady = true, delay = 0) {
        if (this.locOption.isReading)
          return;

        this.locOption.isReading = true;

        return this.readEntityAct({
          page: page,
          queryString: this.filterState.queryString
        }).then(res => {
          if (!isReady) {
            this.readUserAct();
            this.setOptionState({ field: 'isReady', value: true });
            this.readDistrictAct({ cityID: 29 });
          }

          let { page, totalRecord } = { ...res.payload };

          EventBus.emit(EVENT_BUS_KEY.PAGING.GET_TOTAL_RECORD, { page, totalRecord });
        }).finally(() => {
          setTimeout(() => {
            this.locOption.isReading = false;
          }, delay)
        });
      },
      filter() {
        this.setFilterState({ field: 'queryString', value: $('#frm').serialize() });

        this.readEntity();
      },
      unfilter() {
        this.priceVNDFrom = '';
        this.priceVNDTo = '';
        this.districtID = 0;
        this.model = '';
        this.locFilterState.query.isPromotion = 0;

        setTimeout(() => {
          this.setFilterState({ field: 'queryString', value: $('#frm').serialize() });

          this.readEntity();
        }, 100)
      },
    }
  }
</script>

