<template>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
          <span class="kt-subheader__separator kt-hidden"></span>
          <div class="kt-subheader__breadcrumbs">
            <a href="/backend" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link">
              Sản phẩm </span>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a
                href="#"
                class="kt-subheader__breadcrumbs-link"
                @click.prevent="goRead"
            >
              Danh sách
            </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Xem sản phẩm</span>
          </div>
        </div>
        <div class="kt-subheader__toolbar"></div>
        <div class="kt-header__topbar">
          <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
              <div class="kt-header__topbar-user">
                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                <span class="kt-header__topbar-username kt-hidden-mobile">Sean</span>
                <img class="kt-hidden" alt="Pic" src="">
                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>
              </div>
            </div>

            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
              <!--begin: Navigation -->
              <div class="kt-notification">
                <div class="kt-notification__custom kt-space-between">
<a :href="CDATA.url.logoutURL" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a></div>
              </div>
              <!--end: Navigation -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <validation-observer
        ref="observer"
        v-slot="{ invalid }"
        tag="form"
        class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid"
        style="display: none"
    >
      <div class="row">
        <div class="col-lg-12">
          <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
            <div class="kt-portlet__head kt-portlet__head--lg">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Đăng sản phẩm
                  <small>Item</small>
                </h3>
              </div>
              <div class="kt-portlet__head-toolbar">
                <a
                    href="#"
                    class="btn btn-clean kt-margin-r-10"
                    @click.prevent="back"
                >
                  <i class="la la-arrow-left"></i>
                  <span class="kt-hidden-mobile">Back</span>
                </a>
                <div class="btn-group">
                  <button
                      type="button"
                      class="btn btn-brand"
                      :disabled="locOption.isUpdating"
                      @click.prevent="goUpdate"
                  >
                    <i class="la la-arrow-right"></i>
                    <span class="kt-hidden-mobile">Cập nhật</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="kt-portlet__body">
              <form class="kt-form" id="kt_form">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="m-4">
                      <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_user_avatar_3">
                        <div
                            class="kt-avatar__holder img-200"
                            :style="'background-image: url(' + frmData.item_feature_image + ');'"
                        >
                        </div>
                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                          <i class="fa fa-pen"></i>
                          <input
                              type="file"
                              name="profile_avatar"
                              accept=".png, .jpg, .jpeg"
                              multiple
                              @change="upload"
                              :disabled="true"
                          >
                        </label>
                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                            <i class="fa fa-times"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <fieldset style="border: 1px solid #e7e7e7;padding: 20px;">
                      <div>
                        <h3 style="color: #1a0dab; margin-bottom: 0">{{title}}</h3>
                        <a href="#" style="color: #006621">Đường dẫn sản phẩm</a>
                      </div>
                      <div>
                        {{frmData.meta_description ? frmData.meta_description : 'Meta Description'}}
                      </div>
                    </fieldset>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <!-- city_id -->
                    <validation-provider
                        name="Tỉnh/Thành"
                        rules="required"
                        v-slot="{ errors, valid }"
                        tag="div"
                        class="form-group validated"
                    >
                      <label>Tỉnh/Thành:</label>
                      <v-select
                          v-model="frmData.city_id"
                          class="form-control "
                          :class="isInvalid(valid) ? 'is-invalid' : ''"
                          :options="cityList"
                          :reduce="obj => obj.city_id"
                          :clearable="false"
                          placeholder="Chọn Tỉnh / Thành phố"
                          label="city_name"
                          :disabled="true"
                          @input="changeCity"
                      >
                        <template v-slot:option="objCity">
                          <span class="mz-select-option">{{ objCity.city_name }}</span>
                        </template>
                      </v-select>
                      <div
                          v-show="isInvalid(valid)"
                          :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                      >{{errors[0]}}
                      </div>
                    </validation-provider>
                    <!-- city_id end -->
                  </div>
                  <div class="col-lg-6">
                    <!-- district_id -->
                    <validation-provider
                        name="Quận/Huyện"
                        rules="required"
                        v-slot="{ errors, valid }"
                        tag="div"
                        class="form-group validated"
                    >
                      <label>Quận/Huyện:</label>
                      <v-select
                          v-model="frmData.district_id"
                          class="form-control "
                          :class="isInvalid(valid) ? 'is-invalid' : ''"
                          :options="districtList"
                          :reduce="obj => obj.district_id"
                          :clearable="false"
                          placeholder="Chọn Quận / huyện"
                          label="district_name"
                          :disabled="true"
                          @input="changeDistrict"
                      >
                        <template v-slot:option="objDistrict">
                          <span class="mz-select-option">{{objDistrict.district_name}}</span>
                        </template>
                      </v-select>
                      <div
                          v-show="isInvalid(valid)"
                          :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                      >{{errors[0]}}
                      </div>
                    </validation-provider>
                    <!-- district_id end -->
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <!-- ward_id -->
                    <validation-provider
                        name="Phường/Xã"
                        rules="required"
                        v-slot="{ errors, valid }"
                        tag="div"
                        class="form-group validated"
                    >
                      <label>Phường/Xã:</label>
                      <v-select
                          v-model="frmData.ward_id"
                          class="form-control "
                          :class="isInvalid(valid) ? 'is-invalid' : ''"
                          :options="wardList"
                          :reduce="obj => obj.ward_id"
                          :clearable="false"
                          placeholder="Chọn Phường / Xã"
                          label="ward_name"
                          :disabled="true"
                      >
                        <template v-slot:option="objWard">
                          <span class="mz-select-option">{{objWard.ward_name}}</span>
                        </template>
                      </v-select>
                      <div
                          v-show="isInvalid(valid)"
                          :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                      >{{errors[0]}}
                      </div>
                    </validation-provider>
                    <!-- ward_id end -->
                  </div>
                  <div class="col-lg-6">
                    <!-- street_id -->
                    <validation-provider
                        name="Đường/Ngõ"
                        rules="required"
                        v-slot="{ errors, valid }"
                        tag="div"
                        class="form-group validated"
                    >
                      <label>Đường/ngõ:</label>
                      <v-select
                          v-model="frmData.street_id"
                          class="form-control "
                          :class="isInvalid(valid) ? 'is-invalid' : ''"
                          :options="streetList"
                          :reduce="obj => obj.street_id"
                          :clearable="false"
                          placeholder="Chọn Đường / Ngõ"
                          label="street_name"
                          :disabled="true"
                      >
                        <template v-slot:option="objStreet">
                          <span class="mz-select-option">{{objStreet.street_name}}</span>
                        </template>
                      </v-select>
                      <div
                          v-show="isInvalid(valid)"
                          :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                      >{{errors[0]}}
                      </div>
                    </validation-provider>
                  </div>
                  <!-- street_id end -->
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <!-- address -->
                    <validation-provider
                        name="Địa chỉ"
                        rules="required"
                        v-slot="{ errors, valid }"
                        tag="div"
                        class="form-group validated"
                    >
                      <label>Địa chỉ:</label>
                      <div class="kt-input-icon kt-input-icon--left">
                        <input
                            v-model="frmData.address"
                            type="text"
                            class="form-control "
                            :class="isInvalid(valid) ? 'is-invalid' : ''"
                            placeholder="Địa chỉ..."
                            :disabled="true"
                        >
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span>
                          <i class="fa fa-list-alt"></i>
                        </span>
                      </span>
                      </div>
                      <div
                          v-show="isInvalid(valid)"
                          :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                      >{{errors[0]}}
                      </div>
                    </validation-provider>
                    <!-- address end -->
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 text-center text-sm-left">
                    <!-- item_name -->
                    <validation-provider
                        name="Tiêu đề"
                        rules="required"
                        v-slot="{ errors, valid }"
                        tag="div"
                        class="form-group validated"
                    >
                      <label>Tiêu đề:</label>
                      <div class="kt-input-icon kt-input-icon--left">
                        <input
                            v-model="frmData.item_name"
                            type="text"
                            class="form-control form-control-air"
                            :class="isInvalid(valid) ? 'is-invalid' : ''"
                            placeholder="Tiêu đề..."
                            :disabled="true"
                        >
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span>
                          <i class="fa fa-list-alt"></i>
                        </span>
                      </span>
                      </div>
                      <div
                          v-show="isInvalid(valid)"
                          :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                      >{{errors[0]}}
                      </div>
                    </validation-provider>
                    <!-- item_name end -->

                    <!--&lt;!&ndash; meta_title &ndash;&gt;-->
                    <!--<validation-provider-->
                    <!--name="Meta title"-->
                    <!--rules="required"-->
                    <!--v-slot="{ errors, valid }"-->
                    <!--tag="div"-->
                    <!--class="form-group validated"-->
                    <!--&gt;-->
                    <!--<label>Meta title:</label>-->
                    <!--<div class="kt-input-icon kt-input-icon&#45;&#45;left">-->
                    <!--<input-->
                    <!--v-model="frmData.meta_title"-->
                    <!--type="text"-->
                    <!--class="form-control form-control-air"-->
                    <!--:class="isInvalid(valid) ? 'is-invalid' : ''"-->
                    <!--placeholder="Meta title..."-->
                    <!--&gt;-->
                    <!--<span class="kt-input-icon__icon kt-input-icon__icon&#45;&#45;left">-->
                    <!--<span>-->
                    <!--<i class="fa fa-list-alt"></i>-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<div-->
                    <!--v-show="isInvalid(valid)"-->
                    <!--:class="isInvalid(valid) ? 'invalid-feedback' : ''"-->
                    <!--&gt;{{errors[0]}}-->
                    <!--</div>-->
                    <!--</validation-provider>-->
                    <!--&lt;!&ndash; meta_title end &ndash;&gt;-->
                  </div>
                  <div class="col-lg-4 text-center text-sm-left">
                    <!-- host_phone -->
                    <validation-provider
                        name="SĐT"
                        rules="required"
                        v-slot="{ errors, valid }"
                        tag="div"
                        class="form-group validated"
                    >
                      <label>SĐT chủ nhà:</label>
                      <div class="kt-input-icon kt-input-icon--left">
                        <input
                            v-model="frmData.host_phone"
                            type="text"
                            class="form-control "
                            :class="isInvalid(valid) ? 'is-invalid' : ''"
                            placeholder="SĐT..."
                            :disabled="true"
                        >
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span>
                          <i class="fa 	fa-phone"></i>
                        </span>
                      </span>
                      </div>
                      <div
                          v-show="isInvalid(valid)"
                          :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                      >{{errors[0]}}
                      </div>
                    </validation-provider>
                    <!-- host_phone end -->
                    <!--&lt;!&ndash; meta_description &ndash;&gt;-->
                    <!--<validation-provider-->
                    <!--name="Meta description"-->
                    <!--rules="required"-->
                    <!--v-slot="{ errors, valid }"-->
                    <!--tag="div"-->
                    <!--class="form-group validated"-->
                    <!--&gt;-->
                    <!--<label>Meta description:</label>-->
                    <!--<div class="kt-input-icon kt-input-icon&#45;&#45;left">-->
                    <!--<input-->
                    <!--v-model="frmData.meta_description"-->
                    <!--type="text"-->
                    <!--class="form-control form-control-air"-->
                    <!--:class="isInvalid(valid) ? 'is-invalid' : ''"-->
                    <!--placeholder="Meta description..."-->
                    <!--&gt;-->
                    <!--<span class="kt-input-icon__icon kt-input-icon__icon&#45;&#45;left">-->
                    <!--<span>-->
                    <!--<i class="fa fa-list-alt"></i>-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<div-->
                    <!--v-show="isInvalid(valid)"-->
                    <!--:class="isInvalid(valid) ? 'invalid-feedback' : ''"-->
                    <!--&gt;{{errors[0]}}-->
                    <!--</div>-->
                    <!--</validation-provider>-->
                    <!--&lt;!&ndash; meta_description end &ndash;&gt;-->

                    <!--&lt;!&ndash; meta_keyword &ndash;&gt;-->
                    <!--<validation-provider-->
                    <!--name="Meta keyword"-->
                    <!--rules="required"-->
                    <!--v-slot="{ errors, valid }"-->
                    <!--tag="div"-->
                    <!--class="form-group validated"-->
                    <!--&gt;-->
                    <!--<label>Meta keyword:</label>-->
                    <!--<div class="kt-input-icon kt-input-icon&#45;&#45;left">-->
                    <!--<input-->
                    <!--v-model="frmData.meta_keyword"-->
                    <!--type="text"-->
                    <!--class="form-control form-control-air"-->
                    <!--:class="isInvalid(valid) ? 'is-invalid' : ''"-->
                    <!--placeholder="Meta keyword..."-->
                    <!--&gt;-->
                    <!--<span class="kt-input-icon__icon kt-input-icon__icon&#45;&#45;left">-->
                    <!--<span>-->
                    <!--<i class="fa fa-list-alt"></i>-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<div-->
                    <!--v-show="isInvalid(valid)"-->
                    <!--:class="isInvalid(valid) ? 'invalid-feedback' : ''"-->
                    <!--&gt;{{errors[0]}}-->
                    <!--</div>-->
                    <!--</validation-provider>-->
                    <!--&lt;!&ndash; meta_keyword end &ndash;&gt;-->
                  </div>
                  <div class="col-lg-4 text-center text-sm-left">
                    <!-- host_phone_support -->
                    <div class="form-group">
                      <label>SĐT phụ:</label>
                      <div class="kt-input-icon kt-input-icon--left">
                        <input
                            v-model="frmData.host_phone_support"
                            type="text"
                            class="form-control "
                            placeholder="SĐT phụ..."
                            :disabled="true"
                        >
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span>
                          <i class="fa 	fa-phone"></i>
                        </span>
                      </span>
                      </div>
                    </div>
                    <!-- host_phone_support end -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <!-- item_description -->
                    <validation-provider
                        name="Mô tả"
                        rules="required"
                        v-slot="{ errors, valid }"
                        tag="div"
                        class="form-group validated"
                    >
                      <label>Mô tả sản phẩm:</label>
                      <textarea
                          v-model="frmData.item_description"
                          class="form-control"
                          :class="isInvalid(valid) ? 'is-invalid' : ''"
                          id="kt_autosize_1"
                          rows="3"
                          placeholder="Mô tả sản phẩm..."
                          :disabled="true"
                      ></textarea>
                      <div
                          v-show="isInvalid(valid)"
                          :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                      >{{errors[0]}}
                      </div>
                    </validation-provider>
                    <!-- item_description end -->
                  </div>
                </div>

                <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                <!--&lt;!&ndash; item_content &ndash;&gt;-->
                <!--<div class="form-group validated">-->
                <!--<label>Nội dung:</label>-->
                <!--<tinymce-editor-->
                <!--v-model="frmData.item_content"-->
                <!--api-key="57ivpmrvansip49xe3g25k683bcv99ua9s8coc0figdgzivi"-->
                <!--:init="{-->
                <!--height: 500,-->
                <!--menubar: false,-->
                <!--plugins: [-->
                <!--'advlist autolink lists link image charmap print preview anchor',-->
                <!--'searchreplace visualblocks code fullscreen',-->
                <!--'insertdatetime media table paste code help wordcount'-->
                <!--],-->
                <!--toolbar:-->
                <!--'undo redo | formatselect | bold italic backcolor | bullist numlist outdent indent | alignleft aligncenter alignright alignjustify | removeformat | code | image'-->
                <!--}"-->
                <!--&gt;</tinymce-editor>-->
                <!--</div>-->
                <!--&lt;!&ndash; item_content &ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->

                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group validated">
                      <label class="col-form-label">Không gian:</label>
                      <select
                          v-model="frmData.category_id"
                          class="form-control "
                          placeholder="Chọn Loại Sản Phẩm"
                          :disabled="true"
                      >
                       <option value="1">Nhà phố</option>
                      <option value="2">Khách sạn, CHDV</option>
                      <option value="3">Đất kho, xưởng</option>
                      <option value="4">Mặt bằng</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-8">
                        <!-- price -->
                        <validation-provider
                            name="Giá cả"
                            rules="required"
                            v-slot="{ errors, valid }"
                            tag="div"
                            class="form-group validated"
                        >
                          <label>Giá cả:</label>
                          <div class="kt-input-icon kt-input-icon--left">
                            <input
                                v-model="price"
                                type="text"
                                class="form-control "
                                :class="isInvalid(valid) ? 'is-invalid' : ''"
                                placeholder="Giá cả..."
                                :disabled="true"
                            >
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                          <span>
                            <i class="fa fa-dollar-sign"></i>
                          </span>
                        </span>
                          </div>
                          <div
                              v-show="isInvalid(valid)"
                              :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                          >{{errors[0]}}
                          </div>
                        </validation-provider>
                        <!-- price end -->
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label>Đơn vị:</label>
                          <select
                              v-model="frmData.currency"
                              class="form-control"
                              :disabled="true"
                          >
                            <option value="vnd">VNĐ</option>
                            <option value="usd">USD</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4">

                  </div>
                  <div class="col-lg-4">

                  </div>
                </div>

                <div class="row m-2">
                  <div class="col-lg-12">
                    <!-- is_promotion -->
                    <label class="kt-checkbox kt-checkbox--success">
                      <input
                          v-model="frmData.is_promotion"
                          id="checkbox2"
                          type="checkbox"
                          true-value="1"
                          false-value="0"
                          :disabled="true"
                      > Giảm giá
                      <span></span>
                    </label>
                    <!-- is_promotion -->

                    <div
                        v-show="frmData.is_promotion > 0"
                        class="ibox-body"
                    >
                      <div class="row">
                        <div class="col-sm-4 text-center text-sm-left">
                          <!-- promotion_price -->
                          <validation-provider
                              name="Price"
                              rules="required"
                              v-slot="{ errors, valid }"
                              tag="div"
                              class="form-group validated"
                          >
                            <label
                                class="col-form-label"
                                :class="{'has-error': locOption.isValidating && !valid}"
                            >Giá giảm:</label>
                            <div class="kt-input-icon kt-input-icon--left">
                              <input
                                  v-model="promotionPrice"
                                  type="text"
                                  class="form-control "
                                  :class="isInvalid(valid) ? 'is-invalid' : ''"
                                  placeholder="Price..."
                                  :disabled="true"
                              />

                              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                              <span>
                                <i class="fa fa-dollar-sign"></i>
                              </span>
                            </span>
                            </div>
                            <div
                                v-show="isInvalid(valid)"
                                :class="isInvalid(valid) ? 'invalid-feedback' : ''"
                            >{{errors[0]}}
                            </div>
                          </validation-provider>
                          <!-- promotion_price end -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="">Tải hình ảnh khác: </label>
                      <vue-dropzone
                          ref="vueDropzone"
                          id="dropzone"
                          :options="dropzoneOptions"
                          :useCustomSlot=true
                          @vdropzone-sending="sendingEvent"
                          @vdropzone-complete="sendComplete"
                          :disabled="true"
                      >
                        <div class="dropzone-custom-content">
                          <h3 class="dropzone-custom-title">Drag and drop to upload content!</h3>
                          <div class="subtitle">...or click to select a file from your computer</div>
                        </div>
                      </vue-dropzone>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="kt-portlet">
                    <div class="kt-portlet__head">
                      <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Tùy chọn</h3>
                      </div>
                    </div>
                    <div class="kt-portlet__body">
                      <div class="row">
                        <div class="col-lg-4">
                          <!-- is_favorite -->
                          <label class="kt-checkbox kt-checkbox--success">
                            <input
                                v-model="frmData.is_favorite"
                                id="checkbox2"
                                type="checkbox"
                                true-value="1"
                                false-value="0"
                                :disabled="true"
                            > Đánh dấu
                            <span></span>
                          </label>
                          <!-- is_favorite -->
                        </div>
                        <div class="col-lg-4">
                          <!-- is_private -->
                          <label class="kt-checkbox kt-checkbox--success">
                            <input
                                v-model="frmData.is_private"
                                id="checkbox5"
                                type="checkbox"
                                true-value="1"
                                false-value="0"
                                :disabled="true"
                            > Cá nhân
                            <span></span>
                          </label>
                          <!-- is_private -->
                        </div>
                        <div class="col-lg-4">
                          <!-- is_cart -->
                          <label class="kt-checkbox kt-checkbox--success">
                            <input
                                v-model="frmData.is_cart"
                                id="checkbox9"
                                type="checkbox"
                                true-value="1"
                                false-value="0"
                                :disabled="true"
                            > Giỏ hàng
                            <span></span>
                          </label>
                          <!-- is_cart -->
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <!-- status -->
                          <label class="kt-checkbox kt-checkbox--success">
                            <input
                                v-model="frmData.status"
                                id="checkbox2"
                                type="checkbox"
                                true-value="1"
                                false-value="0"
                                :disabled="true"
                            > Đã thuê
                            <span></span>
                          </label>
                          <span class="kt-menu__link-badge _ml-5">
                              <span class="kt-badge kt-badge--danger kt-badge--inline">new</span>
                          </span>
                          <!-- status -->
                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </validation-observer>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  import vue2Dropzone from 'vue2-dropzone'
  import { isEmpty as _isEmpty, forIn as _forIn } from 'lodash'
  import vSelect from 'vue-select'

  import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
  import { required, email, min, max, integer } from 'vee-validate/dist/rules'
  import Editor from '@tinymce/tinymce-vue';

  import { EVENT_BUS_KEY } from '$jsBasePath/define';
  import EventBus from '$jsBasePath/EventBus';

  import VeeValidateMessage from '$jsCommonPath/util/VeeValidateMessage'
  import { isErrorAPI, _showContainer, _formatPrice, _getArrByKey, _isJson } from "$jsCommonPath/util/GeneralUtil"
  import { _isEmptyString, _int } from "$jsCommonPath/util/SafeUtil"


  let objMessage = VeeValidateMessage.messages

  extend('required', { ...required, message: objMessage.required })
  extend('email', { ...email, message: objMessage.email })
  extend('min', { ...min, message: objMessage.min })
  extend('max', { ...max, message: objMessage.max })
  extend('integer', { ...integer, message: objMessage.integer })

  export default {
    name: 'item-add-section',
    components: {
      'validation-observer': ValidationObserver,
      'validation-provider': ValidationProvider,
      'tinymce-editor': Editor,
      'v-select': vSelect,
      vueDropzone: vue2Dropzone
    },
    data() {
      return {
        CDATA,
        url: {
          resourceURL: CDATA.url.resourceURL
        },
        locOption: {
          isValidating: false,
          isUpdating: false
        },
        frmData: {},
        dropzoneOptions: {
          url: 'http://api.dev.thuenha.com/global/upload',
          thumbnailWidth: 150,
          maxFilesize: 0.5,
          addRemoveLinks: true
        }
      }
    },
    computed: {
      ...mapState([ 'option' ]),
      ...mapState({
        cityList: state => state.address.arrCityList,
        districtList: state => state.address.arrDistrictList,
        wardList: state => state.address.arrWardList,
        streetList: state => state.address.arrStreetList
      }),
      title() {
        let title = this.frmData.item_name + ' ' + this.frmData.meta_title
        if (_isEmptyString(title))
          return 'Title Metatitle'

        return title
      },
      itemImage() {
        if (_isEmpty(this.frmData.item_feature_image))
          return this.url.resourceURL + '/global/image/no_image.png'

        return this.frmData.item_feature_image
      },
      objEntitySelect() {
        return this.$store.state.entity.objEntitySelect
      },
      price: {
        get() {
          let price = this.frmData.price

          return _formatPrice(price);
        },
        set(value) {
          value = value.replace(/\,/g, '')

          this.frmData.price = value
        }
      },
      promotionPrice: {
        get() {
          this.frmData.promotion_price = this.frmData.promotion_price == null ? 0 : this.frmData.promotion_price
          let promotion_price = this.frmData.promotion_price.toString()

          return _formatPrice(promotion_price);
        },
        set(value) {
          value = value.replace(/\,/g, '')

          this.frmData.promotion_price = value
        }
      }
    },
    created() {
      let self = this

      if (!this.option.isReady) {
        let { id, page } = this.$route.params
        if (_int(id) <= 0)
          return

        this.get(id)
      } else {
        this.frmData = { ...this.objEntitySelect }
        if (typeof this.frmData.item_image_list == 'object') {
          this.frmData.item_image_list = Object.values(_isJson(this.frmData.item_image_list));
        }

        this.$store.dispatch('readCityListAct')

        if (this.frmData.city_id > 0) {

          this.frmData.citySelect = {
            city_id: this.frmData.city_id,
          }

          this.$store.dispatch('readDistrictAct', { cityID: this.frmData.city_id })
        }
        if (this.frmData.district_id > 0) {
          this.frmData.districtSelect = {
            district_id: this.frmData.district_id,
          }

          this.$store.dispatch('readWardAct', { districtID: this.frmData.district_id })
          this.$store.dispatch('readStreetAct', { districtID: this.frmData.district_id })
        }
      }
    },
    mounted() {
      _showContainer();
    },
    methods: {
      isInvalid(valid) {
        return this.locOption.isValidating && !valid ? true : false
      },
      goRead() {
        this.$router.push({ name: 'item:index', params: { page: 1 } })
      },
      goCreate() {
        this.$router.push({ name: 'item:add', params: { page: 1 } })
      },
      back() {
        return this.$router.back()
      },
      reset() {
        this.locOption.isValidating = false
        this.locOption.isUpdating = false

        this.frmData = { ...this.objEntitySelect }
      },
      goUpdate() {
        setTimeout(() => {
          this.$store.dispatch('setEntityAct', { index: this.index })

          this.$router.push({ name: 'item:edit', params: { id: this.objEntitySelect.item_id, page: 1 } })
        }, 100)
      },
      get(id) {
        this.$store.dispatch('getEntityAct', { id: id }).then(payload => {
          this.frmData = { ...this.objEntitySelect }


          if (typeof this.frmData.item_image_list == 'object') {
            this.frmData.item_image_list = Object.values(_isJson(this.frmData.item_image_list));
          }


          // _forIn(this.frmData.item_image_list, (image, index) => {
          //   console.log(image)
          //   var mockFile = { name: "File_" + 1, size: 526 };  //Any name, size.
          //
          //   var file = { size: 123, name: "thuenha_1574290849.3733.tg_image_955968865.jpeg", type: "image/jpeg" };
          //   this.$refs.vueDropzone.manuallyAddFile(mockFile, image);
          // })

          this.$store.dispatch('readCityListAct')

          if (this.frmData.city_id > 0) {
            this.$store.dispatch('readDistrictAct', { cityID: this.frmData.city_id })
          }
          if (this.frmData.district_id > 0) {
            this.$store.dispatch('readWardAct', { districtID: this.frmData.district_id })
            this.$store.dispatch('readStreetAct', { districtID: this.frmData.district_id })
          }
        })
      },
      setAreaName() {
        let objCity = _getArrByKey(this.cityList, 'city_id', this.frmData.city_id)[ 0 ]
        let objDistrict = _getArrByKey(this.districtList, 'district_id', this.frmData.district_id)[ 0 ]
        let objWard = _getArrByKey(this.wardList, 'ward_id', this.frmData.ward_id)[ 0 ]
        let objStreet = _getArrByKey(this.streetList, 'street_id', this.frmData.street_id)[ 0 ]

        this.frmData.city_name = objCity.city_name
        this.frmData.district_name = objDistrict.district_name
        this.frmData.ward_name = objWard.ward_name
        this.frmData.street_name = objStreet.street_name
      },
      update(invalid, errors) {
        this.locOption.isValidating = true
        if (invalid) {
          this.$refs.observer.validate()
          return
        }
        this.locOption.isUpdating = true

        this.frmData.user_created_id = CDATA.UID

        this.setAreaName() // #additional

        let id = this.objEntitySelect.item_id
        this.$store.dispatch('updateEntityAct', { id: id, ...this.frmData }).then(res => {
          this.reset();

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'success'
          });
        }, res => {
          this.reset();

          $.notify({
            title: '<strong>THÔNG BÁO!</strong>',
            message: res.message
          }, {
            type: 'error'
          });
        })
      },
      upload(e) {
        const file = e.target.files[ 0 ]

        this.$store.dispatch('uploadFileAct', {
          controller: CDATA.common.controller,
          file: file
        }).then(res => {
          let payload = res.payload
          let objImage = payload.arrImage[ 0 ]
          if (_isEmpty(objImage)) {
            return
          }

          this.frmData.item_feature_image = objImage.image
          this.frmData.item_image_list.push(objImage.image)
        })
      },
      sendingEvent(file, xhr, formData) {
        formData.append('controller', 'item');
      },
      sendComplete(complete) {
        let res = _isJson(complete.xhr.response);
        if (isErrorAPI(res)) {
          return;
        }

        let payload = res.payload
        let objImage = payload.arrImage[ 0 ]
        if (_isEmpty(objImage)) {
          return
        }

        this.frmData.item_image_list.push(objImage.image);
      },
      changeCity(e) {
        this.frmData.district_id = ''
        this.frmData.ward_id = ''
        this.frmData.street_id = ''

        this.$store.dispatch('readDistrictAct', { cityID: this.frmData.city_id })
      },
      changeDistrict(e) {
        this.frmData.ward_id = ''
        this.frmData.street_id = ''

        this.$store.dispatch('readStreetAct', { districtID: this.frmData.district_id })
        this.$store.dispatch('readWardAct', { districtID: this.frmData.district_id })
      },
    }
  }
</script>

