<div class="container content_cat ">
  <div class="pro_post_top">
    <h1 class="title_top">
      Đăng tin cần thuê Phòng trọ để được cộng đồng tìm giúp
    </h1>
    <p class="intro_top">Bạn muốn thuê nhà trọ, chung cư, phòng trọ..... Hãy cập nhật đầy đủ thông tin để cộng đồng dithuenha.com giúp bạn tìm nhanh nhất và đúng mong muốn của bạn nhất.</p>
    <div class="step">
      <div class="item step_active step_active2">
        <span class="lin1"></span>
        <span class="icon">1</span>
        <a href="/dang-tin-can-thue.htm" class="title">Chọn danh mục</a>
      </div>
      <div class="item step_active">
        <span class="lin1"></span>
        <span class="icon">2</span>
        <span class="title">Nội dung tin đăng</span>
      </div>
      <div class="item">
        <span class="lin1"></span>
        <span class="icon">3</span>
        <span class="title">Hoàn thành</span>
      </div>
    </div>
  </div>
  <div class="pro_post_form_top">
    <div class="title">
      <span class="icon_number">2</span> Đăng tin cần thuê <?php echo $arrCategories[ $categoryID ] ?> |
      <a href="<?php echo $this->url->get(['for' => 'frontend:user:rentcategory']) ?>">Thay đổi danh mục cần thuê</a>
    </div>
  </div>
  <div class="pro_post_form_left">
    <div class="pro_post_form_help">
      <div class="title">Hướng dẫn đăng tin</div>
      <div class="content">
        <b>Nội dung tốt</b><br>
        - Nhập đầy đủ quận huyện nhà đất cần thuê<br>
        - Nhập đầy đủ diện tích nhà đất cần thuê<br>
        - Nhập đầy đủ giá cả thấp nhất, giá cao nhất có thể thuê <br>
        - Miêu tả những điểm nổi bật muốn tìm thuê.<br><br>
        <b>Nội dung không tốt</b><br>
        - Thông tin không rõ ràng<br>
        - Thiếu thông tin liên hệ<br>
        - Thiếu diện tích cụ thể<br>
        - Thiếu khoảng giá muốn thuê
      </div>
    </div>
    <div class="pro_post_form_mau">
      <div class="title">Tin đăng mẫu</div>
      <ul class="examples">
        <li>
          <div>
            <span class="ex_title">Tiêu đề: </span>
            <span class="title_content">
              Cần thuê chưng cư mini tại quận tây hồ giá từ 3 đến 5 triệu
            </span>
          </div>
          <div class="ex_content">
            Mình cần thuê một chung cư mini diện tích khoảng 30m2 công trình phụ (bếp + 1 phòng vệ sinh) khép kín nhà mới xây theo phong cách mới hiên đại có: máy điều hòa nhiệt độ, internet, truyền hình cáp, bình nước nóng.... giao thông thuận tiện ô tô đỗ cửa, nhà cách hồ tây 50m. giá thuê: 3 triệu/tháng đến 5 triệu/tháng.
          </div>
        </li>
        <li>
          <div>
            <span class="ex_title">Tiêu đề: </span>
            <span class="title_content">
              Cần thuê căn hộ chung cư mini chính chủ có 2 phòng ngủ full đồ
            </span>
          </div>
          <div class="ex_content">
            Mình cần thuê căn hộ chung cư mini có 2 ngủ full đồ, chính chủ nhà có đầy đủ đồ như tủ bếp, bếp từ hút mùi , bình nóng lạnh, thiết bị wc, giường tủ, tivi, tủ lạnh, điều hòa.
            Mong muốn của mình là cọc 1 tháng, gần đường chính, ngõ rộng.
          </div>
        </li>
      </ul>
    </div>

  </div>
  <div class="pro_post_form_right">
    <div class="content">
      <div class="user_form_pro">
        <div class="user_form_pro_content">
          <form method="POST" action="" class="user_form js-rent-frm" enctype="multipart/form-data">
            <!-- category_id -->
            <input type="hidden" name="category_id" value="<?php echo $categoryID ?>">
            <!-- end category_id -->

            <!-- item_feature_image -->
            <div class="item">
              <label>Đăng ảnh </label>
              <div class="item_input">
                <div class="item_input_image">
                  <div class="tit2">
                    <b>"Một hình ảnh bằng cả ngàn lời nói". Hãy đăng ảnh để được nhiều người xem hơn.</b><br>
                    Click vào ảnh bạn muốn chọn làm ảnh đại diện. Mặc định là ảnh đầu tiên.
                  </div>
                  <div id="imageloadstatus" style="display: none; margin: 15px 0;">
                    <img src="<?php echo RESOURCE_URL . '/user/image/loader.gif' ?>" alt="Uploading....">
                  </div>
                  <div id="preview">
                    <div id="imageloadbutton" style="display: block;">
                      <input type="file" name="item_feature_image[]" id="photoimg" multiple>
                    </div>
                    <ul class="mainPhotoImageList">
                      <?php
                        $arrImages = json_decode($arrItem['item_image_list']);
                        if (!empty($arrImages)): ?>
                          <?php foreach ($arrImages as $key => $image): ?>
                            <li style="background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DDDDDD;border-radius: 2px 2px 2px 2px;box-shadow: 1px 1px 2px #EEEEEE;float: left;padding: 5px;list-style:none outside none;display:inline;margin: 0 10px 0 0;">
                              <img class="image" src="<?php echo $image ?>" style="width:116px;height:116px">
                              <span style="display: block;text-align: right;">
                                <a
                                    title="Xem" class="view colorbox"
                                    href="<?php echo $image ?>"
                                    target="_blank" style="vertical-align: middle;cursor: pointer;display: inline-block;height: 16px;margin-left: 5px;opacity: 0.5;vertical-align: middle;width: 16px;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWJJREFUeNqk00soRFEcx/Ez4yIhWSClWNiR0mQjeawssJGVLJTMBnksJNnZeWTDRnntZGdhoWxsJERK2UgTK5mFYrzSXN9TPzVzulPkX5/unXPv/M45/3tvKBqNGpWHRkygFUW4xR5WcWUCKqxjDsZxiA684w55GMIpBhEKCrCD7ZjDK5ZQi0pUYwofWkVXUICdZRI+VnQe13UbOI9p/R5DuRuQiybEMGuCa03ba0OpG+Dp3C7zOUOAvfaY0uy0ANuwN60kx2SuYm3pxQ34xC4qMJzhzz1owQbu3QC7vGVkYwYjms2owb1YRBKbWoUxzn5ONLu9cQF9eECJHmmBVtqJayR+ArIikYhR+gWO1eV61Gl8y96n96IZ+ThSYFpHv3CAc5SpqU96I6uwDTvbKAp1THhOs5J6ieLO+I0auYMGDOhb6Q+b31dMIWcpT6bGM38ru51urGMflyHf981/6luAAQBAI081YdVfOQAAAABJRU5ErkJggg==);">
                                </a>
                                <a title="Xóa" class="delete js-delete" style="vertical-align: middle;cursor: pointer;display: inline-block;height: 16px;margin-left: 5px;opacity: 0.5;vertical-align: middle;width: 16px;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK1JREFUeNpi/P//PwMySE9PPwmkzBgwwZqZM2eGogsyYVGITTMIhGATZMGhWA9o22UkV9kAqcPYFDKmpaU9AdLSDKSDrUBLfEBeeM1AAWCEBSLQmR+AFD8Q+wDxFphXgPgSlA0TfwS0WR5fIB6BMZDDAVmcUCyQBKhqACelBrANuBdgQAgpBcohiYsSMuARlL6HJPYQiX0bSn/EZUAukiG4wH0gLsOaEskFAAEGAE+1LkibLuYpAAAAAElFTkSuQmCC);"></a>
                                <div class="jsonData">
                                  <input name="photoimg[]" type="hidden" value="<?php echo $image ?>">
                                </div>
                              </span>
                            </li>
                          <?php endforeach; ?>
                        <?php endif; ?>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- end item_feature_image -->

            <!-- item_name -->
            <div class="item">
              <label>Tiêu đề tin <span class="red">(*)</span></label>
              <div class="item_input">
                <input
                    name="item_name"
                    class="pct_title"
                    type="text" id="pct_title"
                    value="<?php echo $arrItem['item_name'] ?>"
                    placeholder="Cần thuê nhà trọ, phòng trọ ở đâu...">
              </div>
            </div>
            <!-- end item_name -->

            <!-- item_description -->
            <div class="item">
              <label>Mô tả <span class="red">(*)</span></label>
              <div class="item_input">
                <textarea
                    name="item_description"
                    class="input_des pct_intro"
                    id="pct_intro"
                    placeholder="Mô tả thêm thông tin, tiện ích, qui định, giá cả..."
                    rows="5"><?php echo $arrItem['item_description'] ?></textarea>
              </div>
            </div>
            <!-- end item_description -->

            <div class="item">
              <!-- city_id -->
              <div class="item_sub item_sub_first">
                <label>Tỉnh/Thành phố</label>
                <div class="item_input">
                  <select class="input_select pct_city_pa_id js-rent-frm__city-select" name="city_id" id="pct_city_pa_id">
                    <option value="">- Chọn tỉnh/thành phố -</option>
                    <?php foreach ($arrCities as $arrCity): ?>
                      <option
                        <?php echo $arrItem['city_id'] == $arrCity['city_id'] ? 'selected="selected"' : '' ?>
                          value="<?php echo $arrCity['city_id'] ?>"
                          data-name="<?php echo $arrCity['city_name'] ?>">
                        <?php echo $arrCity['city_name'] ?>
                      </option>
                    <?php endforeach; ?>
                  </select>
                  <input type="hidden" name="city_name" value="<?php echo $arrItem['city_name'] ?>" class="js-rent-frm__city-name">
                </div>
              </div>
              <!-- end city_id -->

              <!-- district_id -->
              <div class="item_sub item_sub_last ">
                <label>Quận/Huyện</label>
                <div class="item_input">
                  <select class="input_select pct_city_id js-rent-frm__district-select" name="district_id" id="pct_city_id">
                    <option value="">- Chọn quận/huyện -</option>
                    <?php foreach ($arrDistricts as $arrDistrict): ?>
                      <option
                        <?php echo $arrItem['district_id'] == $arrDistrict['district_id'] ? 'selected="selected"' : '' ?>
                          value="<?php echo $arrDistrict['district_id'] ?>"
                          data-name="<?php echo $arrDistrict['district_name'] ?>">
                        <?php echo $arrDistrict['district_name'] ?></option>
                    <?php endforeach; ?>
                  </select>
                  <input type="hidden" name="district_name" value="<?php echo $arrItem['district_name'] ?>" class="js-rent-frm__district-name">
                </div>
              </div>
              <!-- district_id -->
            </div>

            <!-- floor_area -->
            <div class="item">
              <div class="item_sub item_sub_first">
                <label>Diện tích từ (m2)</label>
                <div class="item_input">
                  <input
                      name="floor_area_from"
                      class="pct_dien_tich_from js-reg-frm__floor-area"
                      type="text"
                      id="pct_dien_tich_from"
                      value="<?php echo $arrItem['floor_area'] ?>">
                </div>
              </div>

              <div class="item_sub item_sub_last ">
                <label>Địa chỉ nhà</label>
                <div class="item_input">
                  <input
                      name="address"
                      class="pro_addr"
                      type="text"
                      id="address"
                      value="<?php echo $arrItem['address'] ?>">
                </div>
              </div>
            </div>
            <!--            <div class="item">-->
            <!--              <div class="item_sub item_sub_first">-->
            <!--                <label>Diện tích từ (m2)</label>-->
            <!--                <div class="item_input">-->
            <!--                  <input name="floor_area_from" class="pct_dien_tich_from js-reg-frm__floor-area" type="text" id="pct_dien_tich_from" value="">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div class="item_sub item_sub_last ">-->
            <!--                <label>Đến</label>-->
            <!--                <div class="item_input">-->
            <!--                  <input name="floor_area_to" class="pct_dien_tich_to js-reg-frm__floor-area" type="text" id="pct_dien_tich_to" value="">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <!-- end floor_area -->

            <!-- price -->
            <div class="item">
              <div class="item_sub item_sub_first">
                <label>Giá từ <span class="red">(*)</span></label>
                <div class="item_input">
                  <input
                      autocomplete="off"
                      name="price_from"
                      class="pct_price_from js-reg-frm__price"
                      type="text"
                      id="pct_price_from"
                      value="<?php echo (float)$arrItem['price'] ?>">
                </div>
              </div>
              <!--              <div class="item_sub item_sub_last ">-->
              <!--                <label>Đến</label>-->
              <!--                <div class="item_input">-->
              <!--                  <input autocomplete="off" name="price_to" class="pct_price_to js-reg-frm__price" type="text" id="pct_price_to" value="">-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
            <!-- end price -->

            <div class="item">
              <div class="item_sub item_sub_first">
                <label></label>
                <b class="pct_price_from_view red js-reg-frm__price-from-display"><?php echo number_format((float)$arrItem['price'], 0, ',', '.') ?></b>
              </div>
              <div class="item_sub">
                <label></label>
                <b class="pct_price_to_view red js-reg-frm__price-to-display"></b>
              </div>
            </div>

            <!-- host_info -->
            <?php
              $arrHostInfo = json_decode($arrItem['host_info'], true);
            ?>
            <div class="module_title mg_top_20">
              Thông tin liên hệ
            </div>
            <div class="item">
              <div class="item_sub item_sub_first">
                <label>Người liên hệ </label>
                <div class="item_input">
                  <input
                      name="host_name"
                      class="pct_user_name"
                      type="text"
                      id="pct_user_name"
                      value="<?php echo $arrHostInfo['host_name'] ?>">
                </div>
              </div>

              <div class="item_sub item_sub_last ">
                <label>Số di động </label>
                <div class="item_input">
                  <input
                      name="host_phone"
                      class="pct_user_phone"
                      type="text"
                      id="pct_user_phone"
                      value="<?php echo $arrHostInfo['host_phone'] ?>">
                </div>
              </div>
            </div>
            <div class="item">
              <label>Địa chỉ </label>
              <div class="item_input">
                <input
                    name="host_address"
                    class="pct_user_addr"
                    type="text"
                    id="pct_user_addr"
                    value="<?php echo $arrHostInfo['host_address'] ?>">
              </div>
            </div>
            <!-- end host_info -->

            <!-- user_created_id -->
            <input type="hidden" name="user_created_id" value="<?php echo UID ?>">
            <!-- end user_created_id -->

            <!-- item_id -->
            <input type="hidden" name="item_id" value="<?php echo $arrItem['item_id'] ?>">
            <!-- end item_id -->

            <div class="item">
              <label>&nbsp;</label>
              <input type="submit" value="Cập nhật" class="btnSubmit js-rent-frm__sm-btn">
            </div>

            <div class="clear"></div>
          </form>
        </div>
        <p>Bạn cần thuê Phòng trọ ? Hãy đăng tin cần thuê Phòng trọ, yêu cầu thuê Phòng trọ để cộng đồng hỗ trợ tìm giúp bạn nhanh nhất.</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<script>
  var validationRules = <?php echo json_encode($arrValidationRules); ?>;
</script>
