<div class="container ">
  <div class="main">
    <div class="login_form">
      <div class="title"> Đăng ký</div>
      <div class="login_content">
        <div class="item">
          <a
              href="javascript:void(0);"
              class="fbLogin"
              tabindex="110"
              rel="nofollow"
              onclick="openSocialLogin('<?php echo (new \Base\Social\Facebook())->setUrlCallback(BASE_URL . $this->url->get(['for' => 'frontend:user:loginsocial', 'provider' => 'facebook']))->getLoginUrl(); ?>')">
            <span>Đăng ký bằng tài khoản Facebook</span>
          </a>
        </div>
        <div class="item">
          <a
              href="javascript:void(0);"
              class="googleLogin"
              tabindex="110"
              rel="nofollow"
              onclick="openSocialLogin('<?php echo (new \Base\Social\Google())->setUrlCallback(BASE_URL . $this->url->get(['for' => 'frontend:user:loginsocial', 'provider' => 'google']))->getLoginUrl(); ?>')">
            <span>Đăng ký bằng tài khoản Google</span>
          </a>
        </div>
        <div class="item item_or">Hoặc</div>
        <form class="js-reg-frm" name="login" action="" method="post">
          <div class="item">
            <input placeholder="Họ và tên*" name="user_name" type="text" id="user_name" class="user_name login_input" required>
          </div>
          <div class="item">
            <input placeholder="Số điện thoại*" name="user_phone" type="text" id="user_phone" class="use_phone login_input">
          </div>
          <div class="item">
            <input placeholder="Email*" name="user_email" type="text" id="user_email" class="user_email login_input">
          </div>
          <div class="item">
            <input placeholder="Mật khẩu* " name="user_pass" type="password" id="user_pass" class="user_pass login_input">
          </div>
          <div class="item">
            <input placeholder="Nhập lại mật khẩu*" name="user_repass" type="password" id="user_repass" class="user_re_pass login_input">
          </div>
          <div class="item">
            <button class="btnRegister btnSubmit js-reg-frm__sm-btn" type="submit">Đăng ký</button>
          </div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
    <div class="clear"></div>
    <div class="login_sugget">
      <div class="item item_title"><p>Đã có tài khoản?</p></div>
      <div class="item">
        <a href="<?php echo $this->url->get(['for' => 'frontend:user:login']); ?>" class="btnSugget">Đăng nhập ngay</a>
      </div>
    </div>
  </div>
</div>

<script>
  var validationRules = <?php echo json_encode($arrValidationRules); ?>;
</script>
