<!-- #breadcrumbs -->
<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="body block-header">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>Danh sách người dùng</h2>
            <ul class="breadcrumb p-l-0 p-b-0 ">
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:home']) ?>"><i class="icon-home"></i></a></li>
              <li class="breadcrumb-item">
                <a href="<?php echo $this->url->get(['for' => 'backend:home']) ?>">Dashboard</a></li>
              <li class="breadcrumb-item active">Khách hàng</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #END# #breadcrumbs -->

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <?php if ($this->flashSession->has('success') || $this->flashSession->has('error')): ?>
        <div class="header">
          <?php if ($this->flashSession->has('success')): ?>
            <div class="alert alert-success">
              <i class="material-icons">error_outline</i>&nbsp;
              <i class="material-icons">error_outline</i>&nbsp; <?php echo current($this->flashSession->getMessages('success')) ?>
            </div>
          <?php endif; ?>
          <?php if ($this->flashSession->has('error')): ?>
            <div class="alert alert-error">
              <i class="material-icons">error_outline</i>&nbsp;
              <i class="material-icons">error_outline</i>&nbsp; <?php echo current($this->flashSession->getMessages('error')) ?>
            </div>
          <?php endif; ?>
        </div>
      <?php endif; ?>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-filter table-hover m-b-0">
            <tr>
              <th width="15%" class="text-center">IMAGE</th>
              <th width="25%" class="text-center">FULLNAME</th>
              <th width="20%" class="text-center">TEL</th>
              <th width="20%" class="text-center">STATUS</th>
              <th width="20%" class="text-center">#</th>
            </tr>
            <tbody>
              <?php if ($arrCustomerList):
                foreach ($arrCustomerList as $k => $user): ?>
                  <tr>
                    <td class="text-center">
                      <div class="media-object ">
                        <img src="<?php echo STATIC_URL ?>/b/images/profile.png" alt="" width="35px" class="rounded-circle">
                      </div>
                    </td>
                    <td class="text-center"><?php echo !empty($user['fullname']) ? $user['fullname'] : '...' ?></td>
                    <td class="text-center"><?php echo !empty($user['tel']) ? $user['tel'] : '...' ?></td>
                    <td class="text-center kc__color-indigo"><?php echo !empty($user['email']) ? $user['email'] : '...' ?></td>
                    <td class="text-center">
                      <span class="badge badge-danger">Chưa duyệt</span>
                    </td>
                    <td class="text-center">

                    </td>
                  </tr>
                <?php endforeach; ?>
              <?php else: ?>
                <tr>
                  <td colspan="5" class="text-center"><?php echo $this->translate->_('No Data') ?></td>
                </tr>
              <?php endif; ?>
            </tbody>
          </table>
          <!-- #PAGINATION -->
          <?php if (!empty($paginationHTML)): ?>
            <div class="align-right">
              <hr/>
              <ul class="pagination pagination-primary m-b-0 displayinlineblock">
                <?php echo $paginationHTML ?>
              </ul>
            </div>
          <?php endif; ?>
          <!-- END #PAGINATION -->
        </div>
      </div>
    </div>
  </div>
</div>