<?php
  
  use Base\Permission\MyAcl;
  
  $instanceMyAcl = new MyAcl();
  
  $arrNavMenus = require_once MODULE_PATH . '/' . MODULE . '/config/sideNav.php';
?>
<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
  <div class="kt-aside__brand kt-grid__item  " id="kt_aside_brand">
    <div class="kt-aside__brand-logo">
      <a href="/backend">
        <img src="<?php echo RESOURCE_URL . '/global/image' ?>/logo-mini-2-md.png">
      </a>
    </div>
  </div>
  <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown " data-ktmenu-vertical="1" data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
      <ul class="kt-menu__nav ">
        <?php foreach ($arrNavMenus as $key => $arrNavMenu):
          $arrNavMenusDepth1 = $arrNavMenu['children'];
          foreach ($arrNavMenusDepth1 as $routeName => $arrNavMenuDepth1):
            list($module, $controller, $action) = explode(':', $routeName);
            $strGroupResource = implode(':', [$module, $controller]);
            
            list($module, $controller, $currentAction) = explode(':', RESOURCE);
            $strGroupCurrentResource = implode(':', [$module, $controller]);
            
            if (!$instanceMyAcl->isAllowed($strGroupResource, $action))
              continue;
            
            $arrNavMenusDepth2 = $arrNavMenuDepth1['children'];
            if (!empty($arrNavMenusDepth2)): ?>
              <li
                  class="kt-menu__item  kt-menu__item--submenu
                  <?php echo $strGroupResource == $strGroupCurrentResource ? 'kt-menu__item--active' : '' ?>"
                  aria-haspopup="true"
                  data-ktmenu-submenu-toggle="hover"
              >
                <a
                    href="<?php echo $this->url->get(['for' => $routeName, 'page' => 1]) ?>"
                    class="kt-menu__link kt-menu__toggle"
                >
                  <i
                      class="kt-menu__link-icon
                      <?php echo $arrNavMenuDepth1['info']['icon'] ?>"
                  ></i>
                  <span class="kt-menu__link-text"><?php echo $arrNavMenuDepth1['info']['title'] ?></span>
                </a>
                <div class="kt-menu__submenu ">
                  <span class="kt-menu__arrow"></span>
                  <ul class="kt-menu__subnav">
                    <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                      <span class="kt-menu__link">
                        <span class="kt-menu__link-text"><?php echo $arrNavMenuDepth1['info']['title'] ?></span>
                      </span>
                    </li>
                    <?php foreach ($arrNavMenusDepth2 as $routeName => $arrNavMenuDepth2): ?>
                      <?php
                      list($module, $controller, $action) = explode(':', $routeName);
                      $strGroupResource = implode(':', [$module, $controller]);
                      
                      if (!$instanceMyAcl->isAllowed($strGroupResource, $action))
                        continue;
                      ?>
                      <li
                          class="kt-menu__item
                          <?php echo $routeName == RESOURCE ? 'kt-menu__item--active' : '' ?>"
                          aria-haspopup="true"
                      >
                        <a
                            href="<?php echo $this->url->get(['for' => $routeName, 'page' => 1]) ?>"
                            class="kt-menu__link "
                        >
                          <span class="kt-menu__link-text"><?php echo $arrNavMenuDepth2['info']['title'] ?></span>
                        </a>
                      </li>
                    <?php endforeach; ?>
                  </ul>
                </div>
              </li>
            <?php else: ?>
              <li
                  class="kt-menu__item
                  <?php echo $strGroupResource == $strGroupCurrentResource ? 'kt-menu__item--active' : '' ?>"
                  aria-haspopup="true"
              >
                <a href="<?php echo $this->url->get(['for' => $routeName, 'page' => 1]) ?>" class="kt-menu__link ">
                  <i
                      class="kt-menu__link-icon
                      <?php echo $arrNavMenuDepth1['info']['icon'] ?>"
                  ></i>
                  <span class="kt-menu__link-text"><?php echo $arrNavMenuDepth1['info']['title'] ?></span>
                </a>
              </li>
            <?php endif; ?>
          <?php endforeach; ?>
        <?php endforeach; ?>
      </ul>
    </div>
  </div>
</div>





